<div class="m-0 tab-blue">
    <div class="flex-wrap pt-2" >
        <div class="col-sm-12 col-md-4 col-4 px-2 pb-2">
            <mat-card appearance="outlined" >
                <mat-card-header>
                    <mat-card-title>
                        <div class="col-12 flex-align-items p-0">
                            <div class="col-10 p-0 text-ellipsis">Account Statement Last 30 Days</div>
                            <div class="col-2 p-0 text-ellipsis" style="margin-top: -8px;">
                                <sx-button-round 
                                    class="flex-end"
                                    message="Refresh Data" tooltipPlacement="bottom"
                                    (click)="loadBankHistoryChanrt()" 
                                    icon="refresh">
                                </sx-button-round>
                            </div>
                        </div>
                    </mat-card-title>
                    <mat-card-subtitle class="mb-2 ellipsis">An account statement is a periodic summary of account activity with a beginning date and an ending date.</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="flex-wrap flex-align-items-top w-100" style="min-height: 300px;">

                        <div class="d-block w-100 p-2 overlay-blue" style="height: 300px;">
                            <ams-chart-line-x-label-less 
                                [environment]="env"
                                [chartData]="bh30DaysChartData"
                                title="Account Statement Last 30 Days"
                                [sizepx]="300"
                                [beginAtZero]="false"
                                [yAxisShow]="true"
                                [yGridShow]="true"
                                [xGridShow]="false"
                                [chartLabels]="bh30DaysChartLabels"
                                (chartClick)="onChartClick($event)">
                            </ams-chart-line-x-label-less>
                        </div>
                    </div>
                    
                </mat-card-content>
            </mat-card>
        </div>   
        <div class="col-sm-6 col-md-4 col-4 px-2">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        <div class="flex-align-items w-100">
                            <div class="col-10 p-0 text-ellipsis">Transaction sumary</div>
                            <div class="col-2 p-0 text-ellipsis" style="margin-top: -8px;">
                                <sx-button-round 
                                    class="flex-end"
                                    message="Refresh Data" tooltipPlacement="bottom"
                                    (click)="loadTransactionsSumLastWeek()" 
                                    icon="refresh">
                                </sx-button-round>
                            </div>
                        </div>
                    </mat-card-title>
                    <mat-card-subtitle class="mb-2">
                        Transaction sumary for last Week
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="flex-wrap flex-align-items-top w-100" style="min-height: 300px;">
    
                        <div class="d-block w-100 p-2 overlay-teal" style="height: 300px;">
                            <ams-chart-line 
                                [environment]="env"
                                [chartData]="trSumLastWeekData"
                                title="Transaction sumary for last Week"
                                [sizepx]="300"
                                [beginAtZero]="false"
                                [yAxisShow]="true"
                                [yGridShow]="false"
                                [xGridShow]="false"
                                [chartLabels]="trSumLastWeekLabels"
                                (chartClick)="onTrSumLastWeekChartClick($event)">
                            </ams-chart-line>
                        </div>
                    </div>
                    
                </mat-card-content>
            </mat-card>
        </div>
        
        <div class="col-sm-6 col-md-4 col-4 px-2">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        <div class="flex-align-items w-100">
                            <div class="col-10 p-0 text-ellipsis">Transaction Today</div>
                            <div class="col-2 p-0 text-ellipsis" style="margin-top: -8px;">
                                <sx-button-round 
                                    class="flex-end"
                                    message="Refresh Data " tooltipPlacement="bottom"
                                    (click)="loadTransactionsTypeSumToday()" 
                                    icon="refresh">
                                </sx-button-round>
                            </div>
                        </div>
                    </mat-card-title>
                    <mat-card-subtitle class="mb-2">
                        Transaction sumary for today by transaction type
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div class="flex-wrap flex-align-items-top w-100" style="min-height: 300px;">
    
                        <div class="d-block w-100 p-2 overlay-teal" style="height: 300px;">
                            
                            <ams-chart-pie 
                                [environment]="env"
                                [chartData]="trTypeSumTodayData"
                                [sizepx]="290"
                                [legend]="false"
                                [chartLabels]="trTypeSumTodayLabels"
                                (chartClick)="onTrSumLastWeekChartClick($event)">
                            </ams-chart-pie>
                        
                        </div>
                    </div>
                    
                </mat-card-content>
            </mat-card>
        </div>
        

    </div>
</div>