 <!-- Title -->
 <div class="title-container">
    <div class="modal-title">SUBREGION DETAIL</div>
</div>
<hr class="mb-0">
<div *ngIf="!subregion">No Data</div>

 <div class="m-0 row overlay-blue white">
    <div class="side-panel-sec" *ngIf="subregion">
        <div class="side-panel-sec-title yellow flex-align-items flex-space-between mx-2">
            <div class="flex-start">{{subregion.srName}}</div>
            <div class="flex-end">
                <ams-img-link type="wiki" [url]="subregion.srWikiUrl" class="ml-2"></ams-img-link>
            </div>
        </div>
        <div class="side-panel-sec-rows px-2">
            <sx-side-panel-row-value *ngIf="region" label="Region: " [value]="region.rName" size="small">
                <ams-img-link type="wiki" [url]="region.rWikiUrl" class="ml-2"></ams-img-link>
            </sx-side-panel-row-value>
        </div>
    </div>
    <div class="side-panel-sec p-2 flex-align-items" *ngIf="subregion">
        <div class="col-4 m-0 p-0 white">
            <div class="side-panel-sec-rows">
                <sx-side-panel-row-value label="Code" [value]="subregion.srCode" size="small"></sx-side-panel-row-value>
                <sx-side-panel-row-value label="ID" value="{{subregion.subregionId | number:'1.0-0'}}" size="small"></sx-side-panel-row-value>
            </div>
        </div>
        <div class="col-8 p-0 mt-2 flex-center" *ngIf="subregion">
            <img *ngIf="imagevUrl" class="w-100 border-30" [src]="imagevUrl" alt="{{subregion.srCode}}">
        </div>
    </div>
    <div class="side-panel-sec p-2" *ngIf="subregion">
        <div class="side-panel-sec-title yellow">Statistics</div>
        <div class="side-panel-sec-rows">
            <sx-side-panel-row-value label="Countries" value="{{subregion.countries | number:'1.0-0'}}" size="large"></sx-side-panel-row-value>
            <sx-side-panel-row-value label="States" value="{{subregion.states | number:'1.0-0'}}" size="large"></sx-side-panel-row-value>
            <div class="sp-row">
                <div class="sp-label sp-label-large" matTooltip="Airports">Airports</div>
                    <div class="sp-value">
                    <div class="flex-align-items">
                        <ams-icon-ap-active [value]="true"></ams-icon-ap-active>
                        <div class="ml-1">{{subregion.apActive | number:'1.0-0'}}</div>
                        <div class="ml-1"> active of</div>
                        <div class="ml-1">{{subregion.airports | number:'1.0-0'}}</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div> <!-- sec end-->
</div>

<div class="mt-2">
    
</div> 
