<ts-sx-navbar (snavToggle)="snavToggleClick()" >
    <ams-al-menu-main></ams-al-menu-main>
</ts-sx-navbar>
<mat-sidenav-container>
    <mat-sidenav #snav [mode]="snavmode"  opened fixedTopGap="64">
        <sx-sidebar-nav #sxSide></sx-sidebar-nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="ams-content">

            <router-outlet></router-outlet>

            <ams-side-panel-modal-large #spmAirport (closeSmpClick)="spmAirportClose()">
                <ams-spm-airport-info [country]="country" [state]="state" [airport]="airport"></ams-spm-airport-info>
            </ams-side-panel-modal-large> 
            <ams-side-panel-modal #spmAirline (closeSmpClick)="spmAirlineClose()">
                <div>Not Implemented</div>
            </ams-side-panel-modal> 
            
            <ams-side-panel-modal #spmFlh (closeSmpClick)="spmAirlineClose()">
                <div>Not Implemented</div>
            </ams-side-panel-modal> 
        </div>
        
    </mat-sidenav-content>
</mat-sidenav-container>