<div class="card col-12 w-100 p-0 ps-1 pe-1 pb-1">
    <div class="col-12 flex-wrap w-100 p-0">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 flex-wrap w-100 p-0">
            <div class="col-12 flex-wrap w-100 p-0">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 flex-wrap p-0" >
                    <div class="col-12 flex-align-items w-100 p-1 bg-blue"><h5 class="mb-0 p-0 white">Departure</h5></div>
                    <ams-icon-ap-dep class="col-12 w-100 p-0" [apId]="flight.depApId"></ams-icon-ap-dep>
                    <div class="col-12 hidden-xs flex-align-items w-100 p-0">
                        <div class="flex-start flex-align-items">
                            <ams-icon-value *ngIf="depAp && depAp.maxRwLenght" 
                                pipe="len" icon="settings_ethernet"
                                [value]="depAp.maxRwLenght" label="Max Runway Lenght">
                            </ams-icon-value>
                        </div>
                        <div class="flex-end">
                            <ams-icon-value *ngIf="depAp && depAp.maxMtow" 
                                pipe="mtow" icon="play_for_work"
                                [value]="depAp.maxMtow" label="MTOW">
                            </ams-icon-value>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 flex-wrap p-0" >
                    <div class="col-12 flex-align-items w-100 p-1 bg-blue"><h5 class="mb-0 p-0 white">Arrival</h5></div>
                    <ams-icon-ap-arr class="col-12 w-100 p-0" [apId]="flight.arrApId" [right]="false"></ams-icon-ap-arr>
                    <div class="col-12 flex-align-items w-100 p-0">
                        <div class="flex-start flex-align-items">
                            <ams-icon-value *ngIf="arrAp && arrAp.maxRwLenght" 
                                pipe="len" icon="settings_ethernet"
                                [value]="arrAp.maxRwLenght" label="Max Runway Lenght">
                            </ams-icon-value>
                        </div>
                        <div class="flex-end">
                            <ams-icon-value *ngIf="arrAp && arrAp.maxMtow" 
                                pipe="mtow" icon="play_for_work"
                                [value]="arrAp.maxMtow" label="MTOW">
                            </ams-icon-value>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 flex-align-items w-100 p-0">
                <div class="flex">Payload:</div>
                <ams-icon-payload-type  class="ml-1"
                    *ngFor="let pl of flight.payloads"
                    [payloadType]="pl.payloadType"
                    [pax]="pl.pax"
                    [cargoKg]="pl.cargoKg">
                </ams-icon-payload-type>
                <div class="flex ml-1 ellipsis">{{flight.flDescription}}</div>
            </div>
            <div class="col-12 flex-wrap w-100 p-0">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 flex-align-items p-0" >
                    <ams-icon-value *ngIf="flight.dtime" 
                        pipe="datetime" icon="flight_takeoff"
                        [value]="flight.dtime" label="Departure">
                    </ams-icon-value>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 flex-align-items p-0" >
                    <ams-icon-value *ngIf="flight.atime" 
                        pipe="datetime" icon="flight_land" 
                        [value]="flight.atime" label="Arrival">
                    </ams-icon-value>
                </div>
            </div>

            <div class="col-12 flex-wrap w-100 p-0">
                <div class="col-lg-4 col-md-4 col-sm-12 flex-align-items p-0" >
                    <div class="flex mr-1">Expences:</div>
                    <ams-icon-value *ngIf="flight.expences" 
                        pipe="currencyr" icon="shopping_cart_checkout" class="orange"
                        [value]="flight.expences" label="Expences (estimate)">
                    </ams-icon-value>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 flex-align-items p-0" >
                    <div class="flex mr-1">Profit:</div>
                    <ams-icon-value *ngIf="flight.revenue" 
                        pipe="currencyr" icon="price_check" class="red"
                        [value]="flight.revenue" label="Profit (estimate)">
                    </ams-icon-value>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 flex-align-items p-0" >
                    <ams-icon-value *ngIf="flight.durationMin" class="blue"
                        pipe="periodmin" icon="timelapse"
                        [value]="flight.durationMin" label="Flight Duration">
                    </ams-icon-value>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 flex-wrap-top w-100 p-0">
            <div class="col-12 flex-align-items w-100 p-1 bg-blue">
                <ams-icon-flight-type class="mb-0 p-0 white" [flType]="flight.flTypeId" ></ams-icon-flight-type>
                <h5 class="mb-0 p-0 white ellipsis">
                    {{flight.flName}}
                </h5>
            </div>
            <div class="col-12 flex-align-items w-100 p-0 mt-4 mb-3">
                <ams-icon-value *ngIf="flight.income" 
                    pipe="currencyr" icon="add_shopping_cart" class="green size-20 w-100"
                    [value]="flight.income" label="Price">
                </ams-icon-value>
            </div>
            <div class="col-12 flex-align-items w-100 p-0">
                <div class="flex-end w-100 pe-3">
                    <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                            class="f-300"
                            [disabled]="hasSpinner" (click)="selectCharterFlight()">
                        GET
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
    

