<div class="title-container">
    <div class="modal-title">AIRLINE</div>
</div>
<hr class="mb-0">
<div *ngIf="!airline">No Data</div>

<div *ngIf="airline" class="col-12 p-2">
    <div *ngIf="airline" class="col-12 m-0 p-0">
        <div class="side-panel-sec" *ngIf="airline">
            <div class="side-panel-sec-rows">
                <ams-al-info-card 
                    [airline]="airline" 
                    [hqAirport]="hqAirport">
                </ams-al-info-card>
        </div><!-- sec end -->
        <div   class="side-panel-sec text-center" >
            <img src="{{imageUrl}}" alt="{{airline.iata}}" style="max-width: 330px;max-height: 200px;">
        </div>
    </div>
</div>

<div class="mt-2">
    
</div> 