<div class="static-container p-0">

  <div class="d-flex flrx-align-items flex-space-between w-100">

    <div class="flex-align-items flex-start ps-2">
      <!--
          <button *ngIf="region" class="btn btn-icon-only btn-text-primary m-l-5" 
            matTooltip="Region: {{region.rName}}"
            matTooltipPosition="above" 
            [routerLink]="[roots.Root, roots.wad, roots.region]"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  >
            <i class="modus-icon material-icons text-primary">public</i>
          </button>
          -->
    </div>

    <div class="flex-align-items flex-end p-2">

      <button mat-icon-button [matMenuTriggerFor]="fp_top_menu" class="link blue">
        <mat-icon>calendar_view_day</mat-icon>
      </button>
      <mat-menu #fp_top_menu="matMenu">
        
        <button mat-menu-item class="link" (click)="loadPage()">
          <mat-icon>refresh</mat-icon>
          <span>Refresh</span>
        </button>
       

        
        <div class="dropdown-divider"></div>

      </mat-menu>

      <button mat-mini-fab class="ms-2"
          color="accent"
          matTooltip="Refresh Airline Data"
          matTooltipPosition="above" (click)="loadPage()">
          <mat-icon>refresh</mat-icon>
      </button>
    </div>

  </div>

</div>
<div class="scroll-container-h160 ps-0 pe-2">

</div>