

            <!-- Modus Panel -->
            <sx-filter-panel [panelVar]="panelInVar"  
                fptitle="AMS"
                subtitle="Users"
                (closePanel)="closePanelLeftClick()"
                (subtitleClick)="spmSubregionOpen()">
                <!--
                <ams-wad-country-filter-panel-body> </ams-wad-country-filter-panel-body>
                -->
            </sx-filter-panel>
  
          <!-- Modus Content -->
          
            <div class="modus-content sx-tabs">
                <router-outlet></router-outlet>
            </div>
          
        
        
  

<div [@togleBtnTopRev]="!panelInVar"  (click)="expandPanelLeftClick()" class="side-tab-btn-top">
     <!--
  <i class="modus-icons">one_way_right</i>
  -->
  <i class="material-icons modus-icons">east</i>
</div>
