
<div class="chart-container"  >
    <canvas baseChart id="pieChart"
        [type]="'pie'"
        [datasets]="pieChartDatasets"
        [labels]="pieChartLabels"
        [options]="pieChartOptions"
        
        [legend]="legend"
        (chartClick)="onChartClick($event)">
    </canvas>
  </div>