
<div  *ngIf="weekFlights" class="flight-list-row flex-align-items">
    <div class="col-3 p-0">
        <ams-icon-ap-dep *ngIf="!departure" class="flex-start  dark-link" [apId]="weekFlights?.depApId" [showIcon]="false"  (click)="airportClick(weekFlights.depApId)"></ams-icon-ap-dep>
        <ams-icon-ap-dep *ngIf="departure" class="flex-start  dark-link" [apId]="weekFlights?.arrApId" [showIcon]="false"  (click)="airportClick(weekFlights.arrApId)"></ams-icon-ap-dep>
    </div>
    <div class="col-2 p-0">
        <div class="p-0 dark-link" matTooltip="{{weekFlights.flpnName}}" matTooltipPosition="above" (click)="spmAirlineOpenClick(weekFlights.alId)">
            {{weekFlights.flpnName}}
        </div>
    </div>
    @if(!departure){
        <div  class="col-1 p-0 flex-wrap-top" *ngFor="let weekday of weekFlights.weekdays">
            <div *ngIf="weekday?.flpns.length < 1">&nbsp;</div>
            <ams-icon-value *ngFor="let flight of weekday.flpns" (click)="spmAircraftOpenClick(flight.acId)"
                pipe="min"  class="dark-link "
                [value]="((flight.atimeH*60) + flight.atimeMin)" label="Arrival Time {{flight.flpnsName}}">
            </ams-icon-value>
        </div>
    } 
    @if(departure){
        <div  class="col-1 p-0 flex-wrap-top" *ngFor="let weekday of weekFlights.weekdays">
            <div *ngIf="weekday?.flpns.length < 1">&nbsp;</div>
            <ams-icon-value *ngFor="let flight of weekday.flpns" (click)="spmAircraftOpenClick(flight.acId)"
                pipe="min"  class="dark-link "
                [value]="((flight.dtimeH*60) + flight.depApId)" label="Departure Time {{flight.flpnsName}}">
            </ams-icon-value>
        </div>
    }
   
</div>
