
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary" class="pl-2 pe-2">
            <div class="flex-align-items flex-space-between w-100 white h64">
                <div class="flex-start flex-align-items-end h64">
                    <span  class="pl-2 semi-bold">{{dataCount | number:'1.0-0'}}</span>
                    <span *ngIf="dataCount !== 1" class="pl-1">Hubs</span>
                    <span *ngIf="dataCount == 1" class="pl-1">Hub</span>
                </div>
                <div class="flex-end h64">
                    <!--
                    <sx-button-round 
                        (click)="addCabin()"
                        [disabled]="!canEdit"
                        message="Add Cabin Configuration"
                        icon="add"
                        class="mr-3"
                       > 
                    </sx-button-round>
                    
                    <button *ngIf="dataCount>0" mat-icon-button class="mr-2"
                        matTooltip="Open Map"
                        matTooltipPosition="above" (click)="spmMapOpen()">
                        <mat-icon>map</mat-icon>
                    </button>
                    -->
                    <mat-form-field floatLabel="always" appearance="fill" class="white size-12">
                        <mat-label class="white"><mat-icon>filter_list_alt</mat-icon> <i> filter</i></mat-label>
                        <input matInput (keyup)="applyFilter($event)" class="white">
                    </mat-form-field>
    
                    <sx-button-flat 
                        (click)="refreshClick()" 
                        position="left" 
                        message="Reload Data"
                        icon="refresh" 
                        color="dark"
                        class="mr-0 ml-3">
                    </sx-button-flat>
                    
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">

            <ng-container matColumnDef="hubId">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-100-sort text-right"> Nr</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100-sort text-right">
                    <div class="flex-align-items w-100 flex-space-between">
                        <div class="flex-align-items flex-start">
                            <button mat-icon-button class="blue mr-2"
                                matTooltip="Delete Hub"
                                matTooltipPosition="above" (click)="editHubClick(row)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button *ngIf="row.hubTypeId !== base && !row.flightRoutesrCount"  mat-icon-button class="red mr-2"
                                matTooltip="Delete Hub"
                                matTooltipPosition="above" (click)="deleteHubClick(row)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                        <div class="flex-end"  matTooltip="Hub ID: {{row.hubId}}"
                            matTooltipPosition="above">{{row.hubId}}
                        </div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="apId" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-120-sort">Airport</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120-sort text-left">
                    <ams-icon-ap-code [apId]="row.apId" [showName]="true" 
                        class="flex-start" 
                        matTooltip="Airport" 
                        matTooltipPosition="above">
                    </ams-icon-ap-code>
                </td>
            </ng-container>
            <ng-container matColumnDef="alId" >
                <th mat-header-cell *matHeaderCellDef class="txt-ell-120 text-center">Airline</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120-sort text-center">
                    <ams-al-livery [alId]="row.alId" tooltip="Airline"></ams-al-livery>
                </td>
            </ng-container>
            <ng-container matColumnDef="hubTypeId">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60 text-left">Type</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-soart text-left">
                    <div class="flex-start w-100">
                            {{row.hubTypeId | hubtype}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="hubName">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80-sort text-left">Name</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-left">
                    <div class="flex-start w-100">
                            {{row.hubName}}
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="flightRoutesrCount">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-60-sort text-right white">
                    <div class="flex-end w-100" 
                        matTooltip="Number of sheduled route from this hub" matTooltipPosition="above" >
                        <mat-icon class="white" >route</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    {{row.flightRoutesrCount | number:'1.0-0'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="taxPerWeek">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-80-sort text-right white">
                    <div class="flex-end w-100" 
                        matTooltip="Week Upkeep Price" matTooltipPosition="above" >
                        <mat-icon class="white" >payments</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <ams-icon-value *ngIf="row.taxPerWeek" 
                        class="flex-end"
                        pipe="currencyr" 
                        [value]="(-1*row.taxPerWeek)" label="Weekly Price">
                    </ams-icon-value>
                </td>
            </ng-container>
           
            <ng-container matColumnDef="discount">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-40-sort text-right">
                    <div class="flex-end w-100" 
                        matTooltip="Discount" matTooltipPosition="above" >
                        <mat-icon class="white" >price_change</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-40-sort text-right">
                    {{(1-row.discount) | percent}}
                </td>
            </ng-container>

            <ng-container matColumnDef="adate">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80-sort text-right">
                    <div class="flex-align-items w-100 text-right" 
                        matTooltip="Established On" matTooltipPosition="above" >
                        <mat-icon class="white" >event</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="flex-end w-100">
                        <!-- icon="timelapse"  {{project.adate | date:'MMM d, y'}}-->
                        <ams-icon-value *ngIf="row.adate" class="flex-end"
                            pipe="dater" 
                            [value]="row.adate" label="Established On">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="upkeepDay">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80-sort text-right">
                    <div class="flex-align-items w-100 p-1 text-right" 
                        matTooltip="Upkeep payment on" matTooltipPosition="above" >
                        <mat-icon class="white" >shopping_cart_checkout</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="flex-align-items w-100 pe-1">
                        <!-- icon="timelapse"  {{project.adate | date:'MMM d, y'}}-->
                        <ams-icon-value *ngIf="row.upkeepDay" class="flex-end"
                            pipe="weekdayr" 
                            [value]="row.upkeepDay" label="Upkeep payment on">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>        
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        hidePageSize="false" 
        [showFirstLastButtons]="true" >
    </mat-paginator>
