<sx-filter-panel [panelVar]="panelInVar"   
    [fptitle]="airline.alName"
    [subtitle]="airline.iata"
    (closePanel)="closeFilterPanelClick()"
    (subtitleClick)="fpSubtitleClick($event)">
    <ams-airline-dashboard-filter-panel (showMessage)="showMessage($event)"
        [arrivals]="flights" 
        [departures]="departures"
        (refreshData)="loadPage()">
    </ams-airline-dashboard-filter-panel>
</sx-filter-panel>

<div class="ams-content-body" [ngClass]="{'sidebar-open':panelInVar!==in, 'sidebar-closed':panelInVar===in}">
        <!--
        <div class="sxtable-loading" *ngIf="flightsds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="flightsds.loading$ | async"></mat-spinner>
        </div>
        -->
       <ams-map-liflet-dashboard [flights]="flights" [hqAirport]="hqAirport"></ams-map-liflet-dashboard>
</div>

<div [@togleBtnTopRev]="!panelInVar"  (click)="expandFilterPanelClick()" class="side-tab-btn-top">
    <i class="material-icons">east</i>
</div>