<div class="sxtable-container-tail-400">
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary" class="pl-1 pe-1">
                <div class="flex-align-items flex-space-between w-100 white flex-end h64">
                    <div class="flex-start flex-align-items white h64">
                        <sx-button-flat 
                            (click)="refreshClick()" 
                            position="left" 
                            [disabled]="aircraft && !aircraft.canFlight"
                            message="Reload Data"
                            icon="refresh" 
                            color="dark"
                            class="p-1">
                        </sx-button-flat>
                        <div class="flex-start  flex-align-items-end">
                            <span  class="pl-2">{{dataCount | number:'1.0-0'}}</span>
                            <span *ngIf="dataCount !== 1" class="pl-1">Flights</span>
                            <span *ngIf="dataCount == 1" class="pl-1">Flight</span>
                            <span class="pl-1">for</span>
                            <div class="pl-1" *ngIf="!aircraft">Aircraft</div>
                            <div *ngIf="aircraft" class="ml-1 icon-value" 
                                matTooltip="Aircraft: {{aircraft.registration}}"
                                (click)="spmAircraftOpen(aircraft)" >
                                <img src="{{aircraft.imgTableUrl}}" alt="{{aircraft.acId}}"/>
                            </div>
                            <div class="pl-1" *ngIf="acLastArrTime">
                                <ams-icon-ap-code [apId]="acLastArrTime.apId" class="thin"></ams-icon-ap-code>
                            </div>
                        </div>
                    </div>
                    <div class="flex-end flex-align-items white h64">
                        <button *ngIf="dataCount>0" mat-icon-button class="mr-2"
                            matTooltip="Open Map"
                            matTooltipPosition="above" (click)="spmMapOpen()">
                            <mat-icon>map</mat-icon>
                        </button>
                        <mat-form-field floatLabel="always" class="white size-12" style="max-width: 230px;" appearance="outline">
                            <input matInput [ngxMatDatetimePicker]="picker"  placeholder="Departure Time" name="depTime" [formControl]="depTime" [min]="minEtdTime" class="white">
                            <mat-datepicker-toggle matSuffix [for]="$any(picker)" class="white"></mat-datepicker-toggle>
                            <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
                                [stepHour]="1" [stepMinute]="1" [stepSecond]="0"
                                [touchUi]="false"  [enableMeridian]="true" 
                                [disableMinute]="false" [hideTime]="false">
                            </ngx-mat-datetime-picker>
                        </mat-form-field>
                    </div>
                    
                   
                </div>
        </mat-toolbar>
    </div>
    <div class="sxtable-body">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">

            <ng-container matColumnDef="flTypeId">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60">
                    <div class="flex-align-items w-100 ps-2 text-left white" >&nbsp;</div></th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60">
                    <div class="flex-align-items w-100 p-1">
                        <sx-button-round 
                            (click)="addFlifght(row)"
                            [disabled]="hasSpinner"
                            position="left" 
                            icon="add"
                            message="Add Flight"> 
                        </sx-button-round>
                        <ams-icon-flight-type class="blue link" [flType]="row.flTypeId" (click)="spmFleCharterOpen(row)"></ams-icon-flight-type>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="fleId">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-100">
                    <div class="flex-align-items w-100 ps-2 text-left white" >Flight</div></th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100">
                    <div class="flex-align-items w-100 p-1">
                        <ams-icon-ap-code [apId]="row.depApId" [showName]="false" [showNSvg]="false" class="flex ml-1"></ams-icon-ap-code>
                        <div class="flex ml-1">-</div>
                        <ams-icon-ap-code [apId]="row.arrApId" [showName]="false"  [showNSvg]="false" class="flex ml-1"></ams-icon-ap-code>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="payloads">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60 white">Payload</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60">
                    <ams-card-payload-sum [payloads]="row.payloads"></ams-card-payload-sum>
                </td>
            </ng-container>
            <ng-container matColumnDef="dtime">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80 text-right">
                    <div class="flex-align-items w-100 ps-4 text-right" 
                        matTooltip="Estimated Time of Departure (ETD)"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >flight_takeoff</mat-icon>
                        <!--
                        <img src="{{seatsEImgUrl}}" alt="Cargo" class="mr-2"/>
                        -->
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80">
                    <div class="flex-align-items w-100">
                        <!-- icon="timelapse" -->
                        <ams-icon-value *ngIf="row.dtime" class="blue"
                            pipe="datetime" 
                            [value]="row.dtime" label="Departure at">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="atime">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80 text-right">
                    <div class="flex-align-items w-100 ps-4 text-right" 
                        matTooltip="Estimated Time of Arrival (ETA)"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >flight_land</mat-icon>
                        <!--
                        <img src="{{seatsEImgUrl}}" alt="Cargo" class="mr-2"/>
                        -->
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80">
                    <div class="flex-align-items w-100">
                        <!-- icon="timelapse" -->
                        <ams-icon-value *ngIf="row.atime" class="blue"
                            pipe="datetime" 
                            [value]="row.atime" label="Arrival at">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="distanceKm">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60 text-right">
                    <div class="flex-align-items w-100 ps-4 text-right" 
                        matTooltip="Distance"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >travel_explore</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60">
                    <div class="flex-align-items w-100 p-1">
                        <!-- icon="timelapse" -->
                        <ams-icon-value *ngIf="row.distanceKm" 
                            pipe="lenkm" 
                            [value]="row.distanceKm" label="Distance">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="durationMin">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60 text-right">
                    <div class="flex-align-items w-100 ps-4 text-right" 
                        matTooltip="Flight Time"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >timelapse</mat-icon>
                        <!--
                        <img src="{{seatsEImgUrl}}" alt="Cargo" class="mr-2"/>
                        -->
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60">
                    <div class="flex-align-items w-100 p-1">
                        <!-- icon="timelapse" -->
                        <ams-icon-value *ngIf="row.durationMin" class="blue"
                            pipe="periodmin" 
                            [value]="row.durationMin" label="Flight Time">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="income">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60 text-right">
                    <div class="flex-align-items w-100 ps-4 text-right" 
                        matTooltip="Flight Income"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >add_shopping_cart</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60">
                    <div class="flex-align-items w-100 p-1">
                        <ams-icon-value *ngIf="row.income" class="green"
                            pipe="currencyr" 
                            [value]="row.income" label="Flight Income">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="flDescription">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80 white">Description</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60">
                    <div class="flex-align-items w-100 p-1">
                        <div  class="block w-100 text-left ellipsis" 
                            matTooltip="{{row.flDescription}} " 
                            matTooltipPosition="above" >
                            {{row.flDescription}}
                        </div>
                    </div>
                </td>
            </ng-container>
            
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt"
        hidePageSize="true" 
        [showFirstLastButtons]="true" >
    </mat-paginator>
</div>