<div class="modal-content">

    <div mat-dialog-title class="modal-header">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title flex-align-items">City 
            <span *ngIf="city && city.cityId" class="card-subtitle-1 ml-2" >№ {{city.cityId}}</span>
            <span *ngIf="!city || !city.cityId" class="card-subtitle-1 ml-2" >Create</span>
            <span *ngIf="city && city.ctName" class="card-subtitle-1 ml-2" >{{city.ctName}}</span>
            <div class="flex-align-items image-16 ml-4" *ngIf="state">
                <ams-img-link *ngIf="city.wikiUrl" type="wiki" [url]="city.wikiUrl" class="ml-2"></ams-img-link>
            </div>
        </div>
    </div>

    <mat-dialog-content class="modal-body">
        <form class="d-flex flex-column" [formGroup]="formGrp">
            <!--
            <input type="hidden"  formControlName="userId" [value]="userId">
            -->
            <div class="col-12 flex-align-items w-100 p-0">

                
                <div class="col-8 pe-2">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Name</mat-label>
                        <input matInput type="text"  placeholder="City Name"  formControlName="ctName" name="ctName"  required >
                        <!--
                        <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                        -->
                        <mat-error *ngIf="ctName.invalid">{{fError('ctName')}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-4 pe-0">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Population</mat-label>
                        <input matInput type="number"  placeholder="Population"  formControlName="population" name="population" required>
                        <mat-icon matSuffix class="text-grey-500">groups</mat-icon>
                        <mat-error *ngIf="population.invalid">{{fError('population')}}</mat-error>
                    </mat-form-field>
                </div>
                
                
            </div>
            <h5 class="mb-0 pt-2">Wikipedia URL link and Codes</h5>
            <div class="col-12 flex-align-items w-100 p-0">

                <div class="col-12 p-0">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Wikipedia URL</mat-label>
                        <input matInput type="url"  placeholder="Wikipedia Link"  formControlName="wikiUrl" name="wikiUrl" >
                        <mat-icon matSuffix class="text-grey-500">wb_auto</mat-icon>
                        <mat-error *ngIf="wikiUrl.invalid">{{fError('wikiUrl')}}</mat-error>
                    </mat-form-field>
                </div>

            </div>

            <h5 class="mb-0 pt-2">Status</h5>
            <div class="col-12 flex-align-items w-100 p-0">
                
                <div class="col-6 pe-2">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>AMS Status</mat-label>
                        <mat-select name="amsStatus" formControlName="amsStatus">
                          <mat-option *ngFor="let ams of amsStatusOpt" [value]="ams.id">
                            {{ams.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>

                <div class="col-6 pe-0">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>WAD Status</mat-label>
                        <mat-select name="wadStatus" formControlName="wadStatus">
                          <mat-option *ngFor="let wad of wadStatusOpt" [value]="wad.id">
                            {{wad.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div>
            <div class="col-12 flex-align-items w-100 p-0">
                
                <div class="col-6 p-0">
                    <mat-slide-toggle formControlName="stateCapital">State Capital</mat-slide-toggle>
                </div>

                <div class="col-6 pe-0">
                    <mat-slide-toggle formControlName="countryCapital">Country Capital</mat-slide-toggle>
                </div>
            </div>
    
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end mr-2">
                <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="formGrp.invalid" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
