

<div class="ams-content-body">
    <div class="ams-content-body-blue">

        <ams-admin-toolbar ptitle="MANUFACTURERS" psubtitle="{{mfrCount | number:'1.0-0'}}" >
            <ams-tb-menu-mfrs (refresh)="loadMfrs()" (addMfr)="addManufacturer($event)"></ams-tb-menu-mfrs>
        </ams-admin-toolbar>
        

        <div class="flex-row flex-wrap" *ngIf="manufacturers">
            
                <div class="col-lg-4 col-md-6 col-sm-12 tile tile-wad" >
                    <mat-card appearance="outlined">
                        <!--
                    <mat-card-subtitle>United Nations Geoscheme
                        <span *ngIf="regions">({{regions.length | number:'1.0-0'}})</span>
                    </mat-card-subtitle>
                -->
                    <mat-card-content class="mat-card-content overlay-brown">
                        
                            <div class="width-100 white thin size-20 p-4" style="line-height: 1.8;">
                                The <a href="https://en.wikipedia.org/wiki/Aerospace_manufacturer"
                                        class="dark-link regular" target="_blank">
                                        aircraft industry</a> support aviation by building aircraft and 
                                        manufacturing aircraft parts for their maintenance. This includes 
                                        aircraft and parts used for civil and military aviation.
                                <p></p>
                            
                        </div>
                    </mat-card-content>
                    </mat-card>
                </div>
                <!-- -regions -->
                <div class="col-lg-4 col-md-6 col-sm-12 tile tile-wad" *ngFor="let mfr of manufacturers" >
                    <mat-card appearance="outlined" (click)="gotoManufacturer(mfr)">
                    <mat-card-subtitle>{{mfr.mfrName}}
                        <span *ngIf="mfr && mfr.iata">({{mfr.iata}})</span>
                    </mat-card-subtitle>
                    <mat-card-content class="overlay-blue">
                        <div *ngIf="chartDataUserList" class="ile-graphic">

                        </div>
                        <img *ngIf="!chartDataUserList && mfr.logoUrl" class="tile-graphic p-4" [src]="mfr.logoUrl"
                        alt="{{mfr.iata}}">
                    </mat-card-content>
                    </mat-card>
                </div>
                            
        </div> 
    </div>
 </div> 
