<div class="spm-header">
    <div class="title">FLIGHT IN QUEUE
        <span *ngIf="flight" class="subtitle">№ {{flight.flName}}</span>
    </div>
</div>
<hr class="m-0">
<div class="spm-body">
    <div *ngIf="!flight">No Data</div>
    <div *ngIf="flight" class="scroll-container-white-270 w-100 px-2">
        <ams-card-flight-info [flight]="flight"></ams-card-flight-info>
    </div>
    <div class="side-panel-sec px-2" *ngIf="flight">
        <div class="side-panel-sec-rows">
            <div class="sp-row p-0 mt-2">
                <ams-card-aircraft-id-row  class="w-100" [acId]="flight.acId"></ams-card-aircraft-id-row>
            </div>
        </div>
    </div>
    
</div>




