<div class="ams-content-body px-2" >
    <div class="col-12 w-100">
        <div class="sxtable-container-full">

            <div class="sxtable-toolbar">
                <mat-toolbar color="primary">
                    <div class="flex-align-items flex-space-between w-100 white">
                        <div class="flex-start flex-align-items">
                            <span>{{dataCount | number:'1.0-0'}}</span>
                            <span class="pl-1 f-w-300">USERS</span>
                        </div>
                        <div class="flex-end m-r-8 f-s-14">
                            
                            <sx-button-round 
                                (click)="inviteUser()"
                                [disabled]="!canEdit"
                                message="Invite User"
                                icon="person_add_alt_1"
                                class="mr-3"
                            > 
                            </sx-button-round>
                            
                            <mat-form-field class="f-w-300">
                                <mat-label>Filter</mat-label>
                                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                            </mat-form-field>
            
                            <sx-button-flat 
                                (click)="refreshClick()" 
                                position="left" 
                                message="Reload Data"
                                icon="refresh" 
                                color="dark"
                                class="mr-2 ml-3">
                            </sx-button-flat>
                        </div>
                    </div>
                
                </mat-toolbar>
            </div>
            <div class="sxtable-body">
                <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
                    <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
                </div>
                <table mat-table [dataSource]="tableds" class="sxtable table-hover"
                    matSort matSortDisableClear
                    [matSortActive]="sortActive"
                    [matSortDirection]="sortDirection">
            
                    <ng-container matColumnDef="action" sticky>
                        <th mat-header-cell *matHeaderCellDef width ="60px" class="t-c"></th>
                        <td mat-cell *matCellDef="let user" class="t-c">
                            <div class="flex-align-items w-full">
                                
                                <sx-button-round 
                                    (click)="gotoUser(user)"
                                    [disabled]="!canEdit"
                                    position="left" 
                                    icon="open_in_new"
                                    message="Edit Company"> 
                                </sx-button-round>
                                <mat-icon class="link m-t-4 m-l-4 m-r-8 f-s-20"  
                                    (click)="edituser(user)"
                                    matTooltip="Edit User {{user.userId}}">
                                    edit
                                </mat-icon>
                                
                                <!--
                                <mat-icon class="link m-t-8 m-r-4 f-s-16" (click)="editUser(user)">edit</mat-icon>
                                
                                open_in_new
                                <mat-icon class="link m-t-16 m-l-4 m-r-8 f-s-20"  
                                    (click)="editCompanyProducts(company)"
                                    [matBadge]="company.productsCount"  
                                    [matBadgeHidden]="company.productsCount===0" 
                                    MatBadgeSize="small"
                                    matBadgeDescription="{{company.productsCount | number:'1.0-0'}} Active Products"
                                    matBadgeColor="accent" matBadgeOverlap="true">collections_bookmark</mat-icon>
                                    -->
                            </div>
                        
                        </td>
                    </ng-container>
                
                    <ng-container matColumnDef="userId"  >
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80-sort">PK</th>
                        <td mat-cell *matCellDef="let row" class="txt-ell-80-sort">
                            <div class="w-100 text-right">
                                {{row.userId}}
                            </div>
                            
                        </td>
                    </ng-container>
            
                    <ng-container matColumnDef="userName">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-140-sort">Name</th>
                        <td mat-cell *matCellDef="let row" class="txt-ell-140-sort text-left">{{row.userName}}</td>
                    </ng-container>
            
                    <ng-container matColumnDef="userEmail">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-160-sort">Email</th>
                        <td mat-cell *matCellDef="let row" class="txt-ell-160-sort text-left">{{row.userEmail}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="userRole" >
                        <th mat-header-cell *matHeaderCellDef class="txt-ell-100-sort">Role</th>
                        <td mat-cell *matCellDef="let row" class="txt-ell-100-sort">
                            <div class="flex-align-items w-100 text-left">
                                <div>{{row.userRole | userrole}}</div>
                            </div>
                        </td>
                    </ng-container>
            
                    <ng-container matColumnDef="isReceiveEmails">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80-sort">Check</th>
                        <td mat-cell *matCellDef="let row" class="txt-ell-80-sort">
                            <div class="flex-align-items w-100 ">
                                <mat-icon *ngIf="row.isReceiveEmails" class="text-center link size-18 green" (click)="sendEmail(row)">email</mat-icon>
                                <mat-icon *ngIf="!row.isReceiveEmails" class="text-center link size-18 gray">clear</mat-icon>
                            </div>
                        </td>
                    </ng-container>
                    
                   
                    
                    <ng-container matColumnDef="adate">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-120-sort">Created On</th>
                        <td mat-cell *matCellDef="let row" class="txt-ell-120-sort text-right">{{row.adate | date:'MMM d, y'}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="udate">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-100-sort">Updated On</th>
                        <td mat-cell *matCellDef="let row" class="txt-ell-100-sort text-right">{{row.udate | date:'MMM d, y'}}</td>
                    </ng-container>
                    <ng-container matColumnDef="ipAddress">
                        <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-200-sort">Notes</th>
                        <td mat-cell *matCellDef="let row" class="txt-ell-200-sort">
                            <div class="flex-align-items w-100 ellipces">{{row.ipAddress}}</div>
                        </td>
                    </ng-container>
                
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            
            <mat-paginator [length]="dataCount" 
                [pageIndex]="pageIndex"
                [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOpt" 
                [showFirstLastButtons]="true" >
            </mat-paginator>
        </div>
    </div>

</div> 