    <mat-tab-group  mat-stretch-tabs #branchTabs
        class="mat-card" 
        [selectedIndex]="selTabIdx"
        (selectedIndexChange)="selectedTabChanged($event)">

        <!-- -TAB 0  --> 
        <mat-tab label="Fleet">
            <ng-template mat-tab-label>
                <mat-icon class="mx-2">dashboard</mat-icon>
                Fleet
            </ng-template>
            
           <ams-al-fleet-tab-macs [tabIdx]="0"></ams-al-fleet-tab-macs>
        </mat-tab>

        <!-- -TAB 1 Aircraft Market --> 
        <mat-tab label="Aircraft Market">
            <ng-template mat-tab-label>
                <mat-icon class="mx-2">shopping_cart</mat-icon>
                Aircrafts
            </ng-template>
            <ams-grid-al-aircraft-common [selTabIdx]="selTabIdx" [tabIdx]="1"></ams-grid-al-aircraft-common>
        </mat-tab>
       
                
    </mat-tab-group>
    
