<div class="scroll-container-tab">
    <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
        <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
    </div>
    <div class="col-lg-4 col-md-6 col-12 pb-3" *ngFor="let mac of tableds.data$ | async" >
        <ams-card-mac-al-fleet [mac]="mac"></ams-card-mac-al-fleet>
    </div>
</div>