 <!-- Title -->
 <div class="title-container">
    <div class="modal-title">AIRCRAFT DETAIL</div>
</div>
<hr class="mb-0">
<div *ngIf="!aircraft">No Data</div>

<div class="col-12 p-2">
    <ams-card-aircraft-info [aircraft]="aircraft" (transferEstimate)="transferEstimate.emit($event)"></ams-card-aircraft-info>
    <div *ngIf="aircraft" class="col-12 m-0 p-0">
        <div class="side-panel-sec" *ngIf="aircraft">
            <div class="side-panel-sec-rows">
    
        </div><!-- sec end -->
        <div *ngIf="aircraft.imgAirUrl"  class="side-panel-sec text-center" >
            <img src="{{aircraft.imgAirUrl}}" alt="{{aircraft.macId}}" style="max-width: 330px;max-height: 200px;">
        </div>
    </div>
</div>

<div class="mt-2">
    
</div> 
