<div class="flex-start flex-align-items" *ngIf="airport">
    <ams-ap-icon-svg *ngIf="airport.svgcircle" class="mr-1" 
        [rw_svg_path_circle]="airport.svgcircle"
        [rw_svg_line]="airport.svgline" 
        [ap_active]="airport.active" 
        (click)="centerMapOnAirport()"
        matTooltip="Max Rw: {{airport.maxRwLenght | len}} m" 
        matTooltipPosition="above">
    </ams-ap-icon-svg>
    <div class="icon-value flex"
        matTooltip="ICAO: {{airport.icao}}, UTC: {{airport.utc}}" 
        matTooltipPosition="above" >
        {{airport.icao}}
    </div>
</div>