<div class="sxtable-container-tab">
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary" class="pl-2 pe-2">
            <div class="flex-align-items flex-space-between w-100 white h64">
                <div class="flex-start flex-align-items-end h64">
                    <span  class="pl-2 semi-bold">{{dataCount | number:'1.0-0'}}</span>
                    <span *ngIf="dataCount !== 1" class="pl-1">Hubs</span>
                    <span *ngIf="dataCount == 1" class="pl-1">Hub</span>
                </div>
                <div class="flex-end h64">
                    <!--
                    <sx-button-round 
                        (click)="addCabin()"
                        [disabled]="!canEdit"
                        message="Add Cabin Configuration"
                        icon="add"
                        class="mr-3"
                       > 
                    </sx-button-round>
                    
                    <button *ngIf="dataCount>0" mat-icon-button class="mr-2"
                        matTooltip="Open Map"
                        matTooltipPosition="above" (click)="spmMapOpen()">
                        <mat-icon>map</mat-icon>
                    </button>
                    color="accent"
                   
                    <button mat-icon-button class="mr-4 yellow"  
                        matTooltip="Add Group"
                        matTooltipPosition="above" (click)="addGroupClick()">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                     -->
                    <mat-form-field floatLabel="always" appearance="fill" class="white size-12">
                        <mat-label class="white"><mat-icon>filter_list_alt</mat-icon> <i> filter</i></mat-label>
                        <input matInput (keyup)="applyFilter($event)" class="white">
                    </mat-form-field>
                    
                    <button mat-icon-button class="pr-1 white"
                        matTooltip="Reload Data"
                        matTooltipPosition="above" (click)="refreshClick()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                    
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">

            <ng-container matColumnDef="routeId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-60-sort text-right"> Nr</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <div class="flex-align-items w-100">
                        <div class="flex-align-items flex-start">
                            <button mat-icon-button class="blue pe-1" *ngIf="isAdmin"
                                matTooltip="Edit Route"
                                matTooltipPosition="above" (click)="editRouteClick(row)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button  mat-icon-button class="red pe-1" *ngIf="isAdmin"
                                matTooltip="Delete Route"
                                matTooltipPosition="above" (click)="deleteRouteClick(row)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                        <div class="flex-end"  matTooltip="Route ID: {{row.routeId | number:'3.0-0'}}"
                            matTooltipPosition="above">{{row.routeId}}
                        </div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="routeNr">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-40-sort text-right">#</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-40-sort text-right">
                    <div class="flex-end w-100">
                            {{row.routeNr | number:'3.0-0'}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="routeName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-80-sort text-left">Name</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-left">
                    <div class="flex-start w-100">
                            {{row.routeName}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="depApId" >
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80-sort text-left">
                    <div class="flex-start w-100" 
                        matTooltip="Departure Airport" matTooltipPosition="above" >
                        <mat-icon class="white" >flight_takeoff</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-left">
                    <ams-icon-ap-code [apId]="row.depApId" [showName]="true" 
                        class="flex-start" 
                        matTooltip="Airport" 
                        matTooltipPosition="above">
                    </ams-icon-ap-code>
                </td>
            </ng-container>
            <ng-container matColumnDef="arrApId" >
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80-sort text-left">
                    <div class="flex-start w-100" 
                        matTooltip="Arrival Airport" matTooltipPosition="above" >
                        <mat-icon class="white" >flight_land</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-left">
                    <ams-icon-ap-code [apId]="row.arrApId" [showName]="true" 
                        class="flex-start" 
                        matTooltip="Airport" 
                        matTooltipPosition="above">
                    </ams-icon-ap-code>
                </td>
            </ng-container>
            <ng-container matColumnDef="distanceKm">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60-sort text-right">
                    <div class="flex-align-items w-100 ps-4 text-right" 
                        matTooltip="Distance"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >travel_explore</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <div class="flex-end w-100 text-right">
                        <ams-icon-value *ngIf="row.distanceKm" 
                            pipe="lenkm" 
                            [value]="row.distanceKm" label="Distance">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="flightH">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60-sort text-right">
                    <div class="flex-align-items w-100 text-right" 
                        matTooltip="Flight Time"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >timelapse</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <div class="flex-end w-100 text-right">
                        <ams-icon-value *ngIf="row.flightH"
                            pipe="min" 
                            [value]="row.flightH*60" label="Flight Time">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="priceF">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-60-sort text-right">
                    <div class="flex-end w-100 text-right">
                        <ams-icon-paylod [type]="typeF" class="large mt-1"></ams-icon-paylod>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <ams-icon-value *ngIf="row.priceF" 
                        pipe="currencyr" 
                        [value]="row.priceF" 
                        label="Ticket Price {{typeF | payloadtype}} Class">
                    </ams-icon-value>
                </td>
            </ng-container>
            <ng-container matColumnDef="priceB">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-60-sort text-right">
                    <div class="flex-end w-100 text-right">
                        <ams-icon-paylod [type]="typeB" class="large mt-1"></ams-icon-paylod>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <ams-icon-value *ngIf="row.priceB" 
                        pipe="currencyr" 
                        [value]="row.priceB" 
                        label="Ticket Price {{typeB | payloadtype}} Class">
                    </ams-icon-value>
                </td>
            </ng-container>
            <ng-container matColumnDef="priceE">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-60-sort text-right">
                    <div class="flex-end w-100 text-right">
                        <ams-icon-paylod [type]="typeE" class="large mt-1"></ams-icon-paylod>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <ams-icon-value *ngIf="row.priceE" 
                        pipe="currencyr" 
                        [value]="row.priceE" 
                        label="Ticket Price {{typeE | payloadtype}} Class">
                    </ams-icon-value>
                </td>
            </ng-container>
            <ng-container matColumnDef="priceCPerKg">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-60-sort text-right">
                    <div class="flex-end w-100 text-right">
                        <ams-icon-paylod [type]="typeC" class="large mt-1"></ams-icon-paylod>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <ams-icon-value *ngIf="row.priceCPerKg" 
                        pipe="currencyr" 
                        [value]="row.priceCPerKg" 
                        label="{{typeC | payloadtype}} Price">
                    </ams-icon-value>
                </td>
            </ng-container>

            <ng-container matColumnDef="alId" >
                <th mat-header-cell *matHeaderCellDef class="txt-ell-120 text-center">Airline</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120-sort text-center">
                    <ams-al-livery [alId]="row.alId" tooltip="Airline"></ams-al-livery>
                </td>
            </ng-container>
            <ng-container matColumnDef="adate">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80-sort text-right">
                    <div class="flex-align-items w-100 text-right" 
                        matTooltip="Created On" matTooltipPosition="above" >
                        <mat-icon class="white" >event</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="flex-end w-100">
                        <!-- icon="timelapse"  {{project.adate | date:'MMM d, y'}}-->
                        <ams-icon-value *ngIf="row.adate" class="flex-end"
                            pipe="dater" 
                            [value]="row.adate" label="Established On">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
    
            
            <ng-container matColumnDef="taxPerWeek">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-80-sort text-right white">
                    <div class="flex-end w-100" 
                        matTooltip="Week Upkeep Price" matTooltipPosition="above" >
                        <mat-icon class="white" >payments</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <ams-icon-value *ngIf="row.taxPerWeek" 
                        class="flex-end"
                        pipe="currencyr" 
                        [value]="(-1*row.taxPerWeek)" label="Weekly Price">
                    </ams-icon-value>
                </td>
            </ng-container>
           

            <ng-container matColumnDef="discount">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-40-sort text-right">
                    <div class="flex-end w-100" 
                        matTooltip="Discount" matTooltipPosition="above" >
                        <mat-icon class="white" >price_change</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-40-sort text-right">
                    {{(1-row.discount) | percent}}
                </td>
            </ng-container>

           
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        hidePageSize="false" 
        [showFirstLastButtons]="true" >
    </mat-paginator>
</div>
    
