<div class="modal-content">

    <div mat-dialog-title class="modal-header">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title flex-align-items">Route 
            <span *ngIf="route && route.routeId" class="card-subtitle-1 ps-1" >№ {{route.routeId}}</span>
            <span *ngIf="!route || !route.routeId" class="card-subtitle-1 ps-1" >Create</span>
            <ams-icon-ap-code *ngIf="route && route.depApId" 
                [apId]="route.depApId" [showName]="true" class="flex ps-1" 
                matTooltip="Airport" matTooltipPosition="above">
            </ams-icon-ap-code>
            <span class="ps-1">-</span>
            <ams-icon-ap-code *ngIf="route && route.arrApId" 
                [apId]="route.arrApId" [showName]="true" class="flex ps-1" 
                matTooltip="Airport" matTooltipPosition="above">
            </ams-icon-ap-code>
        </div>
    </div>

    <mat-dialog-content class="modal-body">
        <form class="col-12" [formGroup]="formGrp">
            <input type="hidden" [formControl]="routeIdFc" >
            <input type="hidden" [formControl]="depApIdFc" >
            <input type="hidden" [formControl]="arrApIdFc" >
            <div class="col-12 flex-align-items-top">
                <div class="col-6 flex-column pe-2">
                    <ams-map-liflet-route 
                        [depApId]="depApIdFc.value"
                        [arrApId]="arrApIdFc.value">
                    </ams-map-liflet-route>
                </div>
                <div class="col-6 flex-column">
                   
                    <div class="col-12 flex-align-items-top p-0">
                        <div class="col-5 pe-2">
                            <mat-form-field class="w-100">
                                <mat-label for="routeNr">Number</mat-label>
                                <mat-select name="routeNr" [formControl]="routeNrFc"
                                    placeholder="Number" aria-label="Route Number">
                                    <mat-option *ngFor="let nr of routeNrOpt" [value]="nr">
                                        {{nr | number:'3.0-0'}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-7">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Name</mat-label>
                                <input matInput type="text"  placeholder="Name"  [formControl]="routeNameFc" name="routeName"  required >
                                <!--
                                <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                                -->
                                <mat-error *ngIf="routeNameFc.invalid">{{fError('routeName')}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="col-12 flex-align-items-top p-0">
                        <div class="col-5 pe-2">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Flight Duration (in hours)</mat-label>
                                <input matInput type="number" step="0.05"  placeholder="Flight Duration"  [formControl]="flightHFc">
                                <mat-icon matSuffix class="text-grey-500">timelapse</mat-icon>
                                
                                <mat-error *ngIf="flightHFc.invalid">{{fError('flightH')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-7 ps-2">
                            <div class="flex-column w-100">
                                <div class="flex-align-items w-100 pe-2">
                                    <div class="flex-start pe-1">Distance:</div>
                                    <ams-icon-value *ngIf="route.distanceKm" 
                                        pipe="lenkm" icon="travel_explore"
                                        [value]="route.distanceKm" label="Distance">
                                    </ams-icon-value>
                                </div>
                                <div class="flex-align-items w-100 pe-2 pt-2">
                                    <div class="flex-start pe-1">Flight Duration:</div>
                                    <ams-icon-value *ngIf="flightHFc.value" pipe="min" class=""
                                        [value]="flightHFc.value*60" 
                                        label="Time to reserve for flight duration when building flight shedule (HH:mm)">
                                    </ams-icon-value>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 flex-align-items-top p-0">
                        <div class="col-6 pe-2" >
                            <mat-form-field floatLabel="always" class="col-12">
                                <mat-label>Cargo per {{1 | mtow}}</mat-label>
                                <input matInput type="number" step="0.0005" placeholder="Cargo Price per {{1 | mtow}}"  [formControl]="priceCPerKgFc">
                                <ams-icon-paylod matSuffix [type]="cpt" class="large mt-2"></ams-icon-paylod>
                                <mat-error *ngIf="priceCPerKgFc.invalid">{{fError('priceCPerKg')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-6" >
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 flex-align-items-top">
                <div class="col-4 pe-2" >
                    <mat-form-field floatLabel="always" class="col-12">
                        <mat-label>First</mat-label>
                        <input matInput type="number" step="0.50" placeholder="Ticket Price First Class"  [formControl]="priceFFc">
                        <ams-icon-paylod matSuffix [type]="ptf" class="large mt-2"></ams-icon-paylod>
                        <mat-error *ngIf="priceFFc.invalid">{{fError('priceF')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-4 pe-2" >
                    <mat-form-field floatLabel="always" class="col-12 pe-2">
                        <mat-label>Business</mat-label>
                        <input matInput type="number" step="0.50" placeholder="Ticket Price First Class"  [formControl]="priceBFc">
                        <ams-icon-paylod matSuffix [type]="ptb" class="large mt-1"></ams-icon-paylod>
                        <mat-error *ngIf="priceBFc.invalid">{{fError('priceB')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-4" >
                    <mat-form-field floatLabel="always" class="col-12">
                        <mat-label>Economy</mat-label>
                        <input matInput type="number" step="0.50" placeholder="Ticket Price Economy Class"  [formControl]="priceEFc">
                        <ams-icon-paylod matSuffix [type]="pte" class="large mt-2"></ams-icon-paylod>
                        <mat-error *ngIf="priceEFc.invalid">{{fError('priceE')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end mr-2">
                <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="formGrp.invalid" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
