<div class="modal-content">

    <div mat-dialog-title class="modal-header">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title flex-align-items">Aircraft 
            <span *ngIf="mac && mac.macId" class="card-subtitle-1 px-1" >№ {{mac.macId}}</span>
            <span *ngIf="!mac || !mac.macId" class="card-subtitle-1" >Create</span>
            
            <div class="flex-align-items" *ngIf="mfr">
                <span *ngIf="mfr" class="card-subtitle-1 pe-1" >{{mfr.mfrName}}, </span>
                <span *ngIf="mfr" class="card-subtitle-1 pe-1" >{{mfr.iata}}</span>
            </div>
            <div class="flex ms-2" *ngIf="mac">
                <ams-img-link *ngIf="mac.wikiUrl" type="wiki mx-2" [url]="mac.wikiUrl"></ams-img-link>
            </div>
            <div class="flex-end image-120">
                <img *ngIf="mfr" class="card-subtitle-1 mb-1" src="{{mfr.logoUrl}}" alt="{{mfr.iata}}"/>
            </div>
        </div>
    </div>

    <mat-dialog-content class="modal-body p-0" style="min-height: 440px;">
        <form class="flex-column w-100" [formGroup]="formGrp">

            <mat-tab-group  mat-stretch-tabs #formTabs class="m-0 w-100 border-0 border-bottom-0" 
                [selectedIndex]="selTabIdx"
                (selectedIndexChange)="selectedTabChanged($event)">
    
                <!-- -TAB 0 dashboard --> 
                <mat-tab label="Model">
                    <ng-template mat-tab-label>
                        <img class="sx-tabs-icon" [src]="iconsTabOne" alt="AC Model">
                        Model
                    </ng-template>
                    <div class="p-0 w-100">

                        <div class="col-12 flex-align-items pt-2">

                            <div class="col-6 pe-3">
                                <mat-form-field floatLabel="always" class="w-100">
                                    <mat-label>Model</mat-label>
                                    <input matInput  placeholder="Aircraft Model"  formControlName="model" required >
                                    <!--
                                    <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                                    -->
                                    <mat-error *ngIf="model.invalid">{{fError('model')}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-2 px-2 flex-column text-center">
                                <ams-icon-ac-type *ngIf="acTypeId.valid" class="text-center" [acTypeId]="acTypeId.value"></ams-icon-ac-type>
                                <div *ngIf="acTypeId.valid" class="px-1">{{acTypeId.value | actype}}</div>
                            </div>
                            <div class="col-4">
                                <mat-form-field floatLabel="always" class="w-100">
                                    <mat-label>Type</mat-label>
                                    <mat-select name="acTypeId" formControlName="acTypeId">
                                    <mat-option *ngFor="let type of typeOpt" [value]="type.acTypeId" >
                                        <div class="flex-align-items w-100">
                                            <span class="blue pe-3">{{type.name}}</span>
                                            <span *ngIf="type.maxMtowKg" class="blue">{{type.maxMtowKg | mtow }}</span>
                                        </div>
                                    </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-12 flex-align-items pt-2">

                            <div class="col-6 pe-3">
                                <mat-form-field floatLabel="always" class="w-100">
                                    <mat-label>Wikipedia URL</mat-label>
                                    <input matInput  placeholder="Wikipedia Link"  formControlName="wikiUrl" >
                                    <mat-icon matSuffix class="text-grey-500">wb_auto</mat-icon>
                                    <mat-error *ngIf="wikiUrl.invalid">{{fError('wikiUrl')}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-4 pe-3">
                                <mat-form-field floatLabel="always" class="w-100">
                                    <mat-label>Price</mat-label>
                                    <input matInput type="number"  min="1" placeholder="Price"  formControlName="price">
                                    <mat-icon matSuffix class="text-grey-500">euro</mat-icon>
                                    
                                    <mat-error *ngIf="price.invalid">{{fError('price')}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field floatLabel="always" class="w-100">
                                    <mat-label>Range Km</mat-label>
                                    <input matInput type="number"  min="1" placeholder="maxRangeKm"  formControlName="maxRangeKm">
                                    <mat-icon matSuffix class="text-grey-500">network_check</mat-icon>
                                    
                                    <mat-error *ngIf="maxRangeKm.invalid">{{fError('maxRangeKm')}}</mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="col-12 flex-align-items pt-2">

                            <div class="col-6 pe-3">
                                <mat-form-field floatLabel="always" class="w-100">
                                    <mat-label>Powerplant</mat-label>
                                    <input matInput  placeholder="Powerplant"  formControlName="powerplant" >
                                    <mat-icon matSuffix class="text-grey-500">handyman</mat-icon>
                                    <mat-error *ngIf="powerplant.invalid">{{fError('powerplant')}}</mat-error>
                                </mat-form-field>
                            </div>
                            
                            <div class="col-3 pe-3">
                                <mat-form-field floatLabel="always" class="w-100">
                                    <mat-label>Pilots</mat-label>
                                    <input matInput  type="number"  min="1" placeholder="Price"  formControlName="pilots">
                                    <mat-icon matSuffix class="text-grey-500 green">safety_divider</mat-icon>
                                    <mat-error *ngIf="pilots.invalid">{{fError('pilots')}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-3">
                                <mat-form-field floatLabel="always" class="w-100">
                                    <mat-label>Capacity</mat-label>
                                    <input matInput type="number"  min="1" placeholder="IATA"  formControlName="maxSeating">
                                    <mat-icon matSuffix class="text-grey-500 green">reduce_capacity</mat-icon>
                                    <mat-error *ngIf="maxSeating.invalid">{{fError('maxSeating')}}</mat-error>
                                </mat-form-field>
                            </div>
                            
                        </div>

                        <div class="col-12 flex-align-items pt-2">

                            <div class="col-8 pe-3" >
                                <mat-form-field floatLabel="always" class="w-100">
                                    <mat-label>Notes</mat-label>
                                    <textarea matInput formControlName="notes" rows="2" type="text" class="form-control"></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field floatLabel="always" class="w-100">
                                    <mat-label>AMS Status</mat-label>
                                    <mat-select name="amsStatus" formControlName="amsStatus">
                                    <mat-option *ngFor="let ams of amsStatusOpt" [value]="ams.id">
                                        {{ams.name}}
                                    </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
            
                            
                        </div>

                    </div>
                
                </mat-tab>
    
            <!-- -TAB 1 City --> 
            <mat-tab label="Aircrafts">
                <ng-template mat-tab-label>
                    <img class="sx-tabs-icon" [src]="iconsTabOTwo" alt="AC Parameters">
                    Aircrafts
                </ng-template>
                <div class="p-0 w-100">
                    <h5 class="subtitle pt-2">Cruise</h5>
                    <div class="col-12 flex-align-items">

                        <div class="col-4 pe-3">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Cruise Speed Kmph</mat-label>
                                <input matInput type="number"  min="1" placeholder="Cruise Speed"  formControlName="cruiseSpeedKmph">
                                <mat-icon matSuffix class="text-grey-500">speed</mat-icon>
                                
                                <mat-error *ngIf="cruiseSpeedKmph.invalid">{{fError('cruiseSpeedKmph')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Cruise Altitude M</mat-label>
                                <input matInput type="number"  min="1" placeholder="Price"  formControlName="cruiseAltitudeM">
                                <mat-icon matSuffix class="text-grey-500">expand</mat-icon>
                                
                                <mat-error *ngIf="cruiseAltitudeM.invalid">{{fError('cruiseAltitudeM')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-6"></div>
        
                    </div>

                    <h5 class="subtitle pt-2">Take Off and Landing</h5>

                    <div class="col-12 flex-align-items">

                        <div class="col-3 pe-3">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Takeoff Distance M</mat-label>
                                <input matInput type="number"  min="1" placeholder="Takeoff Distance M"  formControlName="takeOffM" >
                                <mat-icon matPrefix class="text-grey-500 blue">flight_takeoff</mat-icon>
                                
                                <mat-error *ngIf="takeOffM.invalid">{{fError('takeOffM')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-3 pe-3">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Max Take Off Weight Kg</mat-label>
                                <input matInput type="number"  min="1" placeholder="Maximum Takeoff Weight"  formControlName="maxTakeOffKg" >
                                
                                <mat-error *ngIf="maxTakeOffKg.invalid">{{fError('maxTakeOffKg')}}</mat-error>
                            </mat-form-field>
                        </div>
                        
                        <div class="col-3 pe-3">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Landing Distance M</mat-label>
                                <input matInput type="number"  min="1" placeholder="Landing Distance"  formControlName="landingM" >
                                <mat-icon matPrefix class="text-grey-500 blue">flight_land</mat-icon>
                                <mat-error *ngIf="landingM.invalid">{{fError('landingM')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Landing Weight Kg</mat-label>
                                <input matInput type="number"  min="1" placeholder="Maximum Landing Weight	"  formControlName="maxLandingKg" >
                                
                                <mat-error *ngIf="maxLandingKg.invalid">{{fError('maxLandingKg')}}</mat-error>
                            </mat-form-field>
                        </div>
        
                    </div>

                    <div class="col-12 flex-align-items pt-2">

                
                        <div class="col-3 pe-3">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Empty Weight Kg</mat-label>
                                <input matInput type="number"  min="1" placeholder="emptyWeightKg"  formControlName="emptyWeightKg" >
                                <mat-icon matPrefix class="text-grey-500 green">fitness_center</mat-icon>
                                <mat-error *ngIf="emptyWeightKg.invalid">{{fError('emptyWeightKg')}}</mat-error>
                            </mat-form-field>
                        </div>
                        
                        <div class="col-3 pe-3">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Useful Load Kg</mat-label>
                                <input matInput type="number"  min="1" placeholder="loadKg"  formControlName="loadKg" >
                               
                                
                                <mat-error *ngIf="loadKg.invalid">{{fError('loadKg')}}</mat-error>
                            </mat-form-field>
                        </div>
                        
                        <div class="col-3 pe-3">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Fuel Volume L</mat-label>
                                <input matInput type="number"  min="1" placeholder="fuelVolL"  formControlName="fuelVolL" >
                                <mat-icon matPrefix class="text-grey-500 green">local_gas_station</mat-icon>
                                <mat-error *ngIf="fuelVolL.invalid">{{fError('fuelVolL')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Fuel Consumption Lp100km</mat-label>
                                <input matInput type="number"  min="1" placeholder="fuelConsumptionLp100km"  formControlName="fuelConsumptionLp100km" >
                                
                                <mat-error *ngIf="fuelConsumptionLp100km.invalid">{{fError('fuelConsumptionLp100km')}}</mat-error>
                            </mat-form-field>
                        </div>
        
                    </div>

                </div>
                
                
            </mat-tab>
           
            <!-- -TAB 1 City --> 
            <mat-tab label="Production">
                <ng-template mat-tab-label>
                    <mat-icon class="mr-2 green">production_quantity_limits</mat-icon>
                    Production
                </ng-template>
                <div class="p-0 w-100">

                    <h5 class="subtitle pt-2">Operation</h5>
                    <div class="col-12 flex-align-items">

                        <div class="col-3 pe-3">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Cost Per Flight Hour</mat-label>
                                <input matInput type="number"  min="1" placeholder="costPerFh"  formControlName="costPerFh">
                                
                                <mat-error *ngIf="costPerFh.invalid">{{fError('costPerFh')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-3 pe-3">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Operation Time Min</mat-label>
                                <input matInput type="number"  min="1" placeholder="operationTimeMin"  formControlName="operationTimeMin" >
                                
                                <mat-error *ngIf="operationTimeMin.invalid">{{fError('operationTimeMin')}}</mat-error>
                            </mat-form-field>
                        </div>
                        
                        <div class="col-3 pe-3">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Popularity</mat-label>
                                <input matInput type="number"  min="1" placeholder="popularity"  formControlName="popularity" >
                                
                                <mat-error *ngIf="popularity.invalid">{{fError('popularity')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>ASMI Rate</mat-label>
                                <input matInput type="number"  min="1" placeholder="asmiRate"  formControlName="asmiRate" >
                                
                                <mat-error *ngIf="asmiRate.invalid">{{fError('asmiRate')}}</mat-error>
                            </mat-form-field>
                        </div>
                        
        
                    </div>
                    <h5 class="subtitle pt-2">Production Start Date and Production Rate</h5>
                    <div class="col-12 flex-align-items">
                        <div class="col-3 pe-3">
                            <mat-form-field class="w-100" appearance="fill">
                                <mat-label>Production Start</mat-label>
                                <input matInput [matDatepicker]="picker" formControlName="productionStart">
                                <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                              </mat-form-field>
                        </div>
                       
                        <div class="col-3">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Production Rate H</mat-label>
                                <input matInput type="number"  min="1" placeholder="productionRateH"  formControlName="productionRateH" >
                                <mat-icon matSuffix class="text-grey-500">miscellaneous_services</mat-icon>
                                
                                <mat-error *ngIf="productionRateH.invalid">{{fError('productionRateH')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-6"></div>
                    </div>

                </div>
                
                
            </mat-tab>
                    
        </mat-tab-group>
            <!--
            <input type="hidden"  formControlName="userId" [value]="userId">
            -->
    
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end mr-2">
                <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="formGrp.invalid" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
