<div class="sxtable-container-tail-400">
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary" class="pl-2 pe-2">
            <div class="flex-align-items flex-space-between w-100 white h64">
                <div class="flex-start flex-align-items-end">
                    <div class="pl-1">Flight Queue:</div>
                    <span  class="pl-2 semi-bold">{{dataCount | number:'1.0-0'}}</span>
                    <span *ngIf="dataCount !== 1" class="pl-1">Flights</span>
                    <span *ngIf="dataCount == 1" class="pl-1">Flight</span>
                </div>
                <div class="flex-end white h64">
                    <!--
                    <sx-button-round 
                        (click)="addCabin()"
                        [disabled]="!canEdit"
                        message="Add Cabin Configuration"
                        icon="add"
                        class="mr-3"
                       > 
                    </sx-button-round>
                    -->

                    <button *ngIf="dataCount>0" mat-icon-button class="mr-2"
                        matTooltip="Open Map"
                        matTooltipPosition="above" (click)="spmMapOpen()">
                        <mat-icon>map</mat-icon>
                    </button>

                    <mat-form-field floatLabel="always" appearance="fill" class="white size-12">
                        <mat-label class="white"><mat-icon>filter_list_alt</mat-icon> <i> filter</i></mat-label>
                        <input matInput (keyup)="applyFilter($event)" class="white">
                    </mat-form-field>
    
                    <sx-button-flat 
                        (click)="refreshClick()" 
                        position="left" 
                        message="Reload Data"
                        icon="refresh" 
                        color="dark"
                        class="mr-0 ml-3">
                    </sx-button-flat>
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">

            <ng-container matColumnDef="flId">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-100">
                    <div class="flex-align-items w-100 ps-2 text-left white" >Flight</div></th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100">
                    <div class="flex-align-items w-100 p-1">
                            <ams-icon-flight-type class="blue" [flType]="row.flTypeId" (click)="spmFlqOpen(row)"></ams-icon-flight-type>
                            <div class="flex ml-1">{{row.depApCode}}</div>
                            <div class="flex ml-1">-</div>
                            <div class="flex ml-1"  matTooltip="Transport {{row.flDescription}}"
                            matTooltipPosition="above">{{row.arrApCode}}</div>
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="acId">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-60 white">Aircraft</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60">
                    <div class="flex-align-items w-100 pt-2 pb-2">
                        <div *ngIf="row.acImgTableUrl" class="icon-value" matTooltip="Aircraft: {{row.acRegNr}}">
                            <img src="{{row.acImgTableUrl}}" alt="{{row.acId}}"/>
                        </div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="payloads">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-100 white">Payload</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100">
                    <ams-card-payload-sum [payloads]="row.payloads"></ams-card-payload-sum>
                </td>
            </ng-container>
            <ng-container matColumnDef="etdTime">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60 text-right">
                    <div class="flex-align-items w-100 ps-4 text-right" 
                        matTooltip="Estimated Time of Departure (ETD)"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >flight_takeoff</mat-icon>
                        <!--
                        <img src="{{seatsEImgUrl}}" alt="Cargo" class="mr-2"/>
                        -->
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100">
                    <div class="flex-align-items w-100 p-1">
                        <!-- icon="timelapse" -->
                        <ams-icon-value *ngIf="row.etdTime" class="blue"
                            pipe="datetime" 
                            [value]="row.etdTime" label="Departure at">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="etaTime">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60 text-right">
                    <div class="flex-align-items w-100 ps-4 text-right" 
                        matTooltip="Estimated Time of Arrival (ETA)"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >flight_land</mat-icon>
                        <!--
                        <img src="{{seatsEImgUrl}}" alt="Cargo" class="mr-2"/>
                        -->
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100">
                    <div class="flex-align-items w-100 p-1">
                        <!-- icon="timelapse" -->
                        <ams-icon-value *ngIf="row.etaTime" class="blue"
                            pipe="datetime" 
                            [value]="row.etaTime" label="Arrival at">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="distanceKm">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60 text-right">
                    <div class="flex-align-items w-100 ps-4 text-right" 
                        matTooltip="Distance"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >travel_explore</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60">
                    <div class="flex-align-items w-100 p-1">
                        <!-- icon="timelapse" -->
                        <ams-icon-value *ngIf="row.distanceKm" 
                            pipe="lenkm" 
                            [value]="row.distanceKm" label="Distance">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="remainTimeMin">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60 text-right">
                    <div class="flex-align-items w-100 ps-4 text-right" 
                        matTooltip="Flight Time"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >timelapse</mat-icon>
                        <!--
                        <img src="{{seatsEImgUrl}}" alt="Cargo" class="mr-2"/>
                        -->
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60">
                    <div class="flex-align-items w-100 p-1">
                        <!-- icon="timelapse" -->
                        <ams-icon-value *ngIf="row.remainTimeMin" class="blue"
                            pipe="periodmin" 
                            [value]="row.remainTimeMin" label="Flight Time">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="flDescription">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80 white">Description</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80">
                    <div class="flex-align-items w-100 p-1">
                        <div  class="block w-100 text-left ellipsis" 
                            matTooltip="{{row.flDescription}} " 
                            matTooltipPosition="above" >
                            {{row.flDescription}}
                        </div>
                    </div>
                </td>
            </ng-container>
            
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt"
        hidePageSize="true"
        [showFirstLastButtons]="true"  >
    </mat-paginator>
</div>