<div class="modal-content">

    <div mat-dialog-title class="modal-header">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title flex-align-items">Airport 
            <span *ngIf="airport && airport.apId" class="card-subtitle-1 ml-2" >№ {{airport.apId}}</span>
            <span *ngIf="!airport || !airport.apId" class="card-subtitle-1 ml-2" >Create</span>
            <div class="flex-align-items image-16 ml-4" *ngIf="airport">
                <ams-img-link *ngIf="airport.homeUrl" type="home" [url]="airport.homeUrl" class="ml-2"></ams-img-link>
                <ams-img-link *ngIf="airport.wikiUrl" type="wiki" [url]="airport.wikiUrl" class="ml-2"></ams-img-link>
                <ams-img-link *ngIf="airport.icao" type="oa" [ap_icao]="airport.icao" class="ml-2"></ams-img-link>
            </div>
            <div class="flex-align-items image-16 ml-4" *ngIf="city">
                <img *ngIf="country" class="card-subtitle-1 mb-1"  src="{{country.flagUrl}}" alt="{{country.iso2}}"/>
                <span *ngIf="city" class="card-subtitle-1 ml-2" >{{city.ctName}}, </span>
                
                <span *ngIf="country" class="card-subtitle-1 ml-2" >{{country.iso2}}</span>
            </div>
        </div>
    </div>

    <mat-dialog-content class="modal-body">
        <form class="" [formGroup]="formGrp">
            <!--
                d-flex flex-column
            <input type="hidden"  formControlName="userId" [value]="userId">
            -->
            <div class="col-12 flex-align-items p-0">

                <div class="col-5 pe-2">
                    <mat-form-field class="w-100" floatLabel="auto" shouldLabelFloat="true">
                        <mat-label for="apName" >Airport Name</mat-label>
                        <input matInput  placeholder="Airport Name" aria-label="Airport Name" 
                            [formControl]="apNameFc" name="apName" required >
                        <!--
                            floatLabel="always" shouldLabelFloat="true"
                           
                        <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                        -->
                        <mat-error *ngIf="apNameFc.invalid">{{fError('apName')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-2 pe-2">
                    <mat-checkbox class="m-0 p-0" formControlName="active" color="primary" labelPosition="before">Active</mat-checkbox>
                </div>
                <div class="col-2 pe-2">
                    <mat-form-field class="w-100">
                        <mat-label for="iata">IATA</mat-label>
                        <input matInput  placeholder="IATA"  aria-label="IATA" formControlName="iata" name="iata">
                        <mat-icon matSuffix class="text-grey-500 green">api</mat-icon>
                        <mat-error *ngIf="iata.invalid">{{fError('iata')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-3 pe-0">
                    <mat-form-field class="w-100">
                            <mat-label for="icao">ICAO</mat-label>
                        <input matInput  placeholder="ICAO"  formControlName="icao" required>
                        <mat-icon matSuffix class="text-grey-500 blue">contactless</mat-icon>
                        <mat-error *ngIf="icao.invalid">{{fError('icao')}}</mat-error>
                    </mat-form-field>
                </div>
                
            </div>
            <div class="col-12 flex-align-items p-0">
                <div class="col-6 pe-2" >
                    <mat-form-field class="w-100">
                        <input matInput placeholder="City" aria-label="City"
                            [matAutocomplete]="cityAuto"
                            name="apCity"
                            [formControl]="apCityFc">
                        <mat-icon matSuffix  class="text-grey-500">public</mat-icon>    
                        <mat-autocomplete #cityAuto="matAutocomplete" 
                            [displayWith]="displayCity" 
                            (optionSelected)="apCityChange($event)">
                        <mat-option *ngFor="let option of citiesOpt | async"  [value]="option">
                            <div class="flex flex-align-items">
                                <mat-icon class="text-blue mr-4">public</mat-icon>
                                <div class="text-blue mr-4">{{option.ctName}}</div>
                                <div class="text-blue">({{option.population | number:'1.0-0'}})</div>
                            </div>
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-1 pe-2"></div>
                <div class="col-3 pe-2">
                    <mat-form-field class="w-100">
                            <mat-label for="typeId">Type</mat-label>
                        <mat-select name="typeId" formControlName="typeId"
                            placeholder="Type" aria-label="Type">
                          <mat-option *ngFor="let ams of typeOpt" [value]="ams.id">
                            {{ams.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                
                <div class="col-2 pe-0">
                    <mat-form-field class="w-100">
                            <mat-label for="baseTypeId">Base Type</mat-label>
                        <mat-select name="baseTypeId" formControlName="baseTypeId"
                        placeholder="Base Type" aria-label="Base Type">
                          <mat-option *ngFor="let ams of typeOpt" [value]="ams.id">
                            {{ams.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div>

            <div class="col-12 flex-align-items p-0">
                <div class="col-3 pe-2">
                    <mat-form-field class="w-100" >
                        <mat-label for="lat">Latidude</mat-label>
                        <input matInput type="number"  placeholder="Latitude" aria-label="Latitude"  
                            formControlName="lat" name="lat" required>
                        <mat-icon matSuffix class="text-grey-500">location_on</mat-icon>
                        <mat-error *ngIf="lat.invalid">{{fError('lat')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-3 pe-2">
                    <mat-form-field class="w-100">
                        <mat-label for="lon">Longitude</mat-label>
                        <input matInput type="number"  placeholder="Longitude" aria-label="Longitude"  
                        formControlName="lon" name="lon" required>
                        <mat-icon matSuffix class="text-grey-500">location_on</mat-icon>
                        <mat-error *ngIf="lon.invalid">{{fError('lon')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-1 pe-2"></div>
                <div class="col-3 pe-2">
                    <mat-form-field class="w-100">
                        <mat-label for="elevation">Elevation</mat-label>
                        <input matInput type="number"  placeholder="Elevation" aria-label="Elevation"  
                            formControlName="elevation" required>
                        <mat-icon matSuffix class="text-grey-500">upgrade</mat-icon>
                        <mat-error *ngIf="elevation.invalid">{{fError('elevation')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-2 pe-0">
                    <mat-form-field  class="w-100">
                        <mat-label for="utc">UTC</mat-label>
                        <input matInput type="number"  min="-12" max="12" 
                        placeholder="UTC"  aria-label="UTC"
                        formControlName="utc" required>
                        <span matTextSuffix>&nbsp;h</span>
                        <mat-icon matSuffix class="text-grey-500">timer</mat-icon>
                        <mat-error *ngIf="utc.invalid">{{fError('utc')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <!--
            <h5 class="mb-0 pt-1">Location</h5>
            -->
            <!--
            <h5 class="mb-0 pt-2">Links</h5>
            -->
            <div class="col-12 flex-align-items w-100 p-0">

                <div class="col-6 pe-2">
                    <mat-form-field floatLabel="auto" class="col-12">
                            <mat-label for="wikiUrl">Wikipedia URL</mat-label>
                        <input matInput  placeholder="Wikipedia Link" aria-label="Wikipedia Link" 
                            formControlName="wikiUrl" name="wikiUrl" >
                        <mat-icon matSuffix class="text-grey-500">wb_auto</mat-icon>
                        <mat-error *ngIf="wikiUrl.invalid">{{fError('wikiUrl')}}</mat-error>
                    </mat-form-field>
                    <mat-form-field floatLabel="auto" class="col-12">
                        <mat-label for="homeUrl">Home URL</mat-label>
                        <input matInput  placeholder="Airport Web Page Link" aria-label="Airport Web Page Link" 
                        formControlName="homeUrl" name="homeUrl">
                        <mat-icon matSuffix class="text-grey-500 blue">pageview</mat-icon>
                        <mat-error *ngIf="homeUrl.invalid">{{fError('homeUrl')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-3 pe-2">
                    <mat-form-field floatLabel="auto" appearance="fill" class="col-12 mt-1">
                        <mat-label for="notes">Notes</mat-label>
                        <textarea matInput formControlName="notes" type="text" 
                            placeholder="notes" aria-label="notes"
                            rows="4" class="form-control"></textarea>
                    </mat-form-field>
                </div>
                
                <div class="col-3 pe-0">
                    <mat-form-field floatLabel="auto" class="col-12">
                            <mat-label for="amsStatus">AMS Status</mat-label>
                        <mat-select name="amsStatus" formControlName="amsStatus"
                            placeholder="AMS Status" aria-label="AMS Status">
                          <mat-option *ngFor="let ams of amsStatusOpt" [value]="ams.id">
                            {{ams.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      <mat-form-field floatLabel="auto" class="col-12">
                        <mat-label for="wadStatus">WAD Status</mat-label>
                    <mat-select name="wadStatus" formControlName="wadStatus"
                        placeholder="WAD Status" aria-label="WAD Status">
                      <mat-option *ngFor="let wad of wadStatusOpt" [value]="wad.id">
                        {{wad.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

            </div>
            <!--
            <div class="col-12 flex-align-items w-100 p-0">
                <div class="col-6 pe-2">
                    
                </div>
                <div class="col-4 pe-0">
                   
                </div>
            </div>
            <div class="col-12 flex-align-items w-100 p-0">
                <div class="col-12 p-0" >
                    
                </div>
                
            </div>
        -->
    
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end mr-2">
                <button *ngIf="!hasSpinner" mat-stroked-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-flat-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="formGrp.invalid" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
