<div class="chart-container" >
    <canvas baseChart 
        [type]="'pie'"
        [datasets]="chartData"
        [labels]="chartLabels"
        [options]="chartOptions"
        
        [legend]="legend"
        (chartClick)="onChartClick($event)">
    </canvas>
  </div>
  <!--  [style]="styleSize" -->
  <!-- [colors]="chartColors" -->