 <!-- Title -->
 <div class="title-container">
    <div class="modal-title">COUNTRY DETAIL</div>
</div>
<hr class="mb-0">
<div *ngIf="!country">No Data</div>

 <div class="m-0 row overlay-blue">
    <div class="col-12 m-0 p-0 white">
        <div class="side-panel-sec" *ngIf="country">
            <div class="side-panel-sec-rows">
                <div class="sp-row">
                    <div class="sp-label" matTooltip="Name">Name</div>
                        <div class="sp-value">
                        <div class="flex-align-items">
                            <span>{{country?.cName}}</span>
                            <ams-img-link *ngIf="country && country.wikiUrl" 
                                type="wiki" [url]="country.wikiUrl" class="ml-2">
                            </ams-img-link>
                            <ams-img-link *ngIf="country && country.iso2" 
                                type="oa" [url]="ourApUrl" class="ml-2"
                                matTooltip="See Our Airport Info">
                            </ams-img-link>
                        </div>
                    </div>
                </div>
                <sx-side-panel-row-value label="ISO 2" [value]="country.iso2"></sx-side-panel-row-value>
                <sx-side-panel-row-value label="ISO 3" [value]="country.iso3"></sx-side-panel-row-value>
                <sx-side-panel-row-value label="ID" value="{{country.countryId | number:'1.0-0' | nocoma}}"></sx-side-panel-row-value>
            </div>
        </div><!-- sec end -->
        <div class="side-panel-sec" *ngIf="state">
            <div class="side-panel-sec-title yellow">Statistics</div>
            <div class="side-panel-sec-rows">
                <sx-side-panel-row-value label="Cities" [value]="state.cities"></sx-side-panel-row-value>
                <sx-side-panel-row-value label="Airports" [value]="state.airports"></sx-side-panel-row-value>
                <sx-side-panel-row-value label="Active" [value]="state.apActive"></sx-side-panel-row-value>
            </div>
            
        </div> <!-- sec end-->
    </div>
</div>

<div class="mt-2">
    
</div> 
