<ts-sx-navbar (snavToggle)="snavToggleClick()" >
    <ams-flight-plan-menu-main></ams-flight-plan-menu-main>
</ts-sx-navbar>

<mat-sidenav-container>
    <mat-sidenav #snav [mode]="snavmode"  opened fixedTopGap="64">
        <sx-sidebar-nav #sxSide></sx-sidebar-nav>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <div class="ams-content" >
            
            <router-outlet></router-outlet>
           
            <ams-side-panel-modal #spmAircraft (closeSmpClick)="spmAircraftClose()">
                <ams-spm-aircraft-info [aircraft]="spmAircraftObj"></ams-spm-aircraft-info>
            </ams-side-panel-modal>
            <ams-side-panel-modal #spmFleCharter (closeSmpClick)="spmFleCharterClose()">
                <ams-spm-fle-charter [flight]="spmFleCharterObj"></ams-spm-fle-charter>
            </ams-side-panel-modal>
            <ams-side-panel-modal #spmFlq (closeSmpClick)="spmFlqClose()">
                <ams-spm-fl-queue [flight]="spmFlqObj"></ams-spm-fl-queue>
            </ams-side-panel-modal>
        </div>
    </mat-sidenav-content>
        
</mat-sidenav-container>
