<div class="sxtable-container-tab">
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary" class="pl-2 pe-2">
            <div class="flex-align-items flex-space-between w-100 white h64">
                <div class="flex-start flex-align-items-end h64">
                    <span  class="ps-2 semi-bold">{{dataCount | number:'1.0-0'}}</span>
                    <span *ngIf="dataCount !== 1" class="ps-2">Groups</span>
                    <span *ngIf="dataCount == 1" class="ps-2">Groups</span>
                </div>
                <div class="flex-end h64">
                    
                    <button mat-icon-button class="me-4 yellow"  
                        matTooltip="Add Group"
                        matTooltipPosition="above" (click)="addGroupClick()">
                        <mat-icon>add_circle</mat-icon>
                    </button>

                    <mat-form-field floatLabel="always" appearance="fill" class="white size-12">
                        <mat-label class="white"><mat-icon>filter_list_alt</mat-icon><i>filter</i></mat-label>
                        <input matInput (keyup)="applyFilter($event)" class="white" type="text" [(ngModel)]="filter">
                        @if (filter) {
                            <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
                              <mat-icon class="white size-12">close</mat-icon>
                            </button>
                          }
                    </mat-form-field>
                    
                    <button mat-icon-button class="me-1 white"
                        matTooltip="Reload Data"
                        matTooltipPosition="above" (click)="refreshClick()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                    
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">

            <ng-container matColumnDef="grpId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-120-sort text-right"> Nr</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120-sort text-right">
                    <div class="flex-align-items w-100">
                        <div class="flex-align-items flex-start">
                            <button mat-icon-button class="blue me-1"
                                matTooltip="Edit Group"
                                matTooltipPosition="above" (click)="editGroupClick(row)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button  mat-icon-button class="red"
                                matTooltip="Delete Group"
                                matTooltipPosition="above" (click)="deleteGroupClick(row)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                        <div class="flex-end"  matTooltip="Flight Group ID: {{row.grpId}}"
                            matTooltipPosition="above">{{row.grpId}}
                        </div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="grpName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-140-sort text-left">Name</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-140-sort text-left">
                    <div class="flex-start w-100">
                            {{row.grpName}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="alId" >
                <th mat-header-cell *matHeaderCellDef class="txt-ell-120 text-left">Airline</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120-sort text-left">
                    <ams-al-livery [alId]="row.alId" tooltip="Airline"></ams-al-livery>
                </td>
            </ng-container>
            <ng-container matColumnDef="acIdPrototype">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80 text-left">Aicraft Type</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80 text-left">
                    <ams-icon-ac-type [acTypeId]="row.acTypeId"></ams-icon-ac-type>
                </td>
            </ng-container>
            <ng-container matColumnDef="acId">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80 text-left">Aicraft</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80 text-left">
                    <ams-acid-img class="flex-start w-100" [acId]="row.acId"></ams-acid-img>
                </td>
            </ng-container>
            <ng-container matColumnDef="apId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-120-sort  text-left">Hub Airport</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120-sort  text-left">
                    <ams-icon-ap-code [apId]="row.apId" [showName]="true" class="flex-start"></ams-icon-ap-code>
                </td>
            </ng-container>
            <ng-container matColumnDef="isActive" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-60-sort  text-center">Active</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort  text-center">
                    <div class="flex-align-items w-100 text-center">
                        <ams-icon-bool [value]="row.isActive"></ams-icon-bool>
                    </div>
                </td>
            </ng-container>
            
            
            <ng-container matColumnDef="minRunwayM">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-80-sort text-right white">
                    <div class="flex-end w-100" 
                        matTooltip="Minimum runway lenght" matTooltipPosition="above" >
                        <mat-icon class="white">settings_ethernet</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <ams-icon-value *ngIf="row.minRunwayM" 
                        class="flex-end"
                        pipe="len" 
                        [value]="row.minRunwayM" label="Min Runway Lenght">
                    </ams-icon-value>
                </td>
            </ng-container>
            <ng-container matColumnDef="maxRangeKm">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-80-sort text-right white">
                    <div class="flex-end w-100" 
                        matTooltip="Range" matTooltipPosition="above" >
                        <mat-icon class="white">network_check</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <ams-icon-value *ngIf="row.maxRangeKm" 
                        class="flex-end"
                        pipe="nmi" 
                        [value]="row.maxRangeKm" label="Range">
                    </ams-icon-value>
                </td>
            </ng-container>
            <ng-container matColumnDef="cruiseSpeedKmph">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-80-sort text-right white">
                    <div class="flex-end w-100" 
                        matTooltip="Cruise Speed" matTooltipPosition="above" >
                        <mat-icon class="white">speed</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <ams-icon-value *ngIf="row.cruiseSpeedKmph" 
                        class="flex-end"
                        pipe="speed" 
                        [value]="row.cruiseSpeedKmph" label="Cruise Speed">
                    </ams-icon-value>
                </td>
            </ng-container>
            <ng-container matColumnDef="fuelConsumptionLp100km">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-80-sort text-right white">
                    <div class="flex-end w-100" 
                        matTooltip="Fuel Consumption" matTooltipPosition="above" >
                        <mat-icon class="white">local_gas_station</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <ams-icon-value *ngIf="row.fuelConsumptionLp100km" 
                        class="flex-end"
                        pipe="lpkm" 
                        [value]="row.fuelConsumptionLp100km" label="Fuel Consumption">
                    </ams-icon-value>
                </td>
            </ng-container>
           
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        hidePageSize="false"
        [showFirstLastButtons]="true"  >
    </mat-paginator>
</div>
    
