.map {
  &-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;

    &-tab {
      @extend .map-container;
      height: calc(100vh - 122px) !important;
      margin: 5px;
    }

    &-spm {
      @extend .map-container;
      height: calc(100vh - 50px) !important;
      margin: 0px;
    }

    &-root {
      @extend .map-container;
      height: 230px !important;
      margin: 0px;
    }

    &-body {
      @extend .map-container;
      height: calc(100vh - 64px) !important;
      width: 100%;
      margin: 0px;
    }
  }

  &-frame {
    border: 2px solid black;
    height: 100%;
    width: 100%;
  }

}

.root {

  &-map {
    position: relative;
    padding: 0px;
    margin: opx;
    width: 100%;
    height: 100%;
  }
}

#map,
#dashboardMap,
#rmap,
#apRouteMap,
#grpmap {
  height: 100%!important;
  width: 100%;
}
.leaflet{
  &-container{
    @extend .leaflet-container;
    width: 100%;
    height: 100%;
  }
}

.leaflet-popup-content {
  min-width: 230px !important;

  .material-icons {
    color: $blue-main;

    //padding: 0px 4px;
    &:hover {
      color: $yellow-main;
      cursor: pointer;
    }

    &:focus {
      color: $yellow-main;
    }
  }
}

.leaflet-control-layers-list {
  text-align: left;
}

circle {
  text .material-icons {
    @extend .material-icons;
    font-size: 18px !important;
  }
}

.l-icon-material .material-icons {
  font-size: 17px;
}

.map-flpn-label,
.leaflet-tooltip.my-labels {
  background-color: rgb(0, 0, 0, 0.3);
  border: transparent;
  box-shadow: none;
  font-weight: 300;
  font-size: 12px;
  color: rgb(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 50%;
  &:hover {
    background-color: rgb(0, 0, 0, 1);
    color: rgb(255, 255, 255, 1);
    cursor: pointer;
  }
}