<div class="modal-content">

    <div mat-dialog-title class="modal-header">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title flex-align-items">Country 
            <span *ngIf="country && country.countryId" class="card-subtitle-1 ml-2" >№ {{country.countryId}}</span>
            <span *ngIf="!country || !country.countryId" class="card-subtitle-1 ml-2" >Create</span>
            <div class="flex-align-items image-16 ml-4" *ngIf="country">
                <img *ngIf="country.flagUrl" src="{{country.flagUrl}}" alt="{{country.iso2}}"/>
                <ams-img-link *ngIf="country.wikiUrl" type="wiki" [url]="country.wikiUrl" class="ml-2"></ams-img-link>
                <img *ngIf="country.imageUrl" src="{{country.imageUrl}}" alt="{{country.iso2}}" class="ml-2"/>
            </div>
        </div>
    </div>

    <mat-dialog-content class="modal-body">
        <form class="flex-column" [formGroup]="formGrp">
            <!--
            <input type="hidden"  formControlName="userId" [value]="userId">
            -->
            <div class="col-12 flex-align-items w-100 p-0">

                
                <div class="col-7 px-2">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Name</mat-label>
                        <input matInput  placeholder="Country Name"  formControlName="cName" required >
                        <!--
                        <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                        -->
                        <mat-error *ngIf="cName.invalid">{{fError('cName')}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-3 px-2">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>ISO 3</mat-label>
                        <input matInput  placeholder="ISO 3 Code"  formControlName="iso3" >
                        <mat-icon matSuffix class="text-grey-500">qr_code</mat-icon>
                        <mat-error *ngIf="iso3.invalid">{{fError('iso3')}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-2 px-2">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>ISO 2</mat-label>
                        <input matInput  placeholder="ISO 2 Code"  formControlName="iso2" required>
                        <mat-icon matSuffix class="text-grey-500">qr_code_2</mat-icon>
                        <mat-error *ngIf="iso2.invalid">{{fError('iso2')}}</mat-error>
                    </mat-form-field>
                </div>
                
                
            </div>
            <h5 class="mb-0 pt-2">Wikipedia URL link and Codes</h5>
            <div class="col-12 flex-align-items w-100 p-0">

                <div class="col-7 px-2">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Wikipedia URL</mat-label>
                        <input matInput  placeholder="Wikipedia Link"  formControlName="wikiUrl" >
                        <mat-icon matSuffix class="text-grey-500">wb_auto</mat-icon>
                        <mat-error *ngIf="wikiUrl.invalid">{{fError('wikiUrl')}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-2 px-2">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Code</mat-label>
                        <input matInput  placeholder="Country Code"  formControlName="cCode" >
                        <mat-icon matSuffix class="text-grey-500">code</mat-icon>
                        <mat-error *ngIf="cCode.invalid">{{fError('cCode')}}</mat-error>
                    </mat-form-field>
                </div>

                

                <div class="col-3 px-2">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>ICAO</mat-label>
                        <input matInput  placeholder="Civil aircraft registration country code prefix"  formControlName="icao" >
                        <mat-icon matSuffix class="text-grey-500">airplanemode_active</mat-icon>
                        <mat-error *ngIf="icao.invalid">{{fError('icao')}}</mat-error>
                        <mat-hint class="p-0">Civil aircraft registration country code prefix</mat-hint>
                    </mat-form-field>
                </div>

            </div>

            <h5 class="mb-0 pt-2">Image and Status</h5>
            <div class="col-12 flex-align-items w-100 p-0">
                
                <div class="col-7 px-2">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Image URL</mat-label>
                        <input matInput  placeholder="Background Image URL"  formControlName="imageUrl" >
                        <mat-icon matSuffix class="text-grey-500">collections</mat-icon>
                        <mat-error *ngIf="cCode.invalid">{{fError('imageUrl')}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-3 px-2">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>AMS Status</mat-label>
                        <mat-select name="amsStatus" formControlName="amsStatus">
                          <mat-option *ngFor="let ams of amsStatusOpt" [value]="ams.id">
                            {{ams.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>

                <div class="col-2 px-2">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>WAD Status</mat-label>
                        <mat-select name="wadStatus" formControlName="wadStatus">
                          <mat-option *ngFor="let wad of wadStatusOpt" [value]="wad.id">
                            {{wad.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div>
            
    
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-footer justify-content-between">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end px-2">
                <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="formGrp.invalid" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
