<div class="flex-align-items w-100 ellipces flex-space-between">
    <div *ngIf="paxDemandPeriod" class="flex-align-items icon-value col-3 text-right"
        matTooltip="Pax demand for {{periodDays | number:'1.0-0' }} days: {{paxDemandPeriod | number:'1.0-0'}}" 
        matTooltipPosition="above" >
        {{paxDemandPeriod | number:'1.0-0'}}
        <img src="{{seatsEImgUrl}}" alt="Pax" class="ms-1" />
    </div>
    <div *ngIf="cargoDemandPeriodKg" class="flex-align-items icon-value ms-1 col-6 text-right"
        matTooltip="Cargo demand for {{periodDays | number:'1.0-0' }} days: {{cargoDemandPeriodKg | mtow}}" 
        matTooltipPosition="above" >
        {{cargoDemandPeriodKg | mtow}}
        <img src="{{cargoImgUrl}}" alt="Pax" class="ms-1" />
    </div>
    <div *ngIf="periodDays" class="flex-align-items icon-value ms-1 col-3 text-right" 
        matTooltip="Period: {{periodDays | number:'1.0-0' }} days." 
        matTooltipPosition="above" >
        {{periodDays | number:'1.0-0'}}
        <i class="material-icons ms-1" >restore</i>
    </div>
</div>


