<div class="static-container p-0">

    <div class="d-flex flrx-align-items flex-space-between w-100">

      <div class="flex-align-items flex-start ps-2">
        <!--
          <button *ngIf="region" class="btn btn-icon-only btn-text-primary m-l-5" 
            matTooltip="Region: {{region.rName}}"
            matTooltipPosition="above" 
            [routerLink]="[roots.Root, roots.wad, roots.region]"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  >
            <i class="modus-icon material-icons text-primary">public</i>
          </button>
          -->
      </div>

      <div class="flex-align-items flex-end pe-2">
        
        <button mat-icon-button [matMenuTriggerFor]="fp_top_menu" 
          class="link blue">
          <mat-icon>calendar_view_day</mat-icon>
        </button>
        <mat-menu #fp_top_menu="matMenu">
         
          <button mat-menu-item class="link" (click)="refreshAircrafs()">
            <mat-icon>refresh</mat-icon>
            <span>Refresh Aircrafs</span>
          </button>
          <div class="dropdown-divider"></div>
         
        </mat-menu>
        <sx-button-round message="Refresh Airline Data" 
          tooltipPlacement="bottom" (click)="refreshAircrafs()"
          icon="refresh">
        </sx-button-round>
      </div>

    </div>

</div>
<div class="scroll-container-h160 ps-0 pe-2">
    <form class="d-flex flex-column" [formGroup]="acformGrp">
            
        <div class="col-12 flex-align-items w-100">
            
            <mat-form-field floatLabel="always" class="w-100">
                <input matInput placeholder="Select Aircraft"
                    [matAutocomplete]="acCharterAuto"
                    name="aircraftF"
                    formControlName="aircraftF">
                <mat-icon matPrefix  class="text-grey-500">local_airport</mat-icon>   
                <mat-icon matSuffix  class="text-grey-500" (click)="resetAircraftF()">expand_more</mat-icon>     
                <mat-autocomplete #acCharterAuto="matAutocomplete" 
                    [displayWith]="displayAircraft" 
                    (optionSelected)="acValueChange($event)">
                <mat-option *ngFor="let option of aircraftOpt | async"  [value]="option">
                    <div class="flex flex-align-items header">
                        <div class="flex-start flex-align-items">
                            <div *ngIf="option.imgTableUrl" class="icon-value" matTooltip="Aircraft: {{option.registration}}">
                                <img src="{{option.imgTableUrl}}" alt="{{option.acId}}"/>
                            </div>
                        </div>
                        <div *ngIf="option.registration" class="title mr-2">{{option.registration}}</div>
                    </div>
                </mat-option>
                </mat-autocomplete>
            </mat-form-field>
           
        </div>
        <div class="col-12 pe-0 ps-1">
            <ams-card-aircraft-id-row  class="w-100" *ngIf="aircraft;else noAcSelected" [acId]="aircraft.acId"></ams-card-aircraft-id-row>
            <ng-template #noAcSelected >
                <div class="w-100">Please, select an aircraft</div>
            </ng-template>
        </div>
        <div class="col-12 p-0 flex-align-items w-100 mt-3">
          <div class="col-7 p-0 flex-align-items">
            <div class="flex-start flex-align-items" *ngIf="(airport$ | async)"
                    matTooltip="Airport: {{airport.apName}} ({{airport.apId}})" 
                    matTooltipPosition="above" >
                    <ams-icon-ap-active [value]="airport.active"></ams-icon-ap-active>
                    <div class="flex ml-1 ellipsis">{{airport.apName}}</div>
            </div>
            <div class="flex-end" *ngIf="(airport$ | async)">
                <ams-icon-value *ngIf="airport.iata"
                    pipe="iata" class="pr-1"
                    [value]="airport.iata" label="IATA">
                </ams-icon-value>
                <ams-icon-value *ngIf="!airport.iata && airport.icao"
                    pipe="icao"
                    [value]="airport.icao" label="ICAO">
                </ams-icon-value>
            </div>
          </div>

          <div class="col-5 p-0 flex-align-items flex-end">
            <ams-icon-value *ngIf="minEtdTime" class="blue"
                pipe="datetimer"  icon="flight_takeoff"
                [value]="minEtdTime" label="Next Departure at">
            </ams-icon-value>
          </div>

        </div>
        
    </form>
</div>