<div class="modal-content">

    <div mat-dialog-title class="modal-header">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title flex-align-items">Schedule Flight Group 
            <span *ngIf="group && group.grpId" class="card-subtitle-1 ml-2" >№ {{group.grpId}}</span>
            <span *ngIf="!group || !group.grpId" class="card-subtitle-1 ml-2" >Create</span>
        </div>
    </div>

    <mat-dialog-content class="modal-body">
        <form class="d-flex flex-column" [formGroup]="formGrp">
            
            <input type="hidden" [formControl]="grpIdFc" >
            <input type="hidden" [formControl]="alIdFc" >

            <div class="col-12 flex-align-items-top w-100 p-0">
                <div class="col-5 p-0">
                    <mat-form-field class="w-100">
                        <mat-label>Name</mat-label>
                        <input matInput type="text" [formControl]="grpNameFc" name="grpName"  required >
                        <mat-error *ngIf="grpNameFc.invalid">{{fError('grpName')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-2 px-2">
                    <ams-icon-ap-code *ngIf="hub" [apId]="hub.apId" 
                        [showName]="false" 
                        class="flex-end" 
                        [matTooltip]="hub.hubName" 
                        matTooltipPosition="above">
                    </ams-icon-ap-code>
                </div>
                <div class="col-5 p-0">
                    <mat-form-field class="w-100">
                        <mat-label>Hub Airport</mat-label>
                        <input matInput [matAutocomplete]="hubsAuto" [formControl]="hubF">
                        <mat-icon matPrefix  class="text-grey-500">local_airport</mat-icon>   
                        <mat-icon matSuffix  class="text-grey-500" (click)="resethubF()">expand_more</mat-icon>     
                        <mat-autocomplete #hubsAuto="matAutocomplete" 
                            [displayWith]="displayHub" 
                            (optionSelected)="hubValueChange($event)">
                        <mat-option *ngFor="let option of hubsOpt | async"  [value]="option">
                            <div class="flex-column header">
                                <div class="flex-align-items">
                                    <ams-icon-ap-code [apId]="option.apId" [showName]="false" 
                                        class="flex-start" 
                                        matTooltip="Airport" 
                                        matTooltipPosition="above">
                                    </ams-icon-ap-code>
                                </div>
                                <div *ngIf="option.hubName" class="title">{{option.hubName}}</div>
                            </div>
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                
            </div>

            <div class="col-12 flex-align-items-top w-100 p-0">
                <div class="col-5 p-0 flex-align-items ">
                    <button mat-icon-button class="me-1 blue"
                        matTooltip="Reload Data"
                        matTooltipPosition="above" (click)="refreshClick()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </div>
                <div class="col-2 px-2 flex-column text-center">
                    <ams-icon-ac-type *ngIf="aircraft" class="text-center" [acTypeId]="aircraft.acTypeId"></ams-icon-ac-type>
                    <div *ngIf="aircraft" class="px-1">{{aircraft.acTypeId | actype}}</div>
                </div>
                <div class="col-5 p-0">
                    <mat-form-field class="w-100">
                        <mat-label>Main Aircraft Type</mat-label>
                        <input matInput [matAutocomplete]="acAuto" [formControl]="acIdPrototypeFc">
                        <mat-icon matPrefix  class="text-grey-500">local_airport</mat-icon>   
                        <mat-icon matSuffix  class="text-grey-500" (click)="resetAircraftF()">expand_more</mat-icon>     
                        <mat-autocomplete #acAuto="matAutocomplete" 
                            [displayWith]="displayAircraft" 
                            (optionSelected)="acValueChange($event)">
                        <mat-option *ngFor="let option of aircraftOpt | async"  [value]="option">
                            <div class="flex flex-align-items header">
                                <div class="flex-start flex-align-items">
                                    <div *ngIf="option.imgTableUrl" class="icon-value" matTooltip="Aircraft: {{option.registration}}">
                                        <img src="{{option.imgTableUrl}}" alt="{{option.acId}}"/>
                                    </div>
                                </div>
                                <div *ngIf="option.registration" class="title mr-2">{{option.registration}}</div>
                            </div>
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                
            </div>
            <div class="col-12 flex-align-items-top w-100 p-0">
                <div class="col-2 p-0">
                    <mat-checkbox class="m-0 p-0" [formControl]="activeFc" 
                        color="primary" labelPosition="before" [disabled]="!acSchedule">
                        Active
                    </mat-checkbox>
                </div>
                <div class="col-3 p-0">
                    <mat-form-field class="w-100">
                        <!-- [ngxMatDatetimePicker]="picker" -->
                        <input matInput [matDatepicker]="picker"  placeholder="Active From" name="startDate" [formControl]="startDateFc">
                        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <!--
                        <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
                            color="primary"
                            [touchUi]="false"  [enableMeridian]="true" 
                            [disableMinute]="true" [hideTime]="true">
                        </ngx-mat-datetime-picker>
                        -->
                    </mat-form-field>
                    
                </div>
                <div class="col-2 px-2 flex-column text-center">
                    <ams-acid-img *ngIf="acSchedule" class="text-center" [acId]="acSchedule.acId"></ams-acid-img>
                    <div *ngIf="acSchedule" class="px-1">{{acSchedule.acTypeId | actype}}</div>
                </div>
                <div class="col-5 p-0">
                    <mat-form-field class="w-100">
                        <mat-label>Aircraft</mat-label>
                        <input matInput [matAutocomplete]="acIdAuto" [formControl]="acIdFc">
                        <mat-icon matPrefix  class="text-grey-500">local_airport</mat-icon>   
                        <mat-icon matSuffix  class="text-grey-500" (click)="resetAcSchedule()">expand_more</mat-icon>     
                        <mat-autocomplete #acIdAuto="matAutocomplete" 
                            [displayWith]="displaAcSchedule" 
                            (optionSelected)="acScheduleValueChange($event)">
                        <mat-option *ngFor="let option of acScheduleOpt | async"  [value]="option">
                            <div class="flex flex-align-items header">
                                <div class="flex-start flex-align-items">
                                    <div *ngIf="option.imgTableUrl" class="icon-value" matTooltip="Aircraft: {{option.registration}}">
                                        <img src="{{option.imgTableUrl}}" alt="{{option.acId}}"/>
                                    </div>
                                </div>
                                <div *ngIf="option.registration" class="title mr-2">{{option.registration}}</div>
                            </div>
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                
            </div>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end mr-2">
                <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="formGrp.invalid" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
