<div class="panel-body" style="flex-grow: 1">
    <!-- Static Container -->
    <div class="static-container">
      <div class="d-flex flrx-align-items flex-space-between w-100">
        <div class="flex-align-items flex-start"></div>
        <div class="flex-align-items flex-end">
         
          <div class="" ngbDropdown  *ngIf="subregion">
            <sx-format-control 
                class="link size-18"
                label="" color="light"
                [matMenuTriggerFor]="subregionMenu"
                icon="calendar_view_day">
            </sx-format-control>
            <mat-menu #subregionMenu="matMenu">

                <button mat-menu-item *ngIf="canEdit" (click)="spmSubregionOpen()">
                    <mat-icon>refresh</mat-icon> 
                    <span>Refresh Project</span>
                </button>
            
                <button mat-menu-item class="link" (click)="spmSubregionOpen()">
                    <mat-icon class="link blue">info</mat-icon> 
                    <span>Subregion Info</span>
                </button>

            </mat-menu>
            
        </div>
          <sx-button-round 
              message="Show Subregion Info" tooltipPlacement="bottom"
               color="light"
              (click)="spmSubregionOpen()" 
              icon="info"> 
          </sx-button-round>
        </div>
        
      </div>

    </div>

    <!-- Scroll Container -->
    <div class="scroll-container p-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Panel Content
            <a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="" 
            style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a>
          </h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Explicabo asperiores doloremque dolorum qui
            ducimus quae eius alias perspiciatis, quod, libero
            fuga recusandae quidem molestias nobis non soluta.
            Doloremque, in iusto?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Explicabo asperiores doloremque dolorum qui
            ducimus quae eius alias perspiciatis, quod, libero
            fuga recusandae quidem molestias nobis non soluta.
            Doloremque, in iusto?
          </p>
        </div>
      </div>
    </div>
  </div>