.shadow-1 {
  box-shadow: 0 1px 4px 1px #0000001a, 0 1px 2px #00000029;
}

.title {
  font-weight: 400;
  padding: 8px 4px;
}

.double-line {
  fill: none;
  stroke: red;
  outline: 4px double black;
  outline-offset: 2px;
}

///////////////////////
// -QUICK FLEX FORMAT //
///////////////////////
.relative {
  position: relative;
}

.bottom {
  position: absolute;
  bottom: 0px;
}

.top {
  position: absolute;
  top: 0px;
}

.wrapper{
  @extend .flex-align-items-top;
  .fill{
    flex-grow: 1;
  }
}

@media (max-width: $screen-md) {
  .wrapper{
    display: flex;
    flex-wrap: wrap;
  }
  .fill{
    flex-wrap: wrap;
    width: 100%;
  }
}

.flex {
  display: flex;

  &-row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: inherit;
    width: -moz-available;
    padding: 0px;
    margin-bottom: 8px;
  }

  &-col,
  &-column {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    &-top {
      @extend .flex-column;
      align-items: flex-start !important;
      align-content: flex-start !important;
    }
  }

  &-center {
    display: flex;
    justify-content: center;

    &-top {
      @extend .flex-center;
      align-items: flex-start !important;
    }
  }

  &-middle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-top {
    align-items: flex-start !important;
  }

  &-wrap {
    @extend .flex;
    flex-wrap: wrap;


    &-top {
      @extend .flex-wrap;
      align-items: flex-start;
      align-self: baseline;
    }
  }

  &-end {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
  }

  &-start {
    display: flex;
    justify-content: flex-start;

    &-top {
      align-items: flex-start !important;
    }
  }

  &-align-items {
    display: flex !important;
    align-items: center;
    

    &-top {
      @extend .flex-align-items;
      align-items: flex-start;
      align-self: flex-start;
    }

    &-end {
      @extend .flex-align-items;
      align-items: baseline;
    }
  }

  &-space-between {
    @extend .flex;
    justify-content: space-between;
  }

  &-fill {
    flex-grow: 1;
  }
}

.center-center {
  @extend .flex-align-items;
  @extend .flex-center;
}

///////////////////////
// -TEXT MAIN COLORS. //
///////////////////////
/// 
.orange {
  color: $orange-main !important;
}

.blue {
  color: $blue-main !important;
}

.blue-light {
  color: $light-blue !important;
}

.yellow {
  color: $yellow-dark !important;
}
.yellow-l {
  color: $yellow !important;
}

.white {
  color: white !important;
}

.red {
  color: $red !important;
}

.gray {
  color: $gray-dark !important;
}

.green-success {
  color: $green-success !important;
}

.green-dark {
  color: $green-dark !important;
}

.green {
  color: $green !important;
}

.pink {
  color: $pink;
}

/////////////////
// -FORMAT TEXT //
/////////////////
.ellipsis {
  /*@include ellipsis(100%);*/
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text-center {
  text-align: center !important;
  margin: auto !important;
}

.text-right {
  text-align: right !important;
  justify-content: end;

  .mat-sort-header-container {
    justify-content: flex-end !important;
  }
}

.text-left {
  text-align: left !important;
  justify-content: start;
}
.text-j {
  text-align: justify !important;
  justify-content: start;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-wrap {
  white-space: normal !important;
  word-wrap: break-word !important;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.bold {
  font-weight: 800 !important;
}

.semi-bold {
  font-weight: 600 !important;
}

.regular {
  font-weight: 400 !important;
}

.thin {
  font-weight: 300 !important;
}

.size {
  &-24 {
    font-size: $f-24px;
  }
  &-22 {
    font-size: $f-22px;

    &-sq {
      @extend .size-22;
      height: 22px !important;
      width: 22px !important;
      vertical-align: bottom;
    }

  }

  &-20 {
    font-size: $f-20px;

    &-sq {
      @extend .size-20;
      height: 20px !important;
      width: 20px !important;
      vertical-align: bottom;
    }

  }

  &-18 {
    font-size: $f-18px;

    &-sq {
      @extend .size-18;
      height: 18px !important;
      width: 18px !important;
      vertical-align: bottom;
    }
  }

  &-16 {
    font-size: $f-16px;
  }

  &-14 {
    font-size: $f-14px;
  }

  &-12 {
    font-size: $f-12px;
  }

  &-10 {
    font-size: $f-10px;
  }

  &-8 {
    font-size: $f-8px;
  }
}

.mw {
  &-25 {
    max-width: 25% !important;
  }

  &-50 {
    max-width: 50% !important;
  }
}

/////////////////
// -IMAGE SIZE //
/////////////////
.image {
  &-240 {
    min-width: 240px;
    padding: 4px;
    &:hover {
      /*@include hover-pop(rgba(0, 0, 0, 0.1), 50%, 250ms, 0);*/
      cursor: pointer;
    }

    &>img {
      max-height: 96px;
      max-width: 240px;
      padding: 0px;
      bottom: -20px;
      right: 20px;
      position: absolute;
      vertical-align: baseline;
      image-rendering: pixelated;
    }
  }
  &-120 {
    min-width: 120px;
    padding: 8px;
    background-color: rgba(77, 172, 255, 1);
    border-radius: 50%;

    &:hover {
      @include hover-pop(rgba(0, 0, 0, 0.5), 50%, 250ms, 0);
      cursor: pointer;
    }

    &>img {
      max-height: 64px;
      max-width: 104px;
      padding: 0px;
      margin:auto;
      vertical-align: baseline;
      image-rendering: pixelated;
    }
  }
  &-48 {
    min-width: 48px;
    padding: 4px;
    opacity: 0.8;
    &:hover {
      /*@include hover-pop(rgba(0, 0, 0, 0.1), 50%, 250ms, 0);*/
      cursor: pointer;
      opacity: 1;
      font-weight: 500;
    }

    &>img {
      max-height: 48px;
      max-width: 48px;
      padding: 0px;
      margin:auto;
      vertical-align: baseline;
      image-rendering: crisp-edges;
    }
  }
  &-24 {
    min-width: 24px;
    padding: 4px;
    &:hover {
      @include hover-pop(rgba(0, 0, 0, 0.1), 50%, 250ms, 0);
      cursor: pointer;
    }

    &>img {
      max-height: 24px;
      max-width: 24px;
      padding: 0px;
      margin:auto;
      vertical-align: baseline;
      image-rendering: crisp-edges;
    }
  }
  &-18 {
    min-width: 18px;
    padding: 4px;
   
    &:hover {
      @include hover-pop(rgba(0, 0, 0, 0.1), 50%, 250ms, 0);
      cursor: pointer;
    }

    &>img {
      max-height: 18px;
      max-width: 18px;
      padding: 0px;
      margin:auto;
      vertical-align: baseline;
      image-rendering: crisp-edges;
    }
  }

  &-16 {
    min-width: 16px;
    padding: 4px;
    &>img {
      max-height: 16px;
      max-width: 16px;
      padding: 0px;
      vertical-align: baseline;
      image-rendering: crisp-edges;

      &:hover {
        @include hover-pop(rgba(0, 0, 0, 0.1), 50%, 250ms, 0);
        cursor: pointer;
      }
    }
  }

  &-14 {
    min-width: 14px;
    padding: 4px;
    &>img {
      max-height: 14px;
      max-width: 14px;
      padding: 0px;
      vertical-align: middle;
      image-rendering: crisp-edges;

      &:hover {
        @include hover-pop(rgba(0, 0, 0, 0.1), 50%, 250ms, 0);
        cursor: pointer;
      }
    }
  }
  &-h100{
    padding: 2px;
    width: 100%;
    img {
      max-width: 100%;
      max-height: 100px!important;
      overflow: clip;
      vertical-align: middle;
      border-style: none;
      padding: 0px!important;
      margin: auto;
    }
  }
  
}