

.ams{
  &-container {
    mat-sidenav-content{
      margin-left:64px!important;
      width: calc(100vw - 64px);
    }
    /*
    display: flex!important;
    align-items: center;
    justify-content: flex-start;
    //flex-flow: wrap;
    height: 100vh;
    width: 100vh;
    */
    /*ng-component,
    ams-flight-plan{
      width: 100%;
      height: 100%;
    }*/
  }

  &-content{
    min-height: calc(100vh - 64px)!important;
    /*
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-flow: wrap;
    width: 100%;
    min-height: calc(100vh - 64px); 
    max-width: calc(100vw - 62px);
    */
    &-blue{
      @extend .ams-content;
      @include gradient-blue-opaque(); 
      padding: 8px;
      align-content: flex-start;
      width: 100%;
      height: 100%; 
    }

    ng-component{
      display: flex;
    }
    // ng-component, 
    ams-flp-dashboard,
    ams-cfg-charter{
      display: flex;
      align-items: flex-start;
      width: 100%;
      height: calc(100vh - 64px)!important;
    }

    &-filter-panel {
      @include size(320px);
      /*@include placement(fixed, 64px,null,0,70px);*/
      z-index: 150;
      height: calc(100vh - 64px) !important;
      max-width: 320px!important;
      min-width: 320px!important;
      background-color: #fff !important;
      box-shadow: 0 1px 4px 1px #0000001a,0 1px 2px #00000029;

      .panel{
        &-header{
          display: flex;
          flex: 0 0 48px;
          z-index: 160;
          position: relative;
          justify-content: center;
          align-items: center;
          background-color: #fff;
          border-bottom: 1px solid #cbcdd6;
        }
        &-body {
          display: flex;
          overflow: hidden;
          flex-direction: column;

          .scroll-container {
            overflow-y: auto;
            height: calc(100vh - 180px) !important;

            .mdc-list-item__content{
              @extend .mdc-list-item__content;
              .mdc-list-item__secondary-text{
                @extend .mdc-list-item__secondary-text;
                
              }
            }
            
          }
        }
        &-footer {
          padding: 0 8px;
        }
      }
      .panel-body .scroll-container {
        overflow-y: auto;
        height: calc(100vh - 56px) !important;
      }

    }
    &-sidebar{
      display: flex;
      z-index: 160 !important;
    }
    &-body{
      position: relative;
      min-height: calc(100vh - 66px)!important;
      width: calc(100vw - 70px)!important;
      //display: flex;
      //align-items: center;
      //justify-content: flex-start;
      
      ng-component{
        width: 100%;
        overflow: hidden;
      }
      /*ng-component, */
      ams-admin-cfg-charter-home-tab,
      ams-al-aircraft-tabs,
      ams-acm-home-tabs,
      ams-admin-mfr-home-tabs,
      ams-admin-mac-home-tabs,
      ams-wad-subregion-home-tabs,
      ams-wad-country-home-tabs,
      ams-wad-state-home-tabs,
      ams-wad-airport-home-tabs,
      &-tabs{
        display: flex;
        align-items: flex-start;
        width: 100%;
        height: calc(100vh - 64px)!important;
      }

      &-blue{
        @extend .ams-content-body;
        @include gradient-blue-opaque(); 
        min-height: 350px;
        padding: 8px;
        position: relative;
        width: 100%;

      }

      .mat-mdc-tab-group{
        padding: 0px!important;
        width: 100%;
        height: calc(100vh - 64px)!important;
      }

      .mat-mdc-tab-body-wrapper{
        min-height: calc(100vh - 112px) !important;
        .mat-mdc-tab-body{
          position: absolute;
        }
      }
     
    }
  }
}

.sidebar{
  &-closed{
    width: calc(100vw - 60px) !important;
    height: calc(100vh - 64px) !important;
  }
  &-open{
    width: calc(100vw - 382px) !important;
    height: calc(100vh - 64px) !important;
  }
}

.left-items {
  position: absolute;
  left: 0;
}
.right-items {
  position: absolute;
  right: 0;
}
.tab-icon{
  height: 30px;
  margin-right: 8px;
}



// Old styles//


.active-list-item {
  color: $selected  !important;
}
/*
.active {
  background-color: $blue_mid !important;
  .mdc-list-item__content{
    color:$white!important;
    .mat-mdc-list-item-title, 
    .mat-mdc-list-item-line{
      color:$white!important;
      &:hover{
        color: $yellow-light!important;
        text-decoration: none;
      }
    }
    &:hover{
      color: $yellow-light!important;
      text-decoration: none;
    }
  }
  &:hover{
    background-color: $blue_light !important;
  }
  .mat-list-text{
    color:$white;
    .mat-line{
      color:$white;
    }
  }
}*/

///////////////
// -TOOLTIP  //
///////////////
.mat-mdc-tooltip {
  background-color: darkblue !important;
  font-size: 12px !important;
  z-index: 199 !important;
  position: relative !important;

}

.modus-header,
.modus-sidebar {
  z-index: 160 !important;
}

.modus-panel {
  z-index: 150 !important;
}

/*--------------------- 
  Tooltip 
----------------------*/
.tooltip {
  background-color: rgb(63, 81, 181, 0.95);
  font-size: 16px !important;
  z-index: 1160 !important;

  &-sm {
    @extend .tooltip;
    font-size: 14px !important;
  }

  &-red {
    @extend .tooltip;
    background: #b71c1c;

    &-sm {
      @extend .tooltip-red;
      font-size: 14px !important;
    }
  }

  &-yellow {
    @extend .tooltip;
    background-color: rgba(255, 235, 59, 0.8) !important;
    color: #002D5B !important;

    &-sm {
      @extend .tooltip-yellow;
      font-size: 14px !important;
    }
  }

  &-blue {
    @extend .tooltip;
    background-color: rgba(0, 45, 91, 0.8) !important;

    &-sm {
      @extend .tooltip-blue;
      font-size: 14px !important;
    }
  }

  &-green {
    @extend .tooltip;
    background-color: rgba(76, 175, 80, 0.8) !important;

    &-sm {
      @extend .tooltip-green;
      font-size: 14px !important;
    }
  }

}

ams-admin-toolbar{
  @extend .flex-row;
  background-color: #fff;
  /*display: block;
      width:100%;*/
  align-items: stretch;
  flex: 1 1 auto;
  padding:0px!important;
}

/*************************************
*     MODUS
*************************************/
.cdk-global-scrollblock{
  overflow: auto;
}

.modus{
  &-content{
    width: calc(100vw - 60px) !important;
    &-rows{
      @extend .modus-content;
    }
  }
  &-panel {
    @extend .modus-panel;
    height: calc(100vh - 56px) !important;
    max-width: 320px!important;
    min-width: 320px!important;
    background-color: transparent !important;
  }
  &-toolbar {
    background-color: #fff;
    /*display: block;
        width:100%;*/
    align-items: stretch;
    flex: 1 1 auto;
  }
}

.modus-panel .panel-body .scroll-container {
  overflow-y: auto;
  height: calc(100vh - 56px) !important;
}

.modus-body .modus-sidebar{
  height: 100vh;
}

