.mdc-dialog .mdc-dialog__content{
   padding: 10px 12px 10px 12px!important;
}

.mat-mdc-dialog{
    
    &-container, &__container{
        @extend .mat-mdc-dialog-container;
        padding: 12px!important;
        overflow: hidden;
    }
    &-title{
        @extend .mat-mdc-dialog-title;
        position: relative;
        background-color: aliceblue;
        margin: 0px!important;
       
        &:before{
            height: 0px!important;
        }

        .close{
            position: absolute;
            top: 5px;
            right: 15px;
            border-color: transparent!important;
            font-weight: 300;
            &:hover{
                font-weight: 500;
                cursor: pointer;
              }
        }
    }
    
    &-actions{
        @extend .mat-mdc-dialog-actions;
        margin-bottom: 12px!important;
    }
}

/*
.mdc-dialog__title::before{
    height: 20px!important;
}
*/


/*.mat-form-field{
    font-size: 16px!important;
}*/
/*TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
/*
// Modals

.modal-title {
  font-size: $modal-title-font-size;
  font-weight: bold;
}

.modal-footer {
  padding: $modal-footer-padding;
}


.mat-form-field-prefix, 
.mat-form-field-suffix{
    color:$gray-dark;
    .mat-icon{
        font-size: $f-16px!important;
    }
   
}

.mat-mdc-dialog-container {
    @extend .modal-dialog;
    margin: 0.5rem!important;
    padding: 12px!important;
    overflow: hidden;

    .modal-content{
        @extend .modal-content;
        height: 100%;
        overflow: auto;

        .modal-header{
            display: block;
            font-weight: 400!important;
            background-color: aliceblue;
            .modal-title{
                font-weight: 400;
            }
            .card-subtitle-1{
                font-weight: 300;
            }
            .close{
                padding:0.3rem 0.5rem calc(0.5rem - 1px)!important;
                border-color: transparent!important;
                font-weight: 200;
                &:hover{
                    color: #000;
                    font-weight: 500;
                    cursor: pointer;
                  }
            }
    
        } 

        .modal-body{
            flex:0.3 0.3 auto;
        }
    }
   

    .mat-mdc-dialog-content{
        // @extend .mat-dialog-content  !optional;
        margin:0px!important
    }
    .mat-mdc-dialog-actions{
       // @extend .mat-dialog-actions  !optional;
        position: absolute;
        bottom: 25px;
        width: 100%!important;
        flex-wrap: nowrap!important;
        justify-content: space-between !important
    }
}
.modal-dialog, 
.mat-mdc-dialog-container {
     max-width: 100%!important;
}
*/
/*
form{
    .mat-form-field{
        @extend .mat-form-field;
        @extend .form-group;
        margin-bottom: 0px;
        line-height: 20px;
    }
}


.ng-valid{
    @extend .is-valid;
}
.ng-invalid{
    @extend .is-invalid;
}
*/