.nav{
  
    &-text{
      min-width: 200px;
      
      align-self: center;
      text-align: left;
  
      margin: auto;
      vertical-align: middle;
      &:hover{
        cursor: pointer;
        color: $yellow-main;
      }
    }
    &-icon{
      min-width: 60px;
      display: flex;
      align-self: center;
      justify-content: center;
      
  
      margin: auto;
      vertical-align: middle;
    }
  
    &-link{
      min-width: 60px;
      min-height: 60px;
      text-align: center;
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      
      &:hover{
        cursor: pointer;
        color: $yellow-main;
        & > .material-icons, & > span {
          color: $yellow-main;
          cursor: pointer;
        }
      }
  
      & > .material-icons, & > span {
        margin: auto!important;
        vertical-align: middle;
        color: $blue-main;
        &:hover{
          cursor: pointer;
          color: $yellow-main;
        }
      }
  
      &.active {
        background-color: $blue-main;
        color: $yellow-main;
  
        & > .material-icons, & > span {
          margin: auto!important;
          vertical-align: middle;
          color: $yellow-main;
          &:hover{
            cursor: pointer;
            color: $white;
          }
        }
      }
    }
  }

  .navbar {
    
    &-brand {
      display: flex;
      align-self: center;
      margin-left: 10px;
      
      img {
        height: 42px;
        margin: auto;
      }
  
    }
  }