
/////////////////////
// PAGE ROOT STYLE //
/////////////////////
.page{
    &-header{
        @include flex-space-between();
    }
    &-title{
        margin-bottom:0px;
        padding-top: 5px;
        padding-left: 5px;
        @include text($f-18px,$blue-main, 400);
        &-light{
            padding-top: 5px;
            padding-left: 5px;
            @include text(20px,$yellow-main, 400);
        }
    }
    &-sub-title{
        padding-top: 5px;
        @include text(18px,$font, 300);
        &-light{
            padding-top: 5px;
            padding-left: 5px;
            @include text(18px,$yellow-main, 500);
        }
    }
    &-pagination{
        width: 100%;
        padding:10px;
        @extend .center-center;
    }
}

.panel{
    &-wrap {
        overflow: hidden;
        position: relative;
      }
      
      &-bg {
        opacity: 0.3;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
      }
      &-right {
        opacity: 0.3;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
        height: 100%;
      }
      
      &-content {
        position: relative;
      }
}

/////////////////////
// PAGE CONTAINERS //
/////////////////////

/* NOTE: Put all views in ".main-container-child". If the view has a sibling like the
dashboard or seach results only place in ".main-container" */
.main-container{
    margin: 57px 0px 0px 70px;
    &-child{
        /*@include calc-min-height(100vh,80px);*/
        padding: 8px 8px 8px 8px; 
        width:100%;
        height: 100%;
        /*height: calc(100vh - 56px) !important;*/
        background-color: $page-backdrop;
        /*overflow-y: auto;*/
        padding-bottom: 50px!important;
        & > .page-header{
            margin:5px 5px 0px 5px;
        }
        &-blue{
            @extend .main-container-child;
            @include gradient-blue-opaque(); 
            justify-content: center;
            align-items: center;
            overflow-y: auto;
            min-height: 350px;
        }
        &-with-utilitybar{
            @extend .main-container-child;
            margin-top: 110px;
            @media (max-width: 1204px) {
                margin-top: 163px;
            }
            & > .page-header{
                margin:5px 5px 0px 5px;
            }
        }
    }
}

.tab{
    width:100%;
    min-height: calc(100vh - 112px) !important;
    background-color: $page-backdrop;
    overflow: visible!important;
    &-blue{
        @extend .tab;
        @include gradient-blue-opaque(); 
        justify-content: center;
        align-items: center;
        &-filterpanel{
            @extend .tab-blue;
            min-height: calc(100vh - 215px) !important;
        }
    }
}

.opacity{
    &-50{
        opacity: 0.5!important;
    }
}
