<div class="sxtable-container-tail">
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary" class="pl-2 pe-2">
            <div class="flex-align-items flex-space-between w-100 white">
                <div class="flex-start flex-align-items-end h54">
                    <div class="ps-1">Arrival</div>
                    <span  class="px-2 semi-bold">{{dataCount | number:'1.0-0'}}</span>
                    <span *ngIf="dataCount !== 1" >Flights</span>
                    <span *ngIf="dataCount == 1" >Flight</span>
                </div>
                <div class="flex-end h64">

                    <mat-form-field class="white">
                        <mat-label class="white"><mat-icon>filter_list_alt</mat-icon><i>filter</i></mat-label>
                        <input matInput (keyup)="applyFilter($event)" class="white" type="text" [(ngModel)]="filter">
                        @if (filter) {
                            <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
                              <mat-icon class="white">close</mat-icon>
                            </button>
                          }
                    </mat-form-field>
                    
                    <button mat-icon-button class="pe-1"
                        matTooltip="Reload Data"
                        matTooltipPosition="above" 
                        color="accent"
                        [disabled]="(tableds.loading$ | async)"
                        (click)="refreshClick()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">

            <ng-container matColumnDef="taskId">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60 text-left white ps-2">Task №</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60">
                    <div class="flex-align-items flex-space-between w-100 p-1">
                        <ams-icon-play [value]="row.isRunning" [tooltip]="row.spName" (iconClick)="setTask(row)"></ams-icon-play>
                        <div class="flex-end ps-1 w-100">{{row.taskId | number:'2.0-0'}}</div>
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="taskType" >
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60-sort text-left white ps-2">Type</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-left">
                    <div class="flex-align-items w-100 px-1">
                        <!--
                        <div class="flex-start ps-1 w-100 text-left">{{row.taskType}}</div>
                        -->
                        <mat-icon *ngIf="row.taskTypeId === minFive" 
                        matTooltip="{{row.taskType | tasktype}}"
                        matTooltipPosition="above" >replay_5</mat-icon>
                        <mat-icon *ngIf="row.taskTypeId !== minFive"
                        matTooltip="{{row.taskType | tasktype}}"
                        matTooltipPosition="above">repeat_one</mat-icon>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="taskName" >
                <th mat-header-cell *matHeaderCellDef class="txt-ell-full text-left white ps-2">Name</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-full text-left">
                    <div class="flex-align-items w-100 p-1">
                        <div class="flex-start ps-1 w-100 text-left">{{row.taskName}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="periodMin">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-40 text-right">
                    <div class="flex-align-items w-100 ps-4 text-right" 
                        matTooltip="Interval"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >timelapse</mat-icon>
                        <!--
                        <img src="{{seatsEImgUrl}}" alt="Cargo" class="mr-2"/>
                        -->
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-40">
                    <div class="flex-align-items w-100 p-1">
                        <!-- icon="timelapse" -->
                        <ams-icon-value *ngIf="row.periodMin" class="flex-end"
                            pipe="min" 
                            [value]="row.periodMin" label="Interval">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="startTime">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-100 text-right">
                    <div class="flex-align-items w-100 ps-4 text-right" 
                        matTooltip="Last run on"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >play_circle_outline</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100">
                    <div class="flex-align-items w-100 p-1">
                        <!-- icon="timelapse" -->
                        <ams-icon-value *ngIf="row.startTime" class="flex-end"
                            pipe="datetime" 
                            [value]="row.startTime" label="Last run on">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="execTimeMs">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80 text-right">
                    <div class="flex-align-items w-100 ps-4 text-right" 
                        matTooltip="Execution Time"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >slow_motion_video</mat-icon>
                        <!--
                        <img src="{{seatsEImgUrl}}" alt="Cargo" class="mr-2"/>
                        -->
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80">
                    <div class="flex-align-items w-100 p-1">
                        <!-- icon="timelapse" -->
                        <ams-icon-value *ngIf="row.execTimeMs" class="blue flex-end"
                            pipe="periodms" 
                            [value]="row.execTimeMs" label="Execution Time">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="nextRun">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-100 text-right">
                    <div class="flex-align-items w-100 ps-4 text-right" 
                        matTooltip="Next run on"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >replay</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100">
                    <div class="flex-align-items w-100 p-1">
                        <!-- icon="timelapse" -->
                        <ams-icon-value *ngIf="row.nextRun" class="flex-end"
                            pipe="datetime" 
                            [value]="row.nextRun" label="Next run on">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="acfsId">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-120 white">Status</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120">
                    <div class="flex-align-items w-100 p-1">
                        <div  class="block w-100 text-left" 
                            matTooltip="Curent Action: {{row.acfsId | acfl}} " 
                            matTooltipPosition="above" >
                            {{row.acfsId | acfl}}
                        </div>
                    </div>
                </td>
            </ng-container>
            
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            [class.row-active]="row.isRunning"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        [showFirstLastButtons]="true" >
    </mat-paginator>
</div>