<div class="modal-content">

    <div mat-dialog-title class="modal-header">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title flex-align-items">Cabin Configuration 
            <span *ngIf="cabin && cabin.cabinId" class="card-subtitle-1 ml-2" >№ {{cabin.cabinId}}</span>
            <span *ngIf="!cabin || !cabin.cabinId" class="card-subtitle-1 ml-2" >Create</span>
            <div class="flex-align-items image-16 ml-4" *ngIf="mac">
                <ams-img-link *ngIf="mac.wikiUrl" type="wiki" [url]="mac.wikiUrl" class="ml-2"></ams-img-link>
            </div>
        </div>
    </div>

    <mat-dialog-content class="modal-body">
        <form class="flex-column w-100" [formGroup]="formGrp">
            <!--
            <input type="hidden"  formControlName="userId" [value]="userId">
            -->
            <div class="col-12 flex-align-items pt-2">

                
                <div class="col-5 pe-3">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Name</mat-label>
                        <input matInput  placeholder="Name of cabin configuration"  formControlName="cName" required >
                        <!--
                        <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                        -->
                        <mat-error *ngIf="cName.invalid">{{fError('cName')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-5 pe-3">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>In-Flight Entertainment</mat-label>
                        <mat-select name="maxIFEId" formControlName="maxIFEId" (selectionChange)="calcPrice()">
                          <mat-option *ngFor="let opt of ifeOpt" [value]="opt.ifeId">
                            <div class="flex-align-items image-16" >
                                <div class="mr-2 ml-1">{{opt.ifeId | acifetype}}</div>
                            </div>
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="col-2">
                    <mat-checkbox class="m-0 p-0" formControlName="isDefault" color="primary" labelPosition="before">Default</mat-checkbox>
                    <!--
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Crew</mat-label>
                        <input matInput type="number"  min="0"  formControlName="seatCrew"  (change)="calcPrice()">
                        <img matSuffix class="mat-icon" [src]="seatCImgUrl" alt="C"/>
                        <mat-error *ngIf="seatCrew.invalid">{{fError('seatCrew')}}</mat-error>
                    </mat-form-field>
                    -->
                </div>
                
            </div>
            
            <div class="col-12 flex-align-items">
                <div class="col-5 flex-column">
                    <h4 class="subtitle pt-2">Seat - Class Configuration</h4>
                    <div class="col-12 flex-align-items">
                    
                        <div class="col-4 pe-3">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>First</mat-label>
                                <input matInput type="number"  min="0"  formControlName="seatF" (change)="calcPrice()">
                                <img matSuffix class="mat-icon" [src]="seatFImgUrl" alt="F"/>
                                <mat-error *ngIf="seatF.invalid">{{fError('seatF')}}</mat-error>
                            </mat-form-field>
                        </div>
        
                        <div class="col-7">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Type</mat-label>
                                <mat-select name="seatFtypeId" formControlName="seatFtypeId" (selectionChange)="calcPrice()">
                                    <mat-option value="0">None</mat-option>
                                    <mat-option *ngFor="let ams of seatTypesF" [value]="ams.seatTypeId">
                                    
                                    <div class="flex-align-items image-24" >
                                        <img style="height: 24px;" src="{{ams.seatTypeId | seatimg}}" alt="{{ams.seatTypeId | seattype}}"/>
                                        <div class="ps-2">{{ams.stName}}</div>
                                    </div>
                                </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-1 image-48">
                            <img *ngIf="seatFtypeId.value" src="{{seatFtypeId.value | seatimg}}" alt="{{seatFtypeId.value | seattype}}"/>
                        </div>
                        
                    </div>
                    <div class="col-12 flex-align-items pt-2">
                        <div class="col-4 pe-3">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Business</mat-label>
                                <input matInput type="number"  min="0"  formControlName="seatB" (change)="calcPrice()">
                                <img matSuffix class="mat-icon" [src]="seatBImgUrl" alt="F"/>
                                <mat-error *ngIf="seatB.invalid">{{fError('seatB')}}</mat-error>
                            </mat-form-field>
                        </div>
        
                        <div class="col-7">
                            <mat-form-field floatLabel="always" class="w-100" >
                                <mat-label>type</mat-label>
                                <mat-select name="seatBtypeId" formControlName="seatBtypeId" (selectionChange)="calcPrice()"> 
                                <mat-option value="0">None</mat-option>
                                <mat-option *ngFor="let ams of seatTypesB" [value]="ams.seatTypeId">
                                    <div class="flex-align-items image-16" >
                                        <img style="height: 24px;" src="{{ams.seatTypeId | seatimg}}" alt="{{ams.seatTypeId | seattype}}"/>
                                        <div class="mr-2 ml-1">{{ams.stName}}</div>
                                    </div>
                                    
                                </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-1 image-48">
                            <img *ngIf="seatBtypeId.value" src="{{seatBtypeId.value | seatimg}}" alt="{{seatBtypeId.value | seattype}}"/>
                        </div>
                    </div>
                    <div class="col-12 flex-align-items pt-2">
                        <div class="col-4 pe-3">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Economy</mat-label>
                                <input matInput type="number"  min="0"  formControlName="seatE" (change)="calcPrice()">
                                <img matSuffix class="mat-icon" [src]="seatEImgUrl" alt="F"/>
                                <!--
                                <mat-icon matSuffix class="text-grey-500">wb_auto</mat-icon>
                                -->
                                <mat-error *ngIf="seatE.invalid">{{fError('seatE')}}</mat-error>
                            </mat-form-field>
                        </div>
        
                        <div class="col-7">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>type</mat-label>
                                <mat-select name="seatEtypeId" formControlName="seatEtypeId" (selectionChange)="calcPrice()">
                                    <mat-option value="0">None</mat-option>
                                <mat-option *ngFor="let ams of seatTypesE" [value]="ams.seatTypeId">
                                    <div class="flex-align-items image-24" >
                                        <img src="{{ams.seatTypeId | seatimg}}" alt="{{ams.seatTypeId | seattype}}"/>
                                        <div class="ps-2">{{ams.stName}}</div>
                                    </div>
                                </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-1 image-48">
                            <img *ngIf="seatEtypeId.value" src="{{seatEtypeId.value | seatimg}}" alt="{{seatEtypeId.value | seattype}}"/>
                        </div>
                    </div>
                    <div class="col-12 flex-align-items pt-2">
                        <div class="col-3 p-0">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Crew</mat-label>
                                <input matInput type="number"  min="0"  formControlName="seatCrew" (change)="calcPrice()">
                                <img matSuffix class="mat-icon" [src]="seatCImgUrl" alt="C"/>
                                <mat-error *ngIf="seatCrew.invalid">{{fError('seatCrew')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-1 p-0 image-48">
                            <img *ngIf="seatCrew.value" src="{{seatTypesCId | seatimg}}" alt="{{seatTypesCId | seattype}}"/>
                        </div>
        
                        <div class="col-8 flex-align-items">
                            <div class="flex-start flex-align-items image-48">
                                <img *ngIf="cargoKg" src="{{seatTypesGId | seatimg}}" alt="{{seatTypesGId | seattype}}"
                                    matTooltip="Available Cargo kg"
                                    matTooltipPosition="above"/>
                                <div *ngIf="cargoKg" class="flex px-2">{{cargoKg | mtow}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-7 flex-column-top">
                    <h4 class="subtitle pt-2">Confort and Price </h4>
                    <div class="col-12 flex-align-items">
                        <div class="col-6">
                            <div class="mat-h5 px-2 w-100" *ngIf="selIfeType" 
                                [innerHTML]="selIfeType.description" style="overflow: hidden;"></div>
                        </div>
                        
                        <div class="col-3 pe-3">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Confort</mat-label>
                                <input matInput type="number"  min="0"  formControlName="confort">
                                <mat-icon matSuffix class="text-grey-500">high_quality</mat-icon>
                                <mat-error *ngIf="confort.invalid">{{fError('confort')}}</mat-error>
                            </mat-form-field>
                        </div>
        
                        <div class="col-3">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Price</mat-label>
                                <input matInput type="number"  min="0"  formControlName="price">
                                <mat-icon matSuffix class="text-grey-500">price_check</mat-icon>
                                <mat-error *ngIf="price.invalid">{{fError('price')}}</mat-error>
                            </mat-form-field>
                        </div>
        
                    </div>
                    
                    <img *ngIf="cabin && cabin.imgTableUrl" src="{{cabin.imgTableUrl}}" alt="{{cabin.macId}}" style="max-width: 100%;max-height: 250px;margin:auto;">
                </div>
            </div>
            
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end mr-2">
                <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="formGrp.invalid" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
