<div  *ngIf="flight" class="flight-list-row flex-align-items white">
    <div class="col-1 p-0" (click)="flightClick()">
        <ams-icon-value *ngIf="flight.etdTime" class="white"
            pipe="time"
            [value]="flight.etdTime" label="ETD">
        </ams-icon-value>
    </div>
    <div class="col-2 p-0 ps-1">
        <div class="p-0 link" matTooltip="{{flight.alName}}" matTooltipPosition="above" (click)="spmAirlineOpen()">
            {{flight.alIata}}
        </div>
    </div>
    <div class="col-1 p-0 ps-1">
        <ams-icon-flight-type class="white link" [flType]="flight.flTypeId" (click)="flightTypeClick()"></ams-icon-flight-type>
    </div>
    <div class="col-8 p-0 ps-1" >
        <div class="flex-align-items w-100" >
            <ams-icon-ap-dep class="flex-start mw-50" [apId]="flight.depApId" [showIcon]="false"  (click)="airportClick(flight.depApId)"></ams-icon-ap-dep>
            <div class="px-1 flex">-</div>
            <ams-icon-ap-arr class="flex mw-50" [apId]="flight.arrApId" [right]="false" [showIcon]="false" (click)="airportClick(flight.arrApId)"></ams-icon-ap-arr>
        </div>
    </div>
</div>