<div class="modal-content">

    <div mat-dialog-title class="modal-header">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title mr-2"> 
            <span *ngIf="aircraft" class="card-subtitle-1 pe-1">Aircraft {{aircraft.registration}}</span>
            <span *ngIf="acmp" class="card-subtitle-1 pe-1">Plan for  {{acmp.amtId | mnttype}} Maintenance</span>
            <span *ngIf="!acmp.acmpId" class="card-subtitle-1 pe-1">Create</span>
        </div>
    </div>

    <mat-dialog-content class="modal-body">
    
        <form class="flex-align-items" [formGroup]="formGrp">
            
            <div class="col-12 flex-align-items-top">
                <div class="col-6 pe-2">
                    <ams-card-aircraft-info [aircraft]="aircraft" [hideBtns]="true"></ams-card-aircraft-info>
                </div>
                <div class="col-6 flex-column px-2">
                        
                    <div class="col-12 ">
                        <mat-form-field class="w-100">
                            <mat-label>Maintenance Type</mat-label>
                            <mat-select name="amtId" formControlName="amtId" (selectionChange)="amtIdChanged()" required> 
                                <mat-option *ngFor="let acmt of acmtOpt" [value]="acmt.amtId">
                                <div class="flex-align-items" >
                                    <div class="mr-2 ml-1">{{acmt.name }}</div>
                                </div>
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="amtIdFc.invalid">{{fError('amtId')}}</mat-error>
                        </mat-form-field>
                    </div>
                
                    <div class="col-12">
                        
                        <mat-form-field class="w-100">
                            <mat-label>Start Time</mat-label>
                            <input matInput [ngxMatDatetimePicker]="picker"  placeholder="Choose a start date" name="stTime" [formControl]="stTimeFc" [min]="minStTime">
                            <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                            <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
                                [stepHour]="1" [stepMinute]="1" [stepSecond]="0"
                                [touchUi]="false"  [enableMeridian]="true" 
                                [disableMinute]="false" [hideTime]="false">
                            </ngx-mat-datetime-picker>
                        </mat-form-field>
                        
                    </div>
                   
                    <div *ngIf="acmpType" class="col-12 flex-align-items">
                        <div class="flex-start px-1">Duration:</div>
                        <ams-icon-value
                            pipe="periodminr" icon="construction" class="ms-2"
                            [value]="acmpType.timeMin" label="Mantenance {{acmpType.name}} duration">
                        </ams-icon-value>
                    </div>
                    <div *ngIf="acmpEndTime" class="col-12 flex-align-items mt-2">
                        <div class="flex-start px-1">End Time:</div>
                        <ams-icon-value
                            pipe="datetimer" class="ms-2"
                            [value]="acmpEndTime" label="End Time">
                        </ams-icon-value>
                        <!--
                        <div class="flex-start">{{ acmpEndTime | date :'dd MMM, yyyy HH:mm'}}</div>
                    -->
                    </div>
                    <div *ngIf="acmpEndTime" class="col-12 flex-align-items mt-2">
                        <div class="flex-start px-1">Airport:</div>
                        <ams-icon-ap-code *ngIf="aircraft.currApId" [apId]="aircraft.currApId" 
                            [showName]="true" [showNSvg]="false" 
                            label="Current Airport" class="flex-start">
                        </ams-icon-ap-code>
                    </div>
                    <div *ngIf="acmpEndTime" class="col-12 flex-align-items mt-2">
                        <div class="flex-start px-1">Price:</div>
                        <ams-icon-value *ngIf="price" 
                            pipe="currencyr" icon="payments"
                            [value]="price" label="Price">
                        </ams-icon-value>
                    </div>
                </div>
                
            </div>
        </form>
        
    </mat-dialog-content>

    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end mr-2">
                <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="!canStartMeintenance || formGrp.invalid" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
