 <!-- Title -->

<div class="col-12 m-0 p-0">
    <div class="side-panel-sec" *ngIf="mac">
        <div class="side-panel-sec-rows">

            <div class="sp-row border-bottom border-tertiary mt-2">
                <div class="col-4 flex-start p-0" >
                    <div *ngIf="mac.imgTableUrl" class="icon-value">
                        <img src="{{mac.imgTableUrl}}" alt="{{mac.macId}}"/>
                    </div>
                </div>
                <div class="col-4 flex-center p-0"  
                    matTooltip="Aircraft: {{mac.model}} ({{mac.macId}})" 
                    matTooltipPosition="above">
                    <div class="flex ellipsis">{{mac.model}}</div>
                </div>
                <div class="col-4 flex-end p-0">
                    <ams-img-link *ngIf="mac.wikiUrl" 
                        type="wiki" [url]="mac.wikiUrl" class="ml-2">
                    </ams-img-link>
                </div>
            </div>

            <div *ngIf="mac" class="sp-row border-bottom border-tertiary mt-2" >
                <div class="col-5 flex p-0">
                    <div *ngIf="acType" class="flex-start flex-align-items" 
                        matTooltip="Aircraft: {{acType.name}} ({{acType.acTypeId}})" 
                        matTooltipPosition="above" >
                        <div class="flex ml-2">{{acType.name}}</div>
                    </div>
                </div>
                <div class="col-2 text-center">
                    <ams-icon-value  *ngIf="mac.numberBuild" 
                        pipe="int" icon="flight"
                        [value]="mac.numberBuild" label="Number Build">
                    </ams-icon-value>
                </div>
                <div class="col-5 flex p-0 flex-end">
                    <ams-icon-value *ngIf="mac.productionStart" 
                        pipe="dater" icon="build"
                        [value]="mac.productionStart" label="Production start on">
                    </ams-icon-value>
                </div>
            </div>

            <div *ngIf="mac.powerplant" class="sp-row border-bottom border-tertiary mt-2 " >
                <div class="col-12 flex p-0 ellipsis">
                    <div class="icon-value w-100 ellipsis" 
                        matTooltip="Powerplant: {{mac.powerplant}}"
                        matTooltipPosition="above">
                        <i class="material-icons blue mr-2" >toys</i>
                        {{mac.powerplant}}
                    </div>
                    
                </div>
            </div>

            <div *ngIf="(mac.takeOffM || mac.landingM)" class="sp-row border-bottom border-tertiary mt-2" >
                    <div class="col-4 flex p-0">
                        <ams-icon-value *ngIf="mac.landingM >= mac.takeOffM" 
                            pipe="len" icon="settings_ethernet"
                            [value]="mac.landingM" label="Min Runway Lenght">
                        </ams-icon-value>
                        <ams-icon-value *ngIf="mac.takeOffM > mac.landingM" 
                            pipe="len" icon="settings_ethernet"
                            [value]="mac.takeOffM" label="Min Runway Lenght">
                        </ams-icon-value>
                    </div>
                    <div class="col-2 flex p-0">
                        <ams-icon-value *ngIf="mac.pilots" 
                            pipe="image" [icon]="pilotImgUrl"
                            [value]="mac.pilots" label="Number of Pilots">
                        </ams-icon-value>
                    </div>
                    <div class="col-2 flex p-0">
                        <ams-icon-value *ngIf="mac.maxSeating"  
                        pipe="image" [icon]="seatsImgUrl"
                        [value]="mac.maxSeating" label="Max Capacity">
                    </ams-icon-value>

                    </div>
                    <div class="col-4 flex p-0 flex-end">
                        <ams-icon-value *ngIf="mac.maxTakeOffKg" 
                            pipe="mtowr" icon="flight_takeoff"
                            [value]="mac.maxTakeOffKg" label="MTOW">
                        </ams-icon-value>
                    </div>
               
            </div>

            <div *ngIf="mac" class="sp-row border-bottom border-tertiary mt-2" >
                <div class="col-4 flex p-0">
                    <ams-icon-value *ngIf="mac.cruiseSpeedKmph" 
                        pipe="speed" icon="speed"
                        [value]="mac.cruiseSpeedKmph" label="Cruise Speed">
                    </ams-icon-value>
                </div>
                <div class="col-4 flex p-0">
                    <ams-icon-value  *ngIf="mac.loadKg" 
                        pipe="mtow" icon="local_shipping"
                        [value]="mac.loadKg" label="Cargo Capacity">
                    </ams-icon-value>
                </div>
                
                <div class="col-4 flex p-0 flex-end">
                    <ams-icon-value *ngIf="mac.maxRangeKm" 
                        pipe="nmir" icon="network_check"
                        [value]="mac.maxRangeKm" label="Range">
                    </ams-icon-value>
                </div>
            </div>

            
            <div *ngIf="mac" class="sp-row border-bottom border-tertiary mt-2" >
                <div class="col-4 flex p-0">
                    <ams-icon-value *ngIf="mac.cruiseAltitudeM" 
                        pipe="len" icon="height"
                        [value]="mac.cruiseAltitudeM" label="Cruise Altitude">
                    </ams-icon-value>
                </div>
                <div class="col-4 flex p-0">
                    
                </div>
                
                <div class="col-4 flex p-0 flex-end">
                    <ams-icon-value *ngIf="mac.operationTimeMin" class="blue"
                        pipe="periodminr" icon="schedule_send"
                        [value]="mac.operationTimeMin" label="Operation Time">
                    </ams-icon-value>
                </div>
            </div>

            <div *ngIf="mac" class="sp-row border-bottom border-tertiary mt-2" >
                <div class="col-5 flex p-0 ellipsis">
                    <ams-icon-value  *ngIf="mac.fuelConsumptionLp100km" class="green"
                    pipe="lpkm" icon="local_gas_station"
                    [value]="mac.fuelConsumptionLp100km" label="Fuel Consumption">
                </ams-icon-value>
                </div>
                <div class="col-2 flex p-0">
                   
                </div>
                
                <div class="col-5 flex p-0 flex-end ellipsis">
                    <ams-icon-value *ngIf="mac.costPerFh" class="green"
                        pipe="currencyr" icon="payments"
                        [value]="mac.costPerFh" label="Cost per Flight Hour">
                    </ams-icon-value>
                </div>
            </div>

            <div *ngIf="mac" class="sp-row border-bottom border-tertiary mt-2" >
                <div class="col-4 flex p-0 ellipsis">
                    <ams-icon-value *ngIf="mac.price" 
                        pipe="currency" icon="price_check"
                        [value]="mac.price" label="List Price">
                    </ams-icon-value>
                </div>
                <div class="col-2 flex p-0">
                    
                </div>
                <div class="col-2 flex p-0 ellipsis">
                    <ams-icon-value  *ngIf="mac.aircraftCount" 
                        pipe="int" icon="local_grocery_store" 
                        [value]="mac.aircraftCount" label="Available on merket">
                    </ams-icon-value>
                </div>
                <div class="col-4 flex p-0 flex-end ellipsis">
                    <ams-icon-value *ngIf="nextProducedOn" 
                        pipe="datetimer" icon="plus_one"
                        [value]="nextProducedOn" label="Next production">
                    </ams-icon-value>
                </div>
            </div>
        </div>
    </div><!-- sec end -->
    
</div>
