<div class="sxtable-container-tab">
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary">
            <div class="flex-align-items flex-space-between w-100 white h64">
                <div class="flex-start flex-align-items h64">
                    <span class="semi-bold px-2">{{dataCount | number:'1.0-0'}}</span>
                    <span class="">Airports</span>
                </div>
                <div class="flex-end h64">

                    <button mat-icon-button class="me-2"
                        matTooltip="Open Airport Map"
                        matTooltipPosition="above" 
                        color="accent"
                        [disabled]="(tableds.loading$ | async)"
                        (click)="spmMapOpen()">
                        <mat-icon>map</mat-icon>
                    </button>

                    <mat-form-field class="white">
                        <mat-label class="white"><mat-icon>filter_list_alt</mat-icon><i>filter</i></mat-label>
                        <input matInput (keyup)="applyFilter($event)" class="white" type="text" [(ngModel)]="filter">
                        @if (filter) {
                            <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
                              <mat-icon class="white">close</mat-icon>
                            </button>
                          }
                    </mat-form-field>
                    
                    <button mat-icon-button class="pe-1"
                        matTooltip="Reload Data"
                        matTooltipPosition="above" 
                        color="accent"
                        [disabled]="(tableds.loading$ | async)"
                        (click)="refreshClick()">
                        <mat-icon>refresh</mat-icon>
                    </button>

                </div>
            </div>
        
        </mat-toolbar>
    </div>
    
    <div class="sxtable-body-toolbar">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">
    
            <ng-container matColumnDef="action" sticky> 
                <th mat-header-cell *matHeaderCellDef class="txt-ell-130"></th>
                <td mat-cell *matCellDef="let airport" class="txt-ell-130">
                    <div class="flex-align-items">
                        <!-- -->
                        <sx-button-round 
                            (click)="gotoAirport(airport)"
                            position="left" 
                            icon="open_in_new"
                            message="View Airport"> 
                        </sx-button-round>
                        <!--
                        <mat-icon *ngIf="canEdit" class="link m-t-4 m-l-4 m-r-8 f-s-20"  
                            (click)="ediAirport(airport)"
                            matTooltip="Edit Airport {{airport.apName}}">
                            edit
                        </mat-icon>
                        -->
                        <sx-button-round 
                            message="Show Airport Details" tooltipPlacement="bottom"
                            color="light"
                            (click)="spmAirportOpen(airport)" 
                            icon="info"> 
                        </sx-button-round>
                        <ams-img-link *ngIf="airport.wikiUrl" type="wiki" [url]="airport.wikiUrl" class="ml-2"></ams-img-link>
                        
                        <!--
                        <mat-icon class="link m-t-8 m-r-4 f-s-16" (click)="editUser(user)">edit</mat-icon>
                        
                        open_in_new
                        <mat-icon class="link m-t-16 m-l-4 m-r-8 f-s-20"  
                            (click)="editCompanyProducts(company)"
                            [matBadge]="company.productsCount"  
                            [matBadgeHidden]="company.productsCount===0" 
                            MatBadgeSize="small"
                            matBadgeDescription="{{company.productsCount | number:'1.0-0'}} Active Products"
                            matBadgeColor="accent" matBadgeOverlap="true">collections_bookmark</mat-icon>
                            -->
                    </div>
                
                </td>
            </ng-container>
        
            <ng-container matColumnDef="apId"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-40 text-left" >PK</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-40 text-left ml-1">
                    <div class="text-left">
                        {{row.apId}}
                    </div>
                    
                </td>
            </ng-container>
            <ng-container matColumnDef="iata">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-40 text-left">IATA</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-40 text-left">
                    <div class="flex-align-items w-100 text-left" >
                        <div class="w-100">{{row.iata}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="icao">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 text-left">ICAO</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80 text-left">
                    <div class="flex-align-items w-100 text-left" >
                        <ams-card-ap-icao [airport]="row"></ams-card-ap-icao>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="apName">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-100 text-left">Name</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100 text-left">
                    <div class="flex-align-items w-100" >
                        <!--
                        <img src="{{row.flagUrl}}" alt="{{row.iso2}}"/>
                        -->
                        <div class="mr-2">{{row.apName}}</div>
                        
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="typeId" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 text-left">Type</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80 text-left">
                    <div class="flex-align-items w-100 text-left">
                        <div class="flex-start mr-2"
                        matTooltip="{{row.typeId | aptype}}"
                        matTooltipPosition="above" >{{row.typeId | aptype}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="ctName">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-120 text-left">City</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120 text-left">
                    <div class="flex-align-items w-100 text-left" >
                        <div class="mr-2">{{row.ctName}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="maxRwLenght" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 text-right">Max Rw</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80 text-right">
                    <div class="flex-align-items w-100 text-right">
                        <div class="flex-end flex-align-items ">
                            <ams-icon-value *ngIf="row.maxRwLenght" 
                                pipe="lenr" 
                                [value]="row.maxRwLenght" label="Max Runway Lenght">
                            </ams-icon-value>
                        </div>
                    </div>
                </td>
            </ng-container>
           
            <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-60 text-center">Active</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60 text-center">
                    <ams-icon-ap-active [value]="row.active" (btnClick)="togleAirportActive(row, $event)"></ams-icon-ap-active>
                </td>
            </ng-container>
            <ng-container matColumnDef="paxDemandDay">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-150 white text-right">
                    <div class="flex-align-items w-100 center-center pe-2" 
                        matTooltip="Pax Demand for a Day"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >supervised_user_circle</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-150 text-right" >
                    <ams-icon-payload-demand 
                        [cargoDemandPeriodKg]="row.cargoDemandPeriodKg"
                        [periodDays]="row.paxDemandPeriodDays"
                        [paxDemandDay]="row.paxDemandDay"
                        [paxDemandPeriod]="row.paxDemandPeriod">
                    </ams-icon-payload-demand>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="amsStatus" >
                <th mat-header-cell *matHeaderCellDef class="txt-ell-100 text-left">AMS Status</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100 text-left">
                    <div class="flex-align-items w-100" >
                        <div>{{row.amsStatus | amsstatus}}</div>
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="wadStatus" >
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80 text-left" >WAD Status</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80 text-left" >
                    <div class="flex-align-items w-100">
                        <div>{{row.wadStatus | wadstatus}}</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="udate">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-120 text-left" >Updated On</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120 text-left" >{{row.udate | date:'MMM d, y'}}</td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="rowClicked(row)" 
                [class.row-selected]="airport && airport.apId == row.apId"
                [class.row-active]="row.wadStatus !== done"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        [showFirstLastButtons]="true" >
    </mat-paginator>
</div>