<div class="sxtable-container-tab">
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary">
            <div class="flex-align-items flex-space-between w-100 white h64">
                <div class="flex-start flex-align-items h64">
                    <span class="semi-bold px-2">{{dataCount | number:'1.0-0'}}</span>
                    <span class="">States</span>
                </div>
                <div class="flex-end h64">
                    
                    <sx-button-round *ngIf="canEdit"
                        (click)="addState()"
                        [disabled]="!canEdit"
                        message="Add Country"
                        icon="add"
                        class="mr-3"
                    > 
                    </sx-button-round>
                    
                    <mat-form-field floatLabel="always" appearance="fill" class="white size-12">
                        <mat-label class="white"><mat-icon>filter_list_alt</mat-icon> <i> filter</i></mat-label>
                        <input matInput (keyup)="applyFilter($event)" class="white">
                    </mat-form-field>

                    <sx-button-flat 
                        (click)="refreshClick()" 
                        position="left" 
                        message="Reload Data"
                        icon="refresh" 
                        color="dark"
                        class="mr-2 ml-3">
                    </sx-button-flat>
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body-toolbar">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">

            <ng-container matColumnDef="action" sticky>
                <th mat-header-cell *matHeaderCellDef width ="60px" class="t-c"></th>
                <td mat-cell *matCellDef="let state" class="t-c">
                    <div class="flex-align-items w-full">
                        
                        <sx-button-round
                            (click)="gotoState(state)"
                            position="left" 
                            icon="open_in_new"
                            message="View Details"> 
                        </sx-button-round>
                        <sx-button-round 
                            message="Show State Details" tooltipPlacement="bottom"
                            color="light"
                            (click)="spmStateOpen(state)" 
                            icon="info"> 
                        </sx-button-round>
                        <mat-icon *ngIf="canEdit" class="link blue mx-2 size-20"  
                            (click)="editState(state)"
                            matTooltip="Edit State {{state.stName}}">
                            edit
                        </mat-icon>
                        <mat-icon *ngIf="canEdit && (!state.cities || state.cities == 0)" class="link red ml-2 size-20"  
                            (click)="deleteState(state)"
                            matTooltip="Delete State {{state.stName}}">
                            delete
                        </mat-icon>
                        
                        <!--
                        <mat-icon class="link m-t-8 m-r-4 f-s-16" (click)="editUser(user)">edit</mat-icon>
                        
                        open_in_new
                        <mat-icon class="link m-t-16 m-l-4 m-r-8 f-s-20"  
                            (click)="editCompanyProducts(company)"
                            [matBadge]="company.productsCount"  
                            [matBadgeHidden]="company.productsCount===0" 
                            MatBadgeSize="small"
                            matBadgeDescription="{{company.productsCount | number:'1.0-0'}} Active Products"
                            matBadgeColor="accent" matBadgeOverlap="true">collections_bookmark</mat-icon>
                            -->
                    </div>
                
                </td>
            </ng-container>
        
            <ng-container matColumnDef="stateId"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="60px">PK</th>
                <td mat-cell *matCellDef="let row" class="p-r-8">
                    <div class="w-full text-left">
                        {{row.stateId}}
                    </div>
                    
                </td>
            </ng-container>

            <ng-container matColumnDef="stName">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-300">Name</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-300">
                    <div class="flex-align-items image-16" >
                        <div class="me-2">{{row.stName}}</div>
                        <ams-img-link *ngIf="row.wikiUrl" type="wiki" [url]="row.wikiUrl" class="ml-2"></ams-img-link>
                    </div>
                </td>
                
            </ng-container>
            <ng-container matColumnDef="iso">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header >ISO</th>
                <td mat-cell *matCellDef="let row">{{row.iso}}</td>
            </ng-container>
            
            <ng-container matColumnDef="amsStatus" >
                <th mat-header-cell *matHeaderCellDef >AMS Status</th>
                <td mat-cell *matCellDef="let row">
                    <div class="flex-align-items">
                        <div>{{row.amsStatus | amsstatus}}</div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="wadStatus" >
                <th mat-header-cell *matHeaderCellDef width ="80px">WAD Status</th>
                <td mat-cell *matCellDef="let row">
                    <div class="flex-align-items">
                        <div>{{row.wadStatus | wadstatus}}</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="udate">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="100px">Updated On</th>
                <td mat-cell *matCellDef="let row">{{row.udate | date:'MMM d, y'}}</td>
            </ng-container>
            <ng-container matColumnDef="cities">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="80px">Cities</th>
                <td mat-cell *matCellDef="let row" class="w-full text-left" >{{row.cities | number:'1.0-0'}}</td>
            </ng-container>
            <ng-container matColumnDef="airports" stickyEnd>
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="80px">Airports</th>
                <td mat-cell *matCellDef="let row" class="w-full text-left" >{{row.airports | number:'1.0-0'}}</td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="rowClicked(row)" 
                [class.row-selected]="selected && selected.stateId == row.stateId"
                [class.row-active]="row.wadStatus !== done"></tr>
        </table>
        
    </div>
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        [showFirstLastButtons]="true" >
    </mat-paginator>
</div>