<div *ngIf="showText && showText === 'left'" class="icon-value"
        matTooltip="{{flType | flighttype}}" 
        matTooltipPosition="above" >
    <i class="material-icons mr-1" >{{icon}}</i>
    {{flType | flighttype}}
</div>
<div *ngIf="showText && showText !== 'left'" class="icon-value"
        matTooltip="{{flType | flighttype}}" 
        matTooltipPosition="above" >
        {{flType | flighttype}}
    <i class="material-icons ml-1" >{{icon}}</i>
</div>
<div *ngIf="!showText" class="icon-value"
        matTooltip="{{flType | flighttype}}" 
        matTooltipPosition="above" >
    <i class="material-icons ml-1" >{{icon}}</i>
</div>
