<div class="col-12 p-2">
    <div class="mini-charts-item overlay-blue-dark mb-1" 
        matTooltip="Create new airline"
        matTooltipPosition="above">
        <div class="clearfix">
            <div class="chart stats-bar">
                <img [src]="alLogoImg" alt="Airline" />
            </div>

            <div class="count">
                <small>Welcome {{user?.userName??user.userEmail}} </small>
                <h2>Create Airline</h2>
            </div>

        </div>
    </div>
</div>
<div class="col-12 px-2">
    
    <form class="flex-column p-0 " [formGroup]="formGrp">

        <div class="col-12 flex-align-items w-100">
            <div class="col-9 px-2">
                <mat-form-field floatLabel="always" class="w-100">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" placeholder="Airline Name" name="alName" formControlName="alName"
                        required>
                    <mat-icon matSuffix class="text-blue">airlines</mat-icon>
                    <mat-error *ngIf="alName.invalid">{{fError('alName')}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-3 px-2">
                <mat-form-field floatLabel="always" class="w-100">
                    <mat-label>IATA</mat-label>
                    <input matInput type="text" placeholder="ABC" name="iata" formControlName="iata" required
                        maxlength="3" minlength="3">
                    <mat-icon matSuffix class="text-blue">closed_caption_off</mat-icon>
                    <mat-hint>IATA 3-letter codes used to identify airline</mat-hint>
                    <mat-error *ngIf="iata.invalid">{{fError('iata')}}</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="col-12 flex-align-items w-100 p-0 mb-4">
            <div class="col-9 px-2">
                <mat-form-field floatLabel="always" class="w-100">
                    <mat-label>Slogan</mat-label>
                    <input matInput type="text" placeholder="To fly, to serve" name="slogan"
                        formControlName="slogan" required>
                    <mat-icon matSuffix class="text-blue">badge</mat-icon>
                    <mat-hint>A slogan is a short and striking or memorable phrase used in advertising.</mat-hint>
                    <mat-error *ngIf="slogan.invalid">{{fError('slogan')}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-3 px-0">&nbsp;</div>
        </div>

        <div class="col-12 flex-align-items w-100 p-0 my-4">
            <div class="col-12 px-2">
                <mat-form-field floatLabel="always" class="w-100">
                    <mat-label>Logo URL</mat-label>
                    <input matInput type="text" placeholder="https://www....." name="logo" formControlName="logo">
                    <mat-icon matSuffix class="text-blue">add_photo_alternate</mat-icon>
                    <mat-hint>A URL is nothing more than the address of a given unique resource on the
                        Web.</mat-hint>
                    <mat-error *ngIf="logo.invalid">{{fError('logo')}}</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="col-12 flex-align-items w-100 p-0">
            <div class="col-6 px-2">
                <mat-form-field floatLabel="always" class="w-100">
                    <input matInput placeholder="Subregion" aria-label="Subregion" [matAutocomplete]="subregionAuto"
                        [formControl]="subregion">
                    <mat-icon matSuffix class="text-grey-500">public</mat-icon>
                    <mat-autocomplete #subregionAuto="matAutocomplete" [displayWith]="displaySubregion"
                        (optionSelected)="sunregionValueChange($event)">
                        <mat-option *ngFor="let option of subregionsOpt | async" [value]="option">
                            <div class="flex flex-align-items">
                                <mat-icon class="text-blue mr-4">public</mat-icon>
                                <div class="text-blue mr-4">{{option.srName}}</div>
                                <div class="text-blue">({{option.countries | number:'1.0-0'}})</div>
                            </div>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>

            <div class="col-6 px-2">
                <mat-form-field floatLabel="always" class="w-100">
                    <input matInput placeholder="Country" aria-label="Country" [matAutocomplete]="countryAuto"
                        [formControl]="country">
                    <mat-icon matSuffix class="text-grey-500">outlined_flag</mat-icon>
                    <mat-autocomplete #countryAuto="matAutocomplete" [displayWith]="displayCountry"
                        (optionSelected)="countryValueChange($event)">
                        <mat-option *ngFor="let option of countriesOpt | async" [value]="option">
                            <div class="flex flex-align-items header">
                                <img src="{{option.flagUrl}}" class="text-blue mr-2" alt="{{option.iso2}}" />
                                <div class="title">{{option.cName | uppercase}} ({{option.statesCount |
                                    number:'1.0-0'}}) </div>
                            </div>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>

        <div class="col-12 flex-align-items w-100 p-0">
            <div class="col-6 px-2">
                <mat-form-field floatLabel="always" class="w-100">
                    <input matInput placeholder="Base Airport" aria-label="Base Airport"
                        [matAutocomplete]="airportAuto" [formControl]="airport">
                    <mat-icon matSuffix class="text-blue">autofps_select</mat-icon>
                    <mat-autocomplete #airportAuto="matAutocomplete" [displayWith]="displayAirport"
                        (optionSelected)="airportValueChange($event)">
                        <mat-option *ngFor="let option of airportsOpt | async" [value]="option">
                            <ams-icon-ap-code [apId]="option.apId" [showCity]="true" [showName]="true"></ams-icon-ap-code>
                            <!--
                            <div class="flex flex-align-items header">
                                <div class="flex-start flex-align-items">
                                    <ams-ap-icon-svg [rw_svg_path_circle]="option.svgcircle"
                                        [rw_svg_line]="option.svgline" [ap_active]="option.active">
                                    </ams-ap-icon-svg>
                                </div>
                                <div *ngIf="option.iata" class="title mr-2">{{option.iata}}</div>
                                <div *ngIf="!option.iata" class="title mr-2">{{option.icao}}</div>
                                <div class="title">{{option.apName}}, </div>
                                <div *ngIf="option.ctName" class="title mr-2">, {{option.ctName}} </div>
                                <div class="title">{{option.iso2 | uppercase}} </div>
                            </div>
                            -->
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-6 px-2"></div>
        </div>

        <div class="col-12 flex-align-items w-100 px-2 my-4">
            <div class="flex-start flex-align-items w-100">
                <div *ngIf="hasSpinner" class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <mat-error *ngIf="errorMessage" class="ml-2 flex-start"> {{errorMessage}} </mat-error>
            </div>
            <div class="flex-end">
                <button mat-flat-button color="primary" *ngIf="!hasSpinner"
                    [disabled]="formGrp.invalid"
                    (click)="onSubmit()">SUBMIT
                    <i class="modus-icon material-icons me-2">airlines</i>
                </button>
            </div>
        </div>
    </form>
    
</div>