<div *ngIf="(airport$ | async)" class="flex-align-items" >
    <ams-icon-value *ngIf="!isright" 
        pipe="len" icon="settings_ethernet"
        [value]="airport.maxRwLenght" label="Max Runway Lenght">
    </ams-icon-value>
    <ams-icon-value *ngIf="isright" 
        pipe="lenr" icon="settings_ethernet"
        [value]="airport.maxRwLenght" label="Max Runway Lenght">
    </ams-icon-value>
</div>