<button *ngIf="isAdmin" class="btn btn-icon-only ml-2" 
    matTooltip="Get JSON Data from DB"
    matTooltipPosition="above" 
    (click)="getJsonData()" >
    <img [src]="jsonImgUrl" alt="JSON" width="20px"/>
</button>
<div ngbDropdown class="dropdown ">
    <button class="btn btn-icon-only btn-text-primary" [matMenuTriggerFor]="adminMenuMain" >
      <i class="modus-icon material-icons text-primary">more_vert</i>
    </button>
    <mat-menu #adminMenuMain="matMenu">
        <button mat-menu-item disabled="true">
            <mat-icon>manage_history</mat-icon>
            <span>Version: {{appVersion}}</span>
        </button>
        <mat-divider></mat-divider>
        <button *ngIf="user" mat-menu-item 
            [routerLink]="[roots.Root, roots.airline, roots.profile]" 
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
            <mat-icon>account_circle</mat-icon> 
            <span>Profile</span>
        </button>
        <button *ngIf="isAdmin" mat-menu-item 
            [routerLink]="[roots.Root, roots.admin, roots.usersList]" 
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
            <mat-icon>contacts</mat-icon> 
            <span>Users</span>
        </button>
        <button *ngIf="isAdmin" mat-menu-item 
            [routerLink]="[roots.Root, roots.admin, roots.manufacturers]" 
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
            <mat-icon>business</mat-icon> 
            <span>Manufacturers</span>
        </button>
        <button mat-menu-item >
            <mat-icon>refresh</mat-icon> 
            <span>Refresh Project</span>
        </button>
        <div class="dropdown-divider"></div>
        <button mat-menu-item class="link">
            <mat-icon class="link">info</mat-icon> 
            <span>Project Details</span>
        </button>

    </mat-menu>
    
</div>