<div class="modal-content">

    <div mat-dialog-title class="modal-header">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title flex-align-items">{{hubTypeId | hubtype}} 
            <span *ngIf="hub && hub.hubId" class="card-subtitle-1 ml-2" >№ {{hub.hubId}}</span>
            <span *ngIf="!hub || !hub.hubId" class="card-subtitle-1 ml-2" >Create</span>
            <span *ngIf="hub && hub.apId" class="card-subtitle-1 ml-2" >
                <ams-icon-ap-code [apId]="hub.apId" [showName]="true" 
                class="flex-start" 
                matTooltip="Airport" 
                matTooltipPosition="above">
            </ams-icon-ap-code>
            </span>
        </div>
    </div>

    <mat-dialog-content class="modal-body">
        <form class="d-flex flex-column" [formGroup]="formGrp">
            
            <input type="hidden" [formControl]="hubIdFc" >
            <input type="hidden" [formControl]="alIdFc" >
            <input type="hidden" [formControl]="apIdFc" >
            
            <div class="col-12 flex-align-items-top w-100 p-0">
                <div class="col-6">
                    <ams-card-airport-info [airport]="airport" class="p-1"></ams-card-airport-info>
                </div>
                <div class="col-6 p-2">
                    <div class="col-12">
                        <mat-form-field floatLabel="always" class="w-100">
                            <mat-label>Name</mat-label>
                            <input matInput type="text"  placeholder="Name"  [formControl]="hubNameFc" name="hubName"  required >
                            <!--
                            <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                            -->
                            <mat-error *ngIf="hubNameFc.invalid">{{fError('hubName')}}</mat-error>
                        </mat-form-field>
                    </div>
                    
                    <h5 class="mb-0 pt-2">Upkeep Payment On:</h5>
                    <div class="col-12">
                        <mat-form-field floatLabel="always" class="w-100">
                            <mat-label>Upkeep Payment Day</mat-label>
                            <input matInput [ngxMatDatetimePicker]="picker"  placeholder="Upkeep Payment Date" name="upkeepDay" [formControl]="upkeepDayFc" [max]="minStTime">
                            <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                            <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
                                [stepHour]="1" [stepMinute]="1" [stepSecond]="0"
                                [touchUi]="false"  [enableMeridian]="true" 
                                [disableMinute]="false" [hideTime]="false">
                            </ngx-mat-datetime-picker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end mr-2">
                <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="formGrp.invalid" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
