<div class="static-container p-0">

  <div class="d-flex flrx-align-items flex-space-between w-100">

    <div class="flex-align-items flex-start ps-2">
      <!--
          <button *ngIf="region" class="btn btn-icon-only btn-text-primary m-l-5" 
            matTooltip="Region: {{region.rName}}"
            matTooltipPosition="above" 
            [routerLink]="[roots.Root, roots.wad, roots.region]"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  >
            <i class="modus-icon material-icons text-primary">public</i>
          </button>
          -->
    </div>

    <div class="flex-align-items flex-end p-2">

      <button mat-icon-button [matMenuTriggerFor]="fp_top_menu" class="link blue">
        <mat-icon>calendar_view_day</mat-icon>
      </button>
      <mat-menu #fp_top_menu="matMenu">
        <button mat-menu-item color="primary" 
          [disabled]="!group"
          (click)="editGroupClick()">

          <mat-icon>edit</mat-icon>
          <span>Edit Group</span>
        </button>
        <button mat-menu-item class="link" (click)="refreshAircrafs()">
          <mat-icon>refresh</mat-icon>
          <span>Refresh</span>
        </button>
       

        
        <div class="dropdown-divider"></div>

      </mat-menu>

      <button mat-mini-fab class="ms-2"
          color="accent"
          matTooltip="Refresh Airline Data"
          matTooltipPosition="above" (click)="refreshAircrafs()">
          <mat-icon>refresh</mat-icon>
      </button>
    </div>

  </div>

</div>
<div class="scroll-container-h160 ps-0 pe-2">

  <form class="d-flex flex-column" [formGroup]="formGrp">

    <div class="col-12 flex-align-items px-2">
      <mat-form-field class="w-100">
        <mat-label>Group</mat-label>
        <input matInput [matAutocomplete]="groupAuto" [formControl]="groupFc">
        <mat-icon matPrefix class="text-grey-500">group_work</mat-icon>
        <mat-icon matSuffix class="text-grey-500" (click)="resetGroup()">expand_more</mat-icon>
        <mat-autocomplete #groupAuto="matAutocomplete" [displayWith]="displayGroup"
          (optionSelected)="valueChangeGroup($event)">
          <mat-option [value]="">
            <div class="flex-align-items header">
              <div class="title pe-2">All Flight Numbers</div>
            </div>
          </mat-option>
          <mat-option *ngFor="let option of groupsOpt | async" [value]="option">
            <div class="flex-align-items header">
              <div class="title pe-2">{{option.grpName}}</div>
            </div>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col-12 flex-align-items px-2">
      <mat-form-field class="w-100">
        <mat-label>Weekday</mat-label>
        <mat-select [formControl]="weekdayFc" (selectionChange)="weekdayChanged($event)">
          <mat-option>--</mat-option>
          @for (opt of weekdays; track opt) {
            <mat-option [value]="opt.id">{{opt.name}}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="weekdayFc.invalid">{{fError('weekdayFc')}}</mat-error>
      </mat-form-field>
    </div>
    <div class="col-12 flex-align-items px-2">
      <ams-card-aircraft-id-row  class="w-100" [acId]="group?.acId"></ams-card-aircraft-id-row>
    </div>
    


  </form>
</div>