<div class="sxtable-container-full">
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary">
            <div class="flex-align-items flex-space-between w-100 white">
                <div class="flex-start flex-align-items">
                    <span>{{dataCount | number:'1.0-0'}}</span>
                    <span class="pl-1 f-w-300">Aircrafts</span>
                </div>
                <div class="flex-end m-r-8 f-s-14">
                    <!--
                    <sx-button-round 
                        (click)="addCabin()"
                        [disabled]="!canEdit"
                        message="Add Cabin Configuration"
                        icon="add"
                        class="mr-3"
                       > 
                    </sx-button-round>
                    -->
                    <mat-form-field class="f-w-300">
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                    </mat-form-field>
    
                    <sx-button-flat 
                        (click)="refreshClick()" 
                        position="left" 
                        message="Reload Data"
                        icon="refresh" 
                        color="dark"
                        class="mr-2 ml-3">
                    </sx-button-flat>
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">
    
            <ng-container matColumnDef="action" sticky>
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80"></th>
                <td mat-cell *matCellDef="let aicraft" class="txt-ell-80">
                    <div class="flex-align-items w-100">
                        
                        <sx-button-round 
                            (click)="buyAircraft(aicraft)"
                            [disabled]="aicraft.price > airline.amount"
                            position="left" 
                            icon="add_shopping_cart"
                            message="Purchase Aircraft"> 
                        </sx-button-round>
                        <!--
                            
                        <mat-icon class="link m-t-4 m-l-4 m-r-8 f-s-20"  
                            (click)="ediMacCabin(aicraft)"
                            matTooltip="Edit Aircraft {{aicraft.acId}}">
                            edit
                        </mat-icon>
                        -->
                        <sx-button-round 
                            message="Show Aircrafts Details" tooltipPlacement="bottom"
                            color="light"
                            (click)="spmAircraftOpen(aicraft)" 
                            icon="info"> 
                        </sx-button-round>
                        
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="image" >
                <th mat-header-cell *matHeaderCellDef class="txt-ell-100 text-center">Owner</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100 text-center">
                    <ams-al-livery [alId]="row.ownerAlId" tooltip="Aircraft Owner"></ams-al-livery>
                </td>
            </ng-container>
            <ng-container matColumnDef="acId"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-40-sort text-right">№</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-40-sort text-right">
                    <div class="flex-align-items w-100 ">
                        <div class="flex-end">{{row.acId}}</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="registration" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80-sort text-left">Registration</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-left">
                    <div class="flex-align-items w-100">
                        <div class="flex-start">{{row.registration}}</div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="currApId" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-140-sort">Airport</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-140-sort text-left">
                    <ams-icon-ap-code [apId]="row.currApId" [showName]="true" 
                        class="flex-start" 
                        matTooltip="Current Airport: {{row.currAp}}" 
                        matTooltipPosition="above">
                    </ams-icon-ap-code>
                </td>
            </ng-container>
            <ng-container matColumnDef="flightHours" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80-sort text-right">
                    <div class="flex-align-items image-16 w-100 text-right" 
                        matTooltip="Accomulated Flight Hours"
                        matTooltipPosition="above" >
                        <mat-icon class="white m-t-8 m-r-4 f-s-16" >timelapse</mat-icon>
                        <!--
                        <img src="{{seatsEImgUrl}}" alt="Cargo" class="mr-2"/>
                        -->
                    </div>
                    
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <ams-icon-value *ngIf="row.flightHours" 
                        class="flex-end"    
                        pipe="periodminr" 
                        [value]="(row.flightHours*60)" 
                        label="Accomulated Flight Hours">
                    </ams-icon-value>
                </td>
            </ng-container>

            <ng-container matColumnDef="distanceKm" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80-sort text-right">
                    <div class="flex-align-items image-16 w-100 text-right" 
                        matTooltip="Accomulated Distance Covered"
                        matTooltipPosition="above" >
                        <mat-icon class="white flex-end" >travel_explore</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <ams-icon-value *ngIf="row.flightHours" 
                        class="flex-end"    
                        pipe="nmir" 
                        [value]="(row.distanceKm)" 
                        label="Accomulated Flight Hours">
                    </ams-icon-value>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="acStatusId"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80-sort text-left">Status</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-left">
                    <div class="flex-start w-100">
                        {{row.acStatusId | acstatus}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="state"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 text-right">Condition</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80 text-right">
                    <div class="flex-end w-100 pe-3">
                        {{(row.state/100)| percent:'1.0-0'}}
                    </div>
                    
                </td>
            </ng-container>
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-140-sort text-right">Price</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-140-sort text-right">
                    <div class="flex-align-items w-100" >
                        <ams-icon-value *ngIf="row.price" 
                            class="flex-end"    
                            icon="shopping_cart"
                            pipe="currencyr" 
                            [value]="(row.price)" 
                            label="Price">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="cabinId" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-140-sort text-left">
                    <div class="flex-align-items image-16 w-100 text-right" 
                        matTooltip="Cabin configuration name and confort rate"
                        matTooltipPosition="above" >
                        <mat-icon class="white m-t-8 m-r-4 f-s-16" >flight_class</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-140-sort text-left">
                    <div class="flex-align-items w-100">
                        <div class="me-1">{{row.cabinName}}</div>
                        <div *ngIf="row.confort">({{row.confort | number:'1.0-2'}})</div>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        [showFirstLastButtons]="true" >
    </mat-paginator>
</div>