<div *ngIf="aircraft" class="flex-align-items">
    <div class="icon-value ellipsis link" matTooltip="{{aircraft.acTypeId | actype}} Aircraft: {{aircraft.registration}}" (click)="spmAircraftOpen()">
        <img *ngIf="aircraft.imgTableUrl;else noAcImg" src="{{aircraft.imgTableUrl}}" alt="{{aircraft.acId}}"/>
        <ng-template #noAcImg >
            <img [src]="acImgUrl" alt="{{aircraft.acId}}">
        </ng-template>
    </div>
</div>
