    <mat-tab-group  mat-stretch-tabs #branchTabs
        class="mat-card" 
        [selectedIndex]="selTabIdx"
        (selectedIndexChange)="selectedTabChanged($event)">

        <!-- -TAB 0 dashboard --> 
        <mat-tab label="Dashboard">
            <ng-template mat-tab-label>
                <mat-icon class="m-r-4 blue">dashboard</mat-icon>
                <!--
                <img class="tab-icon neighbor-icon" src="/assets/images/common/project_tr.png" alt="Dashboard">
                -->
                Dashboard
            </ng-template>
            <div class="sx-tab-full-blue panel-wrap">
                <!--
                <img class="panel-right" [src]="amsImgUrl" alt="bg" >
                -->
                <div class="panel-content white">
                    <h1 *ngIf="state">{{state.stName}}</h1>
                    <!--
                    <ams-map-liflet-ap #leafletMap></ams-map-liflet-ap>
                    -->
                </div>
            </div>
           
        </mat-tab>

        <!-- -TAB 1 City --> 
        <mat-tab label="City">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">location_on</mat-icon>
                <!--
                <img class="tab-icon neighbor-icon" src="/assets/images/common/project_tr.png" alt="Dashboard">
                -->
                City
            </ng-template>
            <ams-wad-state-home-tab-city tabindex="1"></ams-wad-state-home-tab-city>
            <!--
                <ams-wad-subregion-home-tab-state tabindex="1"></ams-wad-subregion-home-tab-state>
            <sx-project-home-tab-usecase tabindex="1" (editUseCase)="editUseCase($event)"></sx-project-home-tab-usecase>
            -->
        </mat-tab>
        <!-- -TAB 2 City --> 
        <mat-tab label="Airports">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">location_city</mat-icon>
                <!--
                <img class="tab-icon neighbor-icon" src="/assets/images/common/project_tr.png" alt="Dashboard">
                -->
                Airports
            </ng-template>
            <ams-wad-state-home-tab-airports tabindex="2"></ams-wad-state-home-tab-airports>
            <!--
                <ams-wad-subregion-home-tab-state tabindex="1"></ams-wad-subregion-home-tab-state>
            <sx-project-home-tab-usecase tabindex="1" (editUseCase)="editUseCase($event)"></sx-project-home-tab-usecase>
            -->
        </mat-tab>
                
    </mat-tab-group>
    
