<div class="flex-align-items w-100 flex-end">
    <div *ngIf="paxPct" class="icon-value"
        matTooltip="{{paxPct | percent:'1.0-0'}} passingers" 
        matTooltipPosition="above" >
        <img src="{{imagePaxUrl}}" alt="Pax" class="pe-1" />
        {{paxPct | percent:'1.0-0'}}
    </div>
    <div *ngIf="cargoKgPct" class="icon-value"
        matTooltip="Cargo {{cargoKgPct | percent:'1.0-0'}}" 
        matTooltipPosition="above" >
        <img src="{{imageCargoUrl}}" alt="Cargo" class="pe-1" />
        {{cargoKgPct | percent:'1.0-0'}}
    </div>
</div>




