
<div *ngIf="payloadType === typeC" class="icon-value"
    matTooltip="Cargo {{cargoKg | mtow}} {{description}}" 
    matTooltipPosition="above" >
    <img src="{{cargoImgUrl}}" alt="Cargo" class="mr-2" />
    {{cargoKg | mtow}}
</div>
<div *ngIf="payloadType !== typeC" class="icon-value"
    matTooltip="{{pax | number:'1.0-0'}}   {{ payloadType | payloadtype}} class passingers {{description}}" 
    matTooltipPosition="above" >
    <img src="{{imageUrl}}" alt="Cargo" class="mr-2" />
    {{pax | number:'1.0-0'}}
</div>


