<div class="modal-content">

    <div mat-dialog-title class="modal-header">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title">Admin Profile 
            <span *ngIf="user" class="card-subtitle-1">№ {{user.userId}}</span>
            <span *ngIf="!user" >Create</span>
        </div>
    </div>

    <mat-dialog-content class="modal-body">
       
        <form class="flex-column" [formGroup]="formGrp">
            <!--
            <input type="hidden"  formControlName="userId" [value]="userId">
            -->
            <div class="col-12 flex-align-items">
    
                <div class="col-8 pe-4">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Name</mat-label>
                        <input matInput  placeholder="User Name"  formControlName="userName" required >
                        <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                        <mat-error *ngIf="userName.invalid">{{fError('userName')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Role</mat-label>
                        <mat-select name="userRole" formControlName="userRole">
                          <mat-option *ngFor="let role of roleOpt" [value]="role.id">
                            {{role.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>

            </div>
            <h5 class="mb-0 pt-2">LOGIN</h5>
           

            <div class="col-12 flex-align-items w-100 p-0">
                <div class="col-12 p-0">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Email</mat-label>
                        <input matInput type="email"  placeholder="User Email"  formControlName="userEmail" required >
                        <mat-icon matSuffix class="text-grey-500">alternate_email</mat-icon>
                        <mat-error *ngIf="userEmail.invalid">{{fError('userEmail')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-12 flex-align-items w-100 p-0">
                <div class="col-12 p-0">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" placeholder="User Password"  formControlName="userPwd" required >
                        <mat-icon matSuffix class="text-grey-500">vpn_key</mat-icon>
                        <mat-error *ngIf="userPwd.invalid">{{fError('userPwd')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
    
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end mr-2">
                <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="formGrp.invalid" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
