<div class="modal-content">

    <div mat-dialog-title class="modal-header">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title flex-align-items">Manufacturer 
            <span *ngIf="mfr && mfr.mfrId" class="card-subtitle-1 ml-2" >№ {{mfr.mfrId}}</span>
            <span *ngIf="!mfr || !mfr.mfrId" class="card-subtitle-1 ml-2" >Create</span>
            <div class="flex-align-items image-16 ml-4" *ngIf="mfr">
                <ams-img-link *ngIf="mfr.wikiUrl" type="wiki" [url]="mfr.wikiUrl" class="ml-2"></ams-img-link>
            </div>
        </div>
    </div>

    <mat-dialog-content class="modal-body">
        <form class="flex-column w-100" [formGroup]="formGrp">
            <!--
            <input type="hidden"  formControlName="userId" [value]="userId">
            -->
            <div class="col-12 flex-align-items">

                
                <div class="col-6 pe-2">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Name</mat-label>
                        <input matInput type="text"  placeholder="Name"  formControlName="mfrName" name="mfrName" required 
                        [ngClass]="{'is-valid':!mfrName.invalid,'is-invalid':mfrName.invalid}">
                        <!--
                        <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                        -->
                        <mat-error *ngIf="mfrName.invalid">{{fError('mfrName')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-1">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>IATA</mat-label>
                        <input matInput type="text" placeholder="Name" name="iata" formControlName="iata" required >
                        <!--
                        <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                        -->
                        <mat-error *ngIf="iata.invalid">{{fError('iata')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-5 ps-2">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Head Quartier</mat-label>
                        <input matInput type="text"  placeholder="Street, City, Country"  formControlName="headquartier" >
                        <mat-icon matPrefix class="text-grey-500">home</mat-icon>
                        <mat-error *ngIf="headquartier.invalid">{{fError('headquartier')}}</mat-error>
                    </mat-form-field>
                </div>
                
            </div>
            
            <h5 class="mb-0 pt-2">URL links and Status </h5>
            <div class="col-12 flex-align-items">

                <div class="col-8 pe-2">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Wikipedia URL</mat-label>
                        <input matInput type="url"  placeholder="Wikipedia Link"  formControlName="wikiUrl"  name="wikiUrl"
                            [ngClass]="{'is-valid':!wikiUrl.invalid,'is-invalid':wikiUrl.invalid}">
                        <mat-icon matPrefix class="text-grey-500">wb_auto</mat-icon>
                        <mat-error *ngIf="wikiUrl.invalid">{{fError('wikiUrl')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>AMS Status</mat-label>
                        <mat-select name="amsStatus" formControlName="amsStatus">
                          <mat-option *ngFor="let ams of amsStatusOpt" [value]="ams.id">
                            {{ams.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>

            </div>
            <div class="col-12 flex-align-items">
                
                <div class="col-6 pe-2">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Home Page URL</mat-label>
                        <input matInput type="url"  placeholder="Wikipedia Link"  formControlName="homeUrl" name="homeUrl" >
                        <!--
                        <mat-icon matSuffix class="text-grey-500">wb_auto</mat-icon>
                        -->
                        <mat-error *ngIf="homeUrl.invalid">{{fError('homeUrl')}}</mat-error>
                    </mat-form-field>
                </div>
                
                <div class="col-6">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Logo Image File Name</mat-label>
                        <input matInput type="text"  placeholder="Logo Image"  formControlName="logoImg" name="logoImg">
                        <mat-icon matPrefix class="text-grey-500">anchor</mat-icon>
                        <mat-error *ngIf="logoImg.invalid">{{fError('logoImg')}}</mat-error>
                    </mat-form-field>
                </div>


            </div>
            <div class="col-12 flex-align-items">
                <mat-form-field floatLabel="always" class="w-100">
                    <mat-label>Notes</mat-label>
                    <textarea matInput rows="3" formControlName="notes" type="text" class="form-control"></textarea>
                </mat-form-field>
            </div>
            
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end mr-2">
                <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="formGrp.invalid" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
