<mat-tab-group  mat-stretch-tabs #branchTabs
        class="mat-card" 
        [selectedIndex]="selTabIdx"
        (selectedIndexChange)="selectedTabChanged($event)">

        <!-- -TAB 0 dashboard --> 
        <mat-tab label="Dashboard">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">dashboard</mat-icon>
                <!--
                <img class="tab-icon neighbor-icon" src="/assets/images/common/project_tr.png" alt="Dashboard">
                -->
                Dashboard
            </ng-template>
            <div class="m-0 tab-blue text-center">
                Dashboard
            </div>
            
           
        </mat-tab>

        <!-- -TAB 1 Aircraft Market --> 
        <mat-tab label="Aircraft Market">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">connecting_airports</mat-icon>
                Flight Queue
            </ng-template>
            <ams-flp-charter-tab-flq tabindex="1"></ams-flp-charter-tab-flq>
        </mat-tab>

        <mat-tab label="Aircrafts">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">flight</mat-icon>
                Aircrafts
            </ng-template>
            <!--
            <ams-admin-grid-mac-aircrafts tabindex="2"></ams-admin-grid-mac-aircrafts>
            -->
        </mat-tab>
       
                
    </mat-tab-group>