<div class="panel-body" style="flex-grow: 1">

    <!-- Static Container -->
    <div class="static-container">
        <div class="d-flex flrx-align-items flex-space-between w-100">

            <div class="flex-align-items flex-start">

            </div>
            
            <div class="flex-align-items flex-end">

            </div>

        </div>
    </div>
</div>