 <!-- Title -->
 <div class="title-container">
    <div class="modal-title">AIRPORT DETAIL</div>
</div>
<hr class="mb-0">
<div *ngIf="!airport">No Data</div>


<div class="col-12 p-2">
    <ams-card-airport-info [airport]="airport" class="card p-1"></ams-card-airport-info>
</div>


<div class="mt-2">
    
</div> 
