<div class="sxtable-container-tab">
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary">
            <div class="flex-align-items flex-space-between w-100 white h64">
                <div class="flex-start flex-align-items h64">
                    <span class="semi-bold">{{dataCount | number:'1.0-0'}}</span>
                    <span *ngIf="dataCount == 1" class="pl-1">Aircraft</span>
                    <span *ngIf="dataCount !== 1" class="pl-1">Aircrafts</span>
                </div>
                <div class="flex-end h64">
                    
                    <sx-button-round 
                        (click)="addMac()"
                        [disabled]="!canEdit"
                        message="Add Manufacturer Aircraft"
                        icon="add"
                        class="mr-3"
                       > 
                    </sx-button-round>
              
                    <mat-form-field floatLabel="always" appearance="fill" class="white size-12">
                        <mat-label class="white"><mat-icon>filter_list_alt</mat-icon> <i> filter</i></mat-label>
                        <input matInput (keyup)="applyFilter($event)" class="white">
                    </mat-form-field>
    
                    <sx-button-flat 
                        (click)="refreshClick()" 
                        position="left" 
                        message="Reload Data"
                        icon="refresh" 
                        color="dark"
                        class="mr-2 ml-3">
                    </sx-button-flat>
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body-toolbar">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">
    
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef width ="60px" class="txt-ell-60"></th>
                <td mat-cell *matCellDef="let mac" class="txt-ell-60">
                    <div class="flex-align-items w-full">
                        
                        <sx-button-round 
                            (click)="gotoMac(mac)"
                            [disabled]="!canEdit"
                            position="left" 
                            icon="open_in_new"
                            message="View Aircraft"> 
                        </sx-button-round>
                        
                        <mat-icon class="link m-t-4 m-l-4 m-r-8 f-s-20"  
                            (click)="ediMac(mac)"
                            matTooltip="Edit Aircraft {{mac.model}}">
                            edit
                        </mat-icon>
                        <!--
                        <sx-button-round 
                            message="Show Airport Details" tooltipPlacement="bottom"
                            color="light"
                            (click)="spmAirportOpen(airport)" 
                            icon="info"> 
                        </sx-button-round>
                        -->
                    </div>
                
                </td>
            </ng-container>
            <ng-container matColumnDef="image" >
                <th mat-header-cell *matHeaderCellDef width ="60px" class="text-center"></th>
                <td mat-cell *matCellDef="let mac" class="text-center">
                    <div *ngIf="mac.imageUrl" class="icon-value mr-1" matTooltip="{{mac.model}}">
                        <img src="{{mac.imgTableUrl}}" alt="{{mac.model}}"/>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="macId"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="60px">№</th>
                <td mat-cell *matCellDef="let row" class="p-r-8">
                    <div class="w-full text-left">
                        {{row.macId}}
                    </div>
                    
                </td>
            </ng-container>
            <ng-container matColumnDef="acTypeId"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="80px" class="pl-2">Type</th>
                <td mat-cell *matCellDef="let row" class="pl-2">
                    <div class="w-full text-left">
                        {{row.acTypeId | actype}}
                    </div>
                    
                </td>
            </ng-container>
            <ng-container matColumnDef="model" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-200 ps-2">Model</th>
                <td mat-cell *matCellDef="let row" class="pl-2">
                    <div class="flex-align-items">
                        <div>{{row.model}}</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="powerplant">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-120 ps-2">Powerplant</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120 ps-2">
                    <div class="flex-align-items image-16" >
                        <!--
                        <img src="{{row.flagUrl}}" alt="{{row.iso2}}"/>
                        -->
                        <div class="mr-2">{{row.powerplant}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="maxSeating" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="80px" class="pl-2 text-right">Capacity</th>
                <td mat-cell *matCellDef="let row" class="pl-2 text-right">
                    <div class="flex-align-items w-100">
                        <div class="w-100 pe-4">{{row.maxSeating | number:'1.0-0'}}</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="operationTimeMin"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="60px">OP Time (min)</th>
                <td mat-cell *matCellDef="let row" class="p-r-8">
                    <div class="w-full text-left">
                        {{row.operationTimeMin| number:'1.0-0'}}
                    </div>
                    
                </td>
            </ng-container>
            <ng-container matColumnDef="maxRangeKm">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="60px">Range (Km)</th>
                <td mat-cell *matCellDef="let row" >
                    <div class="flex-align-items image-16" >
                        <!--
                        <img src="{{row.flagUrl}}" alt="{{row.iso2}}"/>
                        -->
                        <div class="mr-2">{{row.maxRangeKm| len}}</div>
                        
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="maxTakeOffKg">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="120px">Max Take Off Kg</th>
                <td mat-cell *matCellDef="let row" >
                    <div class="flex-align-items image-16" >
                        <!--
                        <img src="{{row.flagUrl}}" alt="{{row.iso2}}"/>
                        -->
                        <div class="mr-2">{{row.maxTakeOffKg| mtow}}</div>
                        
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="amsStatus" >
                <th mat-header-cell *matHeaderCellDef width ="120px">AMS Status</th>
                <td mat-cell *matCellDef="let row">
                    <div class="flex-align-items">
                        <div *ngIf="row.amsStatus !== active">{{row.amsStatus | amsstatus}}</div>
                        <ams-icon-bool *ngIf="row.amsStatus === active" value="true"></ams-icon-bool>
                    </div>

                </td>
            </ng-container>
            
            <ng-container matColumnDef="udate">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="100px">Updated On</th>
                <td mat-cell *matCellDef="let row">{{row.udate | date:'MMM d, y'}}</td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: false"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        [showFirstLastButtons]="true" >
    </mat-paginator>
</div>