
    
    <sx-filter-panel [panelVar]="panelInVar"  
        fptitle="Charter Flights Queue"
        (closePanel)="closePanelLeftClick()">
        <ams-flp-charter-filter-panel></ams-flp-charter-filter-panel>
    </sx-filter-panel>
    
    <div class="ams-content-body" [ngClass]="{'sidebar-open' :panelInVar!==in, 'sidebar-closed':panelInVar===in}">
        <router-outlet></router-outlet>
    </div>

    <div [@togleBtnTopRev]="!panelInVar"  
        (click)="expandPanelLeftClick()" class="side-tab-btn-top">
        <i class="material-icons modus-icons">east</i>
    </div>

