
/////////////
// -MIXINS //
/////////////
$font-med: 20px;
@mixin clearBtnStyle() {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    line-height: 1.42rem;
    list-style: none outside none; 
    text-align: left;
    text-decoration: none;
    text-indent: 0;
}

@mixin clearFocusStyle() {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@mixin createFlatButton($name,$color,$hoverColor) {
    .btn-flat-#{$name}{
        @include text($font-med, #{$color} , 300);
        padding: 4px 4px;
        &:hover{
            color: $hoverColor;
            cursor:pointer;
        }
        &:focus {
            @include clearFocusStyle();
            color: $hoverColor;
        }
    }
}

// This is for "routerLinkActive" to override the color of a button if we use it as a link 
.btn-flat-active-routerLinkActive{
    & > button {
        color:$yellow-main !important;
    }
}

*:focus{
    @include clearFocusStyle();
}
button:focus{
    @include clearFocusStyle();
}

//////////////////
// -FLAT BUTTONS //
//////////////////
.btn-flat{
    @include clearBtnStyle();
    position: relative!important;
    margin:4px;
     -webkit-transition: color .5s; /* For Safari 3.0 to 6.0 */
     transition: color .5s; /* For modern browsers */
    .material-icons{
        //@include placement(absolute,4px, null, null, -12px);
        font-size: $f-18px;
    }
    .fa{
        //@include placement(absolute,4px, null, null, -12px);
        font-size: $f-18px;
    }
}

@include createFlatButton('white','#fff',$yellow-main);
@include createFlatButton('blue',$blue-main,$yellow-main);
@include createFlatButton('red',$red,$red-light);
@include createFlatButton('active',$yellow-main,$yellow-main);
/***  WARNING: keep '.btn-flat-disabled' under '.btn-flat-blue' and 'btn-flat-white' in this file ! ***/
@include createFlatButton('disabled',$gray-dark,$gray-dark);

/////////////////////
// LINKS
/////////////////////
.dark-link{
    color: #ffffff;
    &:hover{
        cursor: pointer;
        color: $yellow-main;
    }
}


.link{

    margin-top: auto;
    margin-bottom: auto;
    align-content: center!important;

    &:hover{
        cursor: pointer;
        color: $yellow-main;
        & > .material-icons {
            cursor: pointer;
            color: $yellow-main;
        }
    }
    &-blue{
        @extend .link;
        color: $blue-main;
        & > .material-icons {
            color: $blue-main;
            &:hover{
                cursor: pointer;
                color: $blue-lighten;
            }
        }
        &:hover{
            cursor: pointer;
            color: $blue-lighten!important;
            & > .material-icons {
                cursor: pointer;
                color: $blue-lighten;
            }
        }
    }
    &-green{
        @extend .link;
        color: $green;
        & > .material-icons {
            color: $green;
            &:hover{
                cursor: pointer;
                color: $yellow-main;
            }
        }
        &:hover{
            cursor: pointer;
            color: $yellow-main;
        }
    }
    &-orange{
        @extend .link;
        color: $orange-main;
        & > .material-icons {
            color: $orange-main;
            &:hover{
                cursor: pointer;
                color: $red-light;
            }
        }
        &:hover{
            cursor: pointer;
            color: $red-light;
        }
    }
    &-red{
        @extend .link;
        color: $red-light;
        & > .material-icons {
            color:  $red-light;
            &:hover{
                cursor: pointer;
                color: $orange-main;
            }
        }
        &:hover{
            cursor: pointer;
            color: $orange-main;
        }
    }
    &-gray{
        @extend .link;
        color: $font-light;
        & > .material-icons {
            color: $font-light;
            &:hover{
                cursor: pointer;
                color: $yellow-main;
            }
        }
        &:hover{
            cursor: pointer;
            color: $yellow-main;
        }
    }
}

.toast-container{
    font-weight: 300;
}

.icon-value{
    display: flex;
    align-items: center;
    white-space: nowrap;
    align-self: center;
    -webkit-font-smoothing: antialiased;
    opacity: 0.8;

    &:hover{
        opacity: 1;
        /*color: $blue-main;*/
        /*border-bottom: $yellow-main solid 0.5px;*/
        cursor: pointer;
    }
    &-bg{
        @extend .icon-value;
        background-repeat: no-repeat;
        background-size: 70px;
        background-position: -10px;
        margin: 0px;
        padding: 0px;
        height: 40px;
        width: 40px;
    }

    &-large{
        @extend .icon-value;
        opacity: 1;
        max-width: 150px;
        & > i {
            font-size: 48px;
            margin: 0px!important;
        }
        & > img {
            margin: 15px 0px 0px 0px !important;
            height: 48px!important;
            max-width: 150px;
        }
    }

    & > i {
        font-size: 18px;
        margin-right: 2px;
        margin-top: -5px;
    }
    & > img {
        margin-right: 2px;
        margin-top: -5px;
        height: 18px;
    }
}

.large{
    .icon-value{
        & > i {
            font-size: 24px!important;
        }
        & > img {
            height: 24px!important;
            font-size: 24px;
            line-height: 1;
            opacity: 1;
        }
    }
   
}

.value-icon{
    margin-right: 0px;
    display: flex;
    align-items: center;
    /*font-size: 12px;*/
    -webkit-font-smoothing: antialiased;
    opacity: 0.8;

    &:hover{
        opacity: 1;
        /*border-bottom: $yellow-main solid 0.5px;*/
        cursor: pointer;
    }

    & > i {
        font-size: 18px;
        margin-left: 2px;
        margin-top: -5px;
    }
    & > img {
        margin-left: 2px;
        margin-top: -8px;
        height: 16px;
    }
}

/////////////////////
//  -BUTTONS       //
/////////////////////
.btn {
    display: flex;
    justify-content: center;
    font-weight: 400;
    /*padding: 5px 5px!important;*/
}


/////////////////////
// -TS BUTTONS //
/////////////////////

.btn-ts {
    @include clearBtnStyle();
    @include text($f-14px, #fff);
    background-color: $blue-main;
    border-color: $blue-main;
    border-radius: 0px;
    padding: 13px 20px;
    & > .material-icons {
        font-size: 19px;
        vertical-align: -20%;
    }
    &:hover{
        color: #fff;
        background-color: $blue-dark;
        border-color: $blue-dark;
        cursor: pointer;
    }
    &:focus {
        @include clearFocusStyle();
        background-color: $blue-black;
    }
  }
  
  .btn-ts-delete {
    @include clearBtnStyle();
    @include text($f-14px, #fff);
    background-color: $red;
    border-color: $red;
    border-radius: 0px;
    padding: 13px 20px;
    & > .material-icons {
        font-size: 19px;
        vertical-align: -20%;
    }
    &:hover{
        color: #fff;
        background-color: $red-light;
        border-color: $red-light;
        cursor: pointer;
    }
    &:focus {
        @include clearFocusStyle();
        background-color: $red-light;
    }
  }
  
  
  //CANCEL
  .btn-ts-cancel {
    @include clearBtnStyle();
    @include text($f-14px, $font-light);
    -webkit-box-shadow:inset 0px 0px 0px 2px $font-light;
    -moz-box-shadow:inset 0px 0px 0px 2px $font-light;
    box-shadow:inset 0px 0px 0px 2px $font-light;
    background-color: transparent;
    // border: $font solid 2px;
    border-radius: 0px;
    padding: 13px 20px;
    & > .material-icons {
        font-size: 19px;
        vertical-align: -20%;
    }
    &:hover{
        color: $gray-dark;
        background-color: transparent;
        -webkit-box-shadow:inset 0px 0px 0px 2px $gray-dark;
        -moz-box-shadow:inset 0px 0px 0px 2px $gray-dark;
        box-shadow:inset 0px 0px 0px 2px $gray-dark;
        cursor: pointer;
    }
    &:focus {
        @include clearFocusStyle();
        -webkit-box-shadow:inset 0px 0px 0px 2px $gray-dark;
        -moz-box-shadow:inset 0px 0px 0px 2px $gray-dark;
        box-shadow:inset 0px 0px 0px 2px $gray-dark;
    }
  }
  
  .btn-ts.disabled, .btn-ts:disabled {
    background-color: $gray-dark;
    border-color: $gray-dark;
    color: $font;
  }
  .btn.disabled, .btn:disabled {
    @extend .btn-ts-cancel;
    cursor: not-allowed;
    opacity: .65;
  }
  
  
  // -ts TWO
  .btn-ts-two {
    @include clearBtnStyle();
    @include text($f-14px,$blue-main, 500);
    background-color: $yellow-main;
    border-color: $yellow-main;
    border-radius: 0px;
    padding: 13px 20px;
    & > .material-icons {
        font-size: 19px;
        vertical-align: -20%;
    }
    &:hover{
        color: $blue-main;
        background-color: $yellow-light;
        border-color: $yellow-light;
        cursor: pointer;
    }
    &:focus {
        @include clearFocusStyle();
        background-color: $yellow-white;
    }
  }

/////////////////////
// -ROUND BUTTONS //
///////////////////
sx-button-round {
    align-self: center;
}
sx-button-flat{
    align-self: auto;
}

.btn-round{
    @include clearBtnStyle();
    margin:5px;
    background-color: $yellow-main;
    border-radius: 999em;
    @include square(24px);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    line-height: 1;
    font-size: 24px;
    position: relative;
    cursor: pointer;
    &:hover{
        background-color: $yellow-light;
    }
    &-red{
        @extend .btn-round;
        background-color: $red;
        &:hover{
            background-color: $red-light;
        }
    }
    &-white{
        @extend .btn-round;
        color:white;
        background-color: transparent;
        &:hover{
            background-color: $yellow-light;
        }
    }
    // keep disabled on the bottom to override any other colors. 
    &-disabled{
        @extend .btn-round;
        background-color: $gray-dark;
        &:hover{
            background-color: lighten($gray-dark, 10% );
        }
    }
}

.btn-round i {
    @include text(16px, #fff);
    @include placement(absolute, 17%, null, null, 0.1px);
    @include square(100%);
    text-align: center;
}


.info-btn{
    color: $blue-main;
    padding: 4px 8px 0px 8px;
    &:hover{
        color: $yellow-main;
        cursor: pointer;
    }
}

/////////////////////
// -IMAGES         //
/////////////////////
 
.img{
    &-q200{
        max-width: 200px;
        max-height: 200px;
    }
    &-w200{
        max-width: 200px;
    }
    &-h200{
        max-height: 200px;
    }
} 

.border{
    &-30{
        border-radius: 30%;
    }
    &-50{
        border-radius: 30%;
    }
}

/////////////////////
// -ROUND BUTTONS //
///////////////////
sx-format-control{
    align-self: center;
}
.format-control {
    display: flex;
    -moz-transition: background .2s ease-in;
    -o-transition: background .2s ease-in;
    -webkit-transition: background .2s ease-in;
    transition: background .2s ease-in;
    background: transparent; 
    padding: 8px;
    margin: 2px 0px 3px 0px;
    border-radius: 0px;
    &:hover{
        cursor: pointer;
    }
    &-light{
        &:hover{
            color: black;
            background: $gray-light;
        }
    }
    &-dark{
        color: #fff;
        &:hover{
            color: $yellow-main;
            background: $light-blue;
        }
    }
    &-blue{
        color: $light-blue;
        border: 2px $light-blue solid;
        border-radius: 20px;
        padding: 6px!important;
        &:hover{
            color: $yellow-main;
            background: $light-blue;
        }
    }
    &-white{
        color:  #fff;
        border: 2px  #fff solid;
        border-radius: 20px;
        padding: 6px!important;
        &:hover{
            color: $yellow-main;
            background:  #fff;
            border: 2px $yellow-main solid;
        }
    }
    &-disabled{
        color:$gray-dark;
        &:hover{
            color:$gray-dark!important;
            background:transparent;
            cursor: default!important;
        }
    }
}
.format-control-no-label{
    @include square(40px);
     border-radius: 20px;
}

.format-control-large{
    @include square(64px);
     border-radius: 33px;
     & > .material-icons{
         font-size: 48px;
     }
}
/*
.mat-toolbar{

    & sx-button-flat{
        margin-top: 13px !important;
    }
}
*/
