.mat-mdc-card{
    &-header{
        width:100%;
        position: relative;
        display: block!important;
        padding: 16px!important;
        &-text{
            @extend .border-b1;
            @extend .mat-card-header !optional;
            margin: 0px!important;
        }
       
    }
    &-subtitle{
        @extend .ellipsis;
        width:100%;
        margin-bottom: 8px;
    }
    &-actions{
        width:100%;
    }
    /*
    &-actions {
        position: absolute; 
        right: 10px;
        z-index: 2; 
        top: -15px;
    }*/
    
}

.static-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 1px solid #cbcdd6;
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

ams-card-aircraft-id-row{
    min-height: 128px;
}

//////////////////
// -CARD-COUNTRY //
//////////////////
.card-country{
    position: relative;
    background: #fff;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    padding: 5px;
    margin: 10px;
    height: 140px;
    &:hover{
        color: $yellow-main;
        border: $yellow-main solid 2px;
        cursor: pointer;
    }
    .heder{
        display: flex;
        justify-content:space-between;
        img {
            height: 30px;
            padding-top: 5px;
            padding-left: 5px;
        }
        .title{
            display: -webkit-box;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            width: 100%;
            padding-bottom: 10px;
            padding-top: 10px;
            overflow: hidden;
            white-space: nowrap!important;
        }
    }
    .body {
        display: flex;
        flex-wrap: wrap;
        -webkit-box-align: center;
        align-items: center;
    }
    .blur-back{
        position: absolute;
        top: 0;
        z-index: 1;
        height: 100%; right: 0;
        background-size: cover;
        width: 60%;
        border-radius: 11px;
        & > img {
          width: 100%;
          height: inherit;
          border-radius: 5px;
          object-fit: cover;
          mask-image: linear-gradient(to left, rgba(0,0,0,1), rgba(0,0,0,0));
        }
    }
}

//////////////////
// -CARD-200    //
//////////////////
.card-200, 
.card-ap{
    @extend .mat-mdc-card;
    position: relative;
    margin-right: 2px;
    display: block;
    width: 100%;
    overflow: hidden;
    padding-top: 4px;
    padding-bottom: 1px;

    &:hover{
        @include card-shadow-hover;
        cursor: pointer;
    }

    &-flag{
        @include placement(absolute, 0px, null, null, 0px);
        z-index: 1;
        height: 100%;
        background-size: cover;
        border-radius: 11px;
        & > img {
            width: 100%;
            height: inherit;
            border-radius: 0px 10px 10px 0px;
            object-fit: cover;
            mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
        }
    }
    &-menu{
        @include placement(absolute, -9px, 5px, null, null);
        z-index: 1;
        line-height: 12px!important;
        font-size: $f-12px;

        &-item {
            height: 24px!important;
            line-height: 24px!important;
            font-size: 14px;
        }

        .mat-mdc-icon-button{
            width: 14px;
            height: 14px;
            flex-shrink: 0;
            line-height: 14px;
        }
        .mat-mdc-icon-button i, .mat-icon-button .mat-icon {
            line-height: 12px;
        }

        
        
        .mat-icon {
            height: 12px;
            width: 12px;
        }
        .material-icons {
            font-size: 12px;
        }
        button.mat-mdc-menu-item{
            line-height: 24px!important;
            height: 24px!important;
            padding: 0 8px!important;
        }
        .mat-mdc-menu-content {
            padding-top: 0px !important;
            padding-bottom: 0px !important;
            }
            .mat-mdc-menu-item{
            line-height:24px;
            height:24px;
            font-size: 12px;
            }
        .mat-mdc-menu-panel{
            .mat-mdc-menu-content{
                .mat-mdc-menu-item {
                    height: 12px;
                    line-height: 12px;
                    padding: 0 6px;
                }
            }
        }
        
   
    }
    &-body{
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        align-items: center;
        margin-left: 55px;
        height: 100%;
        padding: 0px 4px;
    }
    &-title{
        display: flex;
        align-self: flex-start;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        font-size: $f-14px;
    }
    &-info{
        display: flex;
        align-self: flex-end;
        justify-content: space-between;
        padding-top: 4px;
        font-size: $f-14px;
        width: 100%;
    }
    &-row{
        padding: 5px 5px 5px 0px;
        font-size: $f-12px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .image{
        &-18 {
            min-width: 18px;
            &:hover{
                @include hover-pop(rgba(0,0,0,0.1), 50%, 250ms, 0);
                cursor: pointer;
            }
            & > img {
                height: 18px;
                
                padding: 0px;
                vertical-align: bottom;
                image-rendering: crisp-edges;
            }
        }
        &-16 {
            min-width: 16px;
            &:hover{
                @include hover-pop(rgba(0,0,0,0.1), 50%, 250ms, 0);
                cursor: pointer;
            }
            & > img {
            height: 16px;
            padding: 0px;
            vertical-align: bottom;
            image-rendering: crisp-edges;
            }
        }
    }
   
    &-public{
        color:#fff;
        background-color: $light-blue;
        padding: 5px 5px 0px 5px;
        border-radius: 20px;
        @include placement(absolute, 74px, 8px, null, null);
        & > i {
            font-size: $f-20px;
        }
    }
    &-sblue{
        color:#fff;
        background-color: $light-blue;
        padding: 3px 7px 0px 7px;
        border-radius: 15px;
        @include placement(absolute, 80px, 8px, null, null);
        & > i {
            font-size: $f-14px;
        }
    }
     &-syellow{
        color: $yellow-main;
        /*background-color: $yellow-main;*/
        padding: 3px 7px 0px 7px;
        border-radius: 15px;
        @include placement(absolute, 80px, 38px, null, null);
        & > i {
            font-size: $f-14px;
        }
    }

    &-icontop{
        color:#fff;
        background-color: $light-blue;
        padding: 5px 5px 0px 5px;
        border-radius: 20px;
        @include placement(absolute, 3px, null, null, null);
        & > i {
            font-size: $f-20px;
        }
    }
}



.card-ap{
    border-left: 5px solid $yellow-main; 

    &-wip{
        @extend .card-200;
        border-left: 5px solid $light-blue; 
    }
    &-review{
        @extend .card-200;
        border-left: 5px solid $green; 
    }
    &-done{
        @extend .card-200;
        border-left: 5px solid $gray-dark; 
    }
}


ams-spm-flight-history{
    height: calc(100vh - 112px);
}