.chip {
    background-color: $white;
    display: inline-flex;
    align-items: center;
    flex-wrap: nowrap;
    font-weight: 600;
    border: 1px solid transparent;
    padding: 3px 5px;
    font-size: .8125rem;
    line-height: 1.75;
    border-radius: 1rem;
    cursor: pointer;

    &-raised {
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    }
    &-outline {
        color: #353a40;
        border-color: #a2a4ab;
    }
    &-thumbnail {
        display: flex;
        border-radius: 50%;
        overflow: hidden;
        height: 1.5rem;
        width: 1.5rem;
        flex-grow: 0;
        margin-right: 0.5rem;
    }
    &-text{
        display: flex;
        flex-grow: 1;
        font-weight: 500;
        margin-right: 0.3rem;
    }
}