.flight{
    &-list {
        padding: 6px;
        background-color: rgba(0,0,0,.5);
        &-row{
            @extend .flight-list;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            border-top: 1px solid #707070;
            font-size: 12px;
            text-transform: uppercase;
            &:hover{
                background-color: rgba(0,0,0,.8);
            }
        }
    }
    &-info{
        height: 335px!important;
        min-height: 280px;
    }
}