.scroll-box,
.scroll-container{
    min-height: 350px;
    background: $scroll-gray;
    margin-bottom:20px;
    padding: 10px 15px 10px 15px;
    overflow-y: auto;
    overflow-x: hidden;

    &-tab{
        @extend .scroll-container;
        @extend .flex-wrap;
        display: flex;
        flex-direction: row;
        align-items: flex-start!important;
        align-content: flex-start!important;
        margin: 0px!important;
        padding: 8px 0px!important;
        height: calc(100vh - 112px) !important;
        width: 100%;
    }
    &-note{
        font-size: $f-14px;
        margin-left: 10px;
    }
    &-white{
        @extend .scroll-box;
        height: 300px;
        
        background: #fff!important;
        background-color: #fff;
        overflow-y: auto;

        &-140{
            @extend .scroll-container-white;
            height: 140px;
            
            background: #fff;
            overflow-y: auto;
        }
        &-250{
            @extend .scroll-container-white;
            min-height: 250px;
            height: 250px;
        }
        &-270{
            @extend .scroll-container-white;
            min-height: 270px;
            height: 270px;
            margin-bottom: 4px;
            .mat-mdc-tab-group{
                display: block!important;
                min-height: 200px!important;
                height: 250px!important;
            }
            .mat-mdc-tab-body-wrapper{
                max-height: 200px!important;
                min-height: 200px!important;
            }
            
           
        }
        &-300{
            @extend .scroll-container-white;
            min-height: 300px;
            height: 300px;
            margin-bottom: 4px;
            .mat-mdc-tab-group{
                display: block!important;
                min-height: 230px!important;
                height: 280px!important;
            }
            .mat-mdc-tab-body-wrapper{
                max-height: 230px!important;
                min-height: 230px!important;
            }
            
           
        }
    }
    &-transparent{
        @extend .scroll-box;
        background: transparent!important;
        overflow-y: auto;
    }
    &-small{
        @extend .scroll-box;
        min-height: 200px;
        height: 200px;
    }
    &-pad-3{
        @extend .scroll-box;
        padding: 3px!important;
    }
    &-100{
        @extend .scroll-box;
        height: 100%;
        &-p0{
            @extend .scroll-box-100;
            padding: 0px!important;
        }
    }
    &-h100{
        @extend .scroll-box;
        min-height: 250px;
        @include calc-height(100vh, 315px);
    }
    &-h310{
        @extend .scroll-box;
        min-height: 250px;
        margin-bottom:0px;
        @include calc-height(100vh, 310px);
        &-p0{
            @extend .scroll-box-h310;
            padding: 0px 0px 0px 0px;
        }
    }
    &-h290{
        @extend .scroll-box;
        min-height: 160px;
        overflow-y: auto;
        @include calc-height(100vh, 290px);
        &-p0{
            @extend .scroll-box-h290;
            padding: 0px!important;
        }
    }
    &-h260{
        @extend .scroll-box;
        background: transparent!important;
        min-height: 100px;
        margin-bottom:0px;
        @include calc-height(100vh, 257px);
    }
    &-h270{
        @extend .scroll-box;
        min-height: 200px;
        margin-bottom:0px;
        @include calc-height(100vh, 270px);
    }
    &-h160{
        @extend .scroll-box;
        background: #fff;
        overflow-y: auto;
        min-height: 150px!important;
        padding-top: 0px!important;
        padding-bottom: 0px;
        margin-bottom:0px;
        @include calc-height(100vh, 164px);
    }
}
