
////////////////
// -SIDE TAB   //
////////////////

/** use this.expandTabVar = this.expandTabVar === Animate.in ? Animate.out : Animate.in; for side tab,
see example in quote summary component. **/

.side{
    @include placement(absolute, 33% ,0px,null,null);
    background: transparent;
    @extend .flex-column;
    &-tab{
        background: $blue-main;
        @include size (72px, 64px);
        @extend .flex-align-items;
        padding-left:10px;
        color:#ffffff;
        &-yellow{
            @extend .side-tab;
            background: $yellow-main;
            &:hover{
                background: $yellow-light;
                cursor: pointer;
            }

            .key-value-block{
                width: 200px;
                overflow: hidden;
            }
        }
        &-cyan{
            @extend .side-tab;
            margin-top: 20px;
            background: $yellow-main;
            &:hover{
                background: $yellow-light;
                cursor: pointer;
            }

            .key-value-block{
                width: 200px;
                overflow: hidden;
            }
        }
        &-btn {
            @extend .side-tab;
            
            color:#000;
            @include placement(absolute, 30% ,0px,null,null);
            @include size (72px, 64px);
            &:hover{
                background: $yellow-light;
                cursor: pointer;
            }

            &-top{
                @extend .side-tab-btn;
                z-index: 140;
                background: $yellow-main;
                /*background:transparent!important;*/
                @include size (52px, 32px);
                @include placement(absolute, 0px ,null,null,0px);
                align-items: center;
                & > i {
                    font-size: 1.25rem!important;
                    line-height: 0.8!important;
                }
                &:hover{
                    background-color: ui-color('hover');
                    cursor: pointer;
                }
                &-int{
                    @extend .side-tab-btn-top;
                    @include placement(absolute, 5px ,null,null,0px);
                }
            }
        }
    
        &:hover{
            background: $light-blue;
            cursor: pointer;
        }
        /*
        @include med-window {
            & {
                display: none;
            }
        }*/
        & > i {
            font-size: 50px; 
        }
        &-content{
            white-space: nowrap;
            width: 100%;
            margin-left: 10px;
        }
    }
}
