////////////////
// -SIDE PANEL //
////////////////
.side-panel-modal{
    &-large{
        &-container{
            z-index: 170;
            @include placement(fixed, 0px, -600px);    
            @include size(600px, 100vh);
            background: #fff;
            box-sizing: padding-box;
            -moz-box-sizing: padding-box;
            -webkit-box-sizing: padding-box; 
            /*
            @include med-window{
               &{
                width: 100%;
               }
            }
            */
            
        }
    }
    &-container{
        @include placement(fixed, 0px, -450px);        
        z-index: 180;
        @include size(450px, 100vh);        
        background: #fff;
        box-sizing: padding-box;
        -moz-box-sizing: padding-box;
        -webkit-box-sizing: padding-box; 
        
    }
    
    &-body{
        position: relative;
        height: 100%;
        overflow-y: auto;
        padding: 0px 4px!important;

        .clear-button-container{
            position: absolute;
            top: -5px;
            right: 10px;
            opacity: 0.6;
            z-index: 180;
            font-size: 12px!important;
            &:hover{
                opacity: 1;
                cursor: pointer;
              }
        }
        .title-container{
            padding: 16px 24px 7px 24px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            min-height: 40px;
            opacity: 0.6;
            &:hover{
                opacity: 1;
              }
        }
    }
    &-close{
        top: 4px;
        & > .close{
            font-weight: 400;
        }
        display: flex;
        justify-content: flex-end;
        min-height: 30px;
        opacity: 0.6;
    } 
    &-overlay {
        content: '';
        @include placement(fixed, 0px, null,null,0px); 
        @include square(100%);               
        display: block;
        z-index: 170;
        background-color: rgba(0,0,0,0.3);
      }
        
}

/*$blue-main*/
.page-title{
    margin-bottom:0px;
    padding-top: 5px;
    padding-left: 5px;
    @include text($f-18px,$light-blue, 300);
    &-light{
        padding-top: 5px;
        padding-left: 5px;
        @include text(20px,$yellow-main, 400);
    }

    span{
        @include text($f-16px,$light-blue, 300);
    }
}

.spm {

    &-map{
        position: relative;
        padding: 0px;
        margin: opx;
        height: calc(100ch - 214px);
        width: 100%;
    }
    &-header{
        display: block;
        width: 100%;
        padding: 10px;
        font-weight: 400!important;
        background-color: aliceblue;
        position: relative;
        .title{
            font-weight: 400;
            padding: 10px 5px;
        }
        .subtitle{
            font-weight: 300;
        }
        .close{
            @include placement(absolute, 5px, 10px,null,null); 
            border-color: transparent!important;
            font-weight: 200;
            &:hover{
                color: #000;
                font-weight: 500;
                cursor: pointer;
              }
        }
    }
    &-body{
        flex:0.3 0.3 auto;
    }
}
/** Note: Side panel was created to give a gener left side panel, an example is in the
column mapping component where the standard columns are. Not to be confused with the filter panel. 
That is specific to filtering searches but has a lot of similarities to side panel **/
.side-panel{
    &-title{
        @extend .page-title;
        margin: 20px 10px 10px 10px;
        &-container {
            display: flex;
            justify-content: space-between;
            & > .side-panel-title-button{
                margin-top: 14px;
            }
        }
    }
    &-wrapper{
        @include size(325px,auto);
    }
    &-container{
        @include size(320px);
        @include placement(fixed, 50px, null, 0px);
        z-index: 1000;
        overflow-x: hidden;
        overflow-y: auto;
        border-right: 1px solid #eee;
    }
     &-hr{
        @include size(100%);
    }
    &-search-input{
        width:266px;
        padding: 0px 8px 0px 10px;
    }
    &-search-input-sm{
        width:226px;
        padding: 0px 8px 0px 10px;
    }
}

.side-panel{
    &-sec {
        margin-top: 10px;
        width: 100%;
        &-title{
            font-size: 16px;
            color: #666;
        }
        &-rows{
            width: 100%;
            flex-direction: column !important;
            box-sizing: border-box;
            .sp-row{
                font-size: 14px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 5px;
                padding: 0px 2px;
                &:hover{
                    cursor: pointer;
                    color: $yellow-main;
                }

                .sp-label{
                    font-weight: 300 !important;
                    width:120px;
                    padding-right: 10px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    &-sm{
                        width:80px!important;
                    }
                    &-med{
                        width:140px;
                    }
                    &-large{
                        width:180px;
                    }
                }
                .sp-value{
                    font-weight: 400 !important;
                    width: 100%;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}


.side-panel{
    &-sibling-container{
        @include size(100%, auto);
        width: 100%;
        position: relative;
        background: $scroll-gray;
        @include calc-min-height(100vh, 133px);

        padding-right: 15px;
        padding-bottom: 5px;
        /** Note: The class side-panel-sibling-container it used to go along side and page with a side filter. 
        for example column mapping or search results. However if the container has a utility bar like search
        results use the in and out classes below. They adjecust left padding for when the filter is expanded
        or contracted. Otherwise for a standard sibling container use the class above **/
        &-out{
            @include calc-height(100vh, 63px);
            overflow-x: hidden;
            overflow-y: scroll;
            padding-left: 10px; 
            padding-top: 73px;
        }
        &-in{
            @include calc-height(100vh, 63px);
            overflow-x: hidden;
            overflow-y: scroll;
            padding-left: 325px; 
            padding-top: 73px;           
        }
        &-table{
            overflow-y: hidden;
            @include calc-height(100vh, 63px);
        }
    }
}

.val{
    &-row{
        font-size: 14px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;
        &:hover{
            cursor: pointer;
            color: $yellow-main;
        }

        .label{
            font-weight: 300 !important;
            width:140px;
            padding-right: 0px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &-med{
                @extend .label;
                width:200px!important;
            }
        }
        .value{
            font-weight: 400 !important;
            width: 100%;
            text-overflow: ellipsis;
        }
    }

}


   
