/*********************
* MAT TABLE
**********************/
.mat-mdc-table {
  width: 100%;

  &>thead>tr,
  &>tbody>tr,
  &>tfoot>tr {

    &>th,
    &>td {

      &:first-child {
        padding-left: 2px;
      }

      &:last-child {
        padding-right: 2px;
      }

      &:first-of-type {
        padding-left: 2px !important;
      }

      &:last-of-type {
        padding-right: 2px !important;
      }

      .mat-mdc-header-cell {
        white-space: normal !important;
        word-wrap: break-word !important;
      }

      .mat-mdc-cell,
      .mat-mdc-footer-cell {
        .txt-ell {
          white-space: nowrap !important;
          overflow: hidden;
          text-overflow: ellipsis !important;

          &-200 {
            @extend .txt-ell;
            width: 200px;
          }

          &-300 {
            @extend .txt-ell;
            width: 300px;
          }

          &-m200 {
            @extend .txt-ell;
            min-width: 200px;
          }

        }
      }


    }
  }

}

.txt-ell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
  padding: auto 2px;

  &-sort {
    @extend .txt-ell;
    padding-right: 18px !important;
  }

  &-40 {
    @extend .txt-ell;
    width: 40px !important;
    max-width: 50px;

    &-sort {
      @extend .txt-ell-60;
      padding-right: 18px !important;
    }
  }

  &-60 {
    @extend .txt-ell;
    width: 60px !important;
    max-width: 60px;

    &-sort {
      @extend .txt-ell-60;
      padding-right: 18px !important;
    }
  }

  &-80 {
    @extend .txt-ell;
    width: 80px !important;
    max-width: 80px !important;

    &-sort {
      @extend .txt-ell-80;
      padding-right: 18px !important;
    }
  }

  &-100 {
    @extend .txt-ell;
    width: 100px !important;
    max-width: 100px !important;

    &-sort {
      @extend .txt-ell-100;
      padding-right: 18px !important;
    }
  }

  &-120 {
    @extend .txt-ell;
    width: 120px !important;
    max-width: 120px !important;

    &-sort {
      @extend .txt-ell-120;
      padding-right: 18px !important;
    }
  }

  &-130 {
    @extend .txt-ell;
    width: 130px !important;
    max-width: 130px !important;
    &-sort {
      @extend .txt-ell-130;
      padding-right: 18px !important;
    }
  }

  &-140 {
    @extend .txt-ell;
    width: 140px !important;
    max-width: 140px !important;
    &-sort {
      @extend .txt-ell-140;
      padding-right: 18px !important;
    }
  }

  &-150 {
    @extend .txt-ell;
    width: 150px !important;
    max-width: 150px !important;
    &-sort {
      @extend .txt-ell-150;
      padding-right: 18px !important;
      max-width: 150px !important;
    }
  }

  &-160 {
    @extend .txt-ell;
    width: 160px !important;
    max-width: 160px !important;
    &-sort {
      @extend .txt-ell-160;
      padding-right: 18px !important;
    }
  }

  &-180 {
    @extend .txt-ell;
    width: 180px !important;

    &-sort {
      @extend .txt-ell-180;
      padding-right: 18px !important;
    }
  }


  &-200 {
    @extend .txt-ell;
    width: 200px;

    &-sort {
      @extend .txt-ell-200;
      padding-right: 18px !important;
      max-width: 200px !important;
    }
  }

  &-300 {
    @extend .txt-ell;
    width: 300px;
  }

  &-50p {
    @extend .txt-ell;
    width: 50% !important;
    flex: 1 2 100px;
    white-space: normal !important;
  }

  &-30p {
    @extend .txt-ell;
    width: 30% !important;
    flex: 1 2 100px;
    white-space: normal !important;
  }

  &-full {
    @extend .txt-ell;
    width: 100% !important;
    flex: 1 2 100px;
    white-space: normal !important;
  }

}

.mat-sort-header .txt-ell{
  padding-right: 18px !important;
}

.sx-spacer {
  flex: 1 1 auto;
}

.sxtable {
  &-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 1px;
    right: 0px;
    overflow: auto;
    padding: 0px 0px 0px 0px !important;

    &-full {
      @extend .sxtable-container;
      display: block;
      background-color: #fff !important;
      height: calc(100vh - 66px) !important;
    }

    &-spm {
      @extend .sxtable-container;
      position: relative !important;
      display: flex;
      flex-direction: column;
      flex: 1;
      height: calc(100vh - 490px) !important;
    }


    &-tab {
      display: block;
      height: calc(100vh - 117px) !important;
      background-color: #fff !important;
      position: relative;

      full-calendar,
      .fc {
        height: calc(100vh - 117px) !important;
        padding: 0px 8px;

        .fc-event {
          @extend .fc-event;
          overflow: hidden;

          .ev-actions {
            position: absolute;
            top: 0px;
            right: 3px;
            display: flex;
            align-items: center;

            .mat-icon {
              font-size: 15px !important;
              line-height: 22px !important;
              margin-top: 0px;
              display: flex;
              color:$blue;

              &:hover {
                cursor: pointer;
                color: $yellow!important;
              }
            }
          }
        }
        .event-selected{
          background-color: rgba(1, 82, 1, 0.8);
        }

        .fc-bg-event {
          @extend .fc-bg-event;
          border: 1px solid rgba(0, 128, 0, 0.5);
          border-radius: 6px;
          opacity: 0.8 !important;
          background-color: rgba(143, 223, 130, 0.3) !important;


          .bkg-foother {
            position: absolute;
            bottom: 0px;
            left: 3px;
            width: 100%;
            display: flex;
            align-items: center;
            color: rgba(1, 82, 1, 0.8);
            font-size: 10px;
            line-height: 15px;

            :hover {
              color: rgba(1, 82, 1, 1) !important;
              font-weight: 600;
            }
          }

          :hover {
            opacity: 1 !important;
          }
        }

        .out-of-range-before {
          background: repeating-linear-gradient(-45deg,
              #606dbc,
              #606dbc 10px,
              #465298 10px,
              #465298 20px);
        }
      }

      .wdid-day-range {
        background: repeating-linear-gradient(-45deg,
            #fff,
            rgba(255, 220, 20, .15) 10px,
            rgba(255, 220, 40, .15) 10px,
            rgba(255, 220, 40, .15) 20px);

      }

    }



    &-tail {
      @extend .sxtable-container;
      display: flex;
      flex-direction: column;
      flex: 1;
      height: 300px !important;
      background-color: #fff;
      position: relative;
      border-radius: 4px;

      &-400 {
        @extend .sxtable-container-tail;
        height: 400px !important;
      }
      &-tr{
        @extend .sxtable-container-tail;
        background-color: transparent!important;
      }
      &-tr{
        @extend .sxtable-container-tail;
        background-color: transparent!important;
      }
      &-title{
        @extend .sxtable-container-tail;
        background-color: transparent!important;
        height: 225px!important;
      }
      &-title-two{
        @extend .sxtable-container-tail;
        background-color: transparent!important;
        height: 205px!important;
      }

    }

    &-dashboard {
      @extend .sxtable-container;
      padding: 0px !important;
      display: flex;
      flex-direction: column;
      flex: 1;
      height: calc(100vh - 72px) !important;
      background-color: #fff !important;
      position: relative;

    }

    &-toolbar {
      @extend .sxtable-container;
      display: flex;
      flex-direction: column;
      height: calc(100vh - 170px) !important;
    }

    table {
      width: 100%;


    }


    .mat-mdc-paginator {
      position: relative;
      bottom: 0;
      right: 0px;
      /*
      &-container{
        @extend .flex-align-items;
        @extend .flex-space-between;
      }
      */
    }
  }

  &-body {
    display: block;
    width: 100%;
    height: calc(100vh - 240px) !important;
    overflow: auto;

    &-toolbar {
      @extend .sxtable-body;
      height: calc(100vh - 246px) !important;
    }
  }

  &-toolbar {
    width: 100%;
    color: white !important;

    .h64 {
      max-height: 55px !important;
      align-items: center;
    }

    .mat-toolbar {
      padding-top: 14px;
      font-size: 13px !important;
      font-weight: 300;
      color: white !important;
    }

    .mat-toolbar-row,
    .mat-toolbar-single-row {
      /* @include mat.form-field-density(-3);
      @include mat.button-density(-3);*/
      display: block;
      align-items: flex-end;

      .mdc-text-field--filled:not(.mdc-text-field--disabled) {
        background-color: transparent !important;
      }

    }
  }

  width: 100%;
  overflow-x: auto;

  .mat-mdc-table {
    width: 100%;
    /*max-width: 100%;*/
    margin-bottom: 1rem;
    /*display: table;*/
    border-collapse: collapse;
    margin: 0px;
  }

  .mat-mdc-header-row,
  .mat-header-row .mat-mdc-table-sticky {
    background: #59abfd;
    opacity: 1;
  }

  .mat-mdc-row,
  .mat-mdc-header-row {
    display: table-row;

  }

  .row-selected {
    font-weight: bold;
    background-color: rgba(204, 235, 255, 0.692);
  }

  .row-active {
    color: $gray-550 !important;
    background-color: rgba(255, 255, 204, 0.5);
  }

  .active {
    background-color: aliceblue !important;

  }


  .mat-mdc-cell,
  .mat-mdc-header-cell {
    word-wrap: initial;
    display: table-cell;
    flex: 0 0 100px;
    padding: 0px 4px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;

    .mat-sort-header-arrow {
      color: #fff !important;

      :hover {
        color: $yellow-white !important;
        cursor: pointer;
      }
    }
  }

  .mat-mdc-header-cell {
    color: #fff !important;
  }


  td.mat-mdc-cell {
    white-space: nowrap;
  }

}

.sxtable-loading {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0px;
  right: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*
#table, .mat-table {
    flex: 1 1 auto;
    width: 100%;
    position: relative;
  }
  */

.mat-mdc-header-row,
.mat-mdc-row {
  height: 36px !important;
}

.mat-mdc-row {
  min-height: 36px !important;
}

.mat-mdc-checkbox {
  padding-right: 15px;
}