@use '@angular/material' as mat;

@mixin my-form-field-density($density) {
  $field-typography: mat.define-typography-config(
      $body-1: mat.define-typography-level(12px, 24px, 400),
  );
  @include mat.typography-level($field-typography, 'body-1');
  @include mat.form-field-density($density);
  margin-bottom: -18px;   //  leaving a bottom margin 8px
}



////////////////////
// -TAB MATERIAL  //
////////////////////
.mat-mdc-tab-group{
  padding: 0px!important;
  width: 100%;
}
.sx-tabs{
  display: flex;
  flex-direction: column;
  flex: 1;
  /* 
  position: relative;
  calc(100vh - 57px);
  height: calc(100vh - 21px) !important;
  */
  /*TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
  /*TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
  .mat-tab-body-wrapper{
    min-height: calc(100vh - 106px) !important;
    .mat-mdc-tab-body{
      position: absolute;
    }
  }

  &-icon{
    height: 30px;
    margin-right: 8px;
  }

}

/*TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
.mat-tab-label-content{
  img{
    max-width:24px!important;
    max-height:24px!important;
    margin-right: 4px;
  }
}

.sx-tab {
  text-align: center;
  display: block;
  & > img{
      padding:24px 0px 0px 0px;
  }

  &-full{
    @extend .sx-tab;
    min-height: calc(100vh - 112px) !important;

    & > img{
      padding: 0px;
    }

    &-blue{
      @extend .sx-tab-full;
      @extend .overlay-blue;
      background-size: contain;
      background-repeat: no-repeat;
      
    }
  }
  
}

///////////////
// -LIST MATERIAL  //
///////////////
.mat-nav-list .active {
  @extend .bg-selected !optional;
}