/////////////////
/*  DROP SHADOW */
/////////////////
@mixin card-shadow() {
    -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
}

@mixin card-shadow-hover() {
    -webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.27);
    box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.27);
}



///////////////////
// TILE          //
///////////////////
.tile {
    padding: 8px;

    .title{
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
    }

    &-mac{
        padding: 8px;
        height: 200px !important;
        & > mat-mdc-card, mat-card {
            opacity: .8;
            &:hover {
                @include card-shadow-hover();
                transition: box-shadow 1s;
                cursor: pointer;
                opacity: 1;
            }
            & > mat-mdc-card-content,
            mat-card-content{
               display: flex!important;
                @extend .flex-column;
                @extend .flex-center;
                width: 100%!important;
                height: 200px !important;
                overflow: hidden;
                height: 200px !important;

                img {
                    max-width: 100%;
                    max-height: 100px!important;
                    overflow: clip;
                    vertical-align: middle;
                    border-style: none;
                    padding: 0px!important;
                    margin: auto;
                }
            }
        }


        .title{
            font-size: 16px;
            font-weight: 500;
            line-height: 1.5;
            color: #212529;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
        }

        .subtitle{
            font-size: 12px;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            width: 100%;
            text-align: center;
           span{
            font-weight: 600;
           }
        }
    }
    &-acm {
        &>mat-card {
            &>mat-card-content {
                @extend .tile;
                height: 250px !important;

                &>img {
                    padding: 12px 0px 0px 0px !important;
                }
            }
        }
    }

    &>mat-card {

        border-width: 0px;
        padding: 0px !important;
        text-align: center;

        &:hover {
            color: $yellow-main;
            @include card-shadow-hover();
            transition: box-shadow 1s;
            cursor: pointer;
        }

        &>mat-card-subtitle {
            position: absolute;
            bottom: 0;
            left: 0;
            margin-bottom: 0px;
            background-color: white;
            padding: 20px;
            text-align: center;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: 400;
            color: $blue-main;
            width: 100%;

        }

        &>mat-card-content {

            @include size(auto, 300px);
            text-align: center;
            display: block;

            &>img {
                padding: 24px 0px 0px 0px;
            }

        }
    }
    &-p0{
        @extend .tile;
        background-color: transparent;
        padding: 0px!important;
    }
}

.tile {
    &-mfr {
        &>mat-card {
            background-image: url('https://common.iordanov.info/images/tile/mfr.jpg');
            background-size: cover;
        }
    }

    &-project {
        &>mat-card {
            background-image: url('https://common.iordanov.info/images/tile/project-header.jpg');
            background-size: cover;
        }
    }

    &-distributor {
        &>mat-card {
            background-image: url('https://common.iordanov.info/images/tile/storage-small.jpg');
            background-size: cover;
        }
    }

    &-contractor {
        &>mat-card {
            background-image: url('https://common.iordanov.info/images/tile/contractor-bg-01.jpg');
            background-size: cover;
        }
    }

    &-wad {
        &>mat-card {
            background-image: url('https://common.iordanov.info/images/tile/wad-background.jpg');
            background-size: cover;
        }
    }

    &-price-file {
        &>mat-card {
            background-image: url('https://common.iordanov.info/images/tile/file-processing-backfround.jpg');
            background-size: cover;
        }
    }

    &-commodity {
        &>mat-card {
            background-image: url('https://common.iordanov.info/images/tile/commodity-header.jpg');
            background-size: cover;
        }
    }

    &-charter {
        &>mat-card {
            background-image: url('https://common.iordanov.info/images/tile/charter_bg.jpg');
            background-size: cover;
        }
    }

    &-shedule {
        &>mat-card {
            background-image: url('https://common.iordanov.info/images/tile/shedule_bg_02.jpg');
            background-size: cover;
        }
    }

    &-booking {
        &>mat-card {
            background-image: url('https://common.iordanov.info/images/tile/booking_bg_03.jpg');
            background-size: cover;
        }
    }

    &-mfr2 {
        &-items {
            &>mat-card {
                background-image: url('https://common.iordanov.info/images/tile/mfr-header.jpg');
                background-size: cover;
            }
        }
    }

    &-dep {
        &>mat-card {
            background-image: url('https://common.iordanov.info/images/ams/common/departure.jpg');
            background-size: cover;
        }
    }

    &-arr {
        &>mat-card {
            background-image: url('https://common.iordanov.info/images/ams/common/arrival.jpg');
            background-size: cover;
        }
    }

    &-trans {
        &>mat-card {
            background-image: url('https://common.iordanov.info/images/ams/common/profit.jpg');
            background-size: cover;
        }
    }
    &-cargo {
        &>mat-card {
            background-image: url('https://common.iordanov.info/images/ams/common/ac-cargo-02.png');
            background-size: cover;
        }
    }
    

}


$overlay-green: rgba(0, 204, 0, 0.849);
$overlay-blue: rgba(53, 68, 151, 0.849);
$overlay-brown: rgba(198, 140, 83, 0.849);
$overlay-yellow: rgba(255, 204, 0, 0.849);
$overlay-orange: rgba(255, 139, 0, 0.849);
$overlay-blue-light: rgba(0, 128, 179, 0.849);
$overlay-teal: rgba(32, 201, 151, 0.849);
$overlay-cyan: rgba(23, 162, 184, 0.849);

.tile-graphic {
    width: auto;
    height: 100%;
    /*max-height: 226px;*/
    max-width: 100%;
    margin: auto;
    padding-top: 0px;
    align-content: center;

    transition: 1s ease;
    /*
    &:hover {
        -webkit-transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        transform: rotateZ(-10deg);
        transition: 1s ease;
    }*/
    img {
        width: auto;
        max-height: 200px;
        margin: 0px auto;
    }
}

.tile-graphic-w {
    @include size(200px, auto);
}

.tile-graphic-180 {
    @include size(auto, 180px);
}

.tile-graphic-150 {
    width: auto;
    max-height: 150px;
    max-width: 80%;
}

.overlay {
    background-color: rgba(0, 95, 158, 0.692);

    &-blue {
        @extend .overlay;
        background-color: $overlay-blue !important;

        &:hover {
            background-color: darken($overlay-blue, 15%) !important;
            cursor: pointer;
        }
    }

    &-blue-dark {
        background-color: $blue-dark !important;

        &:hover {
            background-color: darken($blue-dark, 15%) !important;
            cursor: pointer;
        }
    }

    &-blue-light {
        background-color: $blue-light !important;

        &:hover {
            background-color: darken($blue-light, 15%) !important;
            cursor: pointer;
        }
    }

    &-teal {
        background-color: $overlay-teal !important;

        &:hover {
            background-color: darken($overlay-teal, 15%) !important;
            cursor: pointer;
        }
    }

    &-cyan {
        background-color: $overlay-cyan !important;

        &:hover {
            background-color: darken($overlay-cyan, 15%) !important;
            cursor: pointer;
        }
    }

    &-brown {
        background-color: $overlay-brown !important;

        &:hover {
            background-color: darken($overlay-brown, 15%) !important;
            cursor: pointer;
        }
    }

    &-yellow {
        background-color: $overlay-yellow;

        &:hover {
            background-color: darken($overlay-yellow, 15%);
            cursor: pointer;
        }
    }

    &-orange {
        background-color: $overlay-orange, 15% !important;

        &:hover {
            background-color: darken($overlay-orange, 15%) !important;
            cursor: pointer;
        }
    }

    &-green {
        background-color: $overlay-green !important;
        color: $blue-main;

        &:hover {
            background-color: darken($overlay-green, 15%) !important;
            cursor: pointer;
        }
    }

    &-selected {
        background-color: $selected !important;

        &:hover {
            background-color: darken($selected, 15%) !important;
            cursor: pointer;
        }
    }

}

.overlay {
    background-color: rgba(0, 95, 158, 0.692);

    &-blue {
        background-color: $overlay-blue !important;

        &:hover {
            background-color: darken($overlay-blue, 15%) !important;
            cursor: pointer;
        }
    }

    &-brown {
        background-color: $overlay-brown !important;

        &:hover {
            background-color: darken($overlay-brown, 15%) !important;
            cursor: pointer;
        }
    }

    &-yellow {
        background-color: $overlay-yellow;

        &:hover {
            background-color: darken($overlay-yellow, 15%);
            cursor: pointer;
        }

        /* 
        .count, h2{
            color: brown!important;
        }  */
    }

    &-orange {
        background-color: $overlay-orange, 15% !important;

        &:hover {
            background-color: darken($overlay-orange, 15%) !important;
            cursor: pointer;
        }
    }

    &-green {
        background-color: $overlay-green;

        &:hover {
            background-color: darken($overlay-green, 15%);
            cursor: pointer;
        }
    }
    
}

page-title {
    margin-bottom: 0px;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 1.125em;
    color: #005F9E;
    font-weight: 400;
}

.bg {
    &-mfr {
        background-image: url('/assets/images/common/mfr.jpg');
        background-size: cover;
    }

    &-distr {
        background-image: url('/assets/images/common/storage-small.jpg');
        background-size: cover;
    }

    &-contr {
        background-image: url('/assets/images/common/contractor-bg-01.jpg');
        background-size: cover;
    }

    &-blue {
        background: $overlay-blue linear-gradient(180deg, lighten($overlay-blue, 15%), $overlay-blue) repeat-x !important;
    }

    &-blue-light {
        background: $overlay-blue-light linear-gradient(180deg, lighten($overlay-blue-light, 15%), $overlay-blue-light) repeat-x !important;
    }

    &-blue-map {
        background: #0099ff linear-gradient(180deg, lighten(#0099ff, 15%), #0099ff) repeat-x !important;
    }

    &-brown {
        background: $overlay-brown linear-gradient(180deg, lighten($overlay-brown, 15%), $overlay-brown) repeat-x !important;
    }

    &-yellow {
        background: $overlay-yellow linear-gradient(180deg, lighten($overlay-yellow, 15%), $overlay-yellow) repeat-x !important;
    }

    &-orange {
        background: $overlay-orange linear-gradient(180deg, lighten($overlay-orange, 15%), $overlay-orange) repeat-x !important;
    }

    &-red {
        background: red linear-gradient(180deg, lighten(red, 15%), $overlay-orange) repeat-x !important;
    }

    &-green {
        background: $overlay-green linear-gradient(180deg, darken($overlay-green, 15%), $overlay-green) repeat-x !important;
    }

    &-teal {
        background: $overlay-teal linear-gradient(180deg, darken($overlay-teal, 15%), $overlay-teal) repeat-x !important;
    }

}