<mat-tab-group  mat-stretch-tabs #branchTabs
    class="mat-card" 
    [selectedIndex]="selTabIdx"
    (selectedIndexChange)="selectedTabChanged($event)">

<!-- -TAB 0 dashboard --> 
<mat-tab label="Dashboard">
    <ng-template mat-tab-label>
        <mat-icon class="mr-2 blue">dashboard</mat-icon>
        <!--
        <img class="tab-icon neighbor-icon" src="/assets/images/common/project_tr.png" alt="Dashboard">
        -->
        Dashboard
    </ng-template>
    <div class="mb-0">
        <button mat-raised-button (click)="panelInOpen()">Toggle drawer</button>
    </div>
   
</mat-tab>

<!-- -TAB 1  --> 
<mat-tab label="Charter Request">
    <ng-template mat-tab-label>
        <mat-icon class="mr-2 blue">inbox</mat-icon>
        Charter Request
    </ng-template>
    <div class="sxtable-container-tab">
        <ams-grid-admin-ams-charter></ams-grid-admin-ams-charter>
    </div>
</mat-tab>
<!-- -TAB 2  --> 
<mat-tab label="Charter Configuration">
    <ng-template mat-tab-label>
        <mat-icon class="mr-2 blue">perm_data_setting</mat-icon>
        Charter Configuration
    </ng-template>
    <div class="sxtable-container-tab">
        <ams-grid-admin-cfg-charter></ams-grid-admin-cfg-charter>
    </div>
    
    <!--
    <ams-admin-grid-mfr-macs ></ams-admin-grid-mfr-macs>
    -->
</mat-tab>

        
</mat-tab-group>