<div class="panel-body">
  <!-- Static Container -->
  <div class="static-container">
    <div class="flrx-align-items flex-space-between w-100">

      <div class="flex-align-items flex-start">

        <button *ngIf="region" class="btn btn-icon-only btn-text-primary m-l-5" matTooltip="Region: {{region.rName}}"
          matTooltipPosition="above" [routerLink]="[roots.Root, roots.wad, roots.region]" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <i class="modus-icon material-icons text-primary">public</i>
        </button>
        <button *ngIf="subregion" class="btn btn-icon-only btn-text-primary m-l-5"
          matTooltip="Subregion: {{subregion.srName}}" matTooltipPosition="above"
          [routerLink]="[roots.Root, roots.wad, roots.subregion]" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <i class="modus-icon material-icons text-primary">workspaces</i>
        </button>

        <div *ngIf="country" class="flex-align-items image-16 ml-1"
          matTooltip="Country: {{country?.cName}} ({{country.iso2}})" matTooltipPosition="above"
          [routerLink]="[roots.Root, roots.wad, roots.country]" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <img class="card-subtitle-1 mb-1" src="{{country.flagUrl}}" alt="{{country.iso2}}" />
        </div>

        <ams-img-link *ngIf="state && state.wikiUrl" type="wiki" [url]="state.wikiUrl" class="ml-2">
        </ams-img-link>
        <ams-img-link *ngIf="state && state.iso" type="oa" [state_iso]="state.iso" class="ml-2">
        </ams-img-link>

      </div>

      <div class="flex-align-items flex-end">

        <div class="" ngbDropdown *ngIf="state">
          <sx-format-control class="link size-18" label="" color="light" [matMenuTriggerFor]="stateMenu"
            icon="calendar_view_day">
          </sx-format-control>
          <mat-menu #stateMenu="matMenu">
            <button mat-menu-item class="link green" (click)="refreshAirportCache()">
              <mat-icon>refresh</mat-icon>
              <span>Refresh Airports</span>
            </button>
            <mat-divider></mat-divider>
            <button mat-menu-item class="link blue" (click)="spmCountryOpen()">
              <mat-icon>info</mat-icon>
              <span>{{country?.cName}} Info</span>
            </button>
            <button mat-menu-item class="link blue" (click)="spmSubregionOpen()">
              <mat-icon>info</mat-icon>
              <span>Subregion Info</span>
            </button>
            <button *ngIf="subregion" mat-menu-item class="link" (click)="spmSubregionOpen()">
              <mat-icon>info</mat-icon>
              <span>{{subregion.srName}} Info</span>
            </button>
            <button *ngIf="region" mat-menu-item class="link blue" (click)="spmRegionOpen()">
              <mat-icon>info</mat-icon>
              <span>{{region.rName}} Info</span>
            </button>
            <mat-divider></mat-divider>
            <button *ngIf="subregion" class="link" mat-menu-item (click)="gotoRegion()">
              <mat-icon>open_in_new</mat-icon>
              <span>Go to Region</span>
            </button>
            <button *ngIf="subregion" mat-menu-item class="link" (click)="gotoSubregion()">
              <mat-icon>open_in_new</mat-icon>
              <span>Go to Subregion</span>
            </button>
          </mat-menu>

        </div>
        <sx-button-round message="Show State Details" tooltipPlacement="bottom" color="light" (click)="spmStateOpen()"
          icon="info">
        </sx-button-round>
      </div>

    </div>

  </div>
  <div class="col-12 m-0 p-0">
    <div class="side-panel-sec m-0" *ngIf="state">
      <div class="side-panel-sec-rows p-0">
        <div class="sp-row p-2 m-0 bg-white">
          <div class="flex-start flex-align-items">
            <i class="material-icons size-20" matTooltipPosition="above" matTooltip="Selected City"
              [ngClass]="{'blue':city,'gray':!city}">apartment</i>
            <div class="flex ml-1">
              <span *ngIf="city" class="blue">{{city.ctName}}</span>
            </div>
          </div>
          <div class="flex-end">
            <ams-img-link *ngIf="city && city.wikiUrl" type="wiki" [url]="city.wikiUrl" class="ml-2 size-16">
            </ams-img-link>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- Scroll Container -->
  <div class="scroll-container p-2">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">
          Panel Content
          <a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon=""
            style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;">ddd</a>
        </h5>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Explicabo asperiores doloremque dolorum qui
          ducimus quae eius alias perspiciatis, quod, libero
          fuga recusandae quidem molestias nobis non soluta.
          Doloremque, in iusto?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Explicabo asperiores doloremque dolorum qui
          ducimus quae eius alias perspiciatis, quod, libero
          fuga recusandae quidem molestias nobis non soluta.
          Doloremque, in iusto?
        </p>
      </div>
    </div>
  </div>
</div>