<div  *ngIf="airline" class="side-panel-sec">
    <div *ngIf="hqAirport" class="sp-row border-bottom border-tertiary pb-2" >
        <div class="flex-align-items w-100">
            <div class="image-livery m-0" matTooltip="Click to generate default airline livery" 
                (click)="generateLiveryClick()">
                <img *ngIf="liveryUrl;else noLivery" [src]="liveryUrl" >
                <ng-template #noLivery >
                    <img [src]="noLogoUrl">
                </ng-template>
            </div>
            <ams-card-ap-icao *ngIf="hqAirport" class="flex-end" [airport]="hqAirport"></ams-card-ap-icao>
        </div>
    </div>
    
    <div class="side-panel-sec-rows">
        <sx-side-panel-row-value label="ID: " [value]="airline.alId | number:'1.0-0'" size="large"></sx-side-panel-row-value>
        <sx-side-panel-row-value label="Name: " [value]="airline.alName" size="large"></sx-side-panel-row-value>
        <sx-side-panel-row-value label="IATA: " [value]="airline.iata" size="large"></sx-side-panel-row-value>
       
        <sx-side-panel-row-value label="Created On:" [value]="airline.adate" size="large" [isDateTime]="true"></sx-side-panel-row-value>
        <sx-side-panel-row-value label="Home Airport:" [value]="airline.apLabel" size="large"></sx-side-panel-row-value>
        <sx-side-panel-row-value label="Slogan:" [value]="airline.slogan" size="large"></sx-side-panel-row-value>
        <sx-side-panel-row-value label="Bank Account:" value="№{{airline.bankId | number:'3.0'}}" size="large"></sx-side-panel-row-value>
        <sx-side-panel-row-value label="Bank Balance:" value="{{airline.amount | currency:'EUR'}}" size="large"></sx-side-panel-row-value>
    </div>
    <!--
        <div matListItemTitle>BANK ACCOUNT №{{airline.bankId | number:'3.0'}}</div>
          <div matListItemLine> {{airline.amount | currency:'EUR'}}</div>
    <hr class="margin-top-5 margin-bottom-5 blue-hr">
    -->
</div>

      