
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary" class="pl-2 pe-2">
            <div class="flex-align-items flex-space-between w-100 white h64">
                <div class="flex-start flex-align-items-end h64">
                    <span  class="pl-2 semi-bold">{{dataCount | number:'1.0-0'}}</span>
                    <span *ngIf="dataCount !== 1" class="pl-1">Days</span>
                    <span *ngIf="dataCount == 1" class="pl-1">Day</span>
                </div>
                <div class="flex-end h64">
                    <button mat-icon-button class="mr-2 white"
                        matTooltip="Reload Data"
                        matTooltipPosition="above" (click)="refreshClick()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </div>
            </div>
        </mat-toolbar>
    </div>
    <div class="sxtable-body-toolbar">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">

            <ng-container matColumnDef="rdId">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-40">
                    <div class="flex-align-items w-100 ps-2 text-left white" >Nr</div></th>
                <td mat-cell *matCellDef="let row" class="txt-ell-40">
                    <div class="flex-align-items w-100 p-1">
                            <div class="flex ml-1"  matTooltip="Nr {{row.rdId}}"
                            matTooltipPosition="above">{{row.rdId}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="rdDate">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60-sort text-right">
                    <div class="flex-align-items w-100 p-1 text-right" 
                        matTooltip="Generated" matTooltipPosition="above" >
                        <mat-icon class="white" >event</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <div class="flex-align-items w-100 p-1">
                        <!-- icon="timelapse"  {{project.adate | date:'MMM d, y'}}-->
                        <ams-icon-value *ngIf="row.rdDate" class="flex-end"
                            pipe="date" 
                            [value]="row.rdDate" label="Day">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="income">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-100-sort text-right white">Income</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100-sort text-right">
                    <ams-icon-value *ngIf="row.income"  pipe="currencyr" 
                        [value]="row.income" label="Income">
                    </ams-icon-value>
                </td>
            </ng-container>
            <ng-container matColumnDef="expences">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-100-sort text-right white">Expences</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100-sort text-right">
                    <ams-icon-value *ngIf="row.expences"  pipe="currencyr" 
                        [value]="row.expences" label="Expences">
                    </ams-icon-value>
                </td>
            </ng-container>
            <ng-container matColumnDef="revenue">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-100-sort text-right white">Revenue</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100-sort text-right">
                    <ams-icon-value *ngIf="row.revenue"  pipe="currencyr" 
                        [value]="row.revenue" label="Revenue">
                    </ams-icon-value>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        hidePageSize="true" 
        [showFirstLastButtons]="true" >
    </mat-paginator>
