<div class="sxtable-container-tail">
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary" class="pl-2 pe-2">
            <div class="flex-align-items flex-space-between w-100 white">
                <div class="flex-start flex-align-items-end h54">
                    <div class="px-1">Arrival</div>
                    <span  class="">{{dataCount | number:'1.0-0'}}</span>
                    <span *ngIf="dataCount !== 1" class="ps-1">Flights</span>
                    <span *ngIf="dataCount == 1" class="ps-1">Flight</span>
                </div>
                <div class="flex-end h64">
                    <button *ngIf="dataCount>0" mat-icon-button class="mr-2"
                        matTooltip="Open Map"
                        matTooltipPosition="above" (click)="spmMapOpen()">
                        <mat-icon>map</mat-icon>
                    </button>
                    <mat-form-field floatLabel="always" appearance="fill" class="white size-12">
                        <mat-label class="white"><mat-icon>filter_list_alt</mat-icon> <i> filter</i></mat-label>
                        <input matInput (keyup)="applyFilter($event)" class="white">
                    </mat-form-field>
                    <sx-button-flat 
                        (click)="clearFiltersClick()" 
                        position="left" 
                        message="Clear Filters"
                        icon="filter_list_off" 
                        color="dark"
                        class="mr-0 ml-3">
                    </sx-button-flat>
    
                    <sx-button-flat 
                        (click)="refreshClick()" 
                        position="left" 
                        message="Reload Data"
                        icon="refresh" 
                        color="dark"
                        class="mr-0 ml-3">
                    </sx-button-flat>
                    
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">

            <ng-container matColumnDef="flId">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-100">
                    <div class="flex-align-items w-100 ps-2 text-left white" >Flight</div></th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100">
                    <div class="flex-align-items w-100 p-1">
                            <ams-icon-flight-type class="blue" [flType]="row.flTypeId"></ams-icon-flight-type>
                            <div class="flex ml-1">{{row.depApCode}}</div>
                            <div class="flex ml-1">-</div>
                            <div class="flex ml-1"  matTooltip="Transport {{row.flDescription}}"
                            matTooltipPosition="above">{{row.arrApCode}}</div>
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="alId" >
                <th mat-header-cell *matHeaderCellDef class="txt-ell-100 text-center white">Airline</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100 text-center">
                    <ams-al-livery [alId]="row.alId" tooltip="Airline: {{row.alName}} ({{row.alIata}})"></ams-al-livery>
                </td>
            </ng-container>

            <ng-container matColumnDef="acId">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-60 white">Aircraft</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60">
                    <div class="flex-align-items w-100 pt-2 pb-2">
                        <div *ngIf="row.acImgTableUrl" class="icon-value" 
                        matTooltip="Aircraft: {{row.acRegNr}}" (click)="spmAircraftOpenClick(row.acId)">
                            <img src="{{row.acImgTableUrl}}" alt="{{row.acId}}"/>
                        </div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="payloads">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-100 white">Payload</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100">
                    <ams-card-payload-sum [payloads]="row.payloads"></ams-card-payload-sum>
                </td>
            </ng-container>
            <ng-container matColumnDef="remainTimeMin">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60 text-right">
                    <div class="flex-align-items w-100 pe-2 text-right" 
                        matTooltip="Remain Time to Arruval"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >timelapse</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60 text-right">
                    <div class="flex-align-items w-100 pe-1 text-right">
                        <ams-icon-value *ngIf="row.remainTimeMin" class="flex-end"
                            pipe="periodminr" 
                            [value]="row.remainTimeMin" label="Arrive in">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="acfsId">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-120 white">Status</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120">
                    <div class="flex-align-items w-100 p-1">
                        <div  class="flex-start pe-1 text-ellipsis" 
                            matTooltip="Curent Action: {{row.acfsId | acfl}} " 
                            matTooltipPosition="above" >
                            {{row.acfsId | acfl}}
                        </div>
                        <ams-icon-value *ngIf="row.flLogDelayMin" class="flex-end"
                            pipe="delayminr" 
                            [value]="row.flLogDelayMin" label="Delay">
                        </ams-icon-value>
                        <div *ngIf="!row.flLogDelayMin" class="flex-end ps-1">on time</div>
                    </div>
                </td>
            </ng-container>
            
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        [showFirstLastButtons]="true" >
    </mat-paginator>
</div>