
<sx-filter-panel [panelVar]="panelInVar"  
    fptitle="Country"
    [subtitle]="country?.cName"
    (closePanel)="closePanelLeftClick()"
    (subtitleClick)="spmSubregionOpen()">
    <ams-wad-country-filter-panel-body>
    </ams-wad-country-filter-panel-body>
</sx-filter-panel>
  
<div class="ams-content-body" [ngClass]="{'sidebar-open' :panelInVar!==in, 'sidebar-closed':panelInVar===in}">
    <router-outlet></router-outlet>
</div>

<div [@togleBtnTopRev]="!panelInVar"  (click)="expandPanelLeftClick()" class="side-tab-btn-top">
  <i class="material-icons modus-icons">east</i>
</div>
