<div class="m-0 tab">
    <div class="flex-wrap w-100" >
        <div class="col-lg-6 col-sm-12 tile tile-contractor px-1">
            <ams-grid-al-revenue-table (dataChangedEv)="fillRevenueChart($event)"></ams-grid-al-revenue-table>
        </div>
        <div class="col-lg-6 col-sm-12 px-1">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        <div class="flex-align-items w-100">
                            <div class="col-10 p-0 text-ellipsis">Revenue by day</div>
                            <div class="col-2 p-0 text-ellipsis" style="margin-top: -8px;">
                                <!--
                                <sx-button-round 
                                    class="flex-end"
                                    message="Refresh Data" tooltipPlacement="bottom"
                                    (click)="loadTransactionsSumLastWeek()" 
                                    icon="refresh">
                                </sx-button-round>
                            -->
                            </div>
                        </div>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="flex-wrap flex-align-items-top w-100" style="min-height: 300px;">
    
                        <div class="d-block w-100 p-2 overlay-teal" style="height: 300px;">
                            <ams-chart-line 
                                [environment]="env"
                                [chartData]="profitChartData"
                                title="Revenue by day"
                                [sizepx]="300"
                                [beginAtZero]="false"
                                [yAxisShow]="true"
                                [yGridShow]="false"
                                [xGridShow]="false"
                                [chartLabels]="profitChartLabels"
                                (chartClick)="onProfitChartClick($event)">
                            </ams-chart-line>
                        </div>
                    </div>
                    
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
