<div ngbDropdown class="dropdown ">
    <button class="btn btn-icon-only btn-text-primary" [matMenuTriggerFor]="alMenuMain" >
      <i class="modus-icon material-icons text-primary">more_vert</i>
    </button>
    <mat-menu #alMenuMain="matMenu">

        <button *ngIf="user" mat-menu-item class="link"
            [routerLink]="[roots.Root, roots.airline, roots.profile]" 
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
            <mat-icon>account_circle</mat-icon> 
            <span>Profile</span>
        </button>
        <button *ngIf="user" mat-menu-item class="link"
           (click)="edituser(user)">
            <mat-icon>manage_accounts</mat-icon> 
            <span>Edit Profile</span>
        </button>
        <!--
        <button mat-menu-item >
            <mat-icon>refresh</mat-icon> 
            <span>Refresh Project</span>
        </button>
        -->
        <div class="dropdown-divider"></div>
        <button mat-menu-item class="link">
            <mat-icon class="link">info</mat-icon> 
            <span>Project Details</span>
        </button>

    </mat-menu>
    
</div>