<div class="login-welcome-container">
    <div class="login-welcome-text">
        <span>Airline Management Simulator</span> (AMS) is a web
         aviation business simulation game project. It allows player to run a virtual airlines 
         as if it were the real thing. The aim of project is to simulate complex airline 
         management environment and allow users to have the opportunity to make strategic 
         business decisions in order to build a successful airline company.
    </div>
    <div class="login-welcome-text login-welcome-text-mdnone">
        <img class="img-left" style="width: 120px!important;;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3d/Flag_of_ICAO.svg/70px-Flag_of_ICAO.svg.png" alt="Flag of ICAO"/>
        The project focuses on Civil Aviation witch includes all non-military flying, 
        both general aviation and scheduled air transport.<br>

        Most of the countries in the world are members of the 
        <span>Civil Aviation Organization (ICAO) </span> and work together to establish 
        common standards and recommended practices for civil aviation through that agency.<br><br>

        Civil aviation includes two major categories:
        <ul>
            <li>
                Scheduled air transport, including all passenger and cargo 
                flights operating on regularly scheduled routes.
            </li>
            <li>General aviation (GA), including all other civil flights, private or commercial.</li>
        </ul>
        Commercial aviation is the part of civil aviation (both General Aviation and Scheduled 
        Airline Services) that involves operating aircraft for hire to transport passengers or 
        multiple loads of cargo.<br>
        
        General aviation (GA) is the term for all civil aviation operations other 
        than scheduled air services and non-scheduled air transport operations for 
        remuneration or hire.
    </div>
    <div class="login-welcome-text">
        The project is not funded, and is constructed on the basis of voluntary labor 
        starting from Dec 22, 2020.
    </div>
    <div class="login-welcome-text">
        Although still in the mode of development,
        <span>the project is accessible to users</span>.
    </div>
</div>