<div class="tile-p0 tile-dep">
    <mat-card appearance="outlined" >
        <mat-card-content class="overlay-blue">
            <div class="tile-graphic">
                <div class="flex-align-items w-100 border-b1">
                    <img class="tab-icon ms-2 white" 
                        [src]="imgUrlFlDep" alt="Departure" 
                        matTooltip="Departure {{flightsCount | number:'1.0-0'}}" 
                        matTooltipPosition="above">
                    <div class="title white w-100 text-center">Departure ({{flightsCount | number:'1.0-0'}})</div>
                </div>
                <div class="flex-align-items w-100 pe-4">
                    <div class="col-3 p-0 gray">Airport</div>
                    <div class="col-2 p-0 gray">Flight</div>
                    <div class="col-1 p-0 gray" *ngFor="let wd of weekdaysOpt">{{wd.abbr}}</div>
                </div>
                <div class="sxtable-container-tail-title-two">
                    <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
                        <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
                    </div>
                    
                    <ams-card-weekly-flight *ngFor="let flight of flights" [weekFlights]="flight" [departure]="true"></ams-card-weekly-flight>
                </div>
                
                
            </div>
            
        </mat-card-content>
    </mat-card>
</div>
