<div class="modal-content">

    <div mat-dialog-title class="modal-header">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title flex-align-items">Manufacturer 
            <span *ngIf="mfr && mfr.mfrId" class="card-subtitle-1 ml-2" >№ {{mfr.mfrId}}</span>
            <span *ngIf="mfr && mfr.mfrName" class="card-subtitle-1 ml-2" >{{mfr.mfrName}}</span>
            <span *ngIf="mfr && mfr.iata" class="card-subtitle-1 ml-2" >{{mfr.iata}}</span>
            <div class="flex-align-items image-16 ml-4" *ngIf="mfr">
                <ams-img-link *ngIf="mfr.wikiUrl" type="wiki" [url]="mfr.wikiUrl" class="ml-2"></ams-img-link>
            </div>
        </div>
    </div>

    <mat-dialog-content class="modal-body">
        <form class="flex-column w-100" [formGroup]="formGrp">
            
            <h5 class="mb-0 pt-2">Head Quartier:
                <span *ngIf="mfr && mfr.headquartier" class="ml-1" >{{mfr.headquartier}}</span>
            </h5>
            <div class="col-12 flex-align-items">
                <div class="col-6 pe-2" >
                    <mat-form-field floatLabel="always" class="w-100">
                        <input matInput placeholder="Subregion"
                            aria-label="Subregion"
                            [matAutocomplete]="subregionAuto"
                            name="subregion"
                            formControlName="subregion">
                        <mat-icon matSuffix  class="text-grey-500">public</mat-icon>    
                        <mat-autocomplete #subregionAuto="matAutocomplete" 
                            [displayWith]="displaySubregion" 
                            (optionSelected)="subregionValueChange($event)">
                        <mat-option *ngFor="let option of subregionsOpt | async"  [value]="option">
                            <div class="flex flex-align-items">
                                <mat-icon class="text-blue mr-4">public</mat-icon>
                                <div class="text-blue mr-4">{{option.srName}}</div>
                                <div class="text-blue">({{option.countries | number:'1.0-0'}})</div>
                            </div>
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>

                <div class="col-6" >
                    <mat-form-field floatLabel="always" class="w-100">
                        <input matInput placeholder="Country"
                            aria-label="Country"
                            [matAutocomplete]="countryAuto"
                            name="country"
                            formControlName="country">
                        <mat-icon matSuffix  class="text-grey-500">outlined_flag</mat-icon>    
                        <mat-autocomplete #countryAuto="matAutocomplete" 
                            [displayWith]="displayCountry" 
                            (optionSelected)="countryValueChange($event)">
                        <mat-option *ngFor="let option of countriesOpt | async"  [value]="option">
                            <div class="flex flex-align-items header">
                                <img  src="{{option.flagUrl}}" class="text-blue mr-2" alt="{{option.iso2}}"/>
                                <div class="title">{{option?.cName | uppercase}} ({{option.statesCount | number:'1.0-0'}}) </div>
                            </div>
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-12 flex-align-items">
                <mat-form-field floatLabel="always" class="w-100">
                    <input matInput placeholder="Base Airport"
                        aria-label="Base Airport"
                        [matAutocomplete]="airportAuto"
                        name="airport"
                        formControlName="airport">
                    <mat-icon matSuffix  class="text-blue">autofps_select</mat-icon>    
                    <mat-autocomplete #airportAuto="matAutocomplete" 
                        [displayWith]="displayAirport" 
                        (optionSelected)="airportValueChange($event)">
                    <mat-option *ngFor="let option of airportsOpt | async"  [value]="option">
                        <div class="flex flex-align-items header">
                            <div class="flex-start flex-align-items">
                                <ams-ap-icon-svg *ngIf="option.svgcircle"
                                    [rw_svg_path_circle]="option.svgcircle"
                                    [rw_svg_line]="option.svgline"
                                    [ap_active]="option.active" >
                                </ams-ap-icon-svg>
                            </div>
                            <div *ngIf="option.iata" class="title mr-2">{{option.iata}}</div>
                            <div *ngIf="!option.iata" class="title mr-2">{{option.icao}}</div>
                            <div class="title">{{option.apName}}, </div>
                            <div *ngIf="option.ctName"class="title mr-2">, {{option.ctName}} </div>
                            <div class="title">{{option.iso2 | uppercase}} </div>
                        </div>
                    </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-footer">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end pe-2">
                <button mat-button color="secondary" (click)="onCansel()" class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="formGrp.invalid" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
