<button *ngIf="region" mat-icon-button color="primary"
    matTooltip="Region: {{region.rName}}"
    matTooltipPosition="above" 
    [routerLink]="[roots.Root, roots.wad, roots.region]"
    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <mat-icon>public</mat-icon>
</button>
<!--
<button *ngIf="region" mat-icon-button class="ml-2" color="primary"
    matTooltip="Region: {{region.rName}}"
    matTooltipPosition="above" 
    [routerLink]="[roots.Root, roots.wad, roots.region]"
    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  >
    <mat-icon>public</mat-icon>
</button>
-->
<button *ngIf="subregion" mat-icon-button color="primary" class="ml-2"
    matTooltip="Subregion: {{subregion.srName}}"
    matTooltipPosition="above" 
    [routerLink]="[roots.Root, roots.wad, roots.subregion]"
    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <mat-icon>workspaces</mat-icon>
</button>

<!--
<button *ngIf="country" class="btn btn-icon-only m-l-5" 
    matTooltip="Country: {{country.cName}} ({{country.iso2}})"
    matTooltipPosition="above" 
    [routerLink]="[roots.Root, roots.wad, roots.country]"
    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  >
    <img src="{{country.flagUrl}}" alt="{{country.iso2}}"/>
</button>
-->
<div *ngIf="country" class="flex-align-items image-16 ml-2"
    matTooltip="Country: {{country.cName}} ({{country.iso2}})"
    matTooltipPosition="above" 
    [routerLink]="[roots.Root, roots.wad, roots.country]"
    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
    <img class="card-subtitle-1 mb-1"  src="{{country.flagUrl}}" alt="{{country.iso2}}"/>
</div>
<div ngbDropdown class="dropdown ">
    <button mat-icon-button color="primary" class="ml-2"
        [matMenuTriggerFor]="adminMenuMain" >
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #adminMenuMain="matMenu">

        <button *ngIf="user" mat-menu-item 
            [routerLink]="[roots.Root, roots.airline, roots.profile]" 
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
            <mat-icon>account_circle</mat-icon> 
            <span>Profile</span>
        </button>
        <button *ngIf="isAdmin" mat-menu-item 
            [routerLink]="[roots.Root, roots.admin, roots.usersList]" 
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
            <mat-icon>contacts</mat-icon> 
            <span>Users</span>
        </button>
        <div class="dropdown-divider"></div>
        <button *ngIf="user" mat-menu-item class="link" (click)="loadRegions()">
            <mat-icon class="link">refresh</mat-icon> 
            <span>Refresh Regions</span>
        </button>
        <div class="dropdown-divider"></div>
        <button *ngIf="region" mat-menu-item class="link" (click)="spmRegionOpen()">
            <mat-icon class="link">info</mat-icon> 
            <span>{{region.rName}}</span>
        </button>
        <button *ngIf="subregion" mat-menu-item class="link" (click)="spmSubegionOpen()">
            <mat-icon class="link">info</mat-icon> 
            <span>{{subregion.srName}}</span>
        </button>
    </mat-menu>
    
</div>