<svg *ngIf="rw_svg_path_circle" version="1.1" xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" 
    viewBox="-16 -16 32 32" class="ap-svg" [ngClass]="cssStyle">
    <g fill="none">
        <path stroke-width="1" [attr.stroke]="ap_circle_color" [attr.fill]="fillColor" style="opacity:0.7;" [attr.d]="ap_circle"/>
        <path stroke-width="2"  [attr.stroke]="rw_line_color" [attr.d]="rw_lines"/>
    </g>
</svg>
