<div *ngIf="payloadsum" class="col-12 w-100 p-0 flex-align-items flex-space-between ">
    <ams-icon-payload-type 
        *ngFor="let pl of payloadsum"
        class="flex pe-2 col-4"
        [ngClass]="{'flex-end':(pl.payloadType == typeCargo)}"
        [payloadType]="pl.payloadType"
        [pax]="pl.pax"
        [cargoKg]="pl.cargoKg">
    </ams-icon-payload-type>
</div>
