  
    
    <div mat-dialog-title class="modal-header">
      <span mat-dialog-close class="close">×</span>
      <div class="modal-title">SX Login</div>
    </div>
    
    <mat-dialog-content class="modal-body">

        <form class="flex-column mt-3" [formGroup]="formGrp">
          
          <mat-form-field class="w-100" floatLabel="auto">
            <mat-label>Email</mat-label>
            <input matInput value="" type="email" [formControl]="ctr_email" >
            <mat-icon matSuffix>alternate_email</mat-icon>
            <mat-hint>Please, enter your&#64;email.address</mat-hint>
            <mat-error *ngIf="ctr_email.invalid">{{errorEMail()}}</mat-error>
          </mat-form-field>
          
          <mat-form-field class="w-100 mt-2" appearance="fill" floatLabel="auto">
            <mat-label>Password</mat-label>
            <input matInput value="" type="password" [formControl]="ctr_password" >
            <mat-icon matSuffix>security</mat-icon>
            <mat-hint>Please, enter your password</mat-hint>
            <mat-error *ngIf="ctr_password.invalid">{{errorPassword()}}</mat-error>
          </mat-form-field>
        </form>
      
        
    </mat-dialog-content>

    <mat-dialog-actions class="flex-align-items justify-content-between w-100">
      <div class="ml-2 flex-start">
        <!--
        <div *ngIf="hasSpinner" class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      -->
        <mat-error *ngIf="errorMessage" class="ml-2 flex-start">  {{errorMessage}} </mat-error>
      </div>
        
    
      <!--
       < mat-progress-spinner *ngIf="hasSpinner" diameter="24"
          class="dialog-spinner" color="primary"  mode="indeterminate">
      </mat-progress-spinner>
      <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
        Close
      </button>
      <button type="button" class="btn btn-primary">
        Save changes
      </button>
      <button class="btn btn-sm btn-icon-only btn-primary">
        <i class="modus-icon material-icons">settings</i>
      </button>
      -->
      <button  mat-fab *ngIf="!hasSpinner"  color="primary" aria-label="Login"
        class="btn btn-icon-only btn-primary mr-3"
        [disabled]="formGrp.invalid" (click)="onLoginClick()">
        <i class="modus-icon material-icons">account_circle</i>
      </button>
    </mat-dialog-actions>
  