<div class="sxtable-container-tab">
    <full-calendar #calendar 
        [options]="calendarOptions"
        [events]="events$ | async">
        <ng-template #eventContent let-arg>
            <div class="flex-align-items-top w-100 px-1" *ngIf="arg.event.display !== 'background'">
                <div class="flex-start flex-column w-100">
                    <span>{{ arg.event.start | date:'HH:mm' }} - {{ arg.event.end | date:'HH:mm' }} ({{arg.event.extendedProps.flight.flpnNumber}})</span>
                    <span>{{ arg.event.title }}</span>
                </div>
                <div class="ev-actions">
                    <mat-icon class="flex-end" *ngIf="arg.event.extendedProps.flight"
                        matTooltip="Edit" matTooltipPosition="above"
                        (click)="editSchedule(arg.event.extendedProps.flight)">
                        edit
                    </mat-icon>
                    <mat-icon class="flex-end orange" *ngIf="arg.event.extendedProps.flight"
                        matTooltip="Delete" matTooltipPosition="above"
                        (click)="deleteSchedule(arg.event.extendedProps.flight)">
                        cancel
                    </mat-icon>
                </div>
            </div>
            <div class="flex-align-items w-100 px-1" *ngIf="arg.event.display === 'background'">
                <div class="bkg-foother">
                    <div *ngIf="arg.event?.extendedProps?.nextflight" 
                            matTooltip="Next flight can start at: {{ arg.event.extendedProps.nextflight | date:'HH:mm' }}"
                            matTooltipPosition="above">
                        Next flight can start at: {{ arg.event.extendedProps.nextflight | date:'HH:mm' }}
                    </div>
                </div>
            </div>
        </ng-template>
</full-calendar>

</div>
