<div  *ngIf="flight" class="flight-list-row flex-align-items">
    <div class="col-1 p-0" (click)="flightClick()">
        <ams-icon-value *ngIf="flight.etaTime" class="white"
            pipe="time"
            [value]="flight.etaTime" label="ETA">
        </ams-icon-value>
    </div>
    <div class="col-2 p-0 ps-1">
        <div class="p-0 link" matTooltip="{{flight.alName}}" matTooltipPosition="above" (click)="spmAirlineOpenClick(flight.alId)">
            {{flight.alIata}}
        </div>
    </div>
    <div class="col-1 p-0 ps-1">
        <ams-icon-flight-type class="white link" [flType]="flight.flTypeId" (click)="flightTypeClick()"></ams-icon-flight-type>
    </div>
    <div class="col-6 p-0 ps-1" >
        <div class="flex-align-items w-100" >
            <ams-icon-ap-dep class="flex-start mw-50" [apId]="flight.depApId" [showIcon]="false"  (click)="airportClick(flight.depApId)"></ams-icon-ap-dep>
            <div class="px-1 flex">-</div>
            <ams-icon-ap-arr class="flex mw-50" [apId]="flight.arrApId" [right]="false" [showIcon]="false" (click)="airportClick(flight.arrApId)"></ams-icon-ap-arr>
        </div>
    </div>
    
    <div class="col-2 p-0 ps-1">
       <div *ngIf="!(flight.delayMin > 0)" class="ellipsis size-10 text-left" 
            matTooltip="{{flight.acfsId | acfl}}: {{flight.acfsId | acflmon}}"
            matTooltipPosition="above">
                {{flight.acfsId | acflmon}}
        </div>
        <div *ngIf="(flight.delayMin > 0)" class="ellipsis size-10 text-left orange flex-align-items " 
            matTooltip="{{flight.acfsId | acfl}}: {{flight.acfsId | acflmon}} delay {{flight.delayMin | periodmin }}"
            matTooltipPosition="above">
                <ams-icon-value class="orange"
                    pipe="periodminr"
                [value]="flight.delayMin" label="Delay ">
            </ams-icon-value>
        </div>
    </div>
    
</div>
