 <!-- Title -->
 <div class="title-container">
    <div class="modal-title">STATE DETAIL</div>
</div>
<hr class="mb-0">
<div *ngIf="!state">No Data</div>
<div *ngIf="state" class="m-0 row overlay-blue white">
    <div class="side-panel-sec">
        <div class="side-panel-sec-title yellow flex-align-items flex-space-between mx-2">
            <div class="flex-start">{{ state.stName }}</div>
            <div class="flex-end">
                <ams-img-link *ngIf="state && state.iso"  type="oa" [url]="ourApUrl" class="ml-2" matTooltip="See Our Airport Info"></ams-img-link>
                <ams-img-link type="wiki" [url]="state.wikiUrl" class="ml-2"></ams-img-link>
            </div>
        </div>
        <div *ngIf="country" class="side-panel-sec-title white flex-align-items flex-space-between mx-2">
            <div class="flex-start">{{ country?.cName }}</div>
            <div class="flex-end">
                <div class="flex-align-items image-16" >
                    <img src="{{country.flagUrl}}" alt="{{country.iso2}}"/>
                    <ams-img-link *ngIf="country.wikiUrl" type="wiki" [url]="country.wikiUrl" class="ml-2"></ams-img-link>
                </div>
            </div>
        </div>
        
        <div *ngIf="region" class="side-panel-sec-rows px-2">
            <sx-side-panel-row-value *ngIf="region" label="Region: " [value]="region.rName" size="small">
                <ams-img-link type="wiki" [url]="region.rWikiUrl" class="ml-2"></ams-img-link>
            </sx-side-panel-row-value>
        </div>
    </div>
    <div class="side-panel-sec p-2 flex-align-items" >
        <div class="col-4 m-0 p-0 white">
            <div class="side-panel-sec-rows">
                <sx-side-panel-row-value label="ISO" [value]="state.iso" size="small"></sx-side-panel-row-value>
                <sx-side-panel-row-value label="ID" value="{{state.stateId | number:'1.0-0'}}" size="small"></sx-side-panel-row-value>
            </div>
        </div>
        <div class="col-8 p-0 mt-2 flex-center">
            <!--
            <img *ngIf="imagevUrl" class="w-100 border-30" [src]="imagevUrl" alt="{{subregion.srCode}}">
            -->
        </div>
    </div>
    <div class="side-panel-sec p-2 " >
        <div class="side-panel-sec-title yellow">Statistics</div>
        <div class="side-panel-sec-rows">
            <sx-side-panel-row-value label="Cities" value="{{state.cities | number:'1.0-0'}}"></sx-side-panel-row-value>
            <div class="sp-row">
                <div class="sp-label sp-label-large" matTooltip="Airports">Airports</div>
                    <div class="sp-value">
                    <div class="flex-align-items">
                        <ams-icon-ap-active [value]="true"></ams-icon-ap-active>
                        <div class="ml-1">{{state.apActive | number:'1.0-0'}}</div>
                        <div class="ml-1"> active of</div>
                        <div class="ml-1">{{state.airports | number:'1.0-0'}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mt-2">
    
</div> 
