
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary" class="pl-2 pe-2">
            <div class="flex-align-items flex-space-between w-100 white h64">
                <div class="flex-start flex-align-items-end h64">
                    <span  class="pl-2 semi-bold">{{dataCount | number:'1.0-0'}}</span>
                    <span *ngIf="dataCount !== 1" class="pl-1">Destinations</span>
                    <span *ngIf="dataCount == 1" class="pl-1">Destination</span>
                </div>
                <div class="flex-end h64">
                    <!--
                    <sx-button-round 
                        (click)="addCabin()"
                        [disabled]="!canEdit"
                        message="Add Cabin Configuration"
                        icon="add"
                        class="mr-3"
                       > 
                    </sx-button-round>
                    
                    <button *ngIf="dataCount>0" mat-icon-button class="mr-2"
                        matTooltip="Open Map"
                        matTooltipPosition="above" (click)="spmMapOpen()">
                        <mat-icon>map</mat-icon>
                    </button>
                    -->
                    <mat-form-field floatLabel="always" appearance="fill" class="white size-12">
                        <mat-label class="white"><mat-icon>filter_list_alt</mat-icon> <i> filter</i></mat-label>
                        <input matInput (keyup)="applyFilter($event)" class="white">
                    </mat-form-field>
    
                    <sx-button-flat 
                        (click)="refreshClick()" 
                        position="left" 
                        message="Reload Data"
                        icon="refresh" 
                        color="dark"
                        class="mr-0 ml-3">
                    </sx-button-flat>
                    
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body-toolbar">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">

            <ng-container matColumnDef="arrApId">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-60 text-left white">Arrival</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-left">
                    <ams-icon-ap-code [apId]="row.arrApId" [showName]="true" class="flex"></ams-icon-ap-code>
                </td>
            </ng-container>
            <ng-container matColumnDef="distanceKm">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60-sort text-right">
                    <div class="flex-align-items flex-end" 
                        matTooltip="Distance"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >travel_explore</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <div class="flex-align-items flex-end">
                        <!-- icon="timelapse" -->
                        <ams-icon-value *ngIf="row.distanceKm" 
                            pipe="lenkm" 
                            [value]="row.distanceKm" label="Distance">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="maxFlightH">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60-sort text-right">
                    <div class="flex-align-items w-100 ps-4 text-right" 
                        matTooltip="Flight Time"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >timelapse</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <div class="flex-align-items w-100 flex-end">
                        <!-- icon="timelapse" -->
                        <ams-icon-value *ngIf="row.maxFlightH" pipe="min" 
                            [value]="row.maxFlightH*60" label="Flight Time">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="ppd">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-100-sort white text-right">Payload</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100-sort text-right">
                    <div class="flex-align-items w-100 flex-end ">
                        <ams-icon-payload-type class="col-3 px-1" *ngIf="row.ppdF>0"
                            [payloadType]="first" [pax]="row.ppdF">
                        </ams-icon-payload-type>
                        <div class="col-3" *ngIf="!(row.ppdF>0)">&nbsp;</div>
                        <ams-icon-payload-type class="col-3 px-1" *ngIf="row.ppdB>0"
                            [payloadType]="business" [pax]="row.ppdB">
                        </ams-icon-payload-type>
                        <div class="col-3" *ngIf="!(row.ppdB>0)">&nbsp;</div>
                        <ams-icon-payload-type class="col-3 px-1" *ngIf="row.ppdE>0"
                            [payloadType]="economy" [pax]="row.ppdE">
                        </ams-icon-payload-type>
                        <div class="col-3" *ngIf="!(row.ppdE>0)">&nbsp;</div>
                        
                        <ams-icon-payload-type class="col-3 px-1" *ngIf="row.cargoKg>0"
                            [payloadType]="cargo" 
                            [cargoKg]="row.cargoKg">
                        </ams-icon-payload-type>
                        <div class="col-3" *ngIf="!(row.cargoKg>0)">&nbsp;</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="payloadKg">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60 text-center white">Payload</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60 text-center">
                    <div class="flex-center w-100 p-1">
                        <ams-icon-payload-type 
                            class="mr-1"
                            [payloadType]="row.paxClassId"
                            [pax]="row.pax"
                            [cargoKg]="row.payloadKg">
                        </ams-icon-payload-type>
                    </div>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        hidePageSize="false"
        [showFirstLastButtons]="true"  >
    </mat-paginator>
