 <!-- Title -->
 <div class="title-container">
    <div class="modal-title">PROJECT DETAIL</div>
</div>
<hr>
<div *ngIf="!project">No Data</div>

 <div class="m-t-0">

    <div class="side-panel-sec" *ngIf="project">
        <div class="side-panel-sec-rows">
            <div class="sp-row">
                <div class="sp-label" matTooltip="Project Name">Name</div>
                    <div class="sp-value">
                    <div class="flex-align-items">
                        <span>{{project.project_name}}</span>
                    </div>
                </div>
            </div>
            <div class="sp-row">
                <div class="sp-label" matTooltip="Created On">Created On</div>
                <div class="sp-value">
                    <div class="flex-align-items">
                        <i class="material-icons size-18 m-r-4">event_note</i>
                        <span>{{project.adate | date:'MMM d, y'}}</span>
                    </div>
                </div>
            </div>
            <div class="sp-row">
                <div class="sp-label" matTooltip="Account ID">Account ID</div>
                <div class="sp-value">
                    <div class="flex-align-items">
                        <span>{{project.project_account_id}}</span>
                    </div>
                </div>
            </div>
            <div class="sp-row">
                <div class="sp-label" matTooltip="Status and Status Date">Status</div>
                <div *ngIf="project.pstatus_id" class="sp-value">
                    <div class="flex-align-items w-100">
                        <div  class="regular pe-1"
                            [ngClass]="{'yellow':project.pstatus_id===1, 
                            'green':project.pstatus_id===2,
                            'red':project.pstatus_id===3, 
                            'blue':project.pstatus_id===4}">{{project.pstatus_id | sxprojectstatus}}</div>
                        <div class="flex-align-items"
                            [ngClass]="{'yellow':project.pstatus_id===1, 
                            'green':project.pstatus_id===2,
                            'red':project.pstatus_id===3, 
                            'blue':project.pstatus_id===4}">
                            <i class="material-icons size-18 mr-1">event_note</i>
                            <span>{{project.udate | date:'MMM d, y'}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div><!-- sec end -->

    <div class="side-panel-sec" *ngIf="project">
        <div class="side-panel-sec-title">Contacts</div>
        <div class="side-panel-sec-rows">
            <sx-side-panel-row-value label="Manager" [value]="project.manager_name"></sx-side-panel-row-value>

            <div class="sp-row">
                <div class="sp-label" matTooltip="Manager">Manager</div>
                <div  class="sp-value">
                    <div class="flex-align-items w-100">
                        <img *ngIf="project.manager_email" 
                            class="matero-user-avatar r-full align-middle mr-1"
                            [src]="managerAvUrl" matTooltip="{{project.manager_email}}"
                            width="24" alt="manager"/>
                        <div *ngIf="project.manager_name" matTooltip="{{project.manager_name}}">
                            {{project.manager_name}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="sp-row">
                <div class="sp-label" matTooltip="Estimator">Estimator</div>
                <div  class="sp-value">
                    <div class="flex-align-items w-100">
                        <img *ngIf="project.estimator_email" 
                            class="matero-user-avatar r-full align-middle mr-1"
                            [src]="estimatorAvUrl" matTooltip="{{project.estimator_email}}"
                            width="24" alt="manager"/>
                        <div *ngIf="project.estimator_name" matTooltip="{{project.estimator_name}}">
                            {{project.estimator_name}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
    </div> <!-- sec end-->
 </div>
