<div class="card-country"  (click)="selectClick()">
    <div class="side-bar" 
        [ngClass]="{'green':(selCountry && selCountry.countryId === country.countryId)}" >
    </div>

    <div *ngIf="country" class="heder"
        matTooltip="{{country?.cName}} has {{country?.statesCount | number:'1.0-0'}} states and 0 airports. Country code is {{country.cCode}}."
        matTooltipPosition="above" matTooltipClass="tooltip-yellow" >

        <img  src="{{country.flagUrl}}" alt="{{country.iso2}}"/>
        <div class="title">{{country?.cName | uppercase}} ({{country.statesCount | number:'1.0-0'}}) </div>
    </div>

    <div class="body">
        <div class="flex-align-items">
            <div *ngIf="country" class="flex-align-items margin-left-5">
                <i class="material-icons size-18 margin-right-5" 
                    matTooltip="Country Code: {{country.cCode}} ."
                    matTooltipPosition="above" matTooltipClass="tooltip-yellow" >
                    code
                </i>
                <span class=" size-14">{{country.cCode}}</span>
            </div>
            <div *ngIf="country" class="flex-align-items margin-left-15">
                <i class="material-icons size-18 margin-right-5" 
                    matTooltip="Country ISO Alpha 2: {{country.iso2}} ."
                    matTooltipPosition="above" matTooltipClass="tooltip-yellow" >
                    art_track
                </i>
                <span class=" size-14">{{country.iso2}}</span>
            </div>
            <div *ngIf="country" class="flex-align-items margin-left-15">
                <i class="material-icons size-18 margin-right-5" 
                    matTooltip="Airports 0."
                    matTooltipPosition="above" matTooltipClass="tooltip-yellow" >
                    local_airport
                </i>
                <span class=" size-14">0</span>
            </div>
        </div>
        <hr class="margin-top-5 margin-bottom-5 dark-blue-hr " >
        <!--
        <div class="body-left">

            <div class="flex-space-between">
                <div class="size-14">Code</div>
                <div class="size-14">{{country.country_code}}</div>
            </div>
            <hr class="margin-top-5 margin-bottom-5 dark-blue-hr " >
            <div class="flex-space-between">
                <div class="size-14">States</div>
                <div class="size-14">{{country.states | number:'1.0-0'}}</div>
            </div>
            <hr class="margin-top-5 margin-bottom-5 dark-blue-hr " >
            <div class="flex-space-between">
                <div class="size-14">Airports</div>
                <div class="flex-align-items">
                    <i class="material-icons size-18 margin-right-5" >local_airport</i>
                <span class=" size-14">{{country.airports | number:'1.0-0'}}</span>
            </div>
            </div>
            <hr class="margin-top-5 margin-bottom-5 dark-blue-hr " >
        </div>
        -->
        <!--
        <img class="dash-graphic" src="../../assets/images/country/region_{{subregion.sub_region_code}}.png" alt="{{subregion.sub_region}}">
        -->
       
        
    </div><!-- body -->
    <div class="blur-back">
        <img *ngIf="country" class="map" src="{{country.imageUrl}}" alt="{{country.iso2}}">
    </div>
    
   
</div>