
<sx-filter-panel [panelVar]="panelInVar"  
    [fptitle]="manufacturer.mfrName"
    subtitle="{{manufacturer.mfrId}}"
    (closePanel)="closePanelLeftClick()"
    (subtitleClick)="spmUserOpen()">
    
    <ams-admin-mfr-filter-panel-body>
    </ams-admin-mfr-filter-panel-body>
    
</sx-filter-panel>
  
<div class="ams-content-body" [ngClass]="{'sidebar-open' :panelInVar!==in, 'sidebar-closed':panelInVar===in}">
    <router-outlet></router-outlet>
</div>
          

<div [@togleBtnTopRev]="!panelInVar"  
    (click)="expandPanelLeftClick()" class="side-tab-btn-top">
    <i class="material-icons modus-icons">east</i>
</div>


