<div *ngIf="acTypeId!==null" class="flex-align-items">
    <div class="icon-value-bg" style="background-image: url({{acImgMapUrl}});"  
        matTooltip="{{ acTypeId | actype}}" 
        matTooltipPosition="above" >&nbsp;
        <!--
        <img  src="{{acImgMapUrl}}" alt="{{acTypeId}}"  />
        -->
    </div>
   
</div> 
