<div *ngIf="payloads" class="col-12 w-100 p-0 m-0">
    <div class="col-12 flex-align-items-top w-100 p-0 mt-2">
        <div class="col-1 p-0 bg-blue"><h5 class="mb-0 p-1 white text-right">№</h5></div>
        <div class="col-5 p-0 bg-blue"><h5 class="mb-0 p-1 white">Payload</h5></div>
        <div class="col-6 p-0 bg-blue"><h5 class="mb-0 p-1 white text-right">Price</h5></div>
    </div>
    <div class="col-12 flex-align-items-top w-100 p-0" *ngFor="let pl of payloads">
        <div class="col-1 p-1 border-all">
            CH-{{pl.chId | number:'3.0-0'}}
        </div>
        <div class="col-5 p-1 border-all">
            <ams-icon-payload-type 
                [payloadType]="pl.payloadType"
                [pax]="pl.pax"
                [cargoKg]="pl.cargoKg">
            </ams-icon-payload-type>
        </div>
        <div class="col-6 p-1 border-all">
            {{pl.price | currency:'EUR'}}
        </div>
    </div>
</div>
