
<div *ngIf="payloadType === typeC" class="icon-value"
    matTooltip="Cargo {{price | currency:'EUR'}}" 
    matTooltipPosition="above" >
    <img src="{{cargoImgUrl}}" alt="Cargo" class="mr-2" />
    {{price | currency:'EUR'}}
</div>
<div *ngIf="payloadType !== typeC" class="icon-value"
    matTooltip="{{price | currency:'EUR'}}  for {{ payloadType | payloadtype}} class passingers" 
    matTooltipPosition="above" >
    <img src="{{imageUrl}}" alt="pax" class="mr-2" />
    {{price | currency:'EUR'}}
</div>


