<div class="sxtable-container-tab">
    <div class="sxtable-toolbar">
       
        <mat-toolbar color="primary" class="pl-2 pe-2">
            <div class="flex-align-items flex-space-between w-100 white h64">
                <div class="flex-start flex-align-items-end h64">
                    <span  class="px-2 semi-bold">{{dataCount | number:'1.0-0'}}</span>
                    <span *ngIf="dataCount !== 1" >Schedules</span>
                    <span *ngIf="dataCount == 1" >Schedule</span>
                </div>
                <div class="flex-end h64">
                    <button mat-icon-button class="pe-2"
                        matTooltip="Populate available Transfer Flights Data"
                        matTooltipPosition="above" 
                        color="accent"
                        [disabled]="(tableds.loading$ | async)"
                        (click)="populateTransfers()">
                        <mat-icon>transfer_within_a_station</mat-icon>
                    </button>

                    <mat-form-field class="white">
                        <mat-label class="white"><mat-icon>filter_list_alt</mat-icon><i>filter</i></mat-label>
                        <input matInput (keyup)="applyFilter($event)" class="white" type="text" [(ngModel)]="filter">
                        @if (filter) {
                            <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
                              <mat-icon class="white size-12">close</mat-icon>
                            </button>
                          }
                    </mat-form-field>
                    
                    <button mat-icon-button class="pr-1"
                        matTooltip="Reload Data"
                        matTooltipPosition="above" 
                        color="accent"
                        [disabled]="(tableds.loading$ | async)"
                        (click)="refreshClick()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                    
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    
    <div class="sxtable-body">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">

            <ng-container matColumnDef="ppdId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-60-sort text-left ps-2">PCPD</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-left">
                    <div class="flex-align-items ps-2">
                        <!--
                        <div class="flex pe-2 size-12"># {{row.ppdId}}</div>
                        -->
                        <ams-icon-payload-type 
                            [payloadType]="row.paxClassId"
                            [pax]="row.pax"
                            [cargoKg]="row.payloadKg"
                            description="(#{{row.ppdId}})">
                        </ams-icon-payload-type>
                        
                           
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="depApId">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80-sort text-left">
                    <div class="flex-start w-100" 
                        matTooltip="Departure Airport" matTooltipPosition="above" >
                        <mat-icon class="white" >flight_takeoff</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort  text-left">
                    <ams-icon-ap-code [apId]="row.depApId" [showName]="true" class="flex-start"></ams-icon-ap-code>
                </td>
            </ng-container>
            <ng-container matColumnDef="arrApId">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80-sort text-left">
                    <div class="flex-start w-100" 
                        matTooltip="Arrival Airport" matTooltipPosition="above" >
                        <mat-icon class="white" >flight_land</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort  text-left">
                    <ams-icon-ap-code [apId]="row.arrApId" [showName]="true" class="flex-start"></ams-icon-ap-code>
                </td>
            </ng-container>
            <ng-container matColumnDef="distanceKm">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60-sort text-right">
                    <div class="flex-align-items ps-4 text-right" 
                        matTooltip="Distance"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >travel_explore</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <div class="flex-end text-right">
                        <ams-icon-value *ngIf="row.distanceKm" 
                            pipe="lenkm" 
                            [value]="row.distanceKm" label="Distance">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="flTypeId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-60-sort text-right"> Nr</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <div class="flex-align-items w-100">
                        <div class="flex-align-items flex-start">
                            <ams-icon-flight-type class="blue" 
                                [flType]="row.flTypeId" 
                                (click)="spmFlqOpenClick(row)">
                            </ams-icon-flight-type>
                            <button  mat-icon-button class="mr-2"
                                color="warn"
                                [disabled]="!(row.flpStatusId === 2)"
                                matTooltip="Reset Flight Plan Status: {{ row.flpStatusId | flpstatus }}"
                                matTooltipPosition="above" (click)="updateFlightPlanStatusClick(row)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                        <div class="flex-end"  
                            matTooltip="Flight ID: {{row.flpId}}"
                            matTooltipPosition="above">
                            {{row.flpId}}
                        </div>
                    </div>
                </td>
            </ng-container>
           
            <ng-container matColumnDef="flName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-100-sort text-left">FLP One</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100-sort text-left">
                    <div class="flex-start w-100 link size-12" (click)="spmFlqOpenClick(row.flpId)">
                            {{row.flName}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="flName2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-100-sort text-left">FLP Two</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100-sort text-left">
                    <div class="flex-start w-100 link size-12" (click)="spmFlqOpenClick(row.flpId2)">
                            {{row.flName2}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="flName3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-100-sort text-left">FLP Tree</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100-sort text-left">
                    <div class="flex-start w-100 link size-12" (click)="spmFlqOpenClick(row.flpId3)">
                            {{row.flName3}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="flName4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-100-sort text-left">FLP Four</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100-sort text-left">
                    <div class="flex-start w-100 link size-12" (click)="spmFlqOpenClick(row.flpId4)">
                            {{row.flName4}}
                    </div>
                </td>
            </ng-container>
            

            <ng-container matColumnDef="remainPax">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-120 text-right white">Remain Pax and Cargo</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120-sort text-right">
                    <div class="flex-align-items w-100 flex-end">
                        <ams-icon-payload-type class="pe-1"
                            [payloadType]="row.payloadType"
                            [pax]="row.remainPax"
                            [cargoKg]="row.remainPayloadKg">
                        </ams-icon-payload-type>
                        <ams-icon-payload-type class="pe-1"
                            [payloadType]="row.payloadType"
                            [pax]="row.remainPax2"
                            [cargoKg]="row.remainPayloadKg2">
                        </ams-icon-payload-type>
                        <ams-icon-payload-type class="pe-1"
                            *ngIf="row.flpId3"
                            [payloadType]="row.payloadType"
                            [pax]="row.remainPax3"
                            [cargoKg]="row.remainPayloadKg3">
                        </ams-icon-payload-type>
                        <ams-icon-payload-type 
                            *ngIf="row.flpId4"
                            [payloadType]="row.payloadType"
                            [pax]="row.remainPax4"
                            [cargoKg]="row.remainPayloadKg4">
                        </ams-icon-payload-type>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="diffPrice">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 text-right white">Diff</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                   <ams-icon-value *ngIf="row.diffPrice"  
                   pipe="currencyr" 
                   [value]="row.diffPrice" label="Tripple flights summary price">
               </ams-icon-value>
                </td>
            </ng-container>
            <ng-container matColumnDef="sumPrice">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 text-right white">Sum Price</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                   <ams-icon-value *ngIf="row.sumPrice"  
                   pipe="currencyr" 
                   [value]="row.sumPrice" label="Tripple flights summary price">
               </ams-icon-value>
                </td>
            </ng-container>
            <ng-container matColumnDef="pPrice">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 text-right white">Price</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                   <ams-icon-value *ngIf="row.pPrice"  
                   pipe="currencyr" 
                   [value]="row.pPrice" label="Pax max Ticket Price">
               </ams-icon-value>
                </td>
            </ng-container>

            <ng-container matColumnDef="acId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-60-sort text-left">Aircraft</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-left">
                    <div class="flex-start w-100">
                        <ams-acid-img *ngIf="row.acId" class="text-center" [acId]="row.acId"></ams-acid-img>
                    </div>
                </td>
            </ng-container>
            
            
            
            
            <ng-container matColumnDef="dtime">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80-sort text-right">
                    <div class="flex-align-items w-100 text-right" 
                        matTooltip="Depatture Time"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >schedule</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="flex-end w-100 text-right">
                        <ams-icon-value *ngIf="row.dtime" class="blue"
                            pipe="datetime" 
                            [value]="row.dtime" label="Departure at">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            
            
            <ng-container matColumnDef="atime">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80-sort text-right">
                    <div class="flex-align-items w-100 text-right" 
                        matTooltip="Arrival Time"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >schedule</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="flex-end w-100 text-right">
                        <ams-icon-value *ngIf="row.atime !== null"
                            pipe="datetime" 
                            [value]="row.atime" label="Arrival at">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>

           
            <ng-container matColumnDef="pax">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-120 text-right white">Payload</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120-sort text-right">
                    <div class="flex-align-items w-100 flex-end">
                        <ams-icon-payload-type 
                            [payloadType]="typeE"
                            [pax]="row.pax"
                            [cargoKg]="row.payloadKg">
                        </ams-icon-payload-type>
                        <ams-icon-payload-type class="ps-1"
                            [payloadType]="typeC"
                            [pax]="row.pax"
                            [cargoKg]="row.payloadKg">
                        </ams-icon-payload-type>
                    </div>
                </td>
            </ng-container>

            
            <ng-container matColumnDef="paxPctFull">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-100 text-right white">Completed</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100-sort text-right">
                    <ams-icon-payload-pct-full 
                        [paxPct]="(row.paxPctFull/100)"
                        [cargoKgPct]="(row.payloadKgPctFull/100)">
                    </ams-icon-payload-pct-full>
                </td>
            </ng-container>

            

            
            
            <ng-container matColumnDef="flightH">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60-sort text-right">
                    <div class="flex-align-items w-100 text-right" 
                        matTooltip="Flight Time"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >timelapse</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <div class="flex-end w-100 text-right">
                        <ams-icon-value *ngIf="row.flightH"
                            pipe="min" 
                            [value]="row.flightH*60" label="Flight Time">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="minRunwayM">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-60-sort text-right white">
                    <div class="flex-end w-100" 
                        matTooltip="Minimum runway lenght" matTooltipPosition="above" >
                        <mat-icon class="white">settings_ethernet</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <ams-icon-value *ngIf="row.minRunwayM" 
                        class="flex-end"
                        pipe="len" 
                        [value]="row.minRunwayM" label="Min Runway Lenght">
                    </ams-icon-value>
                </td>
            </ng-container>
           
            <ng-container matColumnDef="grpName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-120-sort text-left">Group</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120-sort text-left">
                    <div class="flex-start w-100">
                            {{row.grpName}}
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="alId" >
                <th mat-header-cell *matHeaderCellDef class="txt-ell-140 text-left">Airline</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-140-sort text-left">
                    <ams-al-livery [alId]="row.alId" tooltip="Airline"></ams-al-livery>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClicked(row)" 
            [class.row-selected]="selected && selected.ppdId === row.ppdId"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        [hidePageSize]="false" 
        [showFirstLastButtons]="true">
    </mat-paginator>
</div>
    
