<div class="card card-200" [ngClass]="subclass">
  <div class="card-200-flag">
      <img src="{{country.flagUrl}}" alt="{{country.iso2}}"/>
  </div>
  <!-- Cintext Menu  -->
  <div class="card-200-menu">
    <button mat-icon-button [matMenuTriggerFor]="ctryMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #ctryMenu="matMenu" xPosition="before">
        <button *ngIf="country" mat-menu-item>{{country.cName}}</button>
        <button mat-menu-item>Remove</button>
    </mat-menu>
  </div>
  <div class="card-200-body" >

    <div class="card-200-title px-2"  *ngIf="country"
        (click)="selectClick()"
          matTooltip="{{country?.cName}} has {{country.statesCount | number:'1.0-0'}} states and {{country.airports | number:'1.0-0'}} airports. Country code is {{country.cCode}}."
          matTooltipPosition="above" matTooltipClass="tooltip-sm">
        {{country?.cName | uppercase }} ({{country.statesCount | number:'1.0-0'}})
    </div>
  
    <div class="card-200-info px-2">
      <div class="flex-align-items">
          <i class="material-icons size-16" 
              matTooltip="Country Code: {{country.cCode}} ."
              matTooltipPosition="above" matTooltipClass="tooltip-sm" >
              code
          </i>
          <span class=" size-14">{{country.cCode}}</span>
      </div>
      <div class="flex-align-items">
          <i class="material-icons size-16" 
              matTooltip="Country ISO Alpha 2: {{country.iso2}} ."
              matTooltipPosition="above" matTooltipClass="tooltip-sm" >
              art_track
          </i>
          <span class=" size-14">{{country.iso2}}</span>
      </div>
      <div class="flex-align-items">
          <i class="material-icons size-16" 
              matTooltip="Airports {{country.airports | number:'1.0-0'}} ."
              matTooltipPosition="above" matTooltipClass="tooltip-sm" >
              local_airport
          </i>
          <span class=" size-14">{{country.airports | number:'1.0-0'}}</span>
      </div>
    </div>
  </div>
</div>