<div class="sxtable-container-tail">
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary" class="pl-2 pe-2">
            <div class="flex-align-items flex-space-between w-100 white h64">
                <div class="flex-start flex-align-items-end">
                    <div class="pe-1">Departure</div>
                    <span  class="px-2 semi-bold">{{dataCount | number:'1.0-0'}}</span>
                    <span *ngIf="dataCount !== 1">Flights</span>
                    <span *ngIf="dataCount == 1">Flight</span>
                </div>
                <div class="flex-end h64">
                    <button *ngIf="dataCount>0" mat-icon-button class="mr-2"
                        matTooltip="Open Map"
                        matTooltipPosition="above" (click)="spmMapOpen()">
                        <mat-icon>map</mat-icon>
                    </button>
                    
                    <mat-form-field class="white">
                        <mat-label class="white"><mat-icon>filter_list_alt</mat-icon><i>filter</i></mat-label>
                        <input matInput (keyup)="applyFilter($event)" class="white" type="text" [(ngModel)]="filter">
                        @if (filter) {
                            <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
                              <mat-icon class="white">close</mat-icon>
                            </button>
                          }
                    </mat-form-field>
                    
                    <button mat-icon-button class="pe-1"
                        matTooltip="Reload Data"
                        matTooltipPosition="above" 
                        color="accent"
                        [disabled]="(tableds.loading$ | async)"
                        (click)="refreshClick()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">

            <ng-container matColumnDef="flId">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-100">
                    <div class="flex-align-items w-100 ps-2 text-left white" >Flight</div></th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100">
                    <div class="flex-align-items w-100 p-1">
                            <ams-icon-flight-type class="blue" 
                                [flType]="row.flTypeId" 
                                (click)="spmFlqOpenClick(row)">
                            </ams-icon-flight-type>
                            <div class="flex ml-1">{{row.depApCode}}</div>
                            <div class="flex ml-1">-</div>
                            <div class="flex ml-1"  matTooltip="Transport {{row.flDescription}}"
                            matTooltipPosition="above">{{row.arrApCode}}</div>
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="acId">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-60 white">Aircraft</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60">
                    <div class="flex-align-items w-100 pt-2 pb-2">
                        <div *ngIf="row.acImgTableUrl" class="icon-value" 
                            (click)="spmAircraftOpenClick(row.acId)"
                            matTooltip="Aircraft: {{row.acRegNr}}">
                            <img src="{{row.acImgTableUrl}}" alt="{{row.acId}}"/>
                        </div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="payloads">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-100 white">Payload</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100">
                    <ams-card-payload-sum [payloads]="row.payloads"></ams-card-payload-sum>
                    <!--
                    <div class="flex-align-items w-100 p-1">
                        <ams-icon-payload-type 
                            class="mr-1"
                            *ngFor="let pl of row.payloads"
                            [payloadType]="pl.payloadType"
                            [pax]="pl.pax"
                            [cargoKg]="pl.cargoKg">
                        </ams-icon-payload-type>
                    </div>
                    -->
                </td>
            </ng-container>
            <ng-container matColumnDef="etdTime">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-100-sort text-right">
                    <div class="flex-align-items w-100 pe-1 text-right" 
                        matTooltip="Estimated Time of Departure (ETD)"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >flight_takeoff</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100-sort text-right">
                    <div class="flex-align-items w-100 pe-1">
                        <!-- icon="timelapse" -->
                        <ams-icon-value *ngIf="row.etdTime" class="flex-end"
                            pipe="datetimer" 
                            [value]="row.etdTime" label="Departure at">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="distanceKm">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60-sort text-right">
                    <div class="flex-align-items w-100 text-right" 
                        matTooltip="Distance"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >travel_explore</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <div class="flex-align-items w-100 pe-1">
                        <!-- icon="timelapse" -->
                        <ams-icon-value *ngIf="row.distanceKm" class="flex-end"
                            pipe="lenkm" 
                            [value]="row.distanceKm" label="Distance">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="remainTimeMin">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60-sort text-right">
                    <div class="flex-align-items w-100 pe-1" 
                        matTooltip="Flight Time"
                        matTooltipPosition="above" >
                        <mat-icon class="white flex-end" >timelapse</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <div class="flex-align-items w-100 pe-1">
                        <ams-icon-value *ngIf="row.remainTimeMin" class="flrx-end"
                            pipe="periodminr" 
                            [value]="row.remainTimeMin" label="Flight Time">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="flDescription">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80 white">Description</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80">
                    <div class="flex-align-items w-100 p-1">
                        <div  class="block w-100 text-left ellipsis" 
                            matTooltip="{{row.flDescription}} " 
                            matTooltipPosition="above" >
                            {{row.flDescription}}
                        </div>
                    </div>
                </td>
            </ng-container>
            
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt"
        hidePageSize="true" 
        [showFirstLastButtons]="true" >
    </mat-paginator>
</div>