<div class="sxtable-container-tab">
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary" class="pl-2 pe-2">
            <div class="flex-align-items flex-space-between w-100 white h64">
                <div class="flex-start flex-align-items-end h64">
                    <span  class="ps-2 semi-bold">{{dataCount | number:'1.0-0'}}</span>
                    <span *ngIf="dataCount !== 1" class="ps-2">Flights</span>
                    <span *ngIf="dataCount == 1" class="ps-2">Flight</span>
                </div>
                <div class="flex-end h64">
                    
                    <button mat-icon-button class="me-4 yellow"  
                        matTooltip="Add Group"
                        matTooltipPosition="above" (click)="addAlFlightNumberClick()">
                        <mat-icon>add_circle</mat-icon>
                    </button>

                    <mat-form-field class="white">
                        <mat-label class="white"><mat-icon>filter_list_alt</mat-icon><i>filter</i></mat-label>
                        <input matInput (keyup)="applyFilter($event)" class="white" type="text" [(ngModel)]="filter">
                        @if (filter) {
                            <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
                              <mat-icon class="white size-12">close</mat-icon>
                            </button>
                          }
                    </mat-form-field>
                    
                    <button mat-icon-button class="me-1 white"
                        matTooltip="Reload Data"
                        matTooltipPosition="above" (click)="refreshClick()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                    
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">

            <ng-container matColumnDef="flpnId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-140-sort text-right">Nr</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-140-sort text-left">
                    <div class="flex-align-items">
                        <div class="flex-align-items flex-start">
                            <button mat-icon-button class="blue"
                                matTooltip="Edit Prices and Time"
                                matTooltipPosition="above" (click)="editAlFlightNumberClick(row)">
                                <mat-icon>price_change</mat-icon>
                            </button>
                            <button mat-icon-button class="blue"
                                matTooltip="Edit Flight Number"
                                matTooltipPosition="above" (click)="newAlFlightNumberClick(row)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button class="blue"
                                matTooltip="Updat Flight Shedule prices"
                                matTooltipPosition="above" (click)="updateAllFlpsPricesFromFlpn(row)">
                                <mat-icon>price_check</mat-icon>
                            </button>
                            <button  mat-icon-button class="red"
                                matTooltip="Delete Flight Number"
                                matTooltipPosition="above" (click)="deleteAlFlightNumberClick(row)">
                                <mat-icon>delete</mat-icon>
                            </button>
                            
                        </div>
                        <div class="flex-end"  matTooltip="Flight Group ID: {{row.flpnId}}"
                            matTooltipPosition="above">{{row.flpnId}}
                        </div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="flpnNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-60-sort text-left">Number</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-left">
                    <div class="flex-start w-100">
                            {{row.flpnNumber | number:'4.0-0' | nocoma}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="depApId">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-100 text-left">
                    <div class="flex-start w-100" 
                        matTooltip="Departure Airport" matTooltipPosition="above" >
                        <mat-icon class="white" >flight_takeoff</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100  text-left">
                    <ams-icon-ap-code [apId]="row.depApId" [showName]="true" class="flex-start"></ams-icon-ap-code>
                </td>
            </ng-container>

            <ng-container matColumnDef="arrApId">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-100 text-left">
                    <div class="flex-start w-100" 
                        matTooltip="Arrival Airport" matTooltipPosition="above" >
                        <mat-icon class="white" >flight_land</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100  text-left">
                    <ams-icon-ap-code [apId]="row.arrApId" [showName]="true" class="flex-start"></ams-icon-ap-code>
                </td>
            </ng-container>
            <ng-container matColumnDef="alId" >
                <th mat-header-cell *matHeaderCellDef class="txt-ell-120 text-left">Airline</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120-sort text-left">
                    <ams-al-livery [alId]="row.alId" tooltip="Airline"></ams-al-livery>
                </td>
            </ng-container>
            
           
            <ng-container matColumnDef="distanceKm">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60-sort text-right">
                    <div class="flex-align-items w-100 ps-4 text-right" 
                        matTooltip="Distance"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >travel_explore</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <div class="flex-end w-100 text-right">
                        <ams-icon-value *ngIf="row.distanceKm" 
                            pipe="lenkm" 
                            [value]="row.distanceKm" label="Distance">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="flightH">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60-sort text-right">
                    <div class="flex-align-items w-100 text-right" 
                        matTooltip="Flight Time"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >timelapse</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <div class="flex-end w-100 text-right">
                        <ams-icon-value *ngIf="row.flightH"
                            pipe="min" 
                            [value]="row.flightH*60" label="Flight Time">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="priceF">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-80 text-right">
                    <div class="flex-end w-100 text-right">
                        <ams-icon-paylod [type]="typeF" class="large mt-1"></ams-icon-paylod>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80 text-right">
                    <ams-icon-value *ngIf="row.priceF" 
                        pipe="currencyr" 
                        [value]="row.priceF" 
                        label="Ticket Price {{typeF | payloadtype}} Class">
                    </ams-icon-value>
                </td>
            </ng-container>
            <ng-container matColumnDef="priceB">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-60 text-right">
                    <div class="flex-end w-100 text-right">
                        <ams-icon-paylod [type]="typeB" class="large mt-1"></ams-icon-paylod>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60 text-right">
                    <ams-icon-value *ngIf="row.priceB" 
                        pipe="currencyr" 
                        [value]="row.priceB" 
                        label="Ticket Price {{typeB | payloadtype}} Class">
                    </ams-icon-value>
                </td>
            </ng-container>
            <ng-container matColumnDef="priceE">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-60 text-right">
                    <div class="flex-end w-100 text-right">
                        <ams-icon-paylod [type]="typeE" class="large mt-1"></ams-icon-paylod>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60 text-right">
                    <ams-icon-value *ngIf="row.priceE" 
                        pipe="currencyr" 
                        [value]="row.priceE" 
                        label="Ticket Price {{typeE | payloadtype}} Class">
                    </ams-icon-value>
                </td>
            </ng-container>
            <ng-container matColumnDef="priceCpKg">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-60 text-right">
                    <div class="flex-end w-100 text-right">
                        <ams-icon-paylod [type]="typeC" class="large"></ams-icon-paylod>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60 text-right">
                    <ams-icon-value *ngIf="row.priceCpKg" 
                        pipe="currencyr" 
                        [value]="row.priceCpKg" 
                        label="{{typeC | payloadtype}} Price">
                    </ams-icon-value>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="minRunwayM">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-80-sort text-right white">
                    <div class="flex-end w-100" 
                        matTooltip="Minimum runway lenght" matTooltipPosition="above" >
                        <mat-icon class="white">settings_ethernet</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <ams-icon-value *ngIf="row.minRunwayM" 
                        class="flex-end"
                        pipe="len" 
                        [value]="row.minRunwayM" label="Min Runway Lenght">
                    </ams-icon-value>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClicked(row)" 
                [class.row-selected]="selected && selected.flpnId === row.flpnId"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        hidePageSize="false" 
        [showFirstLastButtons]="true" >
    </mat-paginator>
</div>
    
