<div class="sxtable-container-dashboard card m-0 p-0">
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary" class="pl-2 pe-2">
            <div class="flex-align-items flex-space-between w-100 white h64">
                <div class="flex-start flex-align-items">
                    <span class="semi-bold">{{dataCount | number:'1.0-0'}}</span>
                    <span *ngIf="dataCount !== 1" class="pl-1">Flights</span>
                    <span *ngIf="dataCount == 1" class="pl-1">Flight</span>
                </div>
                <div class="flex-end h64">
                    <!--
                    <sx-button-round 
                        (click)="addCabin()"
                        [disabled]="!canEdit"
                        message="Add Cabin Configuration"
                        icon="add"
                        class="mr-3"
                       > 
                    </sx-button-round>
                    -->
                
                    <mat-form-field floatLabel="always" appearance="fill" class="white size-12">
                        <mat-label class="white"><mat-icon>filter_list_alt</mat-icon> <i> filter</i></mat-label>
                        <input matInput (keyup)="applyFilter($event)" class="white">
                    </mat-form-field>
    
                    <sx-button-flat 
                        (click)="refreshClick()" 
                        position="left" 
                        message="Reload Data"
                        icon="refresh" 
                        color="dark"
                        class="mr-0 ml-3">
                    </sx-button-flat>
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">
    
            <ng-container matColumnDef="flId" sticky>
                <th mat-header-cell *matHeaderCellDef class="txt-ell-120"></th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120">
                    <div class="col-12 p-0 flex flex-align-items w-100">
                        <div class="col-4 p-1 border-top flex-align-items">
                            <ams-icon-flight-type class="blue" [flType]="row.flTypeId"></ams-icon-flight-type>
                            <div class="flex ml-1">{{row.depApCode}}</div>
                            <div class="flex ml-1">-</div>
                            <div class="flex ml-1"  matTooltip="Transport {{row.flDescription}}"
                            matTooltipPosition="above">{{row.arrApCode}}</div>
                        </div>
                        <div class="col-3 p-1 border-top flex-align-items">
                            <ams-card-payload-sum [payloads]="row.payloads"></ams-card-payload-sum>
                        </div>
                        <div class="col-5 p-1 border-top flex-align-items">
                            <ams-icon-value *ngIf="row.remainTimeMin" class="blue"
                                pipe="periodmin" icon="timelapse"
                                [value]="row.remainTimeMin" label="Arrive in">
                            </ams-icon-value>
                            <div  class="block w-100 text-center" 
                                matTooltip="Curent Action: {{row.acfsId | acfl}} " 
                                matTooltipPosition="above" >
                            <div class="text-center">{{row.acfsId | acfl}}</div>
                    </div>
                        </div>
                    </div>
                
                </td>
            </ng-container>
            
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        [showFirstLastButtons]="true" >
    </mat-paginator>
</div>