<mat-tab-group  mat-stretch-tabs #branchTabs
        class="mat-card" 
        [selectedIndex]="selTabIdx"
        (selectedIndexChange)="selectedTabChanged($event)">

        <!-- -TAB 0  --> 
        <mat-tab label="Dashboard">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">dashboard</mat-icon>
                Dashboard
            </ng-template>
            <ams-al-info-bank-tab-dashboard></ams-al-info-bank-tab-dashboard>
        </mat-tab>

        <!-- -TAB 1 --> 
        <mat-tab label="Revenue">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">assured_workload</mat-icon>
                Revenue
            </ng-template>
            <ams-al-info-bank-tab-revenue [tabIdx]="1"></ams-al-info-bank-tab-revenue>
        </mat-tab>

        <mat-tab label="Flights">
            <ng-template mat-tab-label>
                <mat-icon class="me-2 blue">paid</mat-icon>
                Transactions
            </ng-template>
            <ams-grid-al-transactions-no-flight [tabindex]="2"></ams-grid-al-transactions-no-flight>
        </mat-tab>
       
                
    </mat-tab-group>
