<div class="modal-content">

    <div mat-dialog-title class="modal-header">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title flex-align-items">Runway 
            <span *ngIf="runway && runway.rwId" class="card-subtitle-1 ml-2" >№ {{runway.rwId}}</span>
            <span *ngIf="!runway || !runway.rwId" class="card-subtitle-1 ml-2" >Create</span>
            <div class="flex-align-items image-16 ml-4" *ngIf="airport">
                <ams-img-link *ngIf="airport.homeUrl" type="home" [url]="airport.homeUrl" class="ml-2"></ams-img-link>
                <ams-img-link *ngIf="airport.wikiUrl" type="wiki" [url]="airport.wikiUrl" class="ml-2"></ams-img-link>
                <ams-img-link *ngIf="airport.icao" type="oa" [ap_icao]="airport.icao" class="ml-2"></ams-img-link>
            </div>
            <div class="flex-align-items image-16 ml-4" *ngIf="airport">
                <img *ngIf="airport" class="card-subtitle-1 mb-1"  src="{{airport.flagUrl}}" alt="{{airport.iso2}}"/>
                <span *ngIf="airport" class="card-subtitle-1 ml-2" >{{airport.apName}}, </span>
                
                <span *ngIf="airport" class="card-subtitle-1 ml-2" >{{airport.icao}}</span>
            </div>
        </div>
    </div>

    <mat-dialog-content class="modal-body">
        <form class="d-flex flex-column" [formGroup]="formGrp">
            <!--
            <input type="hidden"  formControlName="userId" [value]="userId">
            -->
            <h5 class="mb-0 pt-2">Type</h5>
            <div class="col-12 flex-align-items w-100 p-0">
                <div class="col-2 pe-2">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>№</mat-label>
                        <input matInput type="number"  placeholder="rwOrder"  formControlName="rwOrder" required>
                        <mat-icon matSuffix class="text-grey-500">list</mat-icon>
                        <mat-error *ngIf="rwOrder.invalid">{{fError('rwOrder')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-3 pe-2">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Type</mat-label>
                        <mat-select name="rwType" formControlName="rwType">
                          <mat-option *ngFor="let opt of typeOpt" [value]="opt.id">
                            {{opt.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>

                <div class="col-3 pe-2">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Direction</mat-label>
                        <input matInput  placeholder="Direction"  formControlName="rwDirection" required >
                        <!--
                        <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                        -->
                        <mat-error *ngIf="rwDirection.invalid">{{fError('rwDirection')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-4 pe-0">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Serface</mat-label>
                        <mat-select name="serfaceId" formControlName="serfaceId">
                          <mat-option *ngFor="let opt of serfaceOpt" [value]="opt.id">
                            {{opt.name}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
            </div>
            <h5 class="mb-0 pt-2">Serface</h5>
            <div class="col-12 flex-align-items w-100 p-0">

                <div class="col-4 pe-2">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Lenght</mat-label>
                        <input matInput type="number"  placeholder="lenght"  formControlName="lenght" required>
                        <mat-icon matSuffix class="text-grey-500">border_bottom</mat-icon>
                        <mat-error *ngIf="lenght.invalid">{{fError('lenght')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-2 pe-0">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Width</mat-label>
                        <input matInput type="number"  placeholder="width"  formControlName="width" required>
                        <mat-icon matSuffix class="text-grey-500">border_vertical</mat-icon>
                        <mat-error *ngIf="width.invalid">{{fError('width')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-1 p-0"></div>
                <div class="col-3 pe-2">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Rotation</mat-label>
                        <input matInput type="number"  placeholder="rotation"  formControlName="rotation" required>
                        <mat-icon matSuffix class="text-grey-500">text_rotation_angleup</mat-icon>
                        <mat-error *ngIf="rotation.invalid">{{fError('rotation')}}</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-2 pe-0">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Radius</mat-label>
                        <input matInput type="number"  placeholder="radius"  formControlName="radius" required>
                        <mat-icon matSuffix class="text-grey-500">radio_button_checked</mat-icon>
                        <mat-error *ngIf="radius.invalid">{{fError('radius')}}</mat-error>
                    </mat-form-field>
                </div>
               
            </div>
            
    
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end mr-2">
                <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="formGrp.invalid" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
