

    <div class="spm-header">
        <div class="title">History Flight
            <span *ngIf="flight" class="subtitle">№ {{flight.flName}}</span>
        </div>
    </div>
    <hr class="m-0">
    <div class="spm-body">
        <div class="scroll-container-white-270 w-100 px-2">
            <ams-card-flight-info [flight]="flight"></ams-card-flight-info>
        </div>
        <div class="block w-100 px-1 relative">
            <ams-grid-ac-flight-log-list [flight]="flight"></ams-grid-ac-flight-log-list>
        </div>
        
    </div>


