<div class="modal-content">

    <div mat-dialog-title class="modal-header mb-2">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title mr-1">
            <span *ngIf="aircraft" class="pr-1">{{aircraft.registration}}:</span>
            <span class="pr-1">Available Charter Flights</span>
            <span *ngIf="depAirport" > from {{depAirport.apLabel}}</span>
            <span *ngIf="flightsCount" class="card-subtitle-1 ps-1">({{flightsCount | number:'1.0-0'}})</span>
            <span *ngIf="flights" class="card-subtitle-1 ps-1 size-12">(estimate)</span>
        </div>
    </div>

    <mat-dialog-content class="modal-body ps-2 pe-2">
        <form class="d-flex flex-column" [formGroup]="formGrp">

            <div class="col-12 flex-column w-100 p-0">
                <div class="scroll-box-small border-all w-100 ps-0 pe-0 flex-wrap">
                    <ams-card-flight-estimate-info *ngFor="let flight of flights" 
                        class="col-lg-6 col-md-12 col-sm-12 p-1"
                        [flight]="flight"
                        [hasSpinner]="hasSpinner"
                        (selectFlight)="selectFlight($event)">
                    </ams-card-flight-estimate-info>
                </div>
            </div>
            
            <div class="col-12 flex-wrap w-100 p-0">
                <div class="col-lg-6 col-md-6 col-sm-12 flex-align-items p-0" >
                    <ams-card-aircraft-info class="w-100" [aircraft]="aircraft"></ams-card-aircraft-info>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 flex-align-items p-0" >
                    <div *ngIf="aircraft.imgAirUrl"  class="side-panel-sec text-center" >
                        <img src="{{aircraft.imgAirUrl}}" alt="{{aircraft.macId}}" style="max-width: 265px;max-height: 265px;">
                    </div>
                </div>
            </div>
    
        </form>
    </mat-dialog-content>
   
</div>
