<div class="flex-row flex-wrap" *ngIf="subregions">
        
    <!-- -regions -->
    <div class="col-lg-4 col-md-6 col-sm-12 tile tile-wad" *ngFor="let sreg of subregions" >
        <mat-card appearance="outlined" (click)="gotoSubregion(sreg)">
            <mat-card-subtitle>{{sreg.srName}}
                <span *ngIf="sreg && sreg.countries" matTooltip="Contains {{sreg.countries | number:'1.0-0'}} Countries">({{sreg.countries | number:'1.0-0'}})</span>
            </mat-card-subtitle>
            <mat-card-content class="overlay-blue">
                <div *ngIf="chartDataUserList" class="ile-graphic">

                </div>
                <img *ngIf="sreg" class="tile-graphic" src="{{amsImgUrl}}country/subregion_{{sreg.srCode}}.png"
                alt="{{sreg.srCode}}">
            </mat-card-content>
        </mat-card>
    </div>

        
</div>
