<div class="modal-content">

    <div mat-dialog-title class="modal-header">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title mr-1">Flight
            <span *ngIf="flight" class="card-subtitle-1 ps-1">№ {{flight.flName}}</span>
            <span *ngIf="flight" class="card-subtitle-1 ps-1">{{flight.flDescription}}</span>
            <span *ngIf="flight" class="card-subtitle-1 ps-1 size-12">(estimate)</span>
            <span *ngIf="!flight" >Empty</span>
        </div>
    </div>

    <mat-dialog-content class="modal-body">
        <form class="col-12 p-0" [formGroup]="formGrp">
            <div class="col-12 flex-align-items-top w-100 p-0">
    
                <div class="col-4 p-0">
                    <div *ngIf="aircraft.imgAirUrl"  class="side-panel-sec text-center" >
                        <img src="{{aircraft.imgAirUrl}}" alt="{{aircraft.macId}}" style="max-width: 200px;max-height: 200px;">
                    </div>
                </div>
                <div class="col-8 flex-column p-0">
                    <div class="side-panel-sec" *ngIf="flight">
                        <div class="flex-align-items-top w-100 p-0">
                            <div class="col-6 pe-0 flex-column">
                                <div class="val-row flex-align-items">
                                    <div class="label-med pe-3" matTooltip="Distance">Distance</div>
                                    <div class="value">
                                        <ams-icon-value *ngIf="flight.distanceKm" 
                                            pipe="lenkm" icon="settings_ethernet"
                                            [value]="flight.distanceKm" label="Distance">
                                        </ams-icon-value>
                                    </div>
                                </div>
                                <div class="val-row flex-align-items">
                                    <div class="label-med pe-3" matTooltip="Distance">Duration</div>
                                    <div class="value">
                                        <ams-icon-value *ngIf="flight.durationMin" class="blue"
                                            pipe="periodmin" icon="timelapse"
                                            [value]="flight.durationMin" label="Flight Time">
                                        </ams-icon-value>
                                    </div>
                                </div>
                                <div class="val-row flex-align-items">
                                    <div class="label-med pe-3" matTooltip="Fuel Consumption">Fuel</div>
                                    <div class="value">
                                        <ams-icon-value *ngIf="flight.oilL" 
                                            pipe="liters" icon="local_gas_station"
                                            [value]="flight.oilL" label="Fuel Consumption">
                                        </ams-icon-value>
                                    </div>
                                </div>
                                <div class="val-row flex-align-items">
                                    <div class="label-med pe-3" matTooltip="Payload">Payload</div>
                                    <div class="value">
                                        <ams-icon-value *ngIf="flight.payloadKg" 
                                            pipe="mtow" icon="local_shipping"
                                            [value]="flight.payloadKg" label="Payload">
                                        </ams-icon-value>
                                    </div>
                                </div>
                                <div class="val-row flex-align-items">
                                    <div class="label-med pe-3" matTooltip="Takeoff Weight">Takeoff Weight</div>
                                    <div class="value">
                                        <ams-icon-value *ngIf="flight.mtow" 
                                            pipe="mtow" icon="scale"
                                            [value]="flight.mtow" label="Takeoff Weight">
                                        </ams-icon-value>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 pe-0 flex-column flex-end">
                                <div class="val-row flex-align-items">
                                    <div class="label-med" matTooltip="Ground and Crew Fee">Ground Crew Fee</div>
                                    <div class="value flex-end">
                                        <ams-icon-value *ngIf="flight.groundCrewFee" 
                                            pipe="currencyr" icon="luggage" class="orange"
                                            [value]="flight.groundCrewFee" label="Ground and Crew Fee">
                                        </ams-icon-value>
                                    </div>
                                </div>
                                <div class="val-row flex-align-items">
                                    <div class="label-med" matTooltip="Boarding Fee">Boarding Fee</div>
                                    <div class="value flex-end">
                                        <ams-icon-value *ngIf="flight.boardingFee" class="orange"
                                            pipe="currencyr" icon="follow_the_signs"
                                            [value]="flight.boardingFee" label="Boarding Fee">
                                        </ams-icon-value>
                                    </div>
                                </div>
                                <div class="val-row flex-align-items">
                                    <div class="label-med" matTooltip="Fuel Price">Fuel Price</div>
                                    <div class="value flex-end">
                                        <ams-icon-value *ngIf="flight.oilPrice" 
                                            pipe="currencyr" icon="local_gas_station" class="orange"
                                            [value]="flight.oilPrice" label="Fuel Price">
                                        </ams-icon-value>
                                    </div>
                                </div>
                                <div class="val-row flex-align-items">
                                    <div class="label-med" matTooltip="Flight Exences">Flight Exences</div>
                                    <div class="value flex-end">
                                        <ams-icon-value *ngIf="flight.flPrice" 
                                            pipe="currencyr" icon="airplane_ticket" class="orange"
                                            [value]="flight.flPrice" label="Flight Exences">
                                        </ams-icon-value>
                                    </div>
                                </div>
                                <div class="val-row flex-align-items">
                                    <div class="label-med" matTooltip="Flight Income">Income</div>
                                    <div class="value flex-end">
                                        <ams-icon-value *ngIf="flight.income" 
                                            pipe="currencyr" icon="monetization_on" class="green"
                                            [value]="flight.income" label="Flight Income">
                                        </ams-icon-value>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-12 flex-align-items-top w-100 p-0 mt-2">
                <div class="col-3 p-0 bg-blue"><h5 class="mb-0 p-1 white">Departure</h5></div>
                <div class="col-3 p-0 bg-blue"><h5 class="mb-0 p-1 white">Arrival</h5></div>
                <div class="col-3 p-0 bg-blue"><h5 class="mb-0 p-1 white">Expences</h5></div>
                <div class="col-3 p-0 bg-blue"><h5 class="mb-0 p-1 white">Profit</h5></div>
            </div>
            <div class="col-12 flex-align-items-top w-100 p-0">
                <div class="col-3 p-1 border-all">
                    <ams-icon-value *ngIf="flight.dtime" 
                        pipe="datetime" icon="flight_takeoff"
                        [value]="flight.dtime" label="Departure">
                    </ams-icon-value>
                </div>
                <div class="col-3 p-1 border-all">
                    <ams-icon-value *ngIf="flight.atime" 
                        pipe="datetime" icon="flight_land" 
                        [value]="flight.atime" label="Arrival">
                    </ams-icon-value>
                </div>
                <div class="col-3 p-1 border-all">
                    <ams-icon-value *ngIf="flight.expences" 
                        pipe="currency" icon="shopping_cart_checkout" class="orange"
                        [value]="flight.expences" label="Expences Total">
                    </ams-icon-value>
                </div>
                <div class="col-3 p-1 border-all">
                    <ams-icon-value *ngIf="flight.revenue" 
                        pipe="currency" icon="price_check" class="red"
                        [value]="flight.revenue" label="Profit">
                    </ams-icon-value>
                </div>

            </div>
            
            
           

           

           

    
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end mr-2">
                <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="formGrp.invalid && !flight" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
