<div ngbDropdown class="dropdown ">
    <button class="btn btn-icon-only btn-text-primary" [matMenuTriggerFor]="alMenuMain" >
      <i class="modus-icon material-icons text-primary">more_vert</i>
    </button>
    <mat-menu #alMenuMain="matMenu">
        <button mat-menu-item disabled="true">
            <mat-icon>manage_history</mat-icon>
            <span>Version: {{appVersion}}</span>
        </button>
        <mat-divider></mat-divider>
        <button *ngIf="user" mat-menu-item class="blue"
           (click)="edituser(user)">
            <mat-icon class="blue">manage_accounts</mat-icon> 
            <span>Edit Profile</span>
        </button>
        <button *ngIf="airline" mat-menu-item class="blue"
            [disabled]="!canEdit"
           (click)="ediAirline()">
            <mat-icon class="blue">business</mat-icon> 
            <span>Edit Airline</span>
        </button>

        <mat-divider class="blue"></mat-divider>
        <button *ngIf="user" mat-menu-item class="blue"
            [routerLink]="[roots.Root, roots.airline, roots.profile]" 
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
            <mat-icon>account_circle</mat-icon> 
            <span>Profile</span>
        </button>

        <mat-divider class="blue"></mat-divider>
        <button *ngIf="airline" mat-menu-item class="link blue" 
            (click)="loadBankHistoryChanrt()">
            <mat-icon>refresh</mat-icon> 
            <span>Refresh Bank History</span>
        </button>
    </mat-menu>
    
</div>