<div class="card col-12 m-0 p-0">
    <div class="side-panel-sec" *ngIf="flight">
        <div class="side-panel-sec-rows">
            <div class="sp-row col-12 p-0">
                <div class="col-8 flex-start flex-align-items p-0">
                    <ams-icon-flight-type [flType]="flight.flTypeId"></ams-icon-flight-type>
                    <div class="flex ml-1">{{flight.flName}}</div>
                    <div class="flex ml-1 ellipsis">{{flight.flDescription}}</div>
                </div>
                <div class="col-4 flex-end flex-align-items p-0">
                    <mat-icon class="material-icons link blue mr-2"  
                        (click)="selectCharterFlight()"
                        matTooltip="Assign Flight to Aircraft"
                        matTooltipPosition="above">
                        add_box
                    </mat-icon>
                </div> 
            </div>
            <div class="w-100 p-0 m-0">
                <div *ngIf="showHeader" class="col-12 flex-align-items-top w-100 p-0 m-0">
                    <div class="col-2 p-0 bg-blue"><h5 class="mb-0 p-1 white">Departure</h5></div>
                    <div class="col-2 p-0 bg-blue"><h5 class="mb-0 p-1 white">Arrival</h5></div>
                    <div class="col-2 p-0 bg-blue"><h5 class="mb-0 p-1 white">Payload</h5></div>
                    <div class="col-2 p-0 bg-blue"><h5 class="mb-0 p-1 white text-right">Price</h5></div>
                    <div class="col-2 p-0 bg-blue"><h5 class="mb-0 p-1 white text-right">Expences (estimate)</h5></div>
                    <div class="col-2 p-0 bg-blue"><h5 class="mb-0 p-1 white text-right">Profit (estimate)</h5></div>
                </div>
                <div class="col-12 flex-align-items-top w-100 p-0">
                    <div class="col-2 p-1 border-all">
                        <ams-icon-value *ngIf="flight.dtime" 
                            pipe="datetime" icon="flight_takeoff"
                            [value]="flight.dtime" label="Departure">
                        </ams-icon-value>
                    </div>
                    <div class="col-2 p-1 border-all">
                        <ams-icon-value *ngIf="flight.atime" 
                            pipe="datetime" icon="flight_land" 
                            [value]="flight.atime" label="Arrival">
                        </ams-icon-value>
                    </div>
                    <div class="col-2 p-1 border-all flex-align-items">
                        <ams-icon-payload-type 
                        class="mr-1"
                        *ngFor="let pl of flight.payloads"
                        [payloadType]="pl.payloadType"
                        [pax]="pl.pax"
                        [cargoKg]="pl.cargoKg">
                    </ams-icon-payload-type>
                    </div>
                    <div class="col-2 p-1 border-all text-right">
                        <ams-icon-value *ngIf="flight.expences" 
                            pipe="currencyr" icon="add_shopping_cart" class="green"
                            [value]="flight.income" label="Price">
                        </ams-icon-value>
                    </div>
                    <div class="col-2 p-1 border-all text-right">
                        <ams-icon-value *ngIf="flight.expences" 
                            pipe="currencyr" icon="shopping_cart_checkout" class="orange"
                            [value]="flight.expences" label="Expences Total">
                        </ams-icon-value>
                    </div>
                    <div class="col-2 p-1 border-all text-right">
                        <ams-icon-value *ngIf="flight.revenue" 
                            pipe="currencyr" icon="price_check" class="red"
                            [value]="flight.revenue" label="Profit">
                        </ams-icon-value>
                    </div>
    
                </div>
                
            </div>

            
        </div>
    </div>
</div>

