<div class="col-12 m-0 p-0">

    <div class="side-panel-sec" *ngIf="flight">
        <div class="side-panel-sec-rows">
            <div class="sp-row border-bottom border-tertiary mt-2">
                <div class="flex-start flex-align-items"
                    matTooltip="Charter Flight: {{flight.flightName}} ({{flight.charterId}})"
                    matTooltipPosition="above">
                    <div class="flex">{{flight.flightName}}</div>
                </div>
                <div class="flex-end">
                    <div class="flex">{{flight.flightDescription}}</div>
                </div>
            </div>
            <div class="sp-row border-bottom border-tertiary mt-2">
                <div class="flex-start flex-align-items">
                    <ams-icon-ap-dep [apId]="flight.depApId"></ams-icon-ap-dep>
                </div>
                <div class="flex-end">
                    <ams-icon-ap-arr [apId]="flight.arrApId" [right]="true"></ams-icon-ap-arr>
                </div>
            </div>
            <div class="sp-row border-bottom border-tertiary mt-2">
                <div class="col4 p-0 flex-align-items">
                    <ams-icon-value *ngIf="flight.distanceKm" 
                        pipe="lenkm" icon="travel_explore"
                        [value]="flight.distanceKm" label="Distance">
                    </ams-icon-value>
                </div>
                <div class="col4 p-0 flex-align-items">
                    <ams-icon-payload-type 
                        [payloadType]="flight.payloadType"
                        [pax]="flight.pax"
                        [cargoKg]="flight.cargoKg">
                    </ams-icon-payload-type>
                </div>
                <div class="col4 p-0 flex-align-items">
                    <ams-icon-value *ngIf="flight.price" 
                        pipe="currencyr" icon="price_check"
                        [value]="flight.price" label="Price">
                    </ams-icon-value>
                </div>
            </div>
            <div class="sp-row border-bottom border-tertiary mt-2">
                <div class="flex-start flex-align-items">
                    <ams-icon-value *ngIf="flight.periodDays" 
                        pipe="periodday" icon="more_time"
                        [value]="flight.periodDays" label="Frequency">
                    </ams-icon-value>
                </div>
                <div class="flex-end">
                    <ams-icon-value *ngIf="flight.nextRun" 
                        pipe="datetimer" icon="more_time"
                        [value]="flight.nextRun" label="Next Run">
                    </ams-icon-value>
                </div>
            </div>
        </div>


    </div>

</div>