    <mat-tab-group  mat-stretch-tabs #branchTabs
        class="mat-card" 
        [selectedIndex]="selTabIdx"
        (selectedIndexChange)="selectedTabChanged($event)">

        <!-- -TAB 0 dashboard --> 
        <mat-tab label="Dashboard">
            <ng-template mat-tab-label>
                <mat-icon class="me-2 blue">dashboard</mat-icon>
                <!--
                <img class="tab-icon neighbor-icon" src="/assets/images/common/project_tr.png" alt="Dashboard">
                -->
                Dashboard
            </ng-template>
            <ams-al-aircraft-tab-dashboard [tabIdx]="0">Dashboard</ams-al-aircraft-tab-dashboard>
           
        </mat-tab>

        <!-- -TAB 1 Aircraft Market --> 
        <mat-tab label="Aircraft Market">
            <ng-template mat-tab-label>
                <mat-icon class="me-2 blue">shopping_cart</mat-icon>
                Schedule
            </ng-template>
            <ams-grid-al-flp-booking [tabindex]="1" [acId]="aircraft.acId"></ams-grid-al-flp-booking>
        </mat-tab>

        <mat-tab label="Flights">
            <ng-template mat-tab-label>
                <mat-icon class="me-2 blue">history</mat-icon>
                Transaction
            </ng-template>
            <ams-grid-al-transactions-no-flight [tabindex]="2" [acId]="aircraft.acId"></ams-grid-al-transactions-no-flight>
        </mat-tab>
        <mat-tab label="Flights">
            <ng-template mat-tab-label>
                <mat-icon class="me-2 blue">flight</mat-icon>
                History Flights
            </ng-template>
            <ams-al-aircraft-tab-fight-history tabindex="3"></ams-al-aircraft-tab-fight-history>
        </mat-tab>
       <!--
        ams-grid-al-transactions-no-flight
        -->
                
    </mat-tab-group>
    
