 <!-- Title -->
 <div class="title-container">
    <div class="modal-title">CFG CHARTER DETAIL</div>
</div>
<hr class="mb-0">
<div *ngIf="!flight">No Data</div>

<div class="col-12 p-2">
    <ams-cfg-charter-info [flight]="flight"></ams-cfg-charter-info>
</div>

<div class="mt-2">
    
</div> 
