<div class="modal-content">
    <div mat-dialog-title class="modal-header">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title flex-align-items">Aircraft 
            <span *ngIf="aircraft && aircraft.macId" class="card-subtitle-1 px-1" >№ {{aircraft.registration}}</span>
            <span *ngIf="!aircraft || !aircraft.macId" class="card-subtitle-1" >Edit</span>
            
            <div class="flex-end image-120">
                <img *ngIf="aircraft" class="card-subtitle-1 mb-1" src="{{aircraft.imgTableUrl}}" alt="{{aircraft.acId}}"/>
            </div>
        </div>
    </div>
    <mat-dialog-content class="modal-body py-0 my-0 card" style="min-height: 100px;">
        <form class="flex-column w-100" [formGroup]="formGrp">
            <div class="col-12 flex-align-items-top">
                <div class="col-6 flex-column pe-1">
                    <ams-card-aircraft-id-row [aircraft]="aircraft"></ams-card-aircraft-id-row>
                </div>
                <div class="col-6 flex-column ps-1">
                    <mat-form-field class="w-100">
                        <mat-label>Base Airport</mat-label>
                        <input matInput [matAutocomplete]="homeApAuto" [formControl]="homeApIdFc">
                        <mat-icon matPrefix  class="text-grey-500">local_airport</mat-icon>   
                        <mat-icon matSuffix  class="text-grey-500" (click)="homeApReset()">expand_more</mat-icon>     
                        <mat-autocomplete #homeApAuto="matAutocomplete" 
                            [displayWith]="homeApDisplay" 
                            (optionSelected)="homeApValueChange($event)">
                        <mat-option *ngFor="let option of hubsOpt | async"  [value]="option">
                            <div class="flex-column header">
                                <div class="flex-align-items">
                                    <ams-icon-ap-code [apId]="option.apId" [showName]="true" 
                                        class="flex-start" 
                                        matTooltip="Airport" 
                                        matTooltipPosition="above">
                                    </ams-icon-ap-code>
                                </div>
                                <div *ngIf="option.hubName" class="title">{{option.hubName}}</div>
                            </div>
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
    
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end mr-2">
                <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="formGrp.invalid" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>

</div>
