<ts-sx-navbar (snavToggle)="snavToggleClick()" >
    <ams-acm-menu-main></ams-acm-menu-main>
</ts-sx-navbar>

<mat-sidenav-container>
    <mat-sidenav #snav [mode]="snavmode"  opened fixedTopGap="64">
        <sx-sidebar-nav #sxSide></sx-sidebar-nav>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <div class="ams-content flex" >
            
            <sx-filter-panel [panelVar]="panelInVar"  
                [fptitle]="airline.alName"
                [subtitle]="airline.iata"
                (closePanel)="closePanelLeftClick()"
                (subtitleClick)="spmAirportOpen($event)">
                <ams-acm-filter-panel-body></ams-acm-filter-panel-body>
            </sx-filter-panel>
            <div class="ams-content-body" [ngClass]="{'sidebar-open' :panelInVar!==in, 'sidebar-closed':panelInVar===in}">
                <router-outlet></router-outlet>
            </div>
            <div [@togleBtnTopRev]="!panelInVar"  (click)="expandPanelLeftClick()" class="side-tab-btn-top">
                <i class="material-icons modus-icons">east</i>
            </div>

            <ams-side-panel-modal-large #spmAirport (closeSmpClick)="spmAirportClose()">
                <ams-spm-airport-info [country]="country" [state]="state" [airport]="spmAp"></ams-spm-airport-info>
            </ams-side-panel-modal-large> 
            <ams-side-panel-modal #spmAirline (closeSmpClick)="spmAirlineClose()">
                
            </ams-side-panel-modal> 
            <ams-side-panel-modal #spmAcmMac (closeSmpClick)="spmAcmMacClose()">
                <ams-spm-acm-mac-info [acmmac]="spmMac"></ams-spm-acm-mac-info>
            </ams-side-panel-modal> 

            <ams-side-panel-modal #spmAircraft (closeSmpClick)="spmAircraftClose()">
                <ams-spm-aircraft-info [aircraft]="spmAc"></ams-spm-aircraft-info>
            </ams-side-panel-modal> 
        </div>
    </mat-sidenav-content>
        
</mat-sidenav-container>


