<div *ngIf="showText && showText === 'left'" class="icon-value"
    [ngClass]="{'link-green':isforschedule, 'link-gray':!isforschedule }">
    <i class="material-icons mr-1" 
        matTooltip="{{label}}" 
        matTooltipPosition="above" >{{icon}}</i>
    {{label}}
</div>
<div *ngIf="showText && showText !== 'left'" class="icon-value"
[ngClass]="{'link-green':isforschedule, 'link-gray':!isforschedule }">
        {{label}}
    <i class="material-icons ml-1" 
        matTooltip="{{label}}" 
        matTooltipPosition="above">{{icon}}</i>
</div>
<div *ngIf="!showText" class="icon-value"
    [ngClass]="{'link-green':isforschedule, 'link-gray':!isforschedule }">
    <mat-icon class="material-icons ml-1"
        matTooltip="{{label}}" 
        matTooltipPosition="above">{{icon}}</mat-icon>
    <!--
    <i class="material-icons ml-1" >{{icon}}</i>
    -->
</div>