
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary" class="pl-2 pe-2">
            <div class="flex-align-items flex-space-between w-100 white h64">
                <div class="flex-start flex-align-items-end h64">
                    <span  class="px-2 semi-bold">{{dataCount | number:'1.0-0'}}</span>
                    <span *ngIf="dataCount !== 1">Cargo Payloads</span>
                    <span *ngIf="dataCount == 1">Cargo Payload</span>
                </div>
                <div class="flex-end h64">

                    <mat-form-field class="white">
                        <mat-label class="white"><mat-icon>filter_list_alt</mat-icon><i>filter</i></mat-label>
                        <input matInput (keyup)="applyFilter($event)" class="white" type="text" [(ngModel)]="filter">
                        @if (filter) {
                            <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
                              <mat-icon class="white">close</mat-icon>
                            </button>
                          }
                    </mat-form-field>
                    
                    <button mat-icon-button class="pe-1"
                        matTooltip="Reload Data"
                        matTooltipPosition="above" 
                        color="accent"
                        [disabled]="(tableds.loading$ | async)"
                        (click)="refreshClick()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                    
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body-toolbar">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">

            <ng-container matColumnDef="cpdId">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-40">
                    <div class="flex-align-items w-100 ps-2 text-left white" >Nr</div></th>
                <td mat-cell *matCellDef="let row" class="txt-ell-40">
                    <div class="flex-align-items w-100 p-1">
                            <div class="flex ml-1"  matTooltip="Transport {{row.apCodes}}"
                            matTooltipPosition="above">{{row.cpdId}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="apCodes">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-100">
                    <div class="flex-align-items w-100 ps-2 text-left white" >Airport Codes</div></th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100">
                    <div class="flex-align-items w-100 p-1">
                            <div class="flex ml-1"  matTooltip="Transport {{row.apCodes}}"
                            matTooltipPosition="above">{{row.apCodes}}</div>
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="acId">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-60 white">Aircraft</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60">
                    <div class="flex-align-items w-100 pt-2 pb-2">
                        <div *ngIf="row.acImgTableUrl" class="icon-value" 
                            matTooltip="Aircraft: {{row.acRegNr}}">
                            <img src="{{row.acImgTableUrl}}" alt="{{row.acId}}"/>
                        </div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="depApId">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60 text-left white">Departure</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-left">
                    <ams-icon-ap-code [apId]="row.depApId" [showName]="false" class="flex"></ams-icon-ap-code>
                </td>
            </ng-container>
            <ng-container matColumnDef="arrApId">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-60 text-left white">Arrival</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-left">
                    <ams-icon-ap-code [apId]="row.arrApId" [showName]="false" class="flex"></ams-icon-ap-code>
                </td>
            </ng-container>
            <ng-container matColumnDef="payloadKg">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60 text-center white">Payload</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60 text-center">
                    <div class="flex-center w-100 p-1">
                        <ams-icon-payload-type 
                            class="mr-1"
                            [payloadType]="row.paxClassId"
                            [cargoKg]="row.payloadKg">
                        </ams-icon-payload-type>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="maxPrice">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-60-sort text-right white">Max Price</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <!--
                    <div class="mr-2 green">{{row.amount | currency:'EUR' }}</div>
                    icon="price_check"
                    -->
                    <div class="flex-align-items flex-space-between w-100">
                        <mat-icon class="flex-start mx-1 size-18 blue" *ngIf="row.priceIncreasePct>0"
                            matTooltip="{{row.priceIncreasePct | percent:'1.0-2'}} price increase."
                            matTooltipPosition="above">
                                arrow_upward
                            </mat-icon>
                        <ams-icon-value *ngIf="row.maxPrice" class="flex-end"
                            pipe="currencyr" 
                            [value]="row.maxPrice" label="Max Ticket Price">
                        </ams-icon-value>
                    </div>
                    
                </td>
            </ng-container>
            <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-150 text-left white">Decription</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-150 text-left p-1">
                   
                    <div class="flex w-100"  matTooltip="{{row.note}}"
                            matTooltipPosition="above">{{row.note}}</div>
                    
                </td>
            </ng-container>

            <ng-container matColumnDef="sequence">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-40 text-right">
                    <div class="flex-align-items w-100 p-1 text-right" 
                        matTooltip="Sequence" matTooltipPosition="above" >
                        <mat-icon class="white" >numbers</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-40 text-right">
                    {{row.sequence | number:'1.0-0'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="udate">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60-sort text-right">
                    <div class="flex-align-items w-100 p-1 text-right" 
                        matTooltip="Updated On" matTooltipPosition="above" >
                        <mat-icon class="white" >event</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <div class="flex-align-items w-100 p-1">
                        <!-- icon="timelapse"  {{project.adate | date:'MMM d, y'}}-->
                        <ams-icon-value *ngIf="row.udate" class="flex-end"
                            pipe="datetime" 
                            [value]="row.udate" label="Generated On">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="acfsId">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-120 white">Status</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120">
                    <div class="flex-align-items w-100 p-1">
                        <div  class="block w-100 text-left" 
                            matTooltip="Curent Action: {{row.acfsId | acfl}} " 
                            matTooltipPosition="above" >
                            {{row.acfsId | acfl}}
                        </div>
                    </div>
                </td>
            </ng-container>
            
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        hidePageSize="false" 
        [showFirstLastButtons]="true" >
    </mat-paginator>
