  <!-- Menu -->
  <div class="static-container p-0">

    <div class="d-flex flrx-align-items flex-space-between w-100">

      <div class="flex-align-items flex-start ps-2">
        <!--
          <button *ngIf="region" class="btn btn-icon-only btn-text-primary m-l-5" 
            matTooltip="Region: {{region.rName}}"
            matTooltipPosition="above" 
            [routerLink]="[roots.Root, roots.wad, roots.region]"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  >
            <i class="modus-icon material-icons text-primary">public</i>
          </button>
          -->
      </div>

      <div class="flex-align-items flex-end pe-2">
        
        <button mat-icon-button [matMenuTriggerFor]="fp_top_menu" 
          class="link blue">
          <mat-icon>calendar_view_day</mat-icon>
        </button>
        <mat-menu #fp_top_menu="matMenu">
          <button mat-menu-item class="link" (click)="ediAirline()" [disabled]="!canEdit">
            <mat-icon>edit</mat-icon>
            <span>Edit Airline</span>
          </button>
          <button mat-menu-item class="link" (click)="refreshAirline()">
            <mat-icon>refresh</mat-icon>
            <span>Refresh Airline</span>
          </button>
          <div class="dropdown-divider"></div>
          <button mat-menu-item class="link" (click)="spmAirportOpen(hqAirport)" [disabled]="!hqAirport">
            <mat-icon>info</mat-icon>
            <span>HQ Airport</span>
            <span *ngIf="hqAirport" class="pl-1">{{hqAirport.apName}}</span>
          </button>
          <button mat-menu-item class="link" (click)="solrAirport()">
            <mat-icon>bug_report</mat-icon>
            <span>Solr Airport</span>
          </button>
        </mat-menu>
        <sx-button-round message="Refresh Airline Data" 
          tooltipPlacement="bottom" (click)="refreshAirline()"
          icon="refresh">
        </sx-button-round>
      </div>

    </div>

  </div>

  <!-- Scroll Container -->
  <div class="scroll-container-h160 ps-0 pe-0">
    <div class="h-100 " style="min-height: 250px;">
      <mat-nav-list class="pt-0">
        <!--
          <mat-list-item  [routerLink]="[routs.info, routs.dashboard]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <div class="flex-align-items">
              <div class="flex-start">
                <button mat-icon-button (click)="spmAirlineOpen(airline) ">
                  <mat-icon>info</mat-icon>
                </button>
              </div>
              <div class="flex-end w-100 flex-align-items flex-space-between">
                <a matLine href="...">Airline</a>
              </div>
            </div>
          </mat-list-item>
        -->
        <mat-list-item class="border-b1" [routerLink]="['/',routs.airline, routs.info]" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <img matListItemAvatar [src]="logoUrl" [alt]="airline.iata">
          <div matListItemTitle>{{airline.alName}}</div>
          <div matListItemLine> {{airline.apLabel}}</div>
        </mat-list-item>
  
        <mat-list-item class="border-b1" [routerLink]="['/',routs.airline, routs.info, routs.bank]"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
          <img matListItemAvatar [src]="bankImg" [alt]="airline.iata">
          <div matListItemTitle>BANK ACCOUNT №{{airline.bankId | number:'3.0'}}</div>
          <div matListItemLine> {{airline.amount | currency:'EUR'}}</div>
        </mat-list-item>
  
        <mat-list-item class="border-b1" [routerLink]="['/',routs.airline, routs.info, routs.aircafts]"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <img matListItemAvatar [src]="fleetUrl" [alt]="airline.iata">
          <div matListItemTitle>Fleet</div>
          <div matListItemLine> Fleet Management</div>
        </mat-list-item>
        <mat-list-item class="border-b1" [routerLink]="['/',routs.airline, routs.info, routs.hubs]"
          routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <img matListItemAvatar [src]="hubUrl" [alt]="airline.iata">
          <div matListItemTitle>Airline Hubs</div>
          <div matListItemLine>Hubs Management</div>
        </mat-list-item>
        
  
      </mat-nav-list>
    </div>
   


  </div>
