<sx-filter-panel [panelVar]="panelInVar"  
    fptitle="Shedule Flights"
    (closePanel)="closePanelLeftClick()">
    <ams-flp-shedule-filter-panel #filterPanel></ams-flp-shedule-filter-panel>
</sx-filter-panel>

<div class="ams-content-body" [ngClass]="{'sidebar-open' :panelInVar!==in, 'sidebar-closed':panelInVar===in}">
    <router-outlet></router-outlet>
</div>

<div [@togleBtnTopRev]="!panelInVar"  
    (click)="expandPanelLeftClick()" class="side-tab-btn-top">
    <i class="material-icons modus-icons">east</i>
</div>