<div class="title-container">
    <div class="modal-title">FLIGHT</div>
</div>
<hr class="mb-0">
<div *ngIf="!flight">No Data</div>
<div  *ngIf="flight" class="col-12 m-0 p-0">
    <div class="side-panel-sec-rows">
        <div class="side-panel-sec text-center" >
            <ams-card-flight-info [flight]="flight"></ams-card-flight-info>
        </div>
        <div class="sp-row p-2 mt-0">
            <ams-card-aircraft-id-row class="w-100" [acId]="flight.acId"></ams-card-aircraft-id-row>
        </div>
    </div>
</div>

<div class="mt-2">
    
</div> 