<div class="m-0 tab-blue">
    <div class="scroll-box-transparent flex-wrap">
        <div class="col-lg-6 col-12 col-md-12 col-sm-12 col-xs-12 pe-2">
            
            <ams-flp-charter-fle-grid></ams-flp-charter-fle-grid>
            
        </div>
        <div class="col-lg-6 col-12 col-md-12 col-sm-12 col-xs-12 ps-2">
            <ams-flp-charter-flq-grid></ams-flp-charter-flq-grid>
        </div>
    </div>
</div>
