<div class="sxtable-container-tab">
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary" class="pl-2 pe-2">
            <div class="flex-align-items flex-space-between w-100 white h64">
                <div class="flex-start flex-align-items-end h64">
                    <span class="semi-bold px-2">{{dataCount | number:'1.0-0'}}</span>
                    <span class="">Cabin Configurations</span>
                </div>
                <div class="flex-end h64">
                    
                    <button mat-icon-button class="me-2"
                        [disabled]="!canEdit"
                        matTooltip="Add Cabin Configuration"
                        matTooltipPosition="above" (click)="addCabin()">
                        <mat-icon>add</mat-icon>
                    </button>

                    <mat-form-field class="white">
                        <mat-label class="white"><mat-icon>filter_list_alt</mat-icon><i>filter</i></mat-label>
                        <input matInput (keyup)="applyFilter($event)" class="white" type="text" [(ngModel)]="filter">
                        @if (filter) {
                            <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
                              <mat-icon class="white">close</mat-icon>
                            </button>
                          }
                    </mat-form-field>
                    
                    <button mat-icon-button class="pe-1"
                        matTooltip="Reload Data"
                        matTooltipPosition="above" 
                        color="accent"
                        [disabled]="(tableds.loading$ | async)"
                        (click)="refreshClick()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                    
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body-toolbar">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">
    
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80"></th>
                <td mat-cell *matCellDef="let cabin" class="txt-ell-80">
                    <div class="flex-align-items w-100 p-1">
                       
                        <button mat-icon-button class="ms-1 flex-start" (click)="ediMacCabin(cabin)">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button *ngIf="cabin.canDelete" mat-icon-button class="ms-1 red" (click)="deleteMacCabin(cabin)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        
                    </div>
                
                </td>
            </ng-container>
            <ng-container matColumnDef="cabinId"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-40 text-right">№</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-40-sort text-right">
                    <div class="w-100 text-right">
                        {{row.cabinId}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="image" sticky>
                <th mat-header-cell *matHeaderCellDef width ="60px" class="txt-ell-180-sort text-center">Layout</th>
                <td mat-cell *matCellDef="let cabin" class="txt-ell-180-sort text-center">
                    <div class="flex-align-items w-100 text-center">
                        <div *ngIf="cabin.imgTableUrl" class="image-h100" matTooltip="{{cabin?.cName}}">
                            <img src="{{cabin.imgTableUrl}}" alt="{{cabin?.cName}}"/>
                        </div>
                    </div>
                </td>
            </ng-container>
           
            <ng-container matColumnDef="cName" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-100-sort text-left">Name</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100-sort text-left">
                    <div class="flex-start w-100">{{row?.cName}}</div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="seatF">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-80 text-center">
                    <div class="flex-align-items image-16 text-center" 
                        matTooltip="Number of seats First class"
                        matTooltipPosition="above" >
                        <img src="{{seatsFImgUrl}}" alt="First" class="me-2" /> F
                    </div>
                    
                </th>
                <td mat-cell *matCellDef="let row" class="xt-ell-80 text-center">
                    <div class="flex-column w-100 text-center" >
                        <img *ngIf="row.seatF && row.seatFtypeId" style="height: 48px;max-width: 100%;margin: auto;" src="{{row.seatFtypeId | seatimg}}" alt="{{row.seatFtypeId | seattype}}"/>
                        
                        <div *ngIf="row.seatF" class="mr-2 ml-1">{{row.seatF | number:'1.0-0'}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="seatB">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80 text-center">
                    <div class="flex-align-items image-16 text-center" 
                        matTooltip="Number of seats Business class"
                        matTooltipPosition="above" >
                        <img src="{{seatsBImgUrl}}" alt="First" class="me-2"/> B
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80 text-center">
                    <div class="flex-column w-100 text-center" >
                        
                        <img *ngIf="row.seatB && row.seatBtypeId" style="height: 48px;max-width: 100%;margin: auto;" 
                            src="{{row.seatBtypeId | seatimg}}" alt="{{row.seatBtypeId | seattype}}"/>
                        
                        <div *ngIf="row.seatB" class="mr-2 ml-1">{{row.seatB | number:'1.0-0'}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="seatE">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-80 text-center">
                    <div class="flex-align-items image-16 text-center" 
                        matTooltip="Number of seats Econmy class"
                        matTooltipPosition="above" >
                        <img src="{{seatsEImgUrl}}" alt="First" class="me-2"/> E
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80 text-center">
                    <div class="flex-column w-100 text-center" >
                        
                        <img *ngIf="row.seatEtypeId" style="height: 48px;max-width: 100%;margin: auto;" 
                            src="{{row.seatEtypeId | seatimg}}" alt="{{row.seatEtypeId | seattype}}"/>
                        
                        <div *ngIf="row.seatE" class="mr-2 ml-1">{{row.seatE | number:'1.0-0'}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="cargoKg">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80 text-center">
                    <div class="flex-align-items image-16 text-center" 
                        matTooltip="Available Cargo kg"
                        matTooltipPosition="above" >
                        <img src="{{caroImgUrl}}" alt="First" class="me-2"/> C
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80 text-center">
                    <div class="flex-column w-100 text-center" >
                        <img *ngIf="row.cargoKg" style="height: 48px;max-width: 100%;margin: auto;" 
                            [src]="caro1ImgUrl" alt="{{row.cargoKg | mtow}}"/>
                        <div *ngIf="row.cargoKg" style="margin:auto;">{{row.cargoKg | mtow}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="seatCrew" >
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80 text-center">Crue</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80 text-center">
                    <div class="flex-column w-100 text-center" >
                        <img *ngIf="row.seatCrew" style="height: 48px;max-width: 100%;margin: auto;" 
                            [src]="jumpOneImgUrl" alt="Jum Seat {{row.seatCrew | number:'1.0-0'}}"/>
                            <!--
                        <img *ngIf="row.seatCrew > 1" style="height: 48px;max-width: 100%;margin: auto;" 
                            [src]="jumpTwoImgUrl" alt="Jum Seat{{row.seatCrew | number:'1.0-0'}}"/>
                        -->
                        <div *ngIf="row.seatCrew" style="margin:auto;">{{row.seatCrew | number:'1.0-0'}}</div>
                    </div>
                    <!--
                    <div class="flex-column w-100 text-left" >
                        <ams-icon-value *ngIf="row.seatCrew" 
                            pipe="image" [icon]="pilotImgUrl"
                            [value]="row.seatCrew" label="Number of crew seats">
                        </ams-icon-value>
                    </div>
                    -->
                </td>
            </ng-container>
            
            <ng-container matColumnDef="confort"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 text-right">Confort</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="flex-end w-100">{{row.confort| number:'1.1-1'}}</div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-140 text-right">Price</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-140-sort text-right">
                    <div class="flex-align-items w-100" >
                        <ams-icon-value *ngIf="row.price" 
                            class="flex-end"    
                            icon="shopping_cart"
                            pipe="currencyr" 
                            [value]="(row.price)" 
                            label="Price">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
           
    
            <ng-container matColumnDef="maxIFEId" >
                <th mat-header-cell *matHeaderCellDef class="txt-ell-100 text-right">Max IFE</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100-sort text-right">
                    <div class="flex-end w-100">{{row.maxIFEId}}</div>
                </td>
            </ng-container>
            <ng-container matColumnDef="isDefault">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 text-center">Default</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-center">
                    <!--
                    <ams-icon-ap-active [value]="row.isDefault" ></ams-icon-ap-active>
                    -->
                    <ams-icon-bool *ngIf="row.isDefault" [value]="row.isDefault"></ams-icon-bool>
                </td>
            </ng-container>
            <ng-container matColumnDef="acCount"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 text-right">AC Count</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="flex-end w-100 pe-3">
                        {{row.acCount| number:'1.0-0'}}
                    </div>
                </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        [showFirstLastButtons]="true" >
    </mat-paginator>
</div>