<div class="sxtable-container-tab">
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary">
            <div class="flex-align-items flex-space-between w-100 white h64">
                <div class="flex-start flex-align-items h64">
                    <span class="semi-bold px-2">{{dataCount | number:'1.0-0'}}</span>
                    <span class="">Cities</span>
                </div>
                <div class="flex-end h64">

                    <button mat-icon-button class="me-2" *ngIf="canEdit"
                        matTooltip="Add City"
                        matTooltipPosition="above" 
                        color="accent"
                        [disabled]="!canEdit || (tableds.loading$ | async)"
                        (click)="addCity()">
                        <mat-icon>add</mat-icon>
                    </button>

                    <mat-form-field class="white">
                        <mat-label class="white"><mat-icon>filter_list_alt</mat-icon><i>filter</i></mat-label>
                        <input matInput (keyup)="applyFilter($event)" class="white" type="text" [(ngModel)]="filter">
                        @if (filter) {
                            <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
                              <mat-icon class="white">close</mat-icon>
                            </button>
                          }
                    </mat-form-field>
                    
                    <button mat-icon-button class="pe-1"
                        matTooltip="Reload Data"
                        matTooltipPosition="above" 
                        color="accent"
                        [disabled]="(tableds.loading$ | async)"
                        (click)="refreshClick()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                    
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body-toolbar">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">
    
            <ng-container matColumnDef="action" sticky>
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60 white"></th>
                <td mat-cell *matCellDef="let city" class="txt-ell-100">
                    <div class="flex-align-items w-full">
                        <!---->
                       
                        <sx-button-round *ngIf="city.cityId !== selected?.cityId"
                            (click)="gotoCity(city)"
                            position="left" 
                            icon="radio_button_unchecked"
                            message="Edit State"> 
                        </sx-button-round>
                        <sx-button-round *ngIf="city.cityId === celCityId"
                            (click)="gotoCity(city)"
                            position="left" 
                            color="light"
                            icon="radio_button_checked"
                            message="Selected City:  {{city.ctName}}"> 
                        </sx-button-round>

                        <mat-icon *ngIf="canEdit" 
                            class="link ms-1 size-22 "  
                            (click)="ediCity(city)"
                            matTooltip="Edit City {{city.ctName}}">
                            edit
                        </mat-icon>

                        <mat-icon *ngIf="canEdit && (!city.airports || city.airports == 0)" 
                            class="link ms-1 size-22 red "  
                            (click)="deleteCity(city)"
                            matTooltip="Delete City {{city.ctName}}">
                            delete
                        </mat-icon>
                        
                        <!--
                        <mat-icon class="link m-t-8 m-r-4 f-s-16" (click)="editUser(user)">edit</mat-icon>
                        
                        open_in_new
                        <mat-icon class="link m-t-16 m-l-4 m-r-8 f-s-20"  
                            (click)="editCompanyProducts(company)"
                            [matBadge]="company.productsCount"  
                            [matBadgeHidden]="company.productsCount===0" 
                            MatBadgeSize="small"
                            matBadgeDescription="{{company.productsCount | number:'1.0-0'}} Active Products"
                            matBadgeColor="accent" matBadgeOverlap="true">collections_bookmark</mat-icon>
                            -->
                    </div>
                
                </td>
            </ng-container>
        
            <ng-container matColumnDef="cityId"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-60 white text-right">PK</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <div class="w-full text-left">
                        {{row.cityId}}
                    </div>
                    
                </td>
            </ng-container>
    
            <ng-container matColumnDef="ctName">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-150 white">Name</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-150-sort text-left ">
                    <div class="flex-align-items image-16" >
                        <!--
                        <img src="{{row.flagUrl}}" alt="{{row.iso2}}"/>
                        -->
                        <div class="ml-2">{{row.ctName}}</div>
                        <ams-img-link *ngIf="row.wikiUrl" type="wiki" [url]="row.wikiUrl" class="ml-2"></ams-img-link>
                    </div>
                </td>
                
            </ng-container>
            <ng-container matColumnDef="population">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 white">Population</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">{{row.population | number:'1.0-0'}}</td>
            </ng-container>

            <ng-container matColumnDef="stateCapital">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-60 white text-wrap">State Capital</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-center">
                    <ams-icon-bool *ngIf="row.stateCapital" [value]="row.stateCapital"></ams-icon-bool>
                </td>
            </ng-container>
            <ng-container matColumnDef="countryCapital">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-60 white text-wrap">Country Capital</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-center">
                    <ams-icon-bool *ngIf="row.countryCapital" [value]="row.countryCapital"></ams-icon-bool>
                </td>
            </ng-container>
            <ng-container matColumnDef="airports">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-60 white text-right">
                    <div class="flex-align-items w-100 ps-4 text-right" 
                        matTooltip="Airports Count"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >location_city</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right" >{{row.airports | number:'1.0-0'}}</td>
            </ng-container>
            
            <ng-container matColumnDef="paxDemandDay">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-150 white text-right">
                    <div class="flex-align-items w-100 flex-end pe-2" 
                        matTooltip="Pax Demand for a Day"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >supervised_user_circle</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-150 text-right" >
                    <ams-icon-payload-demand 
                        [cargoDemandPeriodKg]="row.cargoDemandPeriodKg"
                        [periodDays]="row.paxDemandPeriodDays"
                        [paxDemandDay]="row.paxDemandDay"
                        [paxDemandPeriod]="row.paxDemandPeriod">
                    </ams-icon-payload-demand>
                </td>
            </ng-container>

            <ng-container matColumnDef="amsStatus" >
                <th mat-header-cell *matHeaderCellDef class="txt-ell-100 white text-left">AMS Status</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100 text-left">
                    <div class="flex-align-items w-100 ">
                        <div>{{row.amsStatus | amsstatus}}</div>
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="wadStatus" >
                <th mat-header-cell *matHeaderCellDef class="txt-ell-100 white text-left">WAD Status</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100 text-left">
                    <div class="flex-align-items">
                        <div>{{row.wadStatus | wadstatus}}</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="udate">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-100 white text-left">Updated On</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100 text-left">{{row.udate | date:'MMM d, y'}}</td>
            </ng-container>
          
           
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="rowClicked(row)" 
                [class.row-selected]="selected && selected.cityId == row.cityId"
                [class.row-active]="row.wadStatus !== done"></tr>
        </table>
    </div>
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        [showFirstLastButtons]="true" >
    </mat-paginator>
</div>