
<sx-filter-panel [panelVar]="panelInVar"  
    fptitle="State"
    [subtitle]="state.stName"
    (closePanel)="closePanelLeftClick()"
    (subtitleClick)="spmSubregionOpen()">
    <ams-wad-state-filter-panel-body></ams-wad-state-filter-panel-body>
</sx-filter-panel>
  
<div class="ams-content-body" [ngClass]="{'sidebar-open' :panelInVar!==in, 'sidebar-closed':panelInVar===in}">
    <router-outlet></router-outlet>
  </div>

<div [@togleBtnTopRev]="!panelInVar"  (click)="expandPanelLeftClick()" class="side-tab-btn-top">
  <i class="material-icons modus-icons">east</i>
</div>
