<div class="sxtable-container-tab">
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary">
            <div class="flex-align-items flex-space-between w-100 white h64">
                <div class="flex-start flex-align-items h64">
                    <span class="semi-bold">{{dataCount | number:'1.0-0'}}</span>
                    <span class="pl-1">Charters</span>
                </div>
                <div class="flex-end mr-2 h64">
                    <!--
                    <sx-button-round 
                        (click)="addCabin()"
                        [disabled]="!canEdit"
                        message="Add Cabin Configuration"
                        icon="add"
                        class="mr-3"
                       > 
                    </sx-button-round>
                    -->
                   
                    <mat-form-field floatLabel="always" appearance="fill" class="white size-12">
                        <mat-label class="white"><mat-icon>filter_list_alt</mat-icon> <i> filter</i></mat-label>
                        <input matInput (keyup)="applyFilter($event)" class="white">
                    </mat-form-field>
    
                    <sx-button-flat 
                        (click)="refreshClick()" 
                        position="left" 
                        message="Reload Data"
                        icon="refresh" 
                        color="dark"
                        class="mr-2 ml-3">
                    </sx-button-flat>
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">
    
            <ng-container matColumnDef="action" sticky>
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80"></th>
                <td mat-cell *matCellDef="let aicraft" class="txt-ell-80">
                    <div class="flex-align-items w-100">
                        
                        <sx-button-round 
                            (click)="gotoAircraft(aicraft)"
                            [disabled]="aicraft.price > airline.amount"
                            position="left" 
                            icon="open_in_new"
                            message="View Aircraft"> 
                        </sx-button-round>
                        <!--
                            
                        <mat-icon class="link m-t-4 m-l-4 m-r-8 f-s-20"  
                            (click)="ediMacCabin(aicraft)"
                            matTooltip="Edit Aircraft {{aicraft.acId}}">
                            edit
                        </mat-icon>
                        -->
                        <sx-button-round 
                            message="Show Aircrafts Details" tooltipPlacement="bottom"
                            color="light"
                            (click)="spmAircraftOpen(aicraft)" 
                            icon="info"> 
                        </sx-button-round>
                        
                    </div>
                
                </td>
            </ng-container>
            <ng-container matColumnDef="charterId"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-60 text-right white">№</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <div class="w-100 text-right">
                        {{row.charterId}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="flightName" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-120 white text-right">Name</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120-sort text-right">
                    <div class="w-100 text-right">
                        {{row.flightName}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="depApCode"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 text-right">
                    <div class="flex-align-items image-16 w-100 text-right" 
                        matTooltip="Departure Airport"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >flight_takeoff</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="w-100 text-right"
                        matTooltip="Departure Airport: {{row.depApCode}} {{row.depApId}}"
                        matTooltipPosition="above">
                        {{row.depApCode}}
                    </div>
                </td>
            </ng-container>         
            <ng-container matColumnDef="arrApCode" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 text-right">
                    <div class="flex-align-items image-16 w-100 text-right" 
                        matTooltip="Arrival Airport"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >flight_land</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="w-100 text-right" 
                        matTooltip="Departure Airport: {{row.arrApCode}} {{row.arrApId}}"
                        matTooltipPosition="above">
                        {{row.arrApCode}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="distanceKm" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 ps-4 text-right">
                    <div class="flex-align-items image-16 w-100 text-right" 
                        matTooltip="Distance"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >travel_explore</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="w-100 text-right">{{row.distanceKm | lenkm}}</div>
                </td>
            </ng-container>
            <ng-container matColumnDef="payloadType" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 text-right">
                    <div class="flex-align-items image-16 w-100 text-right" 
                        matTooltip="Payload"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >electric_rickshaw</mat-icon>
                    </div>
                    
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="w-100 flex-end">
                        <ams-icon-payload-type 
                            [payloadType]="row.payloadType"
                            [pax]="row.pax"
                            [cargoKg]="row.cargoKg">
                        </ams-icon-payload-type>
                    </div>
                        
                </td>
            </ng-container>
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 text-right white">Price</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                   {{(row.price - row.priceCompleted)| currency:'EUR' }}
                </td>
            </ng-container>
            <ng-container matColumnDef="completedPct">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 text-right white">Completed</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="text-right">
                        {{row.completedPct | percent:'1.0-2'}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="expiration">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-120 text-right white">Expired On</th>
                <td mat-cell *matCellDef="let row"  class="txt-ell-120-sort text-right">
                    <div class="text-right">{{row.expiration | date:'MMM d, y'}}</div>
                </td>
            </ng-container>
            <ng-container matColumnDef="flightDescription" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-120 text-right white">Description</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120-sort text-right">
                    <div class="text-right">
                        <div>{{row.flightDescription}}</div>
                    </div>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        [showFirstLastButtons]="true" >
    </mat-paginator>
</div>