    <div class="sxtable-toolbar">
        <mat-toolbar color="primary">
            <div class="flex-align-items flex-space-between w-100 white h64">
                <div class="flex-start flex-align-items h64">
                    <span class="semi-bold px-2">{{dataCount | number:'1.0-0'}}</span>
                    <span class="">Countries</span>
                </div>
                <div class="flex-end h64">

                    <button mat-icon-button class="me-2" *ngIf="canEdit"
                        matTooltip="Add Country"
                        matTooltipPosition="above" 
                        color="accent"
                        [disabled]="(tableds.loading$ | async)"
                        (click)="addCountry()">
                        <mat-icon>add</mat-icon>
                    </button>

                    <mat-form-field class="white">
                        <mat-label class="white"><mat-icon>filter_list_alt</mat-icon><i>filter</i></mat-label>
                        <input matInput (keyup)="applyFilter($event)" class="white" type="text" [(ngModel)]="filter">
                        @if (filter) {
                            <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
                              <mat-icon class="white">close</mat-icon>
                            </button>
                          }
                    </mat-form-field>
                    
                    <button mat-icon-button class="pe-1"
                        matTooltip="Reload Data"
                        matTooltipPosition="above" 
                        color="accent"
                        [disabled]="(tableds.loading$ | async)"
                        (click)="refreshClick()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                    
                </div>
            </div>
        
        </mat-toolbar>
    </div>
   
    <div class="sxtable-body-toolbar">
        
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">

            <ng-container matColumnDef="action" sticky>
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80"></th>
                <td mat-cell *matCellDef="let country" class="txt-ell-80">
                    <div class="flex-align-items w-100">
                        
                        <sx-button-round 
                            (click)="gotoCountry(country)"
                            position="left" 
                            icon="open_in_new"
                            message="Edit Company"> 
                        </sx-button-round>
                        <mat-icon *ngIf="canEdit" class="link mx-2"  
                            (click)="editCountry(country)"
                            matTooltip="Edit Country {{country?.cName}}">
                            edit
                        </mat-icon>
                        
                        <!--
                        <mat-icon class="link m-t-8 m-r-4 f-s-16" (click)="editUser(user)">edit</mat-icon>
                        
                        open_in_new
                        <mat-icon class="link m-t-16 m-l-4 m-r-8 f-s-20"  
                            (click)="editCompanyProducts(company)"
                            [matBadge]="company.productsCount"  
                            [matBadgeHidden]="company.productsCount===0" 
                            MatBadgeSize="small"
                            matBadgeDescription="{{company.productsCount | number:'1.0-0'}} Active Products"
                            matBadgeColor="accent" matBadgeOverlap="true">collections_bookmark</mat-icon>
                            -->
                    </div>
                
                </td>
            </ng-container>
        
            <ng-container matColumnDef="countryId"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="60px">PK</th>
                <td mat-cell *matCellDef="let row" class="p-r-8">
                    <div class="w-full text-left">
                        {{row.countryId}}
                    </div>
                    
                </td>
            </ng-container>

            <ng-container matColumnDef="cCode">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width="60px">Code</th>
                <td mat-cell *matCellDef="let row" >{{row.cCode}}</td>
            </ng-container>

            <ng-container matColumnDef="cName">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-200">Name</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-200">
                    <div class="flex-align-items image-16" >
                        <img src="{{row.flagUrl}}" alt="{{row.iso2}}"/>
                        <div class="mx-2">{{row?.cName}}</div>
                        <ams-img-link *ngIf="row.wikiUrl" type="wiki" [url]="row.wikiUrl" class="ml-2"></ams-img-link>
                    </div>
                </td>
                
            </ng-container>
            <ng-container matColumnDef="iso2">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="60px">ISO 2</th>
                <td mat-cell *matCellDef="let row">{{row.iso2}}</td>
            </ng-container>
            <ng-container matColumnDef="iso3">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="60px">ISO 3</th>
                <td mat-cell *matCellDef="let row">{{row.iso3}}</td>
            </ng-container>
            <ng-container matColumnDef="icao">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="60px">ICAO</th>
                <td mat-cell *matCellDef="let row">{{row.icao}}</td>
            </ng-container>
            
            <ng-container matColumnDef="amsStatus" >
                <th mat-header-cell *matHeaderCellDef width ="120px">AMS Status</th>
                <td mat-cell *matCellDef="let row">
                    <div class="flex-align-items">
                        <div>{{row.amsStatus | amsstatus}}</div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="wadStatus" >
                <th mat-header-cell *matHeaderCellDef width ="80px">WAD Status</th>
                <td mat-cell *matCellDef="let row">
                    <div class="flex-align-items">
                        <div>{{row.wadStatus | wadstatus}}</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="udate">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="100px">Updated On</th>
                <td mat-cell *matCellDef="let row">{{row.udate | date:'MMM d, y'}}</td>
            </ng-container>
            <ng-container matColumnDef="statesCount">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="80px">States</th>
                <td mat-cell *matCellDef="let row" class="w-full text-left" >{{row.statesCount | number:'1.0-0'}}</td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="rowClicked(row)" 
                [class.row-selected]="selected && selected.countryId == row.countryId"
                [class.row-active]="row.wadStatus !== done"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        [showFirstLastButtons]="true" >
    </mat-paginator>
