    
    <div mat-dialog-title class="modal-header">
      <span mat-dialog-close class="close" (click)="cansel()">×</span>
      <div class="modal-title">AMS User Registration</div>
    </div>
    
    <mat-dialog-content class="modal-body">

        <form class="flex-column mt-3" [formGroup]="formGrp">

          <mat-form-field class="w-100" floatLabel="auto">
            <mat-label>Email</mat-label>
            <input matInput type="email" 
              [formControl]="ctr_email" required>
            <mat-icon matSuffix>alternate_email</mat-icon>
            <mat-hint *ngIf="!ctr_email.value">Please, enter your&#64;email.address</mat-hint>
            <mat-error *ngIf="ctr_email.invalid">{{errorEMail}}</mat-error>
          </mat-form-field>

          <mat-form-field class="w-100 mt-2" appearance="fill" floatLabel="auto">
            <mat-label>Password</mat-label>
            <input matInput value="" [type]="hidePassword ? 'password' : 'text'"   
            [formControl]="ctr_password" required>
            <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            <mat-hint *ngIf="!ctr_password.value">Enter your password</mat-hint>
            <mat-error *ngIf="ctr_password.invalid">{{errorPassword}}</mat-error>
          </mat-form-field>
        </form>
        
    </mat-dialog-content>

    <mat-dialog-actions class="flex-align-items justify-content-between w-100">
      <div class="ml-2 flex-start">
        <div *ngIf="hasSpinner" class="spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
        <mat-error *ngIf="errorMessage" class="ml-2 flex-start">  {{errorMessage}} </mat-error>
      </div>
      <div class="flex-end mr-2 flex-align-items">
        <button mat-stroked-button color="secondary" mat-dialog-close>Close</button>
        <button  mat-flat-button *ngIf="!hasSpinner"  color="primary"
          [disabled]="formGrp.invalid" (click)="onSubmit()">
          <i class="modus-icon material-icons me-1">account_circle</i> SUBMIT
        </button>
      </div>
    </mat-dialog-actions>
 
 