<div class="tile tile-wad p-0" >
    <mat-card appearance="outlined" >
        <!--
        <mat-card-subtitle> 
            Transaction Sumary Last 7 Days 
        </mat-card-subtitle>
        -->
        <mat-card-content class="overlay-blue">
            <div class="sxtable-loading" *ngIf="loading$ | async">
                <mat-spinner diameter="48" *ngIf="loading$ | async"></mat-spinner>
            </div>
            <div *ngIf="trSumLastWeek" class="tile-graphic">
                <ams-chart-line 
                    [chartData]="trSumLastWeekData"
                    title="Transaction Sumary Last 7 Days"
                    [sizepx]="300"
                    [legend]="false"
                    [beginAtZero]="false"
                    [yAxisShow]="true"
                    [xAxisShow]="true"
                    [yGridShow]="true"
                    [xGridShow]="true"
                    [chartLabels]="trSumLastWeekLabels"
                    (chartClick)="chartClicked($event)">
                </ams-chart-line>
            </div>
            <img *ngIf="!trSumLastWeek" class="tile-graphic" [src]="tileImgUrl" alt="Alt">
        </mat-card-content>
    </mat-card>
</div>