<div class="m-0 tab-blue">
    <div class="flex-wrap" >
        
        <div class="col-lg-6 col-12 tile tile-wad" >
            <ams-grid-al-aircraft-revenue-table class="sxtable-container-tail" [acId]="acId"></ams-grid-al-aircraft-revenue-table>
        </div>
        
        <div class="col-lg-6 col-12 p-2">
            <div class="tile-p0 tile-trans">
                <mat-card appearance="outlined">
                    <mat-card-content class="overlay-teal">
        
                        <div class="tile-graphic" >
                            <ams-chart-line 
                                [chartData]="statDayLastWeekData"
                                title="Daily Profit/Loss for selected period"
                                [sizepx]="300"
                                [beginAtZero]="false"
                                [yAxisShow]="true"
                                [yGridShow]="false"
                                [xGridShow]="false"
                                [chartLabels]="statDayLastWeekLabels"
                                (chartClick)="onStatDayLastWeekChartClick($event)">
                            </ams-chart-line>
                        </div>
                        
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="col-lg-6 col-12 p-2">
            <ams-tile-al-ac-flight [acId]="acId"></ams-tile-al-ac-flight>
        </div>
        <div class="col-lg-6 col-12 p-2">
            <ams-tile-al-ac-flight-queue [acId]="acId"></ams-tile-al-ac-flight-queue>
        </div>
    </div>
</div>
