<div class="livery" matTooltip="{{tooltip}}" (click)="liveryClicked()" [ngClass]="imgclass">
    <img *ngIf="liveryUrl;else noLivery" [src]="liveryUrl" alt="{{alId}}"
        (load)="onImageLoad()" (error)="onImageError()" >
    <ng-template #noLivery >
        <img [src]="noLogoUrl">
    </ng-template>
</div>