<div *ngIf="showText && showText === 'left'" class="icon-value" [ngClass]="iconClass"
        matTooltip="{{acStatusId | acstatus}}" 
        matTooltipPosition="above" >
    <i class="material-icons mr-1" >{{icon}}</i>
    {{acStatusId | acstatus}}
</div>
<div *ngIf="showText && showText !== 'left'" class="icon-value" [ngClass]="iconClass"
        matTooltip="{{acStatusId | acstatus}}" 
        matTooltipPosition="above" >
        {{acStatusId | acstatus}}
    <i class="material-icons ml-1" >{{icon}}</i>
</div>
<div *ngIf="!showText" class="icon-value"
        matTooltip="{{acStatusId | acstatus}}" 
        matTooltipPosition="above" >
    <i class="material-icons ml-1" [ngClass]="iconClass">{{icon}}</i>
</div>
