<div *ngIf="(aircraft$ | async)" class="flex-align-items px-2 w-100">

    <div class="flex-start icon-value-large" 
        matTooltip="See Aircraft Info: {{aircraft.registration}}" (click)="spmAircraftOpen()">
        <img *ngIf="aircraft.imgTableUrl;else noAcImg" src="{{aircraft.imgTableUrl}}" alt="{{aircraft.acId}}"/>
        <ng-template #noAcImg >
            <img [src]="acImgUrl" alt="{{aircraft.acId}}">
        </ng-template>
    </div>
    <div class="flex-end ps-2 w-100">
        <div class="side-panel-sec">
            <div class="side-panel-sec-rows">
                <div class="sp-row border-bottom border-tertiary">
                    <div class="flex-start blue link" 
                    matTooltip="Go to aircraft: {{aircraft.registration}} ({{aircraft.acId}})" 
                    matTooltipPosition="above" (click)="gotoAircraft()">
                        {{aircraft.registration}}
                    </div>
                    <div class="flex-end">
                        <ams-icon-ac-for-shedule 
                            [isforschedule]="aircraft.forSheduleFlights"  
                            [grpId]="aircraft.grpId">
                        </ams-icon-ac-for-shedule>
                    </div>
                </div>
                <div class="sp-row border-bottom border-tertiary">
                    <div class="flex-start w-100 flex-align-items" >
                        <ams-icon-ac-status class="flex pe-1" [acStatusId]="aircraft.acStatusId"></ams-icon-ac-status>
                        <div class="flex ps-1 text-ellipsis" matTooltip="Status: {{aircraft.acStatusId | acstatus}}, AC Action: {{aircraft.acActionTypeId | acat}}">{{aircraft.acActionTypeId | acat}}</div>
                    </div>
                </div>
                <div class="sp-row border-bottom border-tertiary">
                    <div class="flex-start w-100 flwx-align-items" *ngIf="!mntOpt">
                        <div *ngIf="nextMntOpt && nextMntTimeMin" class="flex-align-items  w-100" 
                            [ngClass]="{'red':nextMntTimeMin<1,'orange':nextMntTimeMin<10, 'green-dark':nextMntTimeMin>10}"
                            matTooltip="Flight Hours to {{nextMntOpt.name}}: {{(nextMntTimeMin*60) | periodmin}}" 
                            matTooltipPosition="above" >
                            <div class="text-ellipsis">{{(nextMntTimeMin*60) | periodmin}} h to</div>
                            <div class="text-ellipsis ps-1">{{nextMntOpt.amtId | mnttype}}</div>
                        </div>
                    </div>
                    <div class="flex-start w-100 flwx-align-items" *ngIf="mntOpt">
                        <div class="flex-align-items w-100" 
                            [ngClass]="{'red':(mntTimeLeftMin > 90),'orange':((30 < mntTimeLeftMin) && (mntTimeLeftMin < 90)), 'green-dark':(mntTimeLeftMin<30)}"
                            matTooltip="{{nextMntOpt.name}}: {{mntTimeLeftMin | periodmin}}" 
                            matTooltipPosition="above" >
                            <div class="text-ellipsis">{{ mntTimeLeftMin | periodmin}} h left in</div>
                            <div class="text-ellipsis ps-1">{{nextMntOpt.amtId | mnttype}}</div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="(aircraft$ | async)" class="flex-align-items px-2 w-100">
    <div class="side-panel-sec">
        <div class="side-panel-sec-rows">
            <div class="sp-row border-bottom border-tertiary" >
                <div class="col-4">
                    <div *ngIf="aircraft.acTypeId" class="flex-start flex-align-items" 
                        matTooltip="Aircraft Type: {{aircraft.acTypeId}} " 
                        matTooltipPosition="above" >
                        <div class="flex ml-2">{{aircraft.acTypeId | actype}}</div>
                    </div>
                </div>
                <div class="col-4 text-centter">
                    <div *ngIf="aircraft.currApId" class="text-center" 
                        matTooltip="Current Airport: {{aircraft.currAp}} " 
                        matTooltipPosition="above" >
                        <div class="text-center">{{aircraft.currApCode}}</div>
                    </div>
                </div>
                
                <div class="col-4 flex-end">
                    <ams-icon-value *ngIf="aircraft.opTimeMin"
                        pipe="periodminr" icon="hourglass_bottom"
                        [value]="aircraft.opTimeMin" label="Operation Time">
                    </ams-icon-value>
                </div>
            </div>
        </div>
    </div>
</div>
