<div *ngIf="(airport$ | async) && !right" class="icon-value flex-start ellipsis"
    matTooltip="Departure Airport: {{airport.iata?airport.iata:airport.icao}} {{airport.apName}} ({{airport.apId}})" 
    matTooltipPosition="above"  >
    <i *ngIf="showIcon" class="material-icons mr-1" >flight_takeoff</i>
    {{airport.apName}}
</div>
<div *ngIf="(airport$ | async) && right" class="icon-value flex-end ellipsis"
    matTooltip="Airport: {{airport.iata?airport.iata:airport.icao}} {{airport.apName}} ({{airport.apId}})" 
    matTooltipPosition="above"  >
    {{airport.apName}}
    <i *ngIf="showIcon" class="material-icons ml-1" >flight_takeoff</i>
</div>