<div class="tile tile-wad p-0" >
    <mat-card appearance="outlined" >
        <!--
        <mat-card-subtitle> 
            Transaction Sumary Last 7 Days 
        </mat-card-subtitle>
        -->
        <mat-card-content class="overlay-blue">
            <!--
            <div class="sxtable-loading" *ngIf="loading$ | async">
                <mat-spinner diameter="48" *ngIf="loading$ | async"></mat-spinner>
            </div>
            -->
            <div *ngIf="airline" class="tile-graphic">
                <ams-chart-pie 
                    [sizepx]="30"
                    [legend]="false"
                    [chartData]="chartData"
                    [chartLabels]="chartLabels"
                    (chartClick)="chartClicked($event)">
                </ams-chart-pie>
            </div>
            <img *ngIf="!airline" class="tile-graphic" [src]="tileImgUrl" alt="Alt">
        </mat-card-content>
    </mat-card>
</div>