<div class="ams-container">
    <router-outlet></router-outlet>
    <sx-spinner></sx-spinner>
    <ams-side-panel-modal-large #spmMap (closeSmpClick)="spmMapClose()">
        <ams-map-liflet-spm></ams-map-liflet-spm>
    </ams-side-panel-modal-large> 
    <!-- (transferEstimate)="spmAircraftFlightTransferEstimate($event)" -->
    <ams-side-panel-modal #spmMac (closeSmpClick)="spmMacClose()">
        <ams-spm-acm-mac-info [acmmac]="spmMacDto"></ams-spm-acm-mac-info>
    </ams-side-panel-modal> 
    <ams-side-panel-modal #spmAircraft (closeSmpClick)="spmAircraftClose()" >
        <ams-spm-aircraft-info [aircraft]="spmAc" ></ams-spm-aircraft-info>
    </ams-side-panel-modal> 
    <ams-side-panel-modal-large #spmAirport (closeSmpClick)="spmAirportClose()">
        <ams-spm-airport-info [airport]="spmAp"></ams-spm-airport-info>
    </ams-side-panel-modal-large> 
    <ams-side-panel-modal #spmAirline (closeSmpClick)="spmAirlineClose()" >
        <ams-spm-airline-info [airline]="spmAl" ></ams-spm-airline-info>
    </ams-side-panel-modal> 
    <ams-side-panel-modal-large #spmFlight (closeSmpClick)="spmFlightClose()" >
        <ams-spm-fl-info [flight]="spmFl" ></ams-spm-fl-info>
    </ams-side-panel-modal-large> 
    <ams-side-panel-modal-large #spmFlightQueue (closeSmpClick)="spmFlightQueueClose()" >
        <ams-spm-fl-queue [flight]="spmFlq" ></ams-spm-fl-queue>
    </ams-side-panel-modal-large> 
    <ams-side-panel-modal-large #spmFlpPanel (closeSmpClick)="spmFlpClose()" >
      <ams-spm-fl-plan [flp]="spmFlp"></ams-spm-fl-plan>
    </ams-side-panel-modal-large> 

    
    
    
</div>