<div class="col-12 p-0 m-0">
    
    <div *ngIf="mac" class="flex-align-items row ps-3 pe-3 mt-2 flex-top">
        <div class="col-lg-6 col-md-12 col-sm-12 flex-align-items p-0 " >
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ps-2 pe-2">
                <div class="mini-charts-item overlay-blue-light">
                    <div class="clearfix">
                        <div class="chart stats-bar">
                            <!--
                            <img [src]="acTypeImg" alt="Aircrafts"
                                style="display: inline-block;width: 68px;vertical-align: top;"/>
                                 [data]="productionPieChart.data"
                            -->
                            <canvas baseChart 
                               
                                [labels]="productionPieChart.labels"
                                [options]="productionPieChart.options"
                                
                                [type]="'doughnut'"
                                [legend]="false"
                                style="display: block;height: 68px;margin-left: -25px;"
                            ></canvas>
                            <!-- [colors]="productionPieChart.colors" -->
                        </div>
                        
                        <div class="count" >
                            <small>NEXT PRODUCED ON</small>
                            <h2>{{nextProducedOn|date:'MMM d HH:mm'}}</h2>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 ps-2 pe-2">
                <div class="mini-charts-item overlay-cyan"  
                    matTooltip="Aircraft Production" 
                    matTooltipPosition="above">
                    <div class="clearfix">
                        <div class="chart stats-bar">
                            <!--
                            <img [src]="acTypeImg" alt="Aircrafts"
                                style="display: inline-block;width: 68px;vertical-align: top;"/>
                                [options]="productionPieChart.options"
                            -->
                            <canvas baseChart 
                                [labels]="productionPieChart.labels"
                                
                                [type]="'doughnut'"
                                [legend]="false"
                                style="display: block;height: 68px;margin-left: -25px;"
                            ></canvas>
                        </div>
                        
                        <div class="count" >
                            <small>NUMBER BUILD</small>
                            <h2>{{mac.numberBuild | number:'1.0-0'}}<small class="pl-1" *ngIf="mac.numberBuild">Aircrafts</small></h2>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 flex-align-items p-0 " >

        </div>
    </div>
    
</div>
           
        
    
