    <mat-tab-group  mat-stretch-tabs #branchTabs
        class="mat-card" 
        [selectedIndex]="selTabIdx"
        (selectedIndexChange)="selectedTabChanged($event)">

        <!-- -TAB 0 dashboard --> 
        <mat-tab label="Dashboard">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">dashboard</mat-icon>
                <!--
                <img class="tab-icon neighbor-icon" src="/assets/images/common/project_tr.png" alt="Dashboard">
                -->
                Dashboard
            </ng-template>
            <div class="sxtable-container-tab">
                <ams-admin-mac-dashboard-tab tabindex="0"></ams-admin-mac-dashboard-tab>
            </div>
        </mat-tab>

        <!-- -TAB 1 Cabin Configuration --> 
        <mat-tab label="Cabin Configuration">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">airline_seat_recline_extra</mat-icon>
                Cabin Configuration
            </ng-template>
            <div class="sxtable-container-tab">
                <ams-admin-grid-mac-cabins tabindex="1"></ams-admin-grid-mac-cabins>
            </div>
        </mat-tab>

        <mat-tab label="Aircrafts">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">flight</mat-icon>
                Aircrafts
            </ng-template>
            <div class="sxtable-container-tab">
                <ams-admin-grid-mac-aircrafts tabindex="2"></ams-admin-grid-mac-aircrafts>
            </div>
        </mat-tab>
       
                
    </mat-tab-group>
    
