<div [@TogglePanelTrigger]="panelVar" class="ams-content-filter-panel panel-md shadow-1">
    <!-- Panel Header -->
    <div class="panel-header">
        <!-- Panel Header L -->
        <div class="right-items mr-0">
            <button class="btn btn-icon-only btn-text-dark" (click)="closePanelClick()">
                <i class="material-icons modus-icons">west</i>
            </button>
            <!--
            <div class="custom-control custom-switch">
            <input type="checkbox" checked="" class="custom-control-input" id="exampleSwitch" name="exampleSwitch">
            <label class="custom-control-label" for="exampleSwitch"></label>
            </div>
            -->
        </div>
        <h5 class="pl-2 flex-align-items">
          {{fptitle}}
            <div *ngIf="subtitle" class="link " (click)="subtitleClickEv()"
                style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;">
                {{subtitle}}
            </div>
        </h5>
        <!-- Panel Header R -->
        <div class="right-items mr-2">
            
        </div>
    </div>
    <!-- Panel Body -->
    <div class="panel-body">
        <ng-content></ng-content>
    </div>
    <!-- Panel Footer -->
    <div class="panel-footer bg-yellow">
        <div class="flex-align-items w-100 p-0">
            <div class="flex-start blue">{{currTime | date:'MMM d HH:mm'}}</div>
        </div>
    </div>

</div>