<mat-toolbar>
    <div class="flex-start flex-align-items w-100">
        <button mat-icon-button class="menu-btn" aria-label="Example icon-button with menu icon"
            (click)="snavToggleClick()">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="navbar-brand"  matTooltip="AMS v{{appVersion}} User: {{userName}}">
            <img alt="Logo" [src]="logoImgUrl">
        </div>
        
    </div>
    <div class="flex-end flex-align-items">
         <!--
            <div *ngIf="curUser"  class="avatar" matTooltip="User: {{userName}}" matTooltipPosition="above">
                <img src="{{avatarUrl}}" alt="{{curUser.userId}}">
            </div>
        -->
        <div *ngIf="user" class="chip chip-outline chip-input">
            <div class="chip-thumbnail">
              <img src="{{avatarUrl}}" alt="{{user.userId}}">
            </div>
            <div class="chip-text">{{userName}}</div>
        </div>
        <button *ngIf="!user" class="btn btn-icon-only btn-text-primary ml-2 main-nav-links">
            <i class="modus-icons">user</i>
        </button>
        <div class="flex justify-content-center ml-2">
            <ng-content></ng-content>
        </div>
        <div ngbDropdown class="dropdown ">
            <button class="btn btn-icon-only btn-text-primary" [matMenuTriggerFor]="amsMainMenu" >
              <i class="modus-icon material-icons text-primary">menu</i>
            </button>
            <mat-menu #amsMainMenu="matMenu">
                <button mat-menu-item disabled="true">
                    <mat-icon>manage_history</mat-icon>
                    <span>Version: {{appVersion}}</span>
                </button>
                <mat-divider class="blue"></mat-divider>
                <button *ngIf="user" mat-menu-item class="blue"
                    [routerLink]="[roots.Root, roots.airline, roots.profile]" 
                    routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
                    <mat-icon>account_circle</mat-icon> 
                    <span>Profile</span>
                </button>
                <mat-divider></mat-divider>
                <button *ngIf="user" mat-menu-item class="blue"
                   (click)="edituser(user)">
                    <mat-icon class="blue">manage_accounts</mat-icon> 
                    <span>Edit Profile</span>
                </button>
                <!-- [disabled]="!canEdit" -->
                <button *ngIf="airline" mat-menu-item class="blue"
                   (click)="ediAirline()">
                    <mat-icon class="blue">business</mat-icon> 
                    <span>Edit Airline</span>
                </button>
                <button *ngIf="airline" mat-menu-item class="yellow"
                   (click)="logout()">
                    <mat-icon class="yellow">exit_to_app</mat-icon> 
                    <span>Logout</span>
                </button>
                <mat-divider class="blue"></mat-divider>
                
            </mat-menu>
            
        </div>
    </div>

</mat-toolbar>
