<ts-sx-navbar (snavToggle)="snavToggleClick()" >
    <ams-admin-menu-main class="flex-align-items"></ams-admin-menu-main>
</ts-sx-navbar>
<mat-sidenav-container>
    <mat-sidenav #snav [mode]="snavmode"  opened fixedTopGap="64">
        <sx-sidebar-nav #sxSide></sx-sidebar-nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="ams-content">

            <router-outlet></router-outlet>

            <ams-side-panel-modal #spmAircraftPanel (closeSmpClick)="spmAircraftClose()">
                <ams-spm-aircraft-info [aircraft]="spmAircraft"></ams-spm-aircraft-info>
            </ams-side-panel-modal> 
            <ams-side-panel-modal #spmCfgCharterPanel (closeSmpClick)="spmCfgCharterPanelClose()">
                <ams-spm-cfg-charter-info [flight]="spmCfgCharter"></ams-spm-cfg-charter-info>
            </ams-side-panel-modal> 
            <ams-side-panel-modal #spmFlq (closeSmpClick)="spmFlqClose()">
                <ams-spm-fl-queue [flight]="spmFlqObj"></ams-spm-fl-queue>
            </ams-side-panel-modal>
        </div>
        
    </mat-sidenav-content>
</mat-sidenav-container>

<!-- Modus Body Wrapper 
<div class="modus-body" [ngClass]="sidebarClass">

    <nav class="modus-sidebar">
        <sx-sidebar-nav></sx-sidebar-nav>
    </nav>
    
    <div class="modus-content-rows vh-100">
        <div class="modus-content-columns">
            <div class="modus-content sx-tabs">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    
</div>
<ams-side-panel-modal #spmAircraftPanel (closeSmpClick)="spmAircraftClose()">
    <ams-spm-aircraft-info [aircraft]="spmAircraft"></ams-spm-aircraft-info>
</ams-side-panel-modal> 
<ams-side-panel-modal #spmCfgCharterPanel (closeSmpClick)="spmCfgCharterPanelClose()">
    <ams-spm-cfg-charter-info [flight]="spmCfgCharter"></ams-spm-cfg-charter-info>
</ams-side-panel-modal> 
<ams-side-panel-modal #spmFlq (closeSmpClick)="spmFlqClose()">
    <ams-spm-fl-queue [flight]="spmFlqObj"></ams-spm-fl-queue>
</ams-side-panel-modal>
-->