<div *ngIf="(airport$ | async)" class="icon-value flex-align-items"
    matTooltip="{{label}}: {{airport.apName}} ({{airport.apId}})" 
    matTooltipPosition="above">
    <ams-ap-icon-svg *ngIf="showNSvg && airport.svgcircle"
        [rw_svg_path_circle]="airport.svgcircle"
        [rw_svg_line]="airport.svgline"
        [ap_active]="airport.active" (click)="centerMapOnAirport()">
    </ams-ap-icon-svg>
    <ams-icon-ap-active *ngIf="showNSvg && !airport.svgcircle" [value]="airport.active"></ams-icon-ap-active>
    
    <div *ngIf="airport.iata" class="flex ps-1" (click)="spmAirportOpen()">{{airport.iata}}</div>
    <div *ngIf="!airport.iata && airport.icao" class="flex ps-1" (click)="spmAirportOpen()">{{airport.icao}}</div>
    <div *ngIf="showName && airport?.apName" class="flex ps-1 text-ellipsis" (click)="spmAirportOpen()">{{airport.apName}}</div>
    <div *ngIf="showCity && airport?.ctName" class="flex flex-align-items ps-1 " >
        <div class="flex-start text-ellipsis ps-1">{{airport.ctName}}</div>
        <div class="flex-end image-16" >
            <img src="{{airport.flagUrl}}" alt="{{airport.iso2}}"/>
        </div>
    </div>
</div>