<div class="sxtable-container-spm">
    <div class="sxtable-body">
        <table mat-table [dataSource]="flightLogs" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">

            <ng-container matColumnDef="acfsId">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-100">
                    <div class="flex-align-items w-100 ps-2 text-left white" >Flight Operation</div></th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100">
                    <div class="flex-align-items w-100 p-1">
                        <div  class="block w-100 text-left" 
                            matTooltip="Action: {{row.acfsId | acfl}} {{row.flLogDescription}}" 
                            matTooltipPosition="above" >
                            {{row.acfsId | acfl}}
                        </div>
                        
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="trApId">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-60 text-left white">Airport</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-left">
                    <ams-icon-ap-code [apId]="row.trApId" [showName]="false" class="flex"></ams-icon-ap-code>
                </td>
            </ng-container>
            <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-60 text-right white">Payment</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <!--
                    <div class="mr-2 green">{{row.amount | currency:'EUR' }}</div>
                    icon="price_check"
                    -->
                    <ams-icon-value *ngIf="row.amount" 
                        pipe="currencyr" 
                        [value]="row.amount" label="Payment">
                    </ams-icon-value>
                </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
</div>