<div class="modal-content">

    <div mat-dialog-title class="modal-header mb-1">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title flex-align-items">Get JSON Data </div>
    </div>

    <mat-dialog-content class="modal-body p-0">
        <form class="d-flex flex-column" [formGroup]="formGrp">

            <div class="col-12 flex-align-items w-100 p-0">

                <div class="col-12 p-0" >
                    <mat-form-field floatLabel="always" appearance="fill" class="w-100"
                    [ngClass]="{'is-valid':!sqlStr.invalid, 'is-invalid':sqlStr.invalid}">
                        <mat-label>SQL</mat-label>
                        <textarea matInput formControlName="sqlStr" 
                            type="text" rows="10" class="form-control " 
                            required ></textarea>
                        <mat-error *ngIf="sqlStr.invalid">{{fError('sqlStr')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
    
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end mr-2">
                <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="formGrp.invalid" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
