<div class="sxtable-container-tab">
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary" class="pl-2 pe-2">
            <div class="flex-align-items flex-space-between w-100 white h64">
                <div class="flex-start flex-align-items-end h64">
                    <div class="ps-1">Flight History</div>
                    <span  class="px-2 semi-bold">{{dataCount | number:'1.0-0'}}</span>
                    <span *ngIf="dataCount !== 1" class="">Flights</span>
                    <span *ngIf="dataCount == 1" class="">Flight</span>
                </div>
                <div class="flex-end mr-2 h64">
                    <mat-form-field class="white">
                        <mat-label class="white"><mat-icon>filter_list_alt</mat-icon><i>filter</i></mat-label>
                        <input matInput (keyup)="applyFilter($event)" class="white" type="text" [(ngModel)]="filter">
                        @if (filter) {
                            <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
                              <mat-icon class="white">close</mat-icon>
                            </button>
                          }
                    </mat-form-field>
                    
                    <button mat-icon-button class="pe-1"
                        matTooltip="Reload Data"
                        matTooltipPosition="above" 
                        color="accent"
                        [disabled]="(tableds.loading$ | async)"
                        (click)="refreshClick()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                    
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">

            <ng-container matColumnDef="flId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-120">
                    <div class="flex-align-items w-100 ps-2 text-left white" >Flight</div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120">
                    <div class="flex-align-items w-100 ps-1" 
                        matTooltip="{{row.flId}} Transport {{row.flDescription}}"
                        matTooltipPosition="above">
                            <ams-icon-flight-type class="blue flex-start" [flType]="row.flTypeId" (click)="spmFlqOpen(row)"></ams-icon-flight-type>
                            <div class="flex-end ps-1 text-ellipces">{{row.flName}}</div>
                            <!--
                            <div class="flex ml-1">{{row.depApCode}}</div>
                            <div class="flex ml-1">-</div>
                            <div class="flex ml-1">{{row.arrApCode}}</div>
                            -->
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="dtime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-80 text-right">
                    <div class="flex-align-items w-100 pe-1 flex-end" 
                        matTooltip="Time of Departure (TD)"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >flight_takeoff</mat-icon>
                        <!--
                        <img src="{{seatsEImgUrl}}" alt="Cargo" class="mr-2"/>
                        -->
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80 text-right">
                    <div class="flex-align-items w-100 pe-2 flex-end">
                        <!-- icon="timelapse" -->
                        <ams-icon-value *ngIf="row.dtime" class="blue"
                            pipe="datetime" 
                            [value]="row.dtime" label="Departure at">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="payloads">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-120 white">Payload</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120">
                    <ams-card-payload-sum [payloads]="row.payloads"></ams-card-payload-sum>
                </td>
            </ng-container>

            <ng-container matColumnDef="distanceKm">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60 text-right">
                    <div class="flex-align-items w-100 ps-4 text-right" 
                        matTooltip="Distance"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >travel_explore</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60">
                    <div class="flex-align-items w-100 px-1">
                        <!-- icon="timelapse" -->
                        <ams-icon-value *ngIf="row.distanceKm" 
                            pipe="lenkm" 
                            [value]="row.distanceKm" label="Distance">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
           
    
            <ng-container matColumnDef="acId">
                <th mat-header-cell *matHeaderCellDef  class="txt-ell-80 white">Aircraft</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80">
                    <div class="flex-align-items w-100 pt-2 pb-2">
                        <div *ngIf="row.acImgTableUrl" class="icon-value" matTooltip="Aircraft: {{row.acRegNr}}">
                            <img src="{{row.acImgTableUrl}}" alt="{{row.acId}}"/>
                        </div>
                    </div>
                </td>
            </ng-container>

           
            <ng-container matColumnDef="atime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="txt-ell-80 text-right">
                    <div class="flex-align-items w-100 ps-1 text-right" 
                        matTooltip="Time of Arrival (TA)"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >flight_land</mat-icon>
                        <!--
                        <img src="{{seatsEImgUrl}}" alt="Cargo" class="mr-2"/>
                        -->
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80 text-right">
                    <div class="flex-align-items w-100 pe-2 flex-end">
                        <!-- icon="timelapse" -->
                        <ams-icon-value *ngIf="row.atime" class="blue"
                            pipe="datetime" 
                            [value]="row.atime" label="Arrival at">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            
            
            <ng-container matColumnDef="delayMin">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-60 text-right">
                    <div class="flex-align-items w-100 ps-4 text-right" 
                        matTooltip="Delay Time Min"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >timelapse</mat-icon>
                        <!--
                        <img src="{{seatsEImgUrl}}" alt="Cargo" class="mr-2"/>
                        -->
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60">
                    <div class="flex-align-items w-100 p-1">
                        <!-- icon="timelapse" -->
                        <ams-icon-value *ngIf="row.delayMin" class="blue"
                            pipe="periodmin" 
                            [value]="row.delayMin" label="Delay Time">
                        </ams-icon-value>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="income">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-60 text-right white">Income</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <div class="mr-2 green">{{row.income| currency:'EUR' }}</div>
                </td>
            </ng-container>
            <ng-container matColumnDef="expences">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-60 text-right white">Expences</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <div class="mr-2 red">{{row.expences| currency:'EUR' }}</div>
                </td>
            </ng-container>

            <ng-container matColumnDef="revenue">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 text-right white">Revenue</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <ams-icon-value *ngIf="row.revenue" 
                        pipe="currencyr" 
                        [value]="row.revenue" label="Profit">
                    </ams-icon-value>
                    <!--
                    <div class="mr-2 blue semi-bold">{{row.revenue| currency:'EUR' }}</div>
                    -->
                </td>
            </ng-container>
            
            <ng-container matColumnDef="flDescription">
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80 white">Description</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80">
                    <div class="flex-align-items w-100 p-1">
                        <div  class="block w-100 text-left ellipsis" 
                            [matTooltip]="row.flDescription" 
                            matTooltipPosition="above" >
                            {{row.flDescription}}
                        </div>
                    </div>
                </td>
            </ng-container>
            
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selectFlight(row)"
                [class.active]="isSelectedRow(row)">
            </tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt"
        [showFirstLastButtons]="true"  >
    </mat-paginator>
</div>