<div *ngIf="airline" class="flex-wrap w-100">
    <div class="col-lg-12 col-md-12 pt-2 px-2 wrapper ">
        <ams-l-logo-480-card class="pe-2 pt-2" [airline]="airline"
            (generateLogo)="generateLogoClick($event)"></ams-l-logo-480-card>
        <div class="fill pt-2">
            <mat-card appearance="outlined" style="height: 493px;">
                <mat-card-header class="w-100">
                    <mat-card-title>Airline Information</mat-card-title>
                    <mat-card-subtitle class="mb-2">&nbsp;</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <ams-al-info-card [airline]="airline" [hqAirport]="hqAirport"
                        (generateLivery)="generateLiveryClick($event)">
                    </ams-al-info-card>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 pt-2 px-2 wrapper " style="align-items: flex-start;">
       
        <mat-card appearance="outlined" class="pe-2 pt-2" style="min-width: 493px; width: 493px; overflow: hidden;">
            <mat-card-header class="w-100">
                <mat-card-title>Base Airport</mat-card-title>
                <mat-card-subtitle class="mb-2">&nbsp;</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <ams-card-airport-info [airport]="hqAirport" class="card"></ams-card-airport-info>
            </mat-card-content>
        </mat-card>
    
        <div class="fill px-2">
            <div class="overlay-teal w-100 p-2">
                <ams-chart-line [environment]="env" [chartData]="chartData" title="Bank balanse last 30 days"
                    [chartLabels]="chartLabels" (chartClick)="onChartClick($event)">
                </ams-chart-line>
            </div>
    
        </div>
    </div>
    
</div>
