    <mat-tab-group  mat-stretch-tabs #branchTabs
        class="mat-card" 
        [selectedIndex]="selTabIdx"
        (selectedIndexChange)="selectedTabChanged($event)">

        <!-- -TAB 0 dashboard --> 
        <mat-tab label="Dashboard">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">dashboard</mat-icon>
                <!--
                <img class="tab-icon neighbor-icon" src="/assets/images/common/project_tr.png" alt="Dashboard">
                -->
                Dashboard
            </ng-template>
            <div class="sx-tab-full-blue">
                <div class="flex-align-items-top flex-wrap w-100 pt-2">
                    <div class="col-lg-6 col-12 p-2">
                        <ams-tile-ap-flight-schedule-arr [apId]="airport.apId"></ams-tile-ap-flight-schedule-arr>
                    </div>
                    <div class="col-lg-6 col-12 p-2">
                        <ams-tile-ap-flight-schedule-dep [apId]="airport.apId"></ams-tile-ap-flight-schedule-dep>
                    </div>
                </div>

                <div class="flex-align-items-top flex-wrap w-100 pt-2">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-12 px-2" (click)="loadPayloadDemand()">
                        <div class="mini-charts-item overlay-blue-light"  
                            matTooltip="Payload Demand Destinations Count. Click to refresh data." 
                            matTooltipPosition="above">
                            <div class="clearfix">
                                <div class="chart stats-bar">
                            
                                    <img [src]="acCharterImg" alt="Destinations" />
                                </div>
                                
                                <div class="count" >
                                    <small>DESTINATIONS</small>
                                    <h2 *ngIf="payload">{{payload.destinations | number:'1.0-0'}}</h2>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12 px-2">
                        <div class="mini-charts-item overlay-cyan"  
                            matTooltip="Payload Demand Passengers Count" 
                            matTooltipPosition="above">
                            <div class="clearfix">
                                <div class="chart stats-bar">
                                    <img src="{{imgCabinPath}}person_c.png" alt="Passengers"/>
                                </div>
                                
                                <div class="count" >
                                    <small>Passengers</small>
                                    <h2 *ngIf="payload">{{payload.pax | number:'1.0-0'}}</h2>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12 px-2" >
                        <div class="mini-charts-item overlay-teal"  
                            matTooltip="Payload Demand Cargo Ammount" 
                            matTooltipPosition="above">
                            <div class="clearfix">
                                <div class="chart stats-bar">
                                    <img src="{{imgCabinPath}}/cargo.png" alt="Cargo"/>
                                </div>
                                
                                <div class="count" >
                                    <small>Cargo</small>
                                    <h2 *ngIf="payload">{{payload.cargoKg | mtow}}</h2>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-12 px-2">
                        <div class="mini-charts-item overlay-yellow" 
                                matTooltip="Payload Demand Cargo Ammount" 
                                matTooltipPosition="above">
                                <div class="clearfix">
                                    <div class="chart stats-bar">
                                        <img src="{{imgCabinPath}}/cargo.png" alt="Cargo" />
                                    </div>
                                    
                                    <div class="count" >
                                        <small>Cargo</small>
                                        <h2 *ngIf="payload">{{payload.cargoKg | mtow}}</h2>
                                    </div>
                                    
                                </div>
                            </div>
                    </div>
                </div>

                <div class="flex-align-items-top flex-wrap w-100 pt-2">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-12 px-2">
                        <!--
                        <mat-card appearance="outlined">
                            <mat-card-header>
                                <mat-card-title>
                                    <div class="flex-align-items w-100">
                                        <div class="col-10 p-0">Payload Demand History</div>
                                        <div class="col-2 p-0" style="margin-top: -8px;">
                                            <sx-button-round 
                                                class="flex-end"
                                                message="Refresh Data" tooltipPlacement="bottom"
                                                (click)="loadPayloadDemand()" 
                                                icon="refresh">
                                            </sx-button-round>
                                        </div>
                                    </div>
                                </mat-card-title>
                                <mat-card-subtitle class="mb-2">
                                    PAX and Cargo payload demand sumary for last 2 weeks
                                </mat-card-subtitle>
                            </mat-card-header>
                            <mat-card-content>
                                <div class="flex-wrap flex-align-items-top w-100" style="min-height: 300px;">
                
                                    <div class="d-block w-100 p-2 overlay-teal" style="height: 300px;">
                                        <ams-chart-line-2y 
                                            [chartData]="payloadHisChartkData"
                                            [options]="payloadHisOptions"
                                            [chartLabels]="payloadHisChartLabels"
                                            [legend]="true"
                                            title="Payload Demand Sumary for last 2 Weeks">
                                        </ams-chart-line-2y>
                                    </div>
                                </div>
                                
                            </mat-card-content>
                        </mat-card>
                    -->
                    </div>
                    <div class="col-lg-6 col-12 p-2">
                        <div class="tile-p0 tile-cargo">
                            <mat-card appearance="outlined">
                                <mat-card-content class="overlay-teal">
                    
                                    <div class="tile-graphic" >
                                        <ams-chart-line-2y 
                                            [chartData]="payloadHisChartkData"
                                            [options]="payloadHisOptions"
                                            [chartLabels]="payloadHisChartLabels"
                                            [legend]="true"
                                            title="Payload Demand Sumary for last 2 Weeks">
                                        </ams-chart-line-2y>
                                    </div>
                                    
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>

                </div>
            </div>
           
        </mat-tab>
        <mat-tab label="Destinations">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">mode_of_travel</mat-icon>
                Destinations
            </ng-template>
            <div class="mb-0">
                <ams-grid-ap-pcpd-arr-ap [depAirport]="airport" class="sxtable-container-tab"></ams-grid-ap-pcpd-arr-ap>
            </div>
        </mat-tab>
        <mat-tab label="Pax Payload Demand">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">group</mat-icon>
                Pax Payload Demand
            </ng-template>
            <div class="mb-0">
                <ams-grid-ap-ppd-table [depAirport]="airport" class="sxtable-container-tab"></ams-grid-ap-ppd-table>
            </div>
        </mat-tab>
        <mat-tab label="Cargo Payload Demand">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">forklift</mat-icon>
                Cargo Payload Demand
            </ng-template>
            <div class="mb-0">
                <ams-grid-ap-cpd-table [depAirport]="airport" class="sxtable-container-tab"></ams-grid-ap-cpd-table>
            </div>
        </mat-tab>
        <!-- -TAB 1 City --> 
        <mat-tab label="Runways">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">edit_road</mat-icon>
                Runways
            </ng-template>
            <ams-wad-airport-home-tab-runway tabindex="3"></ams-wad-airport-home-tab-runway>
        </mat-tab>
      
                
    </mat-tab-group>
    
