<div *ngIf="mac" class="tile-mac">
    <mat-card appearance="outlined" >
        <mat-card-content>
            <div class="title">{{mac.model}}</div>
            <div class="subtitle">{{mac.mfrName}}</div>
            <div class="subtitle">Number of aircraft:<span class="ps-2">{{mac.aircraftCount | number:'1.0-0'}}</span></div>
            <img [src]="imagevUrl" alt="mac">
        </mat-card-content>
    </mat-card>
</div>
