<div *ngIf="aircraft" class="flex-align-items w-100">
    <div class="flex icon-value ellipsis" matTooltip="Aircraft: {{aircraft.registration}}">
        <img *ngIf="aircraft.imgTableUrl;else noAcImg" src="{{aircraft.imgTableUrl}}" alt="{{aircraft.acId}}" (click)="spmAircraftOpen()"/>
        <ng-template #noAcImg >
            <img [src]="acImgUrl" alt="{{aircraft.acId}}">
        </ng-template>
    </div>
    <div class="flex ellipsis ps-1">{{aircraft.registration}}</div>
    <ams-icon-value *ngIf="aircraft.flightHours && showFh" class="flex ellipsis ps-1 blue"
        pipe="periodmin" icon="timelapse"
        [value]="aircraft.flightHours * 60" label="Total Flight Hours">
    </ams-icon-value>
    <div class="flex-align-items ps-0 ellipsis" *ngIf="showFh">
        <ams-icon-ac-status class="pr-1" [acStatusId]="aircraft.acStatusId"></ams-icon-ac-status> 
        <div class="flex ps-1 ellipsis" matTooltip="Status: {{aircraft.acStatusId | acstatus}}, AC Action: {{aircraft.acActionTypeId | acat}}">{{aircraft.acActionTypeId | acat}}</div>
    </div>
</div>
