<div class="flex-align-items-top w-100 m-0">
    <div class="col-8 ps-0">
        <ams-al-aircraft-grid-flight-history></ams-al-aircraft-grid-flight-history>
    </div>
    <div class="col-4 p-0">
        <ams-spm-flight-history [flight]="flight"></ams-spm-flight-history>
    </div>
    
</div>
