<!-- Menu -->
<div class="static-container p-0">

    <div class="d-flex flrx-align-items flex-space-between w-100">

      <div class="flex-align-items flex-start ps-2">
        <!--
          <button *ngIf="region" class="btn btn-icon-only btn-text-primary m-l-5" 
            matTooltip="Region: {{region.rName}}"
            matTooltipPosition="above" 
            [routerLink]="[roots.Root, roots.wad, roots.region]"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  >
            <i class="modus-icon material-icons text-primary">public</i>
          </button>
          -->
      </div>

      <div class="flex-align-items flex-end pe-2">
        
        <button mat-icon-button [matMenuTriggerFor]="fp_top_menu" 
          class="link blue">
          <mat-icon>calendar_view_day</mat-icon>
        </button>
        <mat-menu #fp_top_menu="matMenu">
          <button mat-menu-item class="link" (click)="ediAirline()" [disabled]="!canEdit">
            <mat-icon>edit</mat-icon>
            <span>Edit Airline</span>
          </button>
          <!--
          <button mat-menu-item class="link" (click)="refreshAirline()">
            <mat-icon>refresh</mat-icon>
            <span>Refresh Airline</span>
          </button>
          <div class="dropdown-divider"></div>
          <button mat-menu-item class="link" (click)="spmAirportOpen(hqAirport)" [disabled]="!hqAirport">
            <mat-icon>info</mat-icon>
            <span>HQ Airport</span>
            <span *ngIf="hqAirport" class="pl-1">{{hqAirport.apName}}</span>
          </button>
          <button mat-menu-item class="link" (click)="solrAirport()">
            <mat-icon>bug_report</mat-icon>
            <span>Solr Airport</span>
          </button>
        -->
        </mat-menu>
        <sx-button-round message="Refresh Airline Data" 
          tooltipPlacement="bottom" (click)="refreshDataClick()"
          icon="refresh">
        </sx-button-round>
      </div>

    </div>

</div>
<!-- Scroll Container -->
<div class="scroll-container-h160 ps-0 pe-0">
    
  <mat-tab-group  mat-stretch-tabs #alDashTabs
        class="mat-card" 
        [selectedIndex]="selTabIdx"
        (selectedIndexChange)="selectedTabChanged($event)">

        <!-- -TAB 0  --> 
        <mat-tab label="Arrivals">
            <ng-template mat-tab-label>
              <img class="tab-icon" [src]="imgUrlFlight" alt="Arrival" 
                matTooltip="Arrival" 
                matTooltipPosition="above"  
                [ngClass]="{'opacity-50':selTabIdx!==0}">
            </ng-template>
            <div class="m-0 tab-blue-filterpanel text-center white">
              <div class="title white">Arrivals</div>
              <div class="scroll-box-h260 p-0"> 
                <ams-card-flight-arrival *ngFor="let flight of arrivals" [flight]="flight"></ams-card-flight-arrival>
              </div>
            </div>
        </mat-tab>

        <!-- -TAB 1  --> 
        <mat-tab label="Aircraft Market">
            <ng-template mat-tab-label>
              <img class="tab-icon" [src]="imgUrlFlq" alt="Departure Flights" 
                matTooltip="Departure" 
                matTooltipPosition="above"    
                [ngClass]="{'opacity-50':selTabIdx!==1}">
            </ng-template>
            <div class="m-0 tab-blue-filterpanel text-center">
              <div class="title white">Departures</div>
              <div class="scroll-box-h260 p-0">
                <ams-card-flight-departure *ngFor="let flight of departures" [flight]="flight"></ams-card-flight-departure>
              </div>
            </div>
        </mat-tab>
                
    </mat-tab-group>

</div>