<div class="ams-content-blue p-0" >
    <ams-admin-toolbar ptitle="AMS" psubtitle="ADMIN">
        <div class="flex-align-items">
            <button class="btn btn-text-dark btn-md btn-icon-only mt-1" 
                (click)="loadLoginsCount()" matTooltip="Refresh">
                <i class="modus-icon material-icons">refresh</i>
            </button>
        </div>
    </ams-admin-toolbar>
    
    
       
    <div class="flex-row" style="height: 250px;">
        
        <ams-chart-line 
            class="d-block"
            [environment]="env"
            [chartData]="chartDataUsers"
            title="User autehtications last week"
            [chartLabels]="chartLabelsUsers"
            [xGridShow]="false"
            (chartClick)="onChartClick($event)" style="height: 250px;width:calc(100vw - 100px);">
        </ams-chart-line>
    </div>
        
    <div class="flex-wrap w-100">
        <!-- -Departure -->
        <div class="col-lg-6 col-sm-12 tile tile-mfr">
            <ams-grid-admin-flights-queue (spmAircraftOpen)="spmAircraftOpen($event)" (spmFlqOpen)="spmFlqOpenClick($event)"></ams-grid-admin-flights-queue>
        </div>
        <!-- Arrival -->
        <div class="col-lg-6 col-sm-12 tile tile-contractor">
            <ams-grid-admin-flights (spmAircraftOpen)="spmAircraftOpen($event)" (spmFlOpen)="spmFlOpenClick($event)"></ams-grid-admin-flights>
        </div>
    </div>
        
    <!-- -MINI CHARDS -->
    <div class="flex-align-items-top flex-wrap w-100">

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 px-2" (click)="gotoManufacturers()">
            <div class="mini-charts-item overlay-blue-light"  
                matTooltip="Manage Aircraft Manufacturers" 
                matTooltipPosition="above">
                <div class="clearfix">
                    <div class="chart stats-bar">
                
                        <img src="{{tileImgUrl}}/mfr-graphic-white.png" alt="AC TYPE"
                            style="display: inline-block;width: 68px;vertical-align: top;"/>
                    </div>
                    
                    <div class="count" >
                        <small>MANUFACTURERS</small>
                        <h2>{{mfrCount | number:'1.0-0'}}</h2>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="col-lg-3 col-md-3 col-sm-6 col-12 px-2">
            <div class="mini-charts-item overlay-cyan"  
                matTooltip="Number of cities width no pax and cargo demand set. Click on this widget to initiate callculation." 
                matTooltipPosition="above" (click)="calcCityPayloadDemendClick()">
                <div class="clearfix">
                    <div class="chart stats-bar">
                        <img class="pt-2" [src]="acCargoImg" alt="Configure Charter"/>
                    </div>
                    
                    <div class="count" >
                        <small>CITIES NO DEMAND SET</small>
                        <h2>{{cityNoDemandCount|number:'1.0-0'}}</h2>
                        <!--
                        <h2 *ngIf="user.userName">{{user.userName}}</h2>
                        <h2 *ngIf="!user.userName">{{user.userEmail}}</h2>
                        -->
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 px-2" 
            [routerLink]="[ rootes.cfgCharter]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <div class="mini-charts-item overlay-teal"  
                matTooltip="Configure Charter Flights" 
                matTooltipPosition="above">
                <div class="clearfix">
                    <div class="chart stats-bar">
                        <img class="pt-2" [src]="acCharterImg" alt="Configure Charter"/>
                    </div>
                    
                    <div class="count" >
                        <small>CONFIGURE</small>
                        <h2>Charter Flights</h2>
                        <!--
                        <h2 *ngIf="user.userName">{{user.userName}}</h2>
                        <h2 *ngIf="!user.userName">{{user.userEmail}}</h2>
                        -->
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-12 px-2">
            <div class="mini-charts-item overlay-yellow" (click)="gotoUsersManagement()" 
                    matTooltip="Manage Users" 
                    matTooltipPosition="above">
                    <div class="clearfix">
                        <div class="chart stats-bar">
                            <img src="{{tileImgUrl}}/generic-graphic-white.png" alt="Users"
                                style="display: inline-block;width: 68px;vertical-align: top;"/>
                        </div>
                        
                        <div class="count" >
                            <small>USERS</small>
                            <h2>{{usersCount | number:'1.0-0'}}</h2>
                        </div>
                        
                    </div>
                </div>
        </div>
    </div>
    <!-- -Users And Manufacturers -->
    <div class="flex-wrap w-100">
        <!-- -Users -->
        <div class="col-lg-6 col-sm-12 tile tile-contractor">
            <ams-grid-admin-tasks></ams-grid-admin-tasks>
            <!--
            <mat-card appearance="outlined" (click)="gotoUsersManagement()">
            <mat-card-subtitle>MANAGE USERS
                <span *ngIf="usersCount">({{usersCount | number:'1.0-0'}})</span>
            </mat-card-subtitle>
            <mat-card-content class="overlay-blue">
                <div *ngIf="chartDataUserList" class="ile-graphic">

                </div>
                <img class="tile-graphic" src="{{tileImgUrl}}/generic-graphic-white.png"
                alt="Company Management">
            </mat-card-content>
            </mat-card>
            -->
        </div>

        <!-- -Users -->
        <div class="col-lg-6 col-sm-12 tile tile-mfr">
            <mat-card appearance="outlined" (click)="gotoManufacturers()">
            <mat-card-subtitle>MANUFACTURERS</mat-card-subtitle>
            <mat-card-content class="overlay-green">
                <div class="tile-graphic">
                    <img *ngIf="!chartDataUserList" src="{{tileImgUrl}}/mfr-graphic-white.png" alt="MANUFACTURERS">
                </div>
            </mat-card-content>
            </mat-card>
        </div>

    </div>

</div>


