<div class="mini-charts-item overlay-blue-light" 
    [routerLink]="[roots.Root, roots.airline, roots.info]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" 
    matTooltip="Go to airline info" 
    matTooltipPosition="above">
    <div class="clearfix">
        <div class="chart stats-bar">
            <canvas baseChart 
                    [type]="'pie'"
                    [datasets]="chartData"
                    [labels]="chartLabels"
                    [options]="chartOptions"
                    [legend]="false"
                    style="display: block;height: 55px;width: 95px;">
            </canvas>
            
        </div>
        
        <div class="count" >
            <small>COMPLEATED FLIGHTS</small>
            <h2>{{airline.flTotalCount | number:'1.0-0'}}</h2>
        </div>
        
    </div>
</div>