<div *ngIf="type" class="flex-align-items">
    <div class="icon-value"
        matTooltip="{{ type | payloadtype}} Class" 
        matTooltipPosition="above" >
        <img *ngIf="type === typeE" src="{{seatsEImgUrl}}" alt="Economy" class="size-22" />
        <img *ngIf="type === typeB" src="{{seatsBImgUrl}}" alt="Business" class="size-22" />
        <img *ngIf="type === typeF" src="{{seatsFImgUrl}}" alt="First" class="size-22" />
        <img *ngIf="type === typeC" src="{{seatsCImgUrl}}" alt="Cargo" class="size-22" />
        <img *ngIf="type === typeG" src="{{seatsGImgUrl}}" alt="General" class="size-22" />
    </div>
   
</div> 

