
<div class="ams-content-blue" >
    <div class="flex-wrap w-100">

        <div class="col-lg-6 col-12 tile tile-charter">
            <mat-card appearance="outlined" (click)="gotoCharterFlightPlan()">
            <mat-card-subtitle>Charter Flights
                <span  *ngIf="acCharterCount$ | async">({{acCharterCount | number:'1.0-0'}} Aircrafts)</span>
            </mat-card-subtitle>
            <mat-card-content class="overlay-blue">
                <img  class="tile-graphic" 
                    src="{{tileImgRootUrl}}/charter-white.png"
                    alt="Charter Flights Queue Management"/>
            </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-6 col-12 tile tile-shedule">
            <mat-card appearance="outlined" (click)="gotoSheduleFlightPlan()">
            <mat-card-subtitle>Shedule Flights
            </mat-card-subtitle>
            <mat-card-content class="overlay-blue">
                <img  class="tile-graphic" 
                    src="{{tileImgRootUrl}}/shedule-white-02.png"
                    alt="Shedule Flights Management"/>
            </mat-card-content>
            </mat-card>
        </div>
        <!-- Flight Booking -->
        <div class="col-lg-6 col-12 tile tile-booking">
            <mat-card appearance="outlined" (click)="gotoBookingFlightPlan()">
            <mat-card-subtitle>Flight Booking
            </mat-card-subtitle>
            <mat-card-content class="overlay-blue">
                <img  class="tile-graphic" 
                    src="{{commonImgRootUrl}}/ticket-icon-white.png"
                    alt="Flight Booking"/>
            </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>