<div class="modal-content">

    <div mat-dialog-title class="modal-header">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title flex-align-items">
            <div class="flex-start flex-align-items">
                <span class="card-subtitle-1 ps-1" >Flight Number </span>
                <div class="flex-align-items" *ngIf="flpn" >
                    <span *ngIf="flpn.flpnId" class="card-subtitle-1 ps-1" >№ {{flpn.flpnId}}</span>
                    
                    <ams-icon-ap-code *ngIf="flpn.depApId" 
                        [apId]="flpn.depApId" [showName]="false" class="flex ps-1" 
                        matTooltip="Airport" matTooltipPosition="above">
                    </ams-icon-ap-code>
                    <span class="ps-1">-></span>
                    <ams-icon-ap-code *ngIf="flpn.arrApId" 
                        [apId]="flpn.arrApId" [showName]="false" class="flex ps-1" 
                        matTooltip="Airport" matTooltipPosition="above">
                    </ams-icon-ap-code>
                </div>
                <span *ngIf="flpn || !flpn.flpnId" class="card-subtitle-1 ps-1" >Create</span>
            </div>
            
            

            <div class="flex-end image-120">
                <img *ngIf="aircraft" class="card-subtitle-1 mb-1" src="{{aircraft.imgTableUrl}}" alt="{{aircraft.acId}}"/>
            </div>
        </div>
    </div>

    <mat-dialog-content class="modal-body">
        <form class="col-12 flex-column" [formGroup]="formGrp">

           

            <div class="col-12 flex-align-items-top">
                <div class="col-6 flex-column pe-2">
                    <input type="hidden" [formControl]="destIdFc" >
                    <input type="hidden" [formControl]="routeIdFc" >

                    <mat-form-field class="w-100">
                        <mat-label>Departure</mat-label>
                        <input matInput [matAutocomplete]="depAuto" [formControl]="depApIdFc">
                        <mat-icon matPrefix  class="text-grey-500">flight_takeoff</mat-icon>   
                        <mat-icon matSuffix  class="text-grey-500" (click)="depApReset()">expand_more</mat-icon>     
                        <mat-autocomplete #depAuto="matAutocomplete" 
                            [displayWith]="displayAp" 
                            (optionSelected)="depApValueChange($event)">
                        <mat-option *ngFor="let option of depApsOpt | async"  [value]="option">
                            <div class="flex-column header">
                                <div class="flex-align-items">
                                    <ams-icon-ap-code [apId]="option.apId" [showName]="true" 
                                        class="flex-start" 
                                        matTooltip="Airport" 
                                        matTooltipPosition="above">
                                    </ams-icon-ap-code>
                                </div>
                                <div *ngIf="option.apLabel" class="title">{{option.apLabel}}</div>
                            </div>
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <mat-form-field class="w-100">
                        <mat-label>Arrival</mat-label>
                        <input matInput [matAutocomplete]="arrAuto" [formControl]="arrApIdFc">
                        <mat-icon matPrefix  class="text-grey-500">flight_land</mat-icon>   
                        <mat-icon matSuffix  class="text-grey-500" (click)="arrApReset()">expand_more</mat-icon>     
                        <mat-autocomplete #arrAuto="matAutocomplete" 
                            [displayWith]="displayAp" 
                            (optionSelected)="arrApValueChange($event)">
                        <mat-option *ngFor="let option of arrApsOpt | async"  [value]="option">
                            <div class="flex-column header">
                                <div class="flex-align-items">
                                    <ams-icon-ap-code [apId]="option.apId" [showName]="true" 
                                        class="flex-start" 
                                        matTooltip="Airport" 
                                        matTooltipPosition="above">
                                    </ams-icon-ap-code>
                                </div>
                                <div *ngIf="option.apLabel" class="title">{{option.apLabel}}</div>
                            </div>
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <div class="col-12 flex-align-items-top p-0">
                        <div class="col-6 pe-2">
                            <mat-form-field class="w-100">
                                <mat-label for="flpnNumber">Number</mat-label>
                                <mat-select  [formControl]="flpnNumberFc" aria-label="Number">
                                    <mat-option *ngFor="let nr of flpnNumberOpt" [value]="nr.id">
                                        {{nr.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <!--
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Number</mat-label>
                                <input matInput type="text" [formControl]="flpnNumberFc" name="flpnNumber"  required >
                                <mat-error *ngIf="flpnNumberFc.invalid">{{fError('flpnNumber')}}</mat-error>
                            </mat-form-field>
                            -->
                        </div>
                        <div class="col-6">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Flight Duration (in hours)</mat-label>
                                <input matInput type="number" step="0.01"  placeholder="Flight Duration"  [formControl]="flightHFc">
                                <mat-icon matSuffix class="text-grey-500">timelapse</mat-icon>
                                
                                <mat-error *ngIf="flightHFc.invalid">{{fError('flightH')}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="col-12 flex-align-items-top pb-4">
                        <div class="col-6 pe-2">
                            <div class="flex-align-items w-100 flex-start">
                                <div class="flex-start pe-1">Distance:</div>
                                <ams-icon-value *ngIf="flpn?.distanceKm" 
                                    pipe="nmir" icon="network_check"
                                    [ngClass]="{'red':(flpn?.distanceKm>aircraft?.maxRangeKm)}"
                                    [value]="flpn?.distanceKm" label="Range">
                                </ams-icon-value>
                                <!--
                                <ams-icon-value *ngIf="flpn.distanceKm" 
                                    pipe="lenkm" icon="travel_explore"
                                    [value]="flpn.distanceKm" label="Distance">
                                </ams-icon-value>
                                -->
                            </div>
                            <div class="flex-align-items w-100 flex-start">
                                <div *ngIf="flpn.distanceKm" class="size-12 text-nowrap pe-1">({{flpn.distanceKm | lenkm}})</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="flex-align-items w-100 ">
                                <div class="flex-start pe-1">Flight Duration:</div>
                                <ams-icon-value *ngIf="flightHFc.value" pipe="min" class=""
                                    [value]="flightHFc.value*60" 
                                    label="Time to reserve for flight duration when building flight shedule (HH:mm)">
                                </ams-icon-value>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-6 text-center">
                    <img src="{{staticMapUrl}}" alt="map" class="w-100">
                </div>
            </div>
            
                   
            <div class="col-12 flex-align-items-top p-0">
                <div class="col-5 pe-2">
                    <!--  
                    <mat-form-field class="w-100">
                        <mat-label for="flpnNumber">Number</mat-label>
                        <mat-select name="routeNr" [formControl]="flpnNumberFc" aria-label="Number">
                            <mat-option *ngFor="let nr of routeNrOpt" [value]="nr">
                                {{nr | number:'3.0-0'}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                -->
                </div>
                <div class="col-7">
                    
                </div>
            </div>

            <div class="col-12 flex-align-items-top p-0">
                <div class="col-5 pe-2">
                    
                </div>
                <div class="col-7 ps-2">
                    <div class="flex-column w-100">
                        
                        
                    </div>
                </div>
            </div>

            <div class="col-12 flex-align-items-top p-0">
                <div class="col-6 pe-2" >
                    
                </div>
                <div class="col-6" >
                    
                </div>
            </div>
             
            <div class="col-12 flex-align-items-top">
                <div class="col-3 pe-2" >
                    <mat-form-field floatLabel="always" class="col-12">
                        <mat-label>First</mat-label>
                        <input matInput type="number" step="0.50" placeholder="Ticket Price First Class"  [formControl]="priceFFc">
                        <ams-icon-paylod matSuffix [type]="ptf" class="large mt-2"></ams-icon-paylod>
                        <mat-error *ngIf="priceFFc.invalid">{{fError('priceF')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-3 pe-2" >
                    <mat-form-field floatLabel="always" class="col-12 pe-2">
                        <mat-label>Business</mat-label>
                        <input matInput type="number" step="0.50" placeholder="Ticket Price First Class"  [formControl]="priceBFc">
                        <ams-icon-paylod matSuffix [type]="ptb" class="large mt-1"></ams-icon-paylod>
                        <mat-error *ngIf="priceBFc.invalid">{{fError('priceB')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-3 pe-2" >
                    <mat-form-field floatLabel="always" class="col-12">
                        <mat-label>Economy</mat-label>
                        <input matInput type="number" step="0.50" placeholder="Ticket Price Economy Class"  [formControl]="priceEFc">
                        <ams-icon-paylod matSuffix [type]="pte" class="large mt-2"></ams-icon-paylod>
                        <mat-error *ngIf="priceEFc.invalid">{{fError('priceE')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-3" >
                    <mat-form-field floatLabel="always" class="col-12">
                        <mat-label>Cargo per {{1 | mtow}}</mat-label>
                        <input matInput type="number" step="0.0005" placeholder="Cargo Price per {{1 | mtow}}"  [formControl]="priceCpKgFc">
                        <ams-icon-paylod matSuffix [type]="cpt" class="large mt-2"></ams-icon-paylod>
                        <mat-error *ngIf="priceCpKgFc.invalid">{{fError('priceCPerKg')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end mr-2">
                <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="formGrp.invalid" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
