<div ngbDropdown class="dropdown ">
    <button class="btn btn-icon-only btn-text-primary" [matMenuTriggerFor]="alMenuMain" >
      <i class="modus-icon material-icons text-primary">more_vert</i>
    </button>
    <mat-menu #alMenuMain="matMenu">

        <button *ngIf="user" mat-menu-item class="link"
            [routerLink]="[roots.Root, roots.airline, roots.profile]" 
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
            <mat-icon>account_circle</mat-icon> 
            <span>Profile</span>
        </button>
        
        <button *ngIf="airline" mat-menu-item class="link blue" 
            (click)="refreshTransactions.emit(airline)">
            <mat-icon>refresh</mat-icon> 
            <span>Refresh Bank History</span>
        </button>
        <button *ngIf="airline" mat-menu-item class="link blue" 
            (click)="loadTransactionsSumLastWeek()">
            <mat-icon>refresh</mat-icon> 
            <span>Refresh Transactions Last Week</span>
        </button>

    </mat-menu>
    
</div>