<div class="panel-body">
    <!-- Static Container -->
    <div class="static-container">

      <div class="flrx-align-items flex-space-between w-100">
       
        <div class="flex-align-items flex-start">

          <button *ngIf="subregion" class="btn btn-icon-only btn-text-primary m-l-5" 
            matTooltip="Subregion: {{subregion.srName}}"
            matTooltipPosition="above" 
            [routerLink]="[roots.Root, roots.wad, roots.subregion]"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  >
            <i class="modus-icon material-icons text-primary">workspaces</i>
          </button>

        </div>
        <div class="flex-align-items flex-end">
         
          <div class="" ngbDropdown  *ngIf="country">
            <sx-format-control 
                class="link size-18"
                label="" color="light"
                [matMenuTriggerFor]="countryMenu"
                icon="calendar_view_day">
            </sx-format-control>
            <mat-menu #countryMenu="matMenu">

                <button mat-menu-item (click)="spmCountryOpen()" class="link">
                    <mat-icon>info</mat-icon> 
                    <span>{{country?.cName}}</span>
                </button>
                <button mat-menu-item (click)="editCountryClick()" class="link">
                  <mat-icon>edit</mat-icon> 
                  <span>{{country?.cName}}</span>
              </button>
            
                <button mat-menu-item class="link" (click)="spmSubregionOpen()">
                    <mat-icon>info</mat-icon> 
                    <span>Subregion Info</span>
                </button>
              <div class="dropdown-divider"></div>
              <button *ngIf="subregion" mat-menu-item class="link" (click)="spmSubregionOpen()">
                <mat-icon>info</mat-icon> 
                <span>{{subregion.srName}}</span>
              </button>
              <button *ngIf="subregion" mat-menu-item class="link" (click)="gotoSubregion()">
                <mat-icon>open_in_new</mat-icon> 
                <span>Go to Subregion</span>
              </button>
            </mat-menu>
            
        </div>
          <sx-button-round 
              message="Show Country Info" tooltipPlacement="bottom"
               color="light"
              (click)="spmCountryOpen()" 
              icon="info"> 
          </sx-button-round>
        </div>
        
      </div>

    </div>

    <!-- Scroll Container -->
    <div class="scroll-container p-2">
      
      <div class="card">
        <div class="card-body">
          <!--
          <h5 class="card-title">Panel Content</h5>
          -->
          <ams-spm-country-info [country]="country"></ams-spm-country-info>
          <ams-card-country-200 [country]="country"></ams-card-country-200>
        </div>
      </div>
    </div>
  </div>