<div class="modal-content">
    <!-- -TITLE -->
    <div mat-dialog-title class="modal-header">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title"> 
            <span *ngIf="!usecase" class="mr-1" >New</span>UseCase
            <span *ngIf="project" class="card-subtitle-1 mr-1">Project № {{project.project_id}}</span>
            <span  *ngIf="project" class="card-subtitle-1" >{{project.project_name}}</span>
        </div>
    </div>
    <!-- -CONTENT -->
    <mat-dialog-content class="modal-body">
        <form class="d-flex flex-column" [formGroup]="formGrp">

            <div class="col-12 flex-align-items w-100 p-0">

                <div class="col-7 p-0">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Name</mat-label>
                        <input matInput  placeholder="Usecase Name"  formControlName="usecase_name" required >
                        <mat-icon matSuffix class="text-grey-500">admin_panel_settings</mat-icon>
                        <mat-error *ngIf="usecase_name.invalid">{{fError('usecase_name')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-2 pe-0">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Order</mat-label>
                        <input matInput  placeholder="1"  formControlName="usecase_order" >
                        <mat-icon matSuffix class="text-grey-500">list</mat-icon>
                        <mat-error *ngIf="usecase_order.invalid">{{fError('usecase_order')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-3 pe-0">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Status</mat-label>
                        <mat-select name="pstatus_id" formControlName="pstatus_id">
                            <mat-option *ngFor="let status of statusOpt" [value]="status.id">
                                {{status.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>

            <div class="col-12 flex-align-items w-100 p-0">
                <div class="col-12 p-0 w-100">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Image URL</mat-label>
                        <input matInput  placeholder="Image URL"  formControlName="usecase_img_url" type="text">
                        <mat-icon matSuffix class="text-grey-500">add_a_photo</mat-icon>
                        <mat-error *ngIf="usecase_img_url.invalid">{{fError('usecase_img_url')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-12 flex-align-items w-100 p-0">
                <div class="col-12 p-0 w-100">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Notes</mat-label>
                        <textarea matInput formControlName="usecase_notes" type="text" maxlength="2000" rows="3"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </form>

    </mat-dialog-content>

    <!-- -ACTIONS -->
    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end mr-2">
                <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="formGrp.invalid" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>

</div>
