<div *ngIf="!pipe" class="icon-value flex-start" 
    matTooltip="{{label}}: {{value}}" 
    matTooltipPosition="above">
    <i class="material-icons me-1" >{{icon}}</i>
    {{value}}
</div>
<div *ngIf="pipe === 'utc'" class="value-icon flex-end"  
    matTooltip="{{label}}: {{value | utc}}" 
    matTooltipPosition="above">
    <i class="material-icons me-1">timer</i>
    {{value | utc}}
</div>
<div *ngIf="pipe === 'utcr'" class="value-icon flex-end"  
    matTooltip="{{label}}: {{value | utc}}" 
    matTooltipPosition="above">
    {{value | utc}}<i class="material-icons ms-1">timer</i>
</div>
<div *ngIf="pipe === 'lenr'" class="value-icon flex-end" 
        matTooltip="{{label}}: {{value | len}}" 
        matTooltipPosition="above">
        {{value | len}}<i class="material-icons ms-1" >{{icon}}</i>
</div>
<div *ngIf="pipe === 'len'" class="icon-value flex-start" 
        matTooltip="{{label}}: {{value | len}}" 
        matTooltipPosition="above">
        <i class="material-icons me-1" >{{icon}}</i>
        {{value | len}}
</div>

<div *ngIf="pipe === 'liters'" class="icon-value flex-start" 
        matTooltip="{{label}}: {{value | liters}}" 
        matTooltipPosition="above">
        <i class="material-icons me-1" >{{icon}}</i>
        {{value | liters}}
</div>
<div *ngIf="pipe === 'litersr'" class="value-icon flex-start" 
        matTooltip="{{label}}: {{value | liters}}" 
        matTooltipPosition="above">
        {{value | liters}}<i class="material-icons ms-1" >{{icon}}</i>
</div>


<div *ngIf="pipe === 'mtow'" class="value-icon flex-start" 
        matTooltip="{{label}}: {{value | mtow}}" 
        matTooltipPosition="above">
        <i class="material-icons me-1" >{{icon}}</i>
        {{value | mtow}}
</div>
<div *ngIf="pipe === 'mtowr'" class="value-icon flex-end" 
        matTooltip="{{label}}: {{value | mtow}}" 
        matTooltipPosition="above">
        {{value | mtow}}<i class="material-icons ms-1" >{{icon}}</i>
</div>
<div *ngIf="pipe === 'latlon'" class="icon-value flex-start" 
    matTooltip="{{label}}" 
    matTooltipPosition="above">
    <i class="material-icons me-1" >{{icon}}</i>
    {{value | latlon}}
    <ng-content></ng-content>
</div>
<div *ngIf="pipe === 'icao'" class="icon-value flex-start"
        matTooltip="{{label}}: {{value}}" 
        matTooltipPosition="above" >
        <img src="{{icaoUrl}}" alt="ICAO" class="me-1"/>
    {{value}}
</div>
<div *ngIf="pipe === 'iata'" class="icon-value flex-start" 
    matTooltip="{{label}}: {{value}}" 
    matTooltipPosition="above" >
    <img src="{{iataUrl}}" alt="IATA" class="me-1"/>
    {{value}}
</div>
<div *ngIf="pipe === 'image'" class="icon-value flex-start"
        matTooltip="{{label}}: {{value}}" 
        matTooltipPosition="above" >
    <img src="{{icon}}" alt="{{value}}" class="me-1"/>
    {{value}}
</div>
<div *ngIf="pipe === 'int'" class="icon-value flex-start"
        matTooltip="{{label}}: {{value | number:'1.0-0'}}" 
        matTooltipPosition="above" >
    <i class="material-icons me-1" >{{icon}}</i>
    {{value | number:'1.0-0'}}
</div>
<div *ngIf="pipe === 'speed'" class="icon-value flex-start"
        matTooltip="{{label}}: {{value | speed}}" 
        matTooltipPosition="above" >
    <i class="material-icons me-1" >{{icon}}</i>
    {{value | speed}}
</div>

<div *ngIf="pipe === 'lenkm'" class="icon-value flex-start"
        matTooltip="{{label}}: {{value | lenkm}}" 
        matTooltipPosition="above" >
    <i class="material-icons me-1" >{{icon}}</i>
    {{value | lenkm}}
</div>
<div *ngIf="pipe === 'lenkmr'" class="icon-value flex-end"
        matTooltip="{{label}}: {{value | lenkm}}" 
        matTooltipPosition="above" >
    {{value | lenkm}}
    <i class="material-icons ms-1" >{{icon}}</i>
</div>

<div *ngIf="pipe === 'nmi'" class="icon-value flex-start"
        matTooltip="{{label}}: {{value | nmi}} ({{value | lenkm}})" 
        matTooltipPosition="above" >
    <i class="material-icons me-1" >{{icon}}</i>
    {{value | nmi}}
</div>
<div *ngIf="pipe === 'nmir'" class="icon-value flex-end"
        matTooltip="{{label}}: {{value | nmi}} ({{value | lenkm}})" 
        matTooltipPosition="above" >
    {{value | nmi}}
    <i class="material-icons ms-1" >{{icon}}</i>
</div>

<div *ngIf="pipe === 'weekday'" class="icon-value flex-start"
        matTooltip="{{label}}: {{dateVal | date:'EEEE HH:mm'}}" 
        matTooltipPosition="above" >
    <i class="material-icons me-1" >{{icon}}</i>
    {{dateVal | date:'EEEE HH:mm'}}
</div>
<div *ngIf="pipe === 'weekdayr'" class="icon-value flex-end"
        matTooltip="{{label}}: {{dateVal | date:'EEEE HH:mm'}}" 
        matTooltipPosition="above" >
    {{dateVal | date:'EEEE HH:mm'}}
    <i class="material-icons ms-1" >{{icon}}</i>
</div>
<div *ngIf="pipe === 'date'" class="icon-value flex-start"
        matTooltip="{{label}}: {{dateVal | date:'MMM d, y'}}" 
        matTooltipPosition="above" >
    <i class="material-icons me-1" >{{icon}}</i>
    {{dateVal | date:'MMM d, y'}}
</div>
<div *ngIf="pipe === 'dater'" class="icon-value flex-end"
        matTooltip="{{label}}: {{dateVal | date:'MMM d, y'}}" 
        matTooltipPosition="above" >
    {{dateVal | date:'MMM d, y'}}
    <i class="material-icons ms-1" >{{icon}}</i>
</div>

<div *ngIf="dateVal && pipe === 'datetime'" class="icon-value flex-start"
        matTooltip="{{label}}: {{dateVal.getTime() | date:'MMM d, y HH:mm'}}" 
        matTooltipPosition="above" >
    <i *ngIf="icon" class="material-icons me-1" >{{icon}}</i>
    {{dateVal.getTime() | date:'MMM d HH:mm'}}
</div>
<div *ngIf="dateVal && pipe === 'datetimer'" class="icon-value flex-end"
        matTooltip="{{label}}: {{dateVal.getTime() | date:'MMM d, y HH:mm'}}" 
        matTooltipPosition="above" >
    {{dateVal.getTime() | date:'MMM d HH:mm'}}
    <i *ngIf="icon" class="material-icons ms-1" >{{icon}}</i>
</div>
<div *ngIf="dateVal && pipe === 'time'" class="icon-value flex-start"
        matTooltip="{{label}}: {{dateVal.getTime() | date:'MMM d, y HH:mm'}}" 
        matTooltipPosition="above" >
    <i *ngIf="icon" class="material-icons me-1" >{{icon}}</i>
    {{dateVal.getTime() | date:'HH:mm'}}
</div>
<div *ngIf="dateVal && pipe === 'timer'" class="icon-value flex-end"
        matTooltip="{{label}}: {{dateVal.getTime() | date:'MMM d, y HH:mm'}}" 
        matTooltipPosition="above" >
    {{dateVal.getTime() | date:'HH:mm'}}
    <i *ngIf="icon" class="material-icons ms-1" >{{icon}}</i>
</div>
<div *ngIf="pipe === 'min'" class="icon-value flex-start"
        matTooltip="{{label}}: {{value | periodmin}}" 
        matTooltipPosition="above" >
    <i class="material-icons me-1" >{{icon}}</i>
    <!--
    <div *ngIf="value < 0" class="mr-1">-</div>
    -->
    {{value | periodmin}}
</div>
<div *ngIf="pipe === 'periodmin'" class="icon-value flex-start"
        [ngClass]="{'red':(value > 0 && !icon), 'green-dark':(value < 0 && !icon)}"
        matTooltip="{{label}}: {{value | periodmin}}" 
        matTooltipPosition="above" >
    <i class="material-icons me-1" >{{icon}}</i>
    <!--
    <div *ngIf="value < 0" class="mr-1">-</div>
    -->
    {{value | periodmin}}
</div>
<div *ngIf="pipe === 'periodminr'" class="icon-value flex-end"
        matTooltip="{{label}}: {{value | periodmin}}" 
        matTooltipPosition="above" >
        <div *ngIf="value < 0" class="mr-1">-</div>
        {{value | periodmin}}
    <i class="material-icons ms-1" >{{icon}}</i>
</div>

<div *ngIf="pipe === 'delaymin'" class="icon-value flex-start"
        matTooltip="{{label}}: {{value | periodmin}}" 
        matTooltipPosition="above" >
    <i class="material-icons me-1" >{{icon}}</i>
    <!--
    <div *ngIf="value < 0" class="mr-1">-</div>
    -->
    {{value | periodmin}}
</div>
<div *ngIf="pipe === 'delayminr'" class="icon-value flex-end"
        [ngClass]="{'red':(value > 0 && !icon), 'green-dark':(value < 0 && !icon)}"
        matTooltip="{{label}}: {{value | periodmin}}" 
        matTooltipPosition="above" >
        <div *ngIf="value < 0" class="mr-1">-</div>
        {{value | periodmin}}
    <i class="material-icons ms-1" >{{icon}}</i>
</div>

<div *ngIf="pipe === 'periodmsr'" class="icon-value flex-end"
        matTooltip="{{label}}: {{value | periodms}}" 
        matTooltipPosition="above" >
        <div *ngIf="value < 0" class="me-1">-</div>
        {{value | periodms}}
    <i class="material-icons ms-1" >{{icon}}</i>
</div>
<div *ngIf="pipe === 'periodms'" class="icon-value flex-start"
        matTooltip="{{label}}: {{value | periodms}}" 
        matTooltipPosition="above" >
    <i class="material-icons me-1" >{{icon}}</i>
    <div *ngIf="value < 0" class="mr-1">-</div>
    {{value | periodms}}
</div>

<div *ngIf="pipe === 'periodday'" class="icon-value flex-start"
        matTooltip="{{label}}: {{value |  number:'1.0-0'}}" 
        matTooltipPosition="above" >
    <i class="material-icons me-1" >{{icon}}</i>
    {{value | number:'1.0-0'}}
    <div *ngIf="value==1" class="ms-1">day</div>
    <div *ngIf="value!==1" class="ms-1">days</div>
</div>
<div *ngIf="pipe === 'perioddayr'" class="icon-value flex-end"
        matTooltip="{{label}}: {{value | number:'1.0-0'}} days" 
        matTooltipPosition="above" >
    {{value | number:'1.0-0'}}
    <div *ngIf="value==1" class="ms-1">day</div>
    <div *ngIf="value!==1" class="ms-1">days</div>
    <i class="material-icons ms-1" >{{icon}}</i>
</div>

<div *ngIf="pipe === 'lpkm'" class="icon-value flex-start"
        matTooltip="{{label}}: {{value | lpkm}}" 
        matTooltipPosition="above" >
    <i class="material-icons me-1" >{{icon}}</i>
    {{value | lpkm}}
</div>
<div *ngIf="pipe === 'lpkmr'" class="icon-value flex-end"
        matTooltip="{{label}}: {{value | lpkm}}" 
        matTooltipPosition="above" >
    {{value | lpkm}}
    <i class="material-icons ms-1" >{{icon}}</i>
</div>

<div *ngIf="pipe === 'currency'" class="icon-value flex-start"
        [ngClass]="{'red':value < 0, 'green-dark': value > 0}"
        matTooltip="{{label}}: {{value | currency:'EUR'}}" 
        matTooltipPosition="above" >
    <i class="material-icons me-1" >{{icon}}</i>
    {{value | currency:'EUR'}}
</div>
<div *ngIf="pipe === 'currencyr'" class="icon-value flex-end"
        [ngClass]="{'red':value < 0, 'green-dark': value > 0}"
        matTooltip="{{label}}: {{value | currency:'EUR'}}" 
        matTooltipPosition="above" >
    {{value | currency:'EUR'}}
    <i class="material-icons ms-1" >{{icon}}</i>
</div>
