
<sx-filter-panel [panelVar]="panelInVar"  
    fptitle="Airport "
    [subtitle]="airport.apName"
    (closePanel)="closePanelLeftClick()"
    (subtitleClick)="spmAirportOpen()">
    <!--  -->
    <ams-wad-airport-filter-panel-body></ams-wad-airport-filter-panel-body>
    
</sx-filter-panel>

<div class="ams-content-body" [ngClass]="{'sidebar-open' :panelInVar!==in, 'sidebar-closed':panelInVar===in}">
    <router-outlet></router-outlet>
</div>

<div [@togleBtnTopRev]="!panelInVar"  (click)="expandPanelLeftClick()" class="side-tab-btn-top">
  <i class="material-icons modus-icons">east</i>
</div>
