<div class="modal-content">

    <div mat-dialog-title class="modal-header">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title flex-align-items">Charter Configuration 
            <span *ngIf="charter && charter.charterId" class="card-subtitle-1 ml-2" >№ {{charter.charterId}}</span>
            <span *ngIf="charter && charter.flightName" class="card-subtitle-1 ml-2" >{{charter.flightName}}</span>
            <span *ngIf="charter && charter.depApCode" class="card-subtitle-1 ml-2" >{{charter.depApCode}} - {{charter.arrApCode}}</span>
        </div>
    </div>

    <mat-dialog-content class="modal-body">
        <form class="d-flex flex-column" [formGroup]="formGrp">
            
            <div class="col-12 flex-align-items w-100 p-0">
                <div class="col-6 p-0" >
                    <mat-form-field floatLabel="always" class="w-100">
                        <input matInput placeholder="Departure Airport"
                            [matAutocomplete]="depApAuto"
                            name="depAp"
                            formControlName="depAp">
                        <mat-icon matSuffix  class="text-grey-500">flight_takeoff</mat-icon>    
                        <mat-autocomplete #depApAuto="matAutocomplete" 
                            [displayWith]="displayAirport" 
                            (optionSelected)="depApValueChange($event)">
                        <mat-option *ngFor="let option of depApOpt | async"  [value]="option">
                            <div class="flex flex-align-items header">
                                <div class="flex-start flex-align-items">
                                    <ams-ap-icon-svg *ngIf="option.svgcircle"
                                        [rw_svg_path_circle]="option.svgcircle"
                                        [rw_svg_line]="option.svgline"
                                        [ap_active]="option.active" >
                                    </ams-ap-icon-svg>
                                </div>
                                <div *ngIf="option.iata" class="title mr-2">{{option.iata}}</div>
                                <div *ngIf="!option.iata" class="title mr-2">{{option.icao}}</div>
                                <div class="title">{{option.apName}}, </div>
                                <div *ngIf="option.ctName"class="title mr-2">, {{option.ctName}} </div>
                                <div class="title">{{option.iso2 | uppercase}} </div>
                            </div>
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-1 p-0 text-center" >to</div>
                <div class="col-5 pe-0" >
                    <mat-form-field floatLabel="always" class="w-100">
                        <input matInput placeholder="Arrival Airport"
                            [matAutocomplete]="arrApAuto"
                            name="arrAp"
                            formControlName="arrAp">
                        <mat-icon matSuffix  class="text-grey-500">flight_land</mat-icon>    
                        <mat-autocomplete #arrApAuto="matAutocomplete" 
                            [displayWith]="displayAirport" 
                            (optionSelected)="arrApValueChange($event)">
                        <mat-option *ngFor="let option of arrApOpt | async"  [value]="option">
                            <div class="flex flex-align-items header">
                                <div class="flex-start flex-align-items">
                                    <ams-ap-icon-svg *ngIf="option.svgcircle"
                                        [rw_svg_path_circle]="option.svgcircle"
                                        [rw_svg_line]="option.svgline"
                                        [ap_active]="option.active" >
                                    </ams-ap-icon-svg>
                                </div>
                                <div *ngIf="option.iata" class="title mr-2">{{option.iata}}</div>
                                <div *ngIf="!option.iata" class="title mr-2">{{option.icao}}</div>
                                <div class="title">{{option.apName}}, </div>
                                <div *ngIf="option.ctName"class="title mr-2">, {{option.ctName}} </div>
                                <div class="title">{{option.iso2 | uppercase}} </div>
                            </div>
                        </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>

            <div class="col-12 flex-align-items w-100 p-0">
                <div class="col-3 p-0" >
                    <mat-form-field floatLabel="always" class="w-100" >
                        <mat-label>Payload Type</mat-label>
                        <mat-select name="payloadType" formControlName="payloadType" (selectionChange)="payloadTypeChanged()"> 
                          <mat-option *ngFor="let pt of payloadTypeOpt" [value]="pt.id">
                            <div class="flex-align-items" >
                                <ams-icon-payload-type [payloadType]="pt.id"></ams-icon-payload-type>
                                <div class="mr-2 ml-1">{{pt.name }}</div>
                            </div>
                            
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </div>
                <div class="col-1 pe-0 flex-end" >
                    <ams-icon-payload-type *ngIf="!disablePax" [payloadType]="payloadType.value"></ams-icon-payload-type>
                </div>
                <div class="col-2 ps-0" >
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>pax</mat-label>
                        <input matInput type="number"  placeholder="Number of passengers"  formControlName="pax">
                        <mat-icon matSuffix class="text-grey-500">groups</mat-icon>
                        
                        <mat-error *ngIf="pax.invalid">{{fError('pax')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-1 pe-0 flex-end" >
                    <ams-icon-payload-type *ngIf="!disableCargo" [payloadType]="payloadType.value"></ams-icon-payload-type>
                    <div *ngIf="disableCargo" class="icon-value">
                        <img [src]="cargoImgUrl" alt="Cargo" class="mr-2" style="opacity: 0.2;" />
                    </div>
                </div>
                <div class="col-2 ps-0" >
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Cergo KG</mat-label>
                        <input matInput type="number"  placeholder="Number of passengers"  formControlName="cargoKg">
                        <mat-icon matSuffix class="text-grey-500">inventory</mat-icon>
                        
                        <mat-error *ngIf="cargoKg.invalid">{{fError('cargoKg')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-3 pe-0" ></div>
            </div>

            <div class="col-12 flex-align-items w-100 p-0">
                <div class="col-2 pe-2" >
                    <mat-form-field floatLabel="always" class="w-100" >
                        <mat-label>Frequency in days</mat-label>
                        <mat-select name="payloadType" formControlName="periodDays" required> 
                          <mat-option *ngFor="let pt of periodDaysOpt" [value]="pt">
                            <div class="flex-align-items" >
                                <div class="ml-1">{{pt | number:'1.0-0'}} </div>
                                <div *ngIf="pt == 1" class="ml-1">day</div>
                                <div *ngIf="pt !== 1" class="ml-1">days</div>
                            </div>
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
        
                <div class="col-5" >
                    <mat-form-field floatLabel="always" class="w-100" >
                        <mat-label>Code</mat-label>
                        <mat-select name="codeOpt" formControlName="codeOpt" (selectionChange)="codeOptChanged()"> 
                          <mat-option *ngFor="let pt of charterCodeOpt" [value]="pt.code" >
                            <div class="flex-align-items" >
                                <div class="ml-1">{{pt.code}} </div>
                                <div class="ml-1 ellipsis">{{pt.note}}</div>
                            </div>
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-1 po-0" ></div>
                <div class="col-4 p0-0" >
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Choose a start date</mat-label>
                        <input matInput [ngxMatDatetimePicker]="picker"  placeholder="Choose a start date" name="nextRun" formControlName="nextRun" [min]="minNextRun">
                        <mat-datepicker-toggle matSuffix [for]="$any(picker)"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
                            [stepHour]="1" [stepMinute]="1" [stepSecond]="0"
                            [touchUi]="false"  [enableMeridian]="true" 
                            [disableMinute]="false" [hideTime]="false">
                        </ngx-mat-datetime-picker>
                    </mat-form-field>
                    <!--
                    <mat-form-field floatLabel="always" appearance="standard" class="w-100">
                        <mat-label>Choose a start date</mat-label>
                        <input matInput [matDatepicker]="picker" name="nextRun" formControlName="nextRun" [min]="minNextRun">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                -->
                </div>
            </div>
            <div class="col-12 flex-align-items w-100 p-0">
                <div class="col-7 p-0" >
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Description</mat-label>
                        <input matInput type="text"  placeholder="Name"  formControlName="flightDescription" required>
                        <mat-error *ngIf="flightDescription.invalid">{{fError('flightDescription')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-1 p-0" ></div>
                <div class="col-4 p-0" >
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Code <i>charter company code</i></mat-label>
                        <input matInput type="text"  placeholder="Code"  formControlName="flightName" required>
                        <mat-hint class="ellipsis">2 or 3-letter charter company code used to identify flight</mat-hint>
                        <mat-error *ngIf="flightName.invalid">{{fError('flightName')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end mr-2">
                <button mat-button color="secondary" (click)="onCansel()" class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="formGrp.invalid" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
