<ts-sx-navbar (snavToggle)="snavToggleClick()" >
    <ams-al-fleet-menu-main></ams-al-fleet-menu-main>
</ts-sx-navbar>

<mat-sidenav-container>
    <mat-sidenav #snav [mode]="snavmode"  opened fixedTopGap="64">
        <sx-sidebar-nav #sxSide></sx-sidebar-nav>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <div class="ams-content" >
            <div class="ams-content-body ">
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
        
</mat-sidenav-container>


