    <mat-tab-group  mat-stretch-tabs #branchTabs preserveContent
        class="mat-card" 
        [selectedIndex]="selTabIdx"
        (selectedIndexChange)="selectedTabChanged($event)">

        <!-- -TAB 0 dashboard --> 
        <mat-tab label="Dashboard">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">dashboard</mat-icon>
                Dashboard
            </ng-template>
            <div class="sx-tab-full-blue panel-wrap">
                <img class="panel-right" [src]="amsImgUrl" alt="bg" >
                <div class="panel-content white">
                    <h1 *ngIf="country">{{country?.cName}}</h1>
                    <!--
                    <ams-map-liflet-ap  #leafletMap [isVisible]="selTabIdx===0"></ams-map-liflet-ap>
                    -->
                </div>
            </div>
           
        </mat-tab>

        <!-- -TAB 1 UseCase --> 
        <mat-tab label="Usecase">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">account_balance</mat-icon>
                <!--
                <img class="tab-icon neighbor-icon" src="/assets/images/common/project_tr.png" alt="Dashboard">
                -->
                States
            </ng-template>
            <ams-wad-country-home-tab-state tabindex="1"></ams-wad-country-home-tab-state>
            <!--
                <ams-wad-subregion-home-tab-state tabindex="1"></ams-wad-subregion-home-tab-state>
            <sx-project-home-tab-usecase tabindex="1" (editUseCase)="editUseCase($event)"></sx-project-home-tab-usecase>
            -->
        </mat-tab>
        <mat-tab label="Airports">
            <ng-template mat-tab-label>
                <img class="tab-icon neighbor-icon" [src]="airportsImgUrl" alt="Dashboard">
                Airports
            </ng-template>
            <ams-wad-country-home-tab-airports tabindex="2" ></ams-wad-country-home-tab-airports>
        </mat-tab>
                
    </mat-tab-group>
    
