<!-- this needs to fade in -->
<div 
    [@showHideTriggerBlock]="expandPanelVar" 
    class="side-panel-modal-overlay" 
    (click)="handleClosePanelClick()" >
</div>
<!-- this needs to slide in -->
<div [@expandSidePanelTriggerLarge]="expandPanelVar" class="side-panel-modal-large-container"> 
    <div class="side-panel-modal-body">
        <div class="clear-button-container" >
            <button mat-icon-button class="mat-icon-button-24 link" (click)="handleClosePanelClick()">
                <mat-icon>clear</mat-icon>
                <!--&times;-->
            </button>
        </div>
        <ng-content></ng-content>
    </div> <!-- body -->
</div><!-- container -->