
    <!-- modus-content -->
    <div class="modus-content-rows vh-100">
        <div class="modus-content-columns">
            <!-- Modus Panel -->
            <sx-filter-panel [panelVar]="panelInVar"  
                fptitle="AMS"
                subtitle="User"
                (closePanel)="closePanelLeftClick()"
                (subtitleClick)="spmUserOpen()">
                <!--
                <ams-wad-country-filter-panel-body>
                </ams-wad-country-filter-panel-body>
                -->
            </sx-filter-panel>
  
          <!-- Modus Content -->
          
            <div class="modus-content sx-tabs">
                <router-outlet></router-outlet>
            </div>
          
        </div>
        
    </div><!-- modus-content end-->

<div [@togleBtnTopRev]="!panelInVar"  (click)="expandPanelLeftClick()" class="side-tab-btn-top">
     <!--
  <i class="modus-icons">one_way_right</i>
  -->
  <i class="material-icons modus-icons">east</i>
</div>
