<div class="panel-body" style="flex-grow: 1">
    <!-- Static Container -->
    <div class="static-container">
      <div class="d-flex flrx-align-items flex-space-between w-100">

        <div class="flex-align-items flex-start">

          <button *ngIf="region" class="btn btn-icon-only btn-text-primary m-l-5" 
            matTooltip="Region: {{region.rName}}"
            matTooltipPosition="above" 
            [routerLink]="[roots.Root, roots.wad, roots.region]"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  >
            <i class="modus-icon material-icons text-primary">public</i>
          </button>
          <button *ngIf="subregion" class="btn btn-icon-only btn-text-primary m-l-5" 
            matTooltip="Subregion: {{subregion.srName}}"
            matTooltipPosition="above" 
            [routerLink]="[roots.Root, roots.wad, roots.subregion]"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  >
            <i class="modus-icon material-icons text-primary">workspaces</i>
          </button>
          
          <div *ngIf="country" class="flex-align-items image-16 ml-1 link"
            matTooltip="Country: {{country?.cName}} ({{country.iso2}})"
            matTooltipPosition="above" 
            [routerLink]="[roots.Root, roots.wad, roots.country]"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
            <img class="card-subtitle-1 mb-1"  src="{{country.flagUrl}}" alt="{{country.iso2}}"/>
          </div>
          <button *ngIf="state" class="btn btn-icon-only btn-text-primary ml-2" 
            matTooltip="State: {{state.stName}}"
            matTooltipPosition="above" 
            [routerLink]="[roots.Root, roots.wad, roots.state]"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  >
            <i class="modus-icon material-icons text-primary">apartment</i>
          </button>
         
        </div>
        
        <div class="flex-align-items flex-end">
         
          <div class="" ngbDropdown  *ngIf="state">
            <sx-format-control 
                class="link size-18"
                label="" color="light"
                [matMenuTriggerFor]="stateMenu"
                icon="calendar_view_day">
            </sx-format-control>
            <mat-menu #stateMenu="matMenu">
                <button *ngIf="canEdit" mat-menu-item class="link" (click)="ediAirport()">
                    <mat-icon>edit</mat-icon> 
                    <span>Edit Airport</span>
                </button>
                <button mat-menu-item class="link" (click)="spmMapOpen()">
                  <mat-icon>map</mat-icon> 
                  <span>View on Map</span>
              </button>

              <div *ngIf="canEdit" class="dropdown-divider"></div>
              <button mat-menu-item  class="link" (click)="spmStateOpen()">
                  <mat-icon>info</mat-icon> 
                  <span>{{country?.cName}}</span>
              </button>
              
              <button *ngIf="subregion" mat-menu-item  class="link" (click)="spmSubregionOpen()">
                <mat-icon>info</mat-icon> 
                <span>{{subregion.srName}}</span>
              </button>
              <button *ngIf="region" mat-menu-item  class="link" (click)="spmRegionOpen()">
                <mat-icon>info</mat-icon> 
                <span>{{region.rName}}</span>
              </button>

              <div class="dropdown-divider"></div>
              <button *ngIf="subregion" mat-menu-item  class="link" (click)="gotoCountry()">
                <mat-icon>open_in_browser</mat-icon> 
                <span>Go to Country</span>
              </button>
              <button *ngIf="subregion" mat-menu-item  class="link" (click)="gotoSubregion()">
                <mat-icon>open_in_browser</mat-icon> 
                <span>Go to Subregion</span>
              </button>
              <button *ngIf="subregion" mat-menu-item  class="link" (click)="gotoRegion()">
                <mat-icon>open_in_browser</mat-icon> 
                <span>Go to Region</span>
              </button>
              
            </mat-menu>
            
        </div>
          <sx-button-round 
              message="Show Airport Details" tooltipPlacement="bottom"
               color="light"
              (click)="spmAirportOpen()" 
              icon="info"> 
          </sx-button-round>
        </div>
        
      </div>
    </div>

    <div class="col-12 m-0 p-0">
      <div class="side-panel-sec m-0" *ngIf="state">
        <div class="side-panel-sec-rows p-0">

          <div class="sp-row p-2 m-0 bg-white" >
            <div class="flex-start flex-align-items">
              <i class="material-icons size-20"  
                matTooltipPosition="above" matTooltip="Selected City" 
                [ngClass]="{'blue':city,'gray':!city}">apartment</i>       
              <div class="flex ml-1">
                 <span *ngIf="city" class="blue">{{city.ctName}}</span> 
              </div>
            </div>
            <div class="flex-end flex-align-items">
              <button mat-icon-button  *ngIf="(canEdit && city.cityId)"
                [color]="calcCityPpdColor"
                matTooltip="Calculate City Payload Demand" 
                matTooltipPosition="above"
                (click)="calcCityPayloadDemendClick()">
                <mat-icon>assured_workload</mat-icon>
              </button>
              <ams-img-link *ngIf="city && city.wikiUrl" 
                type="wiki" [url]="city.wikiUrl" class="ml-2 size-16">
              </ams-img-link>
            </div>
          </div>

          <div class="sp-row ps-2 pe-2 pb-2 m-0 bg-white" >
            <div class="flex-start flex-align-items" *ngIf="airport"
                    matTooltip="Airport: {{airport.apName}} ({{airport.apId}})" 
                    matTooltipPosition="above" >
                    <ams-icon-ap-active [value]="airport.active"></ams-icon-ap-active>
                    <div class="flex ml-1">{{airport.apName}}</div>
                </div>
          </div>
         
        </div>
      </div>
    </div>


    <!-- Scroll Container -->
    <div class="scroll-container p-1">
      <ams-card-airport-info [airport]="airport" class="card p-1"></ams-card-airport-info>
      <!--
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            Panel Content
            <a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="" 
            style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a>
          </h5>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Explicabo asperiores doloremque dolorum qui
            ducimus quae eius alias perspiciatis, quod, libero
            fuga recusandae quidem molestias nobis non soluta.
            Doloremque, in iusto?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Explicabo asperiores doloremque dolorum qui
            ducimus quae eius alias perspiciatis, quod, libero
            fuga recusandae quidem molestias nobis non soluta.
            Doloremque, in iusto?
          </p>
        </div>
      </div>
      -->
    </div>
  </div>