<div class="panel-body" style="flex-grow: 1">
    <!-- Static Container -->
    <div class="static-container p-0">
      <div class="flrx-align-items flex-space-between w-100">

        <div class="flex-align-items flex-start"> 

          <button class="btn btn-icon-only btn-text-primary m-l-5" 
            matTooltip="Go to Manufacturer List"
            matTooltipPosition="above" 
            [routerLink]="[roots.Root, roots.admin, roots.manufacturers]"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  >
            <i class="modus-icon material-icons text-primary">precision_manufacturing</i>
          </button>
          <button *ngIf="subregion" class="btn btn-icon-only btn-text-primary m-l-5" 
            matTooltip="Subregion: {{subregion.srName}}"
            matTooltipPosition="above" 
            [routerLink]="[roots.Root, roots.wad, roots.subregion]"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  >
            <i class="modus-icon material-icons text-primary">workspaces</i>
          </button>
          <button *ngIf="country" class="btn btn-icon-only btn-text-primary m-l-5" 
            matTooltip="Country: {{country?.cName}} ({{country.iso2}})"
            matTooltipPosition="above" 
            [routerLink]="[roots.Root, roots.wad, roots.country]"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  >
            <img src="{{country.flagUrl}}" alt="{{country.iso2}}"/>
          </button>
          <button *ngIf="state" class="btn btn-icon-only btn-text-primary m-l-5" 
            matTooltip="State: {{state.stName}}"
            matTooltipPosition="above" 
            [routerLink]="[roots.Root, roots.wad, roots.state]"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  >
           {{state.stName}}
          </button>
          <!--
          <ams-img-link *ngIf="state && state.wikiUrl" 
              type="wiki" [url]="state.wikiUrl" class="ml-2">
          </ams-img-link>
          <ams-img-link *ngIf="state && state.iso" 
              type="oa" [state_iso]="state.iso" class="ml-2">
          </ams-img-link>
         -->
        </div>
        
        <div class="flex-align-items flex-end">        
            <div ngbDropdown  *ngIf="manufacturer">
              <sx-format-control 
                  class="link size-18"
                  label="" color="light"
                  [matMenuTriggerFor]="mfrMenu"
                  icon="calendar_view_day">
              </sx-format-control>
              <mat-menu #mfrMenu="matMenu">
                
                  <button mat-menu-item class="link blue" (click)="ediManufacturer()">
                      <mat-icon class="link blue">edit</mat-icon> 
                      <span>Edit Manufacturer</span>
                  </button>
                  <button mat-menu-item class="link blue" (click)="ediMfrAirport()">
                    <mat-icon class="link blue">edit</mat-icon> 
                    <span>Edit HQ Airport</span>
                </button>

                <div class="dropdown-divider"></div>
                <button mat-menu-item (click)="spmManufacturerOpen()">
                    <mat-icon class="link blue">info</mat-icon> 
                    <span>{{manufacturer.mfrName}}</span>
                </button>
                
              </mat-menu>
              
            </div>
          <sx-button-round 
              message="Show Manufacturer Details" tooltipPlacement="bottom"
               color="light"
              (click)="spmManufacturerOpen()" 
              icon="info"> 
          </sx-button-round>
        </div>
        
      </div>

    </div>

    <!-- Scroll Container -->
    <div class="scroll-container p-2">
      <ams-card-mfr-info [mfr]="manufacturer" [airport]="airport"></ams-card-mfr-info>
      <div class="card" *ngIf="manufacturer">
        <div class="card-body">
          <h5 class="card-title">
            Notes
            <a class="anchorjs-link " aria-label="Anchor" data-anchorjs-icon="" 
            style="font: 1em / 1 anchorjs-icons; padding-left: 0.375em;"></a>
          </h5>
          <p [innerHTML]="manufacturer.notes">
          </p>
        </div>
      </div>
      

    </div>
  </div>