<div class="flex-center" matTooltip="{{tooltip}}">
    <mat-icon *ngIf="value" class="link-green" (click)="handleClick()">play_circle_outline</mat-icon>
    <mat-icon *ngIf="!value" class="link gray" (click)="handleClick()">pause_presentation</mat-icon>
</div>
