<div class="text-center">
    <mat-icon *ngIf="value === true" class="link-green" (click)="handleClick(false)">done</mat-icon>
    <mat-icon *ngIf="value === false" class="" (click)="handleClick(true)">clear</mat-icon>
</div>
