<div *ngIf="(airport$ | async) && !right" class="icon-value flex-start ellipsis"
    matTooltip="Arrival Airport: {{airport.iata?airport.iata:airport.icao}} {{airport.apName}} ({{airport.apId}})" 
    matTooltipPosition="above"  >
    <i  *ngIf="showIcon" class="material-icons mr-1" >flight_land</i>
    {{airport.apName}}
</div>
<div *ngIf="(airport$ | async) && right" class="icon-value flex-end ellipsis"
    matTooltip="Arrival Airport: {{airport.iata?airport.iata:airport.icao}} {{airport.apName}} ({{airport.apId}})" 
    matTooltipPosition="above"  >
    {{airport.apName}}
    <i  *ngIf="showIcon" class="material-icons ml-1" >flight_land</i>
</div>
