<mat-tab-group mat-stretch-tabs #flInfoTabs class="mat-card col-12 px-4 flight-info" *ngIf="flight">

        <!-- -TAB 0 MAP --> 
        <mat-tab label="Map">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">map</mat-icon>
                Map
            </ng-template>
            <div  class="flex-align-items w-100">
                <div class="col-6 p-0 text-center">
                    <img src="{{staticMapUrl}}" alt="{{flight.flId}}" class="w-100">
                </div>
                <div class="col-6 ps-2" [ngClass]="{'col-12':small,'col-6':!small}">
                    <div class="side-panel-sec">
                        <div class="side-panel-sec-rows">
                            <div class="sp-row border-bottom border-tertiary">
                                <div class="flex-start flex-align-items">
                                    <ams-icon-flight-type class="blue pe-1" [flType]="flight.flTypeId"></ams-icon-flight-type>
                                    <div class="flex-start ps-1 text-ellipsis">{{flight.flTypeId | flighttype}}</div>
                                    <div class="flex-start ps-1">({{flight.flId}})</div>
                                </div>
                            </div>
                            <div class="sp-row border-bottom border-tertiary">
                                <div class="col-5 p-0 flex-start text-ellipsis">
                                    <ams-icon-ap-code [apId]="flight.depApId" [showName]="true" class="flex"></ams-icon-ap-code>
                                </div>
                                <div class="col-2 p-0 text-center">to</div>
                                <div class="col-5 p-0 flex-start text-ellipsis">
                                    <ams-icon-ap-code [apId]="flight.arrApId" [showName]="true" class="flex"></ams-icon-ap-code>
                                </div>
                            </div>
                            <div class="sp-row border-bottom border-tertiary" *ngIf="payloadsum">
                                <div class="flex-start flex-align-items">
                                    <div class="flex-start pe-2 text-ellipsis">Payloads: </div>
                                    <div class="flex flex-align-items">
                                        <ams-icon-payload-type 
                                            class="flex pe-1"
                                            *ngFor="let pl of payloadsum"
                                            [payloadType]="pl.payloadType"
                                            [pax]="pl.pax"
                                            [cargoKg]="pl.cargoKg">
                                        </ams-icon-payload-type>
                                    </div>
                                </div>
                            </div>
                            <div class="sp-row border-bottom border-tertiary" *ngIf="!payloadsum">
                                <div class="flex-start flex-align-items">
                                    <div class="flex-start pe-2 text-ellipsis">No Payloads: </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="side-panel-sec mt-2">
                        <div class="side-panel-sec-rows">
                           
                            <div class="sp-row border-bottom border-tertiary">
                                <div class="flex-start" *ngIf="(flight.revenue>0)">Compleated</div>
                                <div class="flex-start" *ngIf="!(flight.revenue>0)">{{flight.acfsId | acfl}}: {{flight.acfsId | acflmon}}</div>
                            </div>
                             <!-- IN FLIGHT -->
                            <div class="sp-row border-bottom border-tertiary" *ngIf="flight.speedKmPh>0">
                                <div class="flex-start">
                                    <ams-icon-value *ngIf="flight.speedKmPh" 
                                        pipe="speed" icon="speed"
                                        [value]="flight.speedKmPh" label="Current Speed">
                                    </ams-icon-value>
                                </div>
                                
                                <div class="flex-end">
                                    <ams-icon-value *ngIf="flight.remainTimeMin" 
                                        pipe="periodminr" icon="timelapse"
                                        [value]="flight.remainTimeMin" label="Remaining Flight Duration">
                                    </ams-icon-value>
                                </div>
                            </div>
                            <div class="sp-row border-bottom border-tertiary" *ngIf="flight.speedKmPh>0">
                                <div class="flex-start">
                                    <ams-icon-value *ngIf="flight.remainDistanceKm" 
                                        pipe="lenkm" icon="travel_explore"
                                        [value]="flight.remainDistanceKm" label="Remaining Distance">
                                    </ams-icon-value>
                                </div>
                                
                                <div class="flex-end">
                                    <div *ngIf="!(flight.delayMin > 0)" class="ellipsis text-left" 
                                        matTooltip="{{flight.acfsId | acfl}}: {{flight.acfsId | acflmon}}"
                                        matTooltipPosition="above">
                                            {{flight.acfsId | acflmon}}
                                    </div>
                                    <div *ngIf="(flight.delayMin > 0)" class="ellipsis text-left orange flex-align-items " 
                                        matTooltip="{{flight.acfsId | acfl}}: {{flight.acfsId | acflmon}} delay {{flight.delayMin | periodmin }}"
                                        matTooltipPosition="above">
                                            <ams-icon-value class="orange"
                                                pipe="periodminr"
                                            [value]="flight.delayMin" label="Delay ">
                                        </ams-icon-value>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- COMPLEATED FLIGHT -->
                            <div class="sp-row border-bottom border-tertiary">
                                <div class="flex-start">
                                    <ams-icon-value  
                                        pipe="currency" icon="add_shopping_cart" class="green"
                                        [value]="flight.income" label="Income">
                                    </ams-icon-value>
                                </div>
                                
                                <div class="flex-end">
                                    <ams-icon-value *ngIf="flight.expences" 
                                        pipe="currencyr" icon="shopping_cart_checkout"
                                        [value]="flight.expences" label="Expences">
                                    </ams-icon-value>
                                </div>
                            </div>
                            <div class="sp-row border-bottom border-tertiary" *ngIf="flight.revenue>0">
                                <div class="flex-start green" [ngClass]="{'green':flight.revenue >= 0,'red':flight.revenue<0}">Profit:</div>
                                <ams-icon-value *ngIf="flight.revenue" class="flex-end"
                                    pipe="currencyr" icon="paid"
                                    [value]="flight.revenue" label="Profit">
                                </ams-icon-value>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </mat-tab>

        <!-- -TAB 1 Flight --> 
        <mat-tab label="Flight">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">flight</mat-icon>
                Flight
            </ng-template>
            <div class="side-panel-sec" *ngIf="flight">
                <div class="side-panel-sec-rows">
                    <div class="sp-row">
                        <div class="pe-1">#{{flight.flId}}</div>
                        <div class="ps-1 text-ellipsis">{{flight.flName}}</div>
                    </div>
                    <div class="sp-row">
                        <div class="text-ellipsis thin">
                            {{flight.flDescription}}
                        </div>
                    </div>
                    <div class="sp-row border-bottom border-tertiary">
                        <div class="col-5 p-0 flex-start text-ellipsis">
                            <ams-icon-ap-code [apId]="flight.depApId" [showName]="true" class="flex"></ams-icon-ap-code>
                        </div>
                        <div class="col-2 p-0 text-center">to</div>
                        <div class="col-5 p-0 flex-end text-ellipsis">
                            <ams-icon-ap-code [apId]="flight.arrApId" [showName]="true" class="flex"></ams-icon-ap-code>
                        </div>
                    </div>
                    <div class="sp-row border-bottom border-tertiary">
                        <ams-icon-ap-max-rw [apId]="flight.depApId" [isright]="false" class="flex"></ams-icon-ap-max-rw>
                        <ams-icon-ap-max-rw [apId]="flight.arrApId" [isright]="true" class="flex"></ams-icon-ap-max-rw>
                    </div>
                    <div class="sp-row border-bottom border-tertiary">
                        <ams-icon-value *ngIf="flight.distanceKm" pipe="lenkm" icon="travel_explore"
                            [value]="flight.distanceKm" label="Distance">
                        </ams-icon-value>
                        <ams-icon-value *ngIf="flight.fuelL" 
                            pipe="litersr" icon="local_gas_station"
                            [value]="flight.fuelL" label="Fuel L">
                        </ams-icon-value>
                    </div>
                    <div class="sp-row border-bottom border-tertiary" *ngIf="flight.dtime">
                        <div class="flex-start">
                            <ams-icon-value *ngIf="flight.dtime" class=""
                                pipe="datetime" icon="flight_takeoff"
                                [value]="flight.dtime" label="Departure at">
                            </ams-icon-value>
                        </div>
                        
                        <div class="flex-end">
                            <ams-icon-value *ngIf="flight.atime" class=""
                                pipe="datetimer" icon="flight_land"
                                [value]="flight.atime" label="Arrival at">
                            </ams-icon-value>
                        </div>
                    </div>
                    <div class="sp-row border-bottom border-tertiary">
                        <div class="flex-start ellipsis">
                            <ams-icon-value *ngIf="flight.etdTime" class="gray"
                                pipe="datetime" icon="flight_takeoff"
                                [value]="flight.etdTime" label="ETD">
                            </ams-icon-value>
                        </div>
                        <div class="flex-end ellipsis">
                            <ams-icon-value *ngIf="flight.etaTime" class="gray"
                                pipe="datetimer" icon="flight_land"
                                [value]="flight.etaTime" label="ETA">
                            </ams-icon-value>
                        </div>
                    </div>

                    <div class="sp-row border-bottom border-tertiary" *ngIf="flight.chPaxLeft || flight.chCargoLeft">
                        <div class="flex-align-items pe-1" >
                            <div class="flex pe-1">Completion:</div>
                            <div class="flex" *ngIf="flight.chCompletedPct" >{{flight.chCompletedPct/100 | percent:'1.0-2'}}</div>
                        </div>
                        <div class="flex-align-items pe-1" *ngIf="flight.chPaxLeft">
                            <div class="flex pe-1">pax left:</div>
                            <div class="flex" >{{flight.chPaxLeft | number:'1.0-2'}}</div>
                        </div>
                        <div class="flex-align-items pe-1" *ngIf="flight.chCargoLeft">
                            <div class="flex pe-1">cargo left:</div>
                            <div class="flex" >{{flight.chCargoLeft | number:'1.0-2'}}</div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </mat-tab>

        <!-- -TAB 2 Paylods --> 
        <mat-tab label="Paylods">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">flight</mat-icon>
                Paylods
            </ng-template>
            <div class="side-panel-sec" *ngIf="flight?.payloads">
                <div class="side-panel-sec-rows">
                    <div class="sp-row border-bottom border-tertiary"  *ngFor="let pl of flight?.payloads">
                        <ams-icon-payload-type 
                            class="flex pe-2 col-2"
                            [payloadType]="pl.payloadType"
                            [pax]="pl.pax"
                            [cargoKg]="pl.cargoKg">
                        </ams-icon-payload-type>
                        <div class="pe-1 text-ellipsis col-8 text-left">{{pl.description}}</div>
                        <div class="ps-1 text-ellipsis col-2 text-right">{{pl.price | currency:'EUR'}}</div>
                    </div>
                </div>
            </div>
        </mat-tab>
         
    </mat-tab-group>





