<div class="sxtable-container-full card m-0">
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary">
            <div class="flex-align-items flex-space-between w-100 white h64">
                <div class="flex-start flex-align-items">
                    <span class="semi-bold px-2">{{dataCount | number:'1.0-0'}}</span>
                    <span>Aircrafts</span>
                </div>
                <div class="flex-end h64">
                    
                    <mat-form-field class="white">
                        <mat-label class="white"><mat-icon>filter_list_alt</mat-icon><i>filter</i></mat-label>
                        <input matInput (keyup)="applyFilter($event)" class="white" type="text" [(ngModel)]="filter">
                        @if (filter) {
                            <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
                              <mat-icon class="white">close</mat-icon>
                            </button>
                          }
                    </mat-form-field>
    
                    <button mat-icon-button class="pe-1"
                        matTooltip="Reload Data"
                        matTooltipPosition="above" 
                        color="accent"
                        [disabled]="(tableds.loading$ | async)"
                        (click)="refreshClick()">
                        <mat-icon>refresh</mat-icon>
                    </button>
                    
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">
    
            <ng-container matColumnDef="action" sticky>
                <th mat-header-cell *matHeaderCellDef class="txt-ell-120"></th>
                <td mat-cell *matCellDef="let aicraft" class="txt-ell-120">
                    <div class="flex flex-align-items">
                        
                        <sx-button-round 
                            (click)="gotoAircraft(aicraft)"
                            position="left" 
                            icon="open_in_new"
                            message="View Aircraft"> 
                        </sx-button-round>
                        <sx-button-round 
                            message="Show Aircrafts Details" tooltipPlacement="bottom"
                            color="light"
                            (click)="spmAircraftOpen(aicraft)" 
                            icon="info"> 
                        </sx-button-round>
                        <ams-icon-ac-for-shedule 
                            [isforschedule]="aicraft.forSheduleFlights"  
                            [grpId]="aicraft.grpId"
                            (click)="togleIsforschedule(aicraft)">
                        </ams-icon-ac-for-shedule>
                        <!--
                        <mat-icon class="material-icons ml-1 link-green"  
                            *ngIf="aicraft.acActionTypeId == acatPlaneStand && !aicraft.flInQueue"
                            (click)="viewCharterFlights(aicraft)"
                            matTooltip="View Charter Flights"
                            matTooltipPosition="above">
                            schedule_send
                        </mat-icon>
                            -->
                        <mat-icon class="material-icons ms-1 link-red"  
                            [ngClass]="{'gray':aicraft.acActionTypeId !== acatPlaneStand}"
                            *ngIf="aicraft.canAssignMaintenance"
                            (click)="setMnt(aicraft)"
                            matTooltip="Aircraft maintenance approaching. It is imperative to perform the necessary maintenance actions in order to keep an aircraft airworthy and ensure safe operations."
                            matTooltipPosition="above">
                            handyman
                        </mat-icon>
                    </div>
                
                </td>
            </ng-container>
            <ng-container matColumnDef="image" >
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80 text-center">Aircraft</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80 text-center">
                    <!--
                    <ams-al-livery [alId]="row.ownerAlId" tooltip="Aircraft Owner"></ams-al-livery>
                    -->
                    <div *ngIf="row.imgTableUrl" class="icon-value mr-1">
                        <img src="{{row.imgTableUrl}}" alt="{{row.acId}}"/>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="acId"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-60-sort text-right">№</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <div class="flex-align-items w-100 text-right">
                        <div>{{row.acId}}</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="registration" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 ps-2">Registration</th>
                <td mat-cell *matCellDef="let row" class="pl-2">
                    <div class="flex-align-items">
                        <div>{{row.registration}}</div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="currApId" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80">Airport</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort  pe-3">
                    <div *ngIf="row.currApId"  class="flex-align-items w-100"
                        matTooltip="Current Airport: {{row.currAp}}" 
                        matTooltipPosition="above">
                        <div>{{row.currApCode}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="flightHours" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 ps-4 text-right">
                    <div class="flex-align-items image-16 w-100 text-right" 
                        matTooltip="Total Flight Hours"
                        matTooltipPosition="above" >
                        <mat-icon class="white m-t-8 m-r-4 f-s-16" >timelapse</mat-icon>
                        <!--
                        <img src="{{seatsEImgUrl}}" alt="Cargo" class="mr-2"/>
                        -->
                    </div>
                    
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="flex-align-items w-100 pe-3">
                        <div class="w-100">{{(row.flightHours*60) | periodmin}}</div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="distanceKm" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-100-sort text-right">
                    <div class="flex-align-items image-16 w-100 text-right" 
                        matTooltip="Total Distance"
                        matTooltipPosition="above" >
                        <mat-icon class="white flex-end" >travel_explore</mat-icon>
                        <!--
                        <img src="{{seatsEImgUrl}}" alt="Cargo" class="mr-2"/>
                        -->
                    </div>
                    
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100-sort text-right">
                    <div class="flex-align-items w-100 text-right">
                        <div class="pr-1">{{row.distanceKm | nmi}}</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="acStatusId"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-100-sort text-left">State</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100-sort text-left">
                    <div class="flex-align-items w-100 text-left">
                        <ams-icon-ac-status class="pr-1" [acStatusId]="row.acStatusId"></ams-icon-ac-status> 
                        <div class="flex ps-1" matTooltip="Status: {{row.acStatusId | acstatus}}, AC Action: {{row.acActionTypeId | acat}}" >{{row.acActionTypeId | acat}}</div> 
                    </div>
                    
                </td>
            </ng-container>
            <ng-container matColumnDef="state"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80-sort text-right">Condition</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="flex-align-items w-100 text-right">
                        {{(row.state/100)| percent:'1.0-2'}}
                    </div>
                    
                </td>
            </ng-container>
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-100-sort text-right">Price</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="flex-align-items w-100 text-right" >
                        <div class="pr-1">{{row.price| currency:'EUR' }}</div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="cabinId" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80-sort text-right">
                    <div class="flex-align-items image-16 w-100 text-right" 
                        matTooltip="Cabin configuration name and confort rate"
                        matTooltipPosition="above" >
                        <mat-icon class="white flex-end" >flight_class</mat-icon>
                        <!--
                        <img src="{{seatsEImgUrl}}" alt="Cargo" class="mr-2"/>
                        -->
                    </div>
                    
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="flex-align-items w-100  text-right pe-2" matTooltipPosition="above"
                        matTooltip="Cabin Name: {{row.cabinName}}, Confort: {{row.confort | number:'1.0-2'}}" >
                        <div class="pr-1 ellipsis">{{row.cabinName}}</div>
                        <div *ngIf="row.confort">({{row.confort | number:'1.0-2'}})</div>
                    </div>
                </td>
            </ng-container>
            
        <!--
           
            
            <ng-container matColumnDef="seatCrew" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 ps-2">Crue</th>
                <td mat-cell *matCellDef="let row" class="pl-2 text-right">
                    <div class="flex-align-items w-100">
                        <div *ngIf="row.seatCrew" class="mr-2 ml-1">{{row.seatCrew | number:'1.0-0'}}</div>
                    </div>
                </td>
            </ng-container>
            
            
    
            <ng-container matColumnDef="isDefault">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="70px" class="text-center">Default</th>
                <td mat-cell *matCellDef="let row" class="text-center pe-5">
                    <ams-icon-ap-active [value]="row.isDefault" ></ams-icon-ap-active>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="maxIFEId" >
                <th mat-header-cell *matHeaderCellDef width ="120px">Max IFE</th>
                <td mat-cell *matCellDef="let row">
                    <div class="flex-align-items">
                        <div>{{row.maxIFEId}}</div>
                    </div>
                </td>
            </ng-container>
        -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        [showFirstLastButtons]="true" >
    </mat-paginator>
</div>