<div *ngIf="(airport$ | async)" class="flex-align-items" (click)="openMapClick()">
    <ams-icon-value *ngIf="!isright" 
        pipe="latlon" icon="map"
        [value]="airport.lat" label="Latitude, Longitude. Click to open map in new window.">
        , {{airport.lon | latlon}}
    </ams-icon-value>
    <ams-icon-value *ngIf="isright" 
        pipe="latlon" icon="map"
        [value]="airport.lat" label="Latitude, Longitude. Click to open map in new window">
        , {{airport.lon | latlon}}
    </ams-icon-value>
</div>