 <!-- Title -->
 <div class="title-container">
    <div class="modal-title">REGION DETAIL</div>
</div>
<hr class="mb-0">
<div *ngIf="!region">No Data</div>

 <div class="m-0 row overlay-blue">
    <div class="side-panel-sec px-2" *ngIf="region">
        <div class="side-panel-sec-title yellow flex-align-items flex-space-between ">
            <div class="flex-start">{{region.rName}}</div>
            <div class="flex-end">
                <ams-img-link type="wiki" [url]="region.rWikiUrl" class="ml-1"></ams-img-link>
            </div>
        </div>
    </div>
    <div class="flex-align-items flex-space-between w-100 px-2">
        <div class="col-5 m-0 p-0 white">
            <div class="side-panel-sec" *ngIf="region">
                <div class="side-panel-sec-rows">
                    <sx-side-panel-row-value label="Code" [value]="region.rCode"></sx-side-panel-row-value>
                    <sx-side-panel-row-value label="ID" [value]="region.regionId"></sx-side-panel-row-value>
                </div>
            </div>
        </div>
        
        <div class="col-7 m-0 p-0">
            <img *ngIf="region && imagevUrl" class="tile-graphic-w" [src]="imagevUrl" alt="{{region.rCode}}">
        </div>
    </div>
    <div class="side-panel-sec white" *ngIf="region">
        <div class="side-panel-sec-title">Statistics</div>
        <div class="side-panel-sec-rows">
            <sx-side-panel-row-value label="Subregions" value="{{region.subregions | number:'1.0-0'}}" size="large"></sx-side-panel-row-value>
            <sx-side-panel-row-value label="Countries" value="{{region.countries| number:'1.0-0'}}" size="large"></sx-side-panel-row-value>
            <sx-side-panel-row-value label="States" value="{{region.states| number:'1.0-0'}}" size="large"></sx-side-panel-row-value>
            <div class="sp-row">
                <div class="sp-label sp-label-large" matTooltip="Airports">Airports</div>
                    <div class="sp-value">
                    <div class="flex-align-items">
                        <ams-icon-ap-active [value]="true"></ams-icon-ap-active>
                        <div class="ml-1">{{region.apActive | number:'1.0-0'}}</div>
                        <div class="ml-1"> active of</div>
                        <div class="ml-1">{{region.airports | number:'1.0-0'}}</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div> <!-- sec end-->
</div>

<div class="mt-2">
    
</div> 
