<div class="modal-content">

    <div mat-dialog-title class="modal-header">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title mr-2">Airline
            <span *ngIf="airline" class="card-subtitle-1">№ {{airline.alId}}</span>
            <span *ngIf="!airline" >Create</span>
        </div>
    </div>

    <mat-dialog-content class="modal-body">
        <form class="d-flex flex-column" [formGroup]="formGrp">
            <!--
            <input type="hidden"  formControlName="userId" [value]="userId">
            -->
            <div class="col-12 flex-align-items w-100 p-0">
    
                <div class="col-8 p-0">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Name</mat-label>
                        <input matInput  placeholder="Airline Name"  formControlName="alName" name="alName" required >
                        <mat-icon matSuffix class="text-grey-500">contacts</mat-icon>
                        <mat-error *ngIf="alName.invalid">{{fError('alName')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-1 p-0"></div>
                <div class="col-3 pe-0">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>IATA</mat-label>
                        <input matInput type="text"  placeholder="ABC" name="iata"  formControlName="iata" required  maxlength="3" minlength="3">
                        <mat-icon matSuffix class="text-blue">closed_caption_off</mat-icon>
                        <mat-hint>IATA 3-letter codes used to identify airline</mat-hint>
                        <mat-error *ngIf="iata.invalid">{{fError('iata')}}</mat-error>
                      </mat-form-field>
                </div>

                
            </div>
            <h5 class="mb-0 pt-2">Graphic Symbol</h5>
           

            <div class="col-12 flex-align-items w-100 p-0 mb-2">
                <div class="col-8 p-0">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Slogan</mat-label>
                        <input matInput type="text"  placeholder="To fly, to serve" name="slogan"  formControlName="slogan" required >
                        <mat-icon matSuffix class="text-blue">badge</mat-icon>
                        <mat-hint>A slogan is a short and striking or memorable phrase used in advertising.</mat-hint>
                        <mat-error *ngIf="slogan.invalid">{{fError('slogan')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-4 p-0"></div>
            </div>

            <div class="col-12 flex-align-items w-100 p-0 mb-2">
                <div class="col-12 p-0">
                    <mat-form-field floatLabel="always" class="w-100">
                        <mat-label>Logo URL</mat-label>
                        <input matInput type="text"  placeholder="https://www....." name="logo" formControlName="logo" >
                        <mat-icon matSuffix class="text-blue">add_photo_alternate</mat-icon>
                        <mat-hint>A URL is nothing more than the address of a given unique resource on the Web.</mat-hint>
                        <mat-error *ngIf="logo.invalid">{{fError('logo')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>

    
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end mr-2">
                <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="formGrp.invalid" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
