<div class="panel-body" style="flex-grow: 1">
    <!-- Static Container -->
    <div class="static-container">
      <div class="d-flex flrx-align-items flex-space-between w-100">

        <div class="flex-align-items flex-start">

          <button class="btn btn-icon-only btn-text-primary m-l-5" 
            matTooltip="Go to Manufacturer List"
            matTooltipPosition="above" 
            [routerLink]="[roots.Root, roots.admin, roots.manufacturers]"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  >
            <i class="modus-icon material-icons text-primary">precision_manufacturing</i>
          </button>
          <button *ngIf="manufacturer"  class="btn btn-icon-only btn-text-primary m-l-5" 
            matTooltip="Go to {{manufacturer.mfrName}} page"
            matTooltipPosition="above" 
            [routerLink]="[roots.Root, roots.admin, roots.manufacturer]"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  >
            <i class="modus-icon material-icons text-primary">engineering</i>
          </button>
          
          <!--
          <ams-img-link *ngIf="state && state.wikiUrl" 
              type="wiki" [url]="state.wikiUrl" class="ml-2">
          </ams-img-link>
          <ams-img-link *ngIf="state && state.iso" 
              type="oa" [state_iso]="state.iso" class="ml-2">
          </ams-img-link>
         -->
        </div>
        
        <div class="flex-align-items flex-end">
          <a href="#item-3" aria-controls="item-3" aria-expanded="false" data-dropdown="item-3" class="">
            <i class="cessna2018-piston-nav"></i>
            <label>Piston</label>
            </a>          
            <div class="" ngbDropdown  *ngIf="mac">
            <sx-format-control 
                class="link size-18"
                label="" color="light"
                [matMenuTriggerFor]="macMenu"
                icon="calendar_view_day">
            </sx-format-control>
            <mat-menu #macMenu="matMenu">
              
                <button *ngIf="manufacturer" mat-menu-item class="link blue" (click)="ediManufacturer()">
                    <mat-icon class="link blue">edit</mat-icon> 
                    <span>Edit Manufacturer</span>
                </button>

              <div class="dropdown-divider"></div>
              <button mat-menu-item (click)="spmManufacturerOpen()">
                  <mat-icon class="link blue">info</mat-icon> 
                  <span>{{manufacturer.mfrName}}</span>
              </button>
              
            </mat-menu>
            
        </div>
          <sx-button-round 
              message="Show Manufacturer Details" tooltipPlacement="bottom"
               color="light"
              (click)="spmManufacturerOpen()" 
              icon="info"> 
          </sx-button-round>
        </div>
        
      </div>

    </div>

    <!-- Scroll Container -->
    <div class="scroll-container p-2">
     
      <ams-card-mac-info [mac]="mac"></ams-card-mac-info>
      <div class="side-panel-sec text-center" *ngIf="mac && mac.imgAirUrl" >
        <img src="{{mac.imgAirUrl}}" alt="{{mac.model}}" style="max-width: 294px;max-height: 200px;">
    </div>
    <div class="card" *ngIf="mac">
      <div class="card-body">
        <h5 class="card-title">Notes</h5>
        <p [innerHTML]="mac.notes">
        </p>
      </div>
    </div>

    </div>
  </div>