
    
    <div class="flex-align-items flex-space-between w-100">
        <div class="flex-start">
            <h2 class="page-title mb-0">
                {{ptitle}}
                <span class="pl-2" *ngIf="psubtitle">({{psubtitle}})</span>
            </h2>
        </div>
        <div class="flex-end">
            <ng-content></ng-content>
            <!--
            <div class="form-inline ml-3 mr-5">
                <div class="form-group">
                    <label class="mr-2" for=""><strong>Profile</strong></label>
                    <select class="form-control" name="" id="">
                        <option>Profile 1</option>
                        <option>Profile 2</option>
                        <option>Profile 3</option>
                    </select>
                </div>
            </div>
        
            <button class="btn btn-text-dark btn-md btn-icon-only mt-1">
                <i class="modus-icon material-icons">palette</i>
            </button>
           
            <button class="btn btn-text-dark btn-md btn-icon-only mt-1">
                <i class="modus-icon material-icons">settings</i>
            </button>
            <div ngbDropdown class="dropdown mt-1">
                <button class="btn btn-icon-only btn-text-primary" [matMenuTriggerFor]="adminTMain" >
                  <i class="modus-icon material-icons text-primary">more_vert</i>
                </button>
                <mat-menu #adminTMain="matMenu">
            
                    <button *ngIf="user" mat-menu-item 
                        [routerLink]="[roots.Root, roots.airline, roots.profile]" 
                        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
                        <mat-icon>account_circle</mat-icon> 
                        <span>Profile</span>
                    </button>
                    <button mat-menu-item >
                        <mat-icon>refresh</mat-icon> 
                        <span>Refresh Project</span>
                    </button>
                    <div class="dropdown-divider"></div>
                    <button mat-menu-item class="link">
                        <mat-icon class="link">info</mat-icon> 
                        <span>Project Details</span>
                    </button>
            
                </mat-menu>
            
            </div>
        -->
        </div>
    </div>
    
    <!--
    <form class="form-inline ml-5" onsubmit="return false;">
        <input type="text" class="form-control" placeholder="Search...">
        <button class="btn btn-text-dark btn-lg btn-icon-only ml-2">
            <i class="modus-icon material-icons">search</i>
        </button>
    </form>
    -->
