<div class="mb-0">
    <ams-wad-grid-country class="sxtable-container-tab"></ams-wad-grid-country>
    <!--
    <ams-wad-grid-country class="sxtable-container-tab"
        (createUseCase)="createUseCaseClick()"
        (editUseCase)="editUseCase.emit($event)">
    </ams-wad-grid-country>
-->
</div>