<div class="flex-row w-100">
    <mat-tab-group  mat-stretch-tabs #branchTabs
        class="mat-card" 
        [selectedIndex]="selTabIdx"
        (selectedIndexChange)="selectedTabChanged($event)">

        <!-- -TAB 0 dashboard --> 
        <mat-tab label="Dashboard">
            <ng-template mat-tab-label>
                <mat-icon class="m-r-4 blue">dashboard</mat-icon>
                <!--
                <img class="tab-icon neighbor-icon" src="/assets/images/common/project_tr.png" alt="Dashboard">
                -->
                Dashboard
            </ng-template>
            <div class="sx-tab-full-blue panel-wrap">
                <img class="panel-right" [src]="amsImgUrl" alt="bg" >
                <div class="panel-content white">
                    <h1 *ngIf="subregion">{{subregion.srName}}</h1>
                </div>
            </div>
            
        </mat-tab>

        <!-- -TAB 1 UseCase --> 
        <mat-tab label="Usecase">
            <ng-template mat-tab-label>
                <mat-icon class="m-r-4 blue">outlined_flag</mat-icon>
                <!--
                <img class="tab-icon neighbor-icon" src="/assets/images/common/project_tr.png" alt="Dashboard">
                -->
                Countries
            </ng-template>
            <div class="sxtable-container-tab">
                <ams-wad-subregion-home-tab-country tabindex="1"></ams-wad-subregion-home-tab-country>
            </div>
        </mat-tab>
                
    </mat-tab-group>
</div>
