    <mat-tab-group #tabGrp class="ams-content-bory-tabs" mat-stretch-tabs #branchTabs class="p-0" 
        [preserveContent]="true"
        [selectedIndex]="selTabIdx"
        (selectedIndexChange)="selectedTabChanged($event)">

        <!-- -TAB 0 dashboard -->
        <mat-tab label="Flights" >
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">connecting_airports</mat-icon>
                Flights
            </ng-template>
            <div class="m-0 tab-blue text-center">
                <ams-al-flp-booking-table [tabindex]="0"></ams-al-flp-booking-table>
            </div>
        </mat-tab>
        
        <mat-tab label="Transfers">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">transfer_within_a_station</mat-icon>
                Transfers Pax
            </ng-template>
           <ams-flp-transfer-ppd-table [tabindex]="1"></ams-flp-transfer-ppd-table>     
        </mat-tab>
        <mat-tab label="Transfers">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">rv_hookup</mat-icon>
                Transfers Cargo
            </ng-template>
            <ams-flp-transfer-cpd-table [tabindex]="2"></ams-flp-transfer-cpd-table> 
        </mat-tab>
        <mat-tab label="Transfers">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">transfer_within_a_station</mat-icon>
                Transfers
            </ng-template>
           <ams-flp-transfer-triple-table [tabindex]="3"></ams-flp-transfer-triple-table>     
        </mat-tab>
        

    </mat-tab-group>
