<div class="sxtable-container-tab">
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary">
            <div class="flex-align-items flex-space-between w-100 white">
                <div class="flex-start flex-align-items">
                    <div class="semi-bold px-2" >{{dataCount | number:'1.0-0'}}</div>
                    <div class="text-nowrap">Aircraft Models</div>
                </div>
                <div class="flex-end size-14 pe-2">
                    <!--
                    <sx-button-round 
                        (click)="addMac()"
                        [disabled]="!canEdit"
                        message="Add Manufacturer Aircraft"
                        icon="add"
                        class="mr-3"
                       > 
                    </sx-button-round>
                    -->
                    <mat-form-field class="white">
                        <mat-label class="white">Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                    </mat-form-field>
    
                    <sx-button-flat 
                        (click)="refreshClick()" 
                        position="left" 
                        message="Reload Data"
                        icon="refresh" 
                        color="dark"
                        class="mx-2">
                    </sx-button-flat>
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body-toolbar">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">
    
            <ng-container matColumnDef="action" sticky>
                <th mat-header-cell *matHeaderCellDef width ="60px" class="txt-ell-80"></th>
                <td mat-cell *matCellDef="let mac" class="txt-ell-80">
                    <div class="flex-align-items w-full">
                        
                        <sx-button-round 
                            (click)="gotoAircraftList(mac)"
                            [disabled]="mac.aircraftCount === 0"
                            position="left" 
                            icon="open_in_new"
                            message="View Aircraft"> 
                        </sx-button-round>
                        <!--
                        <mat-icon class="link m-t-4 m-l-4 m-r-8 f-s-20"  
                            (click)="ediMac(mac)"
                            matTooltip="Edit Aircraft {{mac.model}}">
                            edit
                        </mat-icon>
                        -->
                        <sx-button-round 
                            message="Show Aircraft Details" tooltipPlacement="bottom"
                            color="light"
                            (click)="spmAcmMacOpen(mac)" 
                            icon="info"> 
                        </sx-button-round>
                        
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="image" sticky>
                <th mat-header-cell *matHeaderCellDef width ="60px" class="txt-ell-80 text-center"></th>
                <td mat-cell *matCellDef="let mac" class="txt-ell-80 text-center">
                    <div class="flex-align-items w-100 text-center">
                        <div *ngIf="mac.imageUrl" class="icon-value" matTooltip="{{mac.model}}">
                            <img src="{{mac.imgTableUrl}}" alt="{{mac.model}}"/>
                        </div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="acTypeId"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="80px" class="txt-ell-100-sort">Type</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100-sort">
                    <div class="w-full text-left">
                        {{row.acTypeId | actype}}
                    </div>
                    
                </td>
            </ng-container>

            <ng-container matColumnDef="model" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-180-sort">Model</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-180-sort text-left">
                    <div class="flex-align-items w-100">
                        <div class="w-100">{{row.model}}</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="maxSeating" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80-sort text-right">
                    <div class="flex-align-items image-16 w-100 text-right" 
                        matTooltip="Max Capacity"
                        matTooltipPosition="above" >
                        <mat-icon class="white m-t-8 m-r-4 f-s-16" >airline_seat_recline_normal</mat-icon>
                        <!--
                        <img src="{{seatsEImgUrl}}" alt="Cargo" class="mr-2"/>
                        -->
                    </div>
                    
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="flex-align-items w-100 pe-3">
                        <div class="w-100">{{row.maxSeating | number:'1.0-0'}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="loadKg" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80-sort text-right">
                    Cargo
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="flex-align-items w-100">
                        <div class="w-100">{{row.loadKg | mtow}}</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="operationTimeMin"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80-sort text-right">
                    <div class="flex-align-items image-16 w-100 text-right" 
                        matTooltip="OP Time (min)"
                        matTooltipPosition="above" >
                        <mat-icon class="white m-t-8 m-r-4 f-s-16" >motion_photos_pause</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="flex-align-items w-100 pe-3">
                        <div class="w-100">{{row.operationTimeMin | number:'1.0-0'}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="maxRangeKm">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-100-sort text-right">Range</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100-sort text-right">
                    <div class="flex-align-items w-100" >
                        <div class="w-100" 
                        matTooltip="Range {{row.maxRangeKm | nmi}} ({{row.maxRangeKm | lenkm}})"
                        matTooltipPosition="above">{{row.maxRangeKm | nmi}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="cruiseSpeedKmph">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-100 ps-2 text-right">Speed</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100-sort text-right">
                    <div class="flex-align-items w-100" >
                        <div class="w-100">{{row.cruiseSpeedKmph | speed}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-100-sort text-right">List Price</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-100-sort text-right">
                    <div class="flex-align-items w-100" >
                        <div class="w-100">{{row.price | currency : 'EUR'}}</div>
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="amsStatus" >
                <th mat-header-cell *matHeaderCellDef width ="120px">Production</th>
                <td mat-cell *matCellDef="let row">
                    <div class="flex-align-items">
                        <div *ngIf="row.amsStatus !== active">Stopped {{row.amsStatus | amsstatus}}</div>
                        <ams-icon-bool *ngIf="row.amsStatus === active" [value]="true"></ams-icon-bool>
                    </div>

                </td>
            </ng-container>
            <ng-container matColumnDef="numberBuild"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 ps-4 text-right">
                    <div class="flex-align-items image-16 w-100 text-right" 
                        matTooltip="Number Build"
                        matTooltipPosition="above" >
                        <mat-icon class="white f-s-16" >precision_manufacturing</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="flex-align-items w-100 pe-3">
                        <div class="w-100">{{row.numberBuild | number:'1.0-0'}}</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="udate">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="100px">Updated On</th>
                <td mat-cell *matCellDef="let row">{{row.udate | date:'MMM d, y'}}</td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        [showFirstLastButtons]="true" >
    </mat-paginator>
</div>