<div class="modal-content">

    <div mat-dialog-title class="modal-header">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title flex-align-items">Copy schedule flight for group 
            <span *ngIf="group" class="card-subtitle-1 ml-2" >{{group.grpName}}</span>
            <span *ngIf="group" class="card-subtitle-1 ml-2" >(№ {{group.grpId}})</span>
        </div>
    </div>

    <mat-dialog-content class="modal-body">
        <div class="col-12 flex-align-items">
            <div class="card-subtitle-1 pe-1">Select days to <b>copy</b></div>
            <div class="card-subtitle-1 pe-1" *ngIf="shedulesCount!=null">{{shedulesCount | number:'1.0-0' | nocoma}}</div>
            <div class="card-subtitle-1 pe-1">shedule flights from </div>
            <div class="card-subtitle-1 pe-1" *ngIf="weekday">{{weekday.name}}</div>
        </div>
        <form class="d-flex flex-column" [formGroup]="formGrp">
            
            <input type="hidden" [formControl]="grpIdFc" >
            <input type="hidden" [formControl]="fromWeekdayIdFc" >
            <div class="col-12 flex-align-items-top w-100 p-0" >
                <div class="col-3 px-1 title text-left ">Weekdays</div>
                <div class="col-3 px-1 title text-right">Shedule Flights</div>
                <div class="col-6 px-1 title text-left"></div>
            </div>
            <div class="col-12 flex-align-items-top w-100 p-0" >
                <div class="col-3 px-1 text-left">
                    <mat-checkbox class="m-0 p-0 w-100" [formControl]="sundayFc" 
                        color="primary" labelPosition="after">
                        {{sunOpt.name}}
                    </mat-checkbox>
                </div>
                <div class="col-3 px-1 ">
                    <div *ngIf="sunFlpsh" class="text-right">{{sunFlpsh?.length??0 | number:'1.0-0'}}</div>
                </div>
                <div class="col-6 px-1 "></div>
            </div>
            <div class="col-12 flex-align-items-top w-100 p-0" >
                <div class="col-3 px-1 ">
                    <mat-checkbox class="m-0 p-0 w-100" [formControl]="mondayFc" 
                        color="primary" labelPosition="after">
                        {{monOpt.name}}
                    </mat-checkbox>
                </div>
                <div class="col-3 px-1 ">
                    <div *ngIf="monFlpsh" class="text-right">{{monFlpsh?.length??0 | number:'1.0-0'}}</div>
                </div>
                <div class="col-6 px-1 "></div>
            </div>
            <div class="col-12 flex-align-items-top w-100 p-0" >
                <div class="col-3 px-1 ">
                    <mat-checkbox class="m-0 p-0 w-100" [formControl]="tuesdayFc" 
                        color="primary" labelPosition="after">
                        {{tueOpt.name}}
                    </mat-checkbox>
                </div>
                <div class="col-3 px-1 ">
                    <div *ngIf="tueFlpsh" class="text-right">{{tueFlpsh?.length??0 | number:'1.0-0'}}</div>
                </div>
                <div class="col-6 px-1 "></div>
            </div>
            <div class="col-12 flex-align-items-top w-100 p-0" >
                <div class="col-3 px-1 ">
                    <mat-checkbox class="m-0 p-0 w-100" [formControl]="wednesdayFc" 
                        color="primary" labelPosition="after">
                        {{wenOpt.name}}
                    </mat-checkbox>
                </div>
                <div class="col-3 px-1 ">
                    <div *ngIf="wenFlpsh" class="text-right">{{wenFlpsh?.length??0 | number:'1.0-0'}}</div>
                </div>
                <div class="col-6 px-1 "></div>
            </div>
            <div class="col-12 flex-align-items-top w-100 p-0" >
                <div class="col-3 px-1 ">
                    <mat-checkbox class="m-0 p-0 w-100" [formControl]="thursdayFc" 
                        color="primary" labelPosition="after">
                        {{thuOpt.name}}
                    </mat-checkbox>
                </div>
                <div class="col-3 px-1 ">
                    <div *ngIf="thuFlpsh" class="text-right">{{thuFlpsh?.length??0 | number:'1.0-0'}}</div>
                </div>
                <div class="col-6 px-1 "></div>
            </div>
            <div class="col-12 flex-align-items-top w-100 p-0" >
                <div class="col-3 px-1 ">
                    <mat-checkbox class="m-0 p-0 w-100" [formControl]="fridayFc" 
                        color="primary" labelPosition="after">
                        {{friOpt.name}}
                    </mat-checkbox>
                </div>
                <div class="col-3 px-1 ">
                    <div *ngIf="friFlpsh" class="text-right">{{friFlpsh?.length??0 | number:'1.0-0'}}</div>
                </div>
                <div class="col-6 px-1 "></div>
            </div>
            <div class="col-12 flex-align-items-top w-100 p-0" >
                <div class="col-3 px-1 ">
                    <mat-checkbox class="m-0 p-0 w-100" [formControl]="saturdayFc" 
                        color="primary" labelPosition="after">
                        {{satOpt.name}}
                    </mat-checkbox>
                </div>
                <div class="col-3 px-1 ">
                    <div *ngIf="satFlpsh" class="text-right">{{satFlpsh?.length??0 | number:'1.0-0'}}</div>
                </div>
                <div class="col-6 px-1 "></div>
            </div>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end mr-2">
                <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="formGrp.invalid" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
