
<sx-filter-panel [panelVar]="panelInVar"  
    [fptitle]="mac.model"
    subtitle="{{mac.macId}}"
    (closePanel)="closePanelLeftClick()"
    (subtitleClick)="spmUserOpen()">
    
    <ams-admin-mac-filter-panel-body>
    </ams-admin-mac-filter-panel-body>
    
</sx-filter-panel>

<div class="ams-content-body" [ngClass]="{'sidebar-open' :panelInVar!==in, 'sidebar-closed':panelInVar===in}">
    <router-outlet></router-outlet>
</div>

    
<div [@togleBtnTopRev]="!panelInVar"  
    (click)="expandPanelLeftClick()" class="side-tab-btn-top">
    <i class="material-icons modus-icons">east</i>
</div>


