<div class="tile-p0 tile-dep" >
    <mat-card appearance="outlined" >
        <mat-card-content class="overlay-blue">
            <div class="tile-graphic">
                <div class="flex-align-items w-100 border-b1">
                    <img class="tab-icon ms-2 white" [src]="imgUrlFlq" alt="Departures" 
                            matTooltip="Departures {{flightsCount | number:'1.0-0'}}" 
                            matTooltipPosition="above">
                    <div class="title white w-100 text-center">Departures <span *ngIf="flightsCount" class="ms-1">({{flightsCount | number:'1.0-0'}})</span></div>
                </div>
                <div class="sxtable-container-tail-title">
                    <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
                        <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
                    </div>
                    <ams-card-flight-departure *ngFor="let flight of flights" [flight]="flight"></ams-card-flight-departure>
                </div>
                
                
            </div>
        </mat-card-content>
    </mat-card>
</div>
