<div class="m-0 tab-blue">
    <div class="flex-align-items flex-space-between row m-2" >
        <div class="col-lg-4 col-sm-6 col-xs-12 ps-0 tile tile-acm" >
            <mat-card appearance="outlined">
                <!--
                    *ngIf="manufacturers"
            <mat-card-subtitle>United Nations Geoscheme
                <span *ngIf="regions">({{regions.length | number:'1.0-0'}})</span>
            </mat-card-subtitle>
        -->
            <mat-card-content class="overlay-brown">
                <div class="file-graphic">
                    <div class="width-100 white thin size-20 p-4" style="line-height: 1.8;">The 
                        <a href="https://en.wikipedia.org/wiki/Aerospace_manufacturer"
                            class="dark-link regular" target="_blank">
                            aircraft industry</a> support aviation by building aircraft and 
                            manufacturing aircraft parts for their maintenance. This includes 
                            aircraft and parts used for civil and military aviation.
                    </div>
                </div>
            </mat-card-content>
            </mat-card>
        </div>
        <div class="col-lg-4 col-sm-6 col-xs-12 ps-0 tile tile-acm" *ngFor="let mfr of manufacturers" >
            <mat-card appearance="outlined" (click)="gotoManufacturer(mfr)">
            <mat-card-subtitle>{{mfr.mfrName}}
                <span *ngIf="mfr && mfr.iata">({{mfr.iata}})</span>
            </mat-card-subtitle>
            <mat-card-content class="overlay-blue-dark">
                <img *ngIf="mfr.logoUrl" class="tile-graphic-150" [src]="mfr.logoUrl"
                alt="{{mfr.iata}}">
            </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div *ngIf="mac" class="flex-align-items row ml-2 mr-2 mt-2">

        <div class="col-lg-3 col-sm-6 col-xs-12 ps-0" >
            <div *ngIf="mac"  class="mini-charts-item bg-trimble-blue-light" 
                matTooltip="Aircraft production info" 
                matTooltipPosition="above">
                <div class="clearfix">
                    <div class="chart stats-bar">
                        <!--
                        <img [src]="acImg" alt="{{mac.model}}"/>
                        
                          -->
                            <canvas baseChart 
                                    
                                    [labels]="productionPieChart.labels"
                                    [options]="productionPieChart.options"
                                   
                                    [type]="'doughnut'"
                                    [legend]="false"
                                    style="display: block;height: 68px;margin-left: -25px;"
                                ></canvas>
                                <!-- [data]="productionPieChart.data" -->
                            <!--  [colors]="productionPieChart.colors"  -->
                    </div>
                    
                    <div class="count" >
                        <small>Number built</small>
                        <h2>{{mac.numberBuild | number:'1.0-0'}}</h2>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
    
</div>
           
        
    
