<div class="ams-content-body">
    <div class="flex-wrap w-100" *ngIf="!alCreated">
        <div class="col-lg-6 col-md-12 col-sm-12 flex-align-items-top flex-wrap p-0 card" >
            <ams-al-create-page class="col-12"></ams-al-create-page>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 flex-align-items-top flex-wrap p-0 " >

        </div>
    </div>
    
    <div class="flex-row p-2 w-100" *ngIf="!alCreated">

    </div>
    <!-- -MINI CHARDS 
    <div class="flex-row">
        <div class="col-9 flex-column p-0">
           
            <div *ngIf="!alCreated" class="flex-align-items row ml-2 mr-2 mt-2">
                <div class="col-lg-6 col-sm-6 col-xs-12 ps-0" >
                    <div *ngIf="!airline"  class="mini-charts-item bg-trimble-blue-mid"  
                        matTooltip="Create new airline" 
                        matTooltipPosition="above">
                        <div class="clearfix">
                            <div class="chart stats-bar">
                                <img [src]="airportImg" alt="Airline"/>
                            </div>
                            
                            <div class="count" >
                                <small>Airline </small>
                                <h2>Create new Airline</h2>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6 col-sm-6 col-xs-12 ps-0" >
                    <div class="mini-charts-item bg-blue-light"  
                        matTooltip="Manage Aircraft Types" 
                        matTooltipPosition="above">
                        <div class="clearfix">
                            <div class="chart stats-bar">
                                <img [src]="airportImg" alt="AC TYPE"/>
                            </div>
                            
                            <div class="count" >
                                <small>Base Airport</small>
                                <h2>Select your Base</h2>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
            <div *ngIf="alCreated" class="flex-align-items row ml-2 mr-2 mt-2">

                <div class="col-lg-4 col-6 col-sm-12 col-xs-12 ps-0" >
                    <div *ngIf="airline"  class="mini-charts-item overlay-blue-light" 
                        matTooltip="Go to airline info" 
                        matTooltipPosition="above">
                        <div class="clearfix">
                            <div class="chart stats-bar">
                        
                                <img [src]="logoUrl" alt="Airline"/>
                            </div>
                            
                            <div class="count" >
                                <small>AIRLINE </small>
                                <h2>{{airline.alName}} ({{airline.iata}})</h2>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!--
                    [routerLink]="[ rootes.profile]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                --
                <div *ngIf="user" class="col-lg-4 col-6 col-sm-12 col-xs-12 ps-0" >
                    <div class="mini-charts-item overlay-teal"  
                        matTooltip="Manage Aircraft Types" 
                        matTooltipPosition="above">
                        <div class="clearfix">
                            <div class="chart-avatar">
                                <img [src]="avatarUrl" alt="{{user.userEmail}}"/>
                            </div>
                            
                            <div class="count" >
                                <small>MANAGER</small>
                                <h2 *ngIf="user.userName">{{user.userName}}</h2>
                                <h2 *ngIf="!user.userName">{{user.userEmail}}</h2>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!--
                [routerLink]="[ rootes.profile]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                --
                <div class="col-lg-4 col-6 col-sm-12 col-xs-12 ps-0" 
                    >
                    <div class="mini-charts-item overlay-cyan"  
                        matTooltip="Airline Bank Account Balance" 
                        matTooltipPosition="above">
                        <div class="clearfix">
                            <div class="chart pt-2">
                                <img [src]="bankImg" alt="{{airline.bankId}}"/>
                            </div>
                            
                            <div class="count" >
                                <small>BANK ACCOUNT</small>
                                <h2 *ngIf="airline && airline.amount">{{airline.amount }}</h2>
                            </div>
                            
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="d-block w-100" style="height: 300px;">
                
            </div>
        </div>
        <div class="col-3 p-0">
            
        </div>
    </div>
        -->


</div><!-- login-page-container -->