
<ts-sx-navbar (snavToggle)="snavToggleClick()" >
    <ams-dashboard-menu-main (refreshTransactions)="refreshTransactions($event)"></ams-dashboard-menu-main>
</ts-sx-navbar>

<mat-sidenav-container>
    <mat-sidenav #snav [mode]="snavmode"  opened fixedTopGap="64">
        <sx-sidebar-nav #sxSide></sx-sidebar-nav>
    </mat-sidenav>
    
    <mat-sidenav-content>
        <div class="ams-content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
        
</mat-sidenav-container>

