<div class="sxtable-container-tab">
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary">
            <div class="flex-align-items flex-space-between w-100 white h64">
                <div class="flex-start flex-align-items h64">
                    <span class="semi-bold">{{dataCount | number:'1.0-0'}}</span>
                    <span class="pl-1">Runways</span>
                </div>
                <div class="flex-end h64">
                    
                    <sx-button-round *ngIf="canEdit"
                        (click)="addRunway()"
                        [disabled]="!canEdit"
                        message="Add Runway"
                        icon="add"
                        class="mr-3"> 
                    </sx-button-round>
                    
                    <mat-form-field floatLabel="always" appearance="fill" class="white size-12">
                        <mat-label class="white"><mat-icon>filter_list_alt</mat-icon> <i> filter</i></mat-label>
                        <input matInput (keyup)="applyFilter($event)" class="white">
                    </mat-form-field>
    
                    <sx-button-flat 
                        (click)="refreshClick()" 
                        position="left" 
                        message="Reload Data"
                        icon="refresh" 
                        color="dark"
                        class="mr-2 ml-3">
                    </sx-button-flat>
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body-toolbar">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">
    
            <ng-container matColumnDef="action" sticky>
                <th mat-header-cell *matHeaderCellDef width ="60px" class="t-c"></th>
                <td mat-cell *matCellDef="let runway" class="t-c">
                    <div class="flex-align-items w-full">
                        <!-- 
                        <sx-button-round 
                            (click)="gotoAirport(airport)"
                            [disabled]="!canEdit"
                            position="left" 
                            icon="open_in_new"
                            message="View Airport"> 
                        </sx-button-round>
                        -->
                        <mat-icon *ngIf="canEdit" class="link m-t-4 m-l-4 m-r-8 f-s-20"  
                            (click)="ediRunway(runway)"
                            matTooltip="Edit Runway {{runway.rwDirection}}">
                            edit
                        </mat-icon>
                        <!--
                        <sx-button-round 
                            message="Show Airport Details" tooltipPlacement="bottom"
                            color="light"
                            (click)="spmAirportOpen(airport)" 
                            icon="info"> 
                        </sx-button-round>
                        -->
                    </div>
                
                </td>
            </ng-container>
            <ng-container matColumnDef="rwOrder"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="60px">№</th>
                <td mat-cell *matCellDef="let row" class="p-r-8">
                    <div class="w-full text-left">
                        {{row.rwOrder}}
                    </div>
                    
                </td>
            </ng-container>
            <ng-container matColumnDef="rwId"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="60px">PK</th>
                <td mat-cell *matCellDef="let row" class="p-r-8">
                    <div class="w-full text-left">
                        {{row.rwId}}
                    </div>
                    
                </td>
            </ng-container>
            <ng-container matColumnDef="rwType" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="100px">Type</th>
                <td mat-cell *matCellDef="let row">
                    <div class="flex-align-items">
                        <div>{{row.rwType | rwtype}}</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="rwDirection">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-200">Direction</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-200">
                    <div class="flex-align-items image-16" >
                        <!--
                        <img src="{{row.flagUrl}}" alt="{{row.iso2}}"/>
                        -->
                        <div class="mr-2">{{row.rwDirection}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="serfaceId" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-200">Serface</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-200">
                    <div class="flex-align-items">
                        <div>{{row.serfaceId | rwserface}}</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="apId"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="60px">AP ID</th>
                <td mat-cell *matCellDef="let row" class="p-r-8">
                    <div class="w-full text-left">
                        {{row.apId}}
                    </div>
                    
                </td>
            </ng-container>
            <ng-container matColumnDef="width">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="60px">Width</th>
                <td mat-cell *matCellDef="let row" >
                    <div class="flex-align-items image-16" >
                        <!--
                        <img src="{{row.flagUrl}}" alt="{{row.iso2}}"/>
                        -->
                        <div class="mr-2">{{row.width| len}}</div>
                        
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="lenght">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="60px">Lenght</th>
                <td mat-cell *matCellDef="let row" >
                    <div class="flex-align-items image-16" >
                        <!--
                        <img src="{{row.flagUrl}}" alt="{{row.iso2}}"/>
                        -->
                        <div class="mr-2">{{row.lenght| len}}</div>
                        
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="mtow">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="120px">MTOW</th>
                <td mat-cell *matCellDef="let row" >
                    <div class="flex-align-items image-16" >
                        <!--
                        <img src="{{row.flagUrl}}" alt="{{row.iso2}}"/>
                        -->
                        <div class="mr-2">{{row.mtow| mtow}}</div>
                        
                    </div>
                </td>
            </ng-container>
    
            <ng-container matColumnDef="rotation" >
                <th mat-header-cell *matHeaderCellDef width ="60px">Rotation</th>
                <td mat-cell *matCellDef="let row">
                    <div class="flex-align-items">
                        <div>{{row.rotation | number:'1.0-0'}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="radius">
                <th mat-header-cell *matHeaderCellDef  width ="60px">Radius</th>
                <td mat-cell *matCellDef="let row" >
                    <div class="flex-align-items image-16" >
                        <!--
                        <img src="{{row.flagUrl}}" alt="{{row.iso2}}"/>
                        -->
                        <div class="mr-2">{{row.radius| number:'1.0-0'}}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="udate">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header width ="100px">Updated On</th>
                <td mat-cell *matCellDef="let row">{{row.udate | date:'MMM d, y'}}</td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        [showFirstLastButtons]="true" >
    </mat-paginator>
</div>