<ts-sx-navbar (snavToggle)="snavToggleClick()" >
    <ams-wad-menu-main class="flex-align-items"></ams-wad-menu-main>
</ts-sx-navbar>
<mat-sidenav-container>
    <mat-sidenav #snav [mode]="snavmode"  opened fixedTopGap="64">
        <sx-sidebar-nav #sxSide></sx-sidebar-nav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="ams-content">

            <router-outlet></router-outlet>

            <ams-side-panel-modal #spmRegion (closeSmpClick)="spmRegionClose()">
                <ams-spm-region-info [region]="region"></ams-spm-region-info>
            </ams-side-panel-modal> 
            <ams-side-panel-modal #spmSubregion (closeSmpClick)="spmSubregionClose()">
                <ams-spm-subregion-info [region]="region" [subregion]="subregion"></ams-spm-subregion-info>
            </ams-side-panel-modal> 
            <ams-side-panel-modal #spmState (closeSmpClick)="spmStateClose()">
                <ams-spm-state-info [state]="state"></ams-spm-state-info>
            </ams-side-panel-modal> 
            <ams-side-panel-modal #spmCountry (closeSmpClick)="spmCountryClose()">
                <ams-spm-country-info [country]="country"></ams-spm-country-info>
            </ams-side-panel-modal> 
        </div>
        
    </mat-sidenav-content>
</mat-sidenav-container>

<!--

<div class="main-container" [ngClass]="sidebarClass">
    
    <nav class="modus-sidebar">
        <sx-sidebar-nav></sx-sidebar-nav>
    </nav>

    <div class="modus-content-rows">
        <router-outlet></router-outlet>
    </div>

</div>
-->