
<div class="sp-row">

    <div class="sp-label" 
        [ngClass]="{'sp-label-sm':size==='small', 'sp-label-med':size==='med', 'sp-label-large':size==='large'}">
        {{label}}
    </div>
    <!-- if price  
     matTooltip="{{label}}"
    <div *ngIf="isPrice && value" class="sp-value">
        {{valueD | sxcurrency:'USD':true:'1.2-5'}}
    </div>
    -->
    <div *ngIf="isDate && value" class="sp-value">
        <div class="flex-align-items w-100">
            <div class="flex-align-items">
                <i class="material-icons size-18 mr-1">event_note</i>
                <div class="">{{value | date:'MMM d, y'}}</div>
            </div>
        </div>
    </div>
    <div *ngIf="isDateTime && value" class="sp-value">
        <div class="flex-align-items w-100">
            <div class="mr-2 flex-align-items">
                <i class="material-icons size-18 mr-1">access_time</i>
                <div class="">{{value | date:'HH:mm'}}</div>
            </div>
            <div class="flex-align-items">
                <i class="material-icons  size-18 mr-1">event_note</i>
                <div class="">{{value | date:'MMM d, y'}}</div>
            </div>
        </div>
    </div>
    <div *ngIf="isPrice && valueD" class="sp-value">
        {{valueD | currency:'EUR'}}
    </div>
    <div *ngIf="!isPrice && isNumber" class="sp-value">
        {{value | number:'1.2-2'}}
    </div>
    <div *ngIf="!isPrice && !isDate && !isDateTime && !isNumber" class="sp-value">
        {{value}}
    </div>
    <ng-content></ng-content>
    <div *ngIf="infoMessage" class="key-value-line-info">
        <sx-button-info 
            class="absolute" 
            message="{{infoMessage}}">
        </sx-button-info>
    </div>
</div>
