  <!-- Menu -->
  <div class="static-container p-0">

    <div class="d-flex flrx-align-items flex-space-between w-100">

      <div class="flex-align-items flex-start ps-2">
        <!--
          <button *ngIf="region" class="btn btn-icon-only btn-text-primary m-l-5" 
            matTooltip="Region: {{region.rName}}"
            matTooltipPosition="above" 
            [routerLink]="[roots.Root, roots.wad, roots.region]"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  >
            <i class="modus-icon material-icons text-primary">public</i>
          </button>
          -->
      </div>

      <div class="flex-align-items flex-end pe-2">
        
        <button mat-icon-button [matMenuTriggerFor]="fp_top_menu" 
          class="link blue">
          <mat-icon>calendar_view_day</mat-icon>
        </button>
        <mat-menu #fp_top_menu="matMenu">
          <button mat-menu-item class="link" (click)="ediAirline()" [disabled]="!canEdit">
            <mat-icon>edit</mat-icon>
            <span>Edit Airline</span>
          </button>
          <button mat-menu-item class="link" (click)="refreshAirline()">
            <mat-icon>refresh</mat-icon>
            <span>Refresh Airline</span>
          </button>
          <div class="dropdown-divider"></div>
          <button mat-menu-item class="link" (click)="spmAirportOpen(hqAirport)" [disabled]="!hqAirport">
            <mat-icon>info</mat-icon>
            <span>HQ Airport</span>
            <span *ngIf="hqAirport" class="pl-1">{{hqAirport.apName}}</span>
          </button>
          <button mat-menu-item class="link" (click)="solrAirport()">
            <mat-icon>bug_report</mat-icon>
            <span>Solr Airport</span>
          </button>
        </mat-menu>
        <sx-button-round message="Refresh Airline Data" 
          tooltipPlacement="bottom" (click)="refreshAirline()"
          icon="refresh">
        </sx-button-round>
      </div>

    </div>

  </div>

  <!-- Scroll Container -->
  <div class="scroll-container-h160 ps-0 pe-2">
    <div>
        <ams-card-aircraft-info 
          [aircraft]="aircraft" 
          (transferEstimate)="flightTransferEstimate($event)">
        </ams-card-aircraft-info>
        <div *ngIf="aircraft" class="col-12 m-0 p-0">
            <div class="side-panel-sec" *ngIf="aircraft">
                <div class="side-panel-sec-rows">
        
            </div><!-- sec end -->
            <div *ngIf="aircraft.imgAirUrl"  class="side-panel-sec text-center" >
                <img src="{{aircraft.imgAirUrl}}" alt="{{aircraft.macId}}" style="max-width: 330px;max-height: 200px;">
            </div>
        
    </div>
    </div>
   


  </div>
