<div class="sxtable-container-tab">
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary">
            <div class="flex-align-items flex-space-between w-100 white h64">
                <div class="flex-start flex-align-items h64">
                    <span class="semi-bold">{{dataCount | number:'1.0-0'}}</span>
                    <span class="pl-1">Charters</span>
                </div>
                <div class="flex-end mr-2 h64">

                    <sx-button-round 
                        (click)="precallculateCfgCharter()"
                        [disabled]="!canEdit"
                        message="Callculate all charter configurations"
                        icon="calculate"
                        class="mr-3"> 
                    </sx-button-round>
                    
                    <sx-button-round 
                        (click)="addCfgCharter()"
                        [disabled]="!canEdit"
                        message="Add Charter Configuration"
                        icon="add"
                        class="mr-3"> 
                    </sx-button-round>
                    
                    <mat-form-field floatLabel="always" appearance="fill" class="white size-12">
                        <mat-label class="white"><mat-icon>filter_list_alt</mat-icon> <i> filter</i></mat-label>
                        <input matInput (keyup)="applyFilter($event)" class="white">
                    </mat-form-field>
    
                    <sx-button-flat 
                        (click)="refreshClick()" 
                        position="left" 
                        message="Reload Data"
                        icon="refresh" 
                        color="dark"
                        class="mr-2 ml-3">
                    </sx-button-flat>
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">
    
            <ng-container matColumnDef="action" sticky>
                <th mat-header-cell *matHeaderCellDef class="txt-ell-120"></th>
                <td mat-cell *matCellDef="let charter" class="txt-ell-120">
                    <div class="flex-align-items w-100">
                        
                        <sx-button-round 
                            (click)="viewDetails(charter)"
                            [disabled]="!canEdit"
                            position="left" 
                            icon="open_in_new"
                            message="View Details"> 
                        </sx-button-round>
                        <sx-button-round 
                            message="Show Aircrafts Details" tooltipPlacement="bottom"
                            color="light"
                            (click)="spmCfgCharterOpen(charter)" 
                            icon="info"> 
                        </sx-button-round>

                        <mat-icon class="material-icons link size-24 blue"  
                            *ngIf="canEdit"
                            (click)="editCfgCharter(charter)"
                            matTooltip="Edit Charter Configuration"
                            matTooltipPosition="above">
                            edit
                        </mat-icon>
                        
                    </div>
                
                </td>
            </ng-container>
            <ng-container matColumnDef="charterId"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-60 text-right">№</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                    <div class="w-100 text-right">
                        {{row.charterId}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="flightName" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 text-right">Name</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="w-100 text-right">
                        {{row.flightName}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="depApCode"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 text-right">
                    <div class="flex-align-items image-16 w-100 text-right" 
                        matTooltip="Departure Airport"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >flight_takeoff</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="w-100 text-right"
                        matTooltip="Departure Airport: {{row.depApCode}} {{row.depApId}}"
                        matTooltipPosition="above">
                        {{row.depApCode}}
                    </div>
                </td>
            </ng-container>         
            <ng-container matColumnDef="arrApCode" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 text-right">
                    <div class="flex-align-items image-16 w-100 text-right" 
                        matTooltip="Arrival Airport"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >flight_land</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="w-100 text-right" 
                        matTooltip="Departure Airport: {{row.arrApCode}} {{row.arrApId}}"
                        matTooltipPosition="above">
                        {{row.arrApCode}}
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="distanceKm" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 ps-4 text-right">
                    <div class="flex-align-items image-16 w-100 text-right" 
                        matTooltip="Distance"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >travel_explore</mat-icon>
                    </div>
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="w-100 text-right">{{row.distanceKm | lenkm}}</div>
                </td>
            </ng-container>
            <ng-container matColumnDef="payloadType" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 text-right">
                    <div class="flex-align-items image-16 w-100 text-right" 
                        matTooltip="Payload"
                        matTooltipPosition="above" >
                        <mat-icon class="white" >electric_rickshaw</mat-icon>
                    </div>
                    
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="w-100 flex-end">
                        <ams-icon-payload-type 
                            [payloadType]="row.payloadType"
                            [pax]="row.pax"
                            [cargoKg]="row.cargoKg">
                        </ams-icon-payload-type>
                    </div>
                        
                </td>
            </ng-container>
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-120 text-right white">Price</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-120-sort text-right">
                   {{row.price| currency:'EUR' }}
                </td>
            </ng-container>
            <ng-container matColumnDef="periodDays">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 text-right white">Frequency </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="text-right">
                        {{row.periodDays | number:'1.0-0'}} d
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="nextRun">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-120 text-right">Next Run</th>
                <td mat-cell *matCellDef="let row"  class="txt-ell-120-sort text-right">
                    <div class="text-right" matTooltip="Next Run: {{row.nextRun | date:'cccc HH:mm MMM d, y'}}"
                    matTooltipPosition="above">{{row.nextRun | date:'ccccc HH:mm MMM d'}}</div>
                </td>
            </ng-container>
            <ng-container matColumnDef="lastRun">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-100 text-right">Updated On</th>
                <td mat-cell *matCellDef="let row"  class="txt-ell-100-sort text-right">
                    <div class="text-right" matTooltip="Last Updated: {{row.lastRun | date:'HH:mm MMM d'}}"
                    matTooltipPosition="above">{{row.lastRun | date:'HH:mm MMM d'}}</div>
                </td>
            </ng-container>
            <ng-container matColumnDef="flightDescription" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell text-left">Description</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-sort text-left">
                    <div class="text-left">
                        <div>{{row.flightDescription}}</div>
                    </div>
                </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        [showFirstLastButtons]="true" >
    </mat-paginator>
</div>