<!-- <div class="panel-body" style="flex-grow: 1">
     Static Container -->
    <div class="static-container p-0">

      <div class="d-flex flrx-align-items flex-space-between w-100">

        <div class="flex-align-items flex-start">
          <!--
          <button *ngIf="region" class="btn btn-icon-only btn-text-primary m-l-5" 
            matTooltip="Region: {{region.rName}}"
            matTooltipPosition="above" 
            [routerLink]="[roots.Root, roots.wad, roots.region]"
            routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"  >
            <i class="modus-icon material-icons text-primary">public</i>
          </button>
          -->
        </div>
        
        <div class="flex-align-items flex-end">
         
          <div class="" ngbDropdown  *ngIf="airline">
            <sx-format-control 
                class="link size-18"
                label="" color="light"
                [matMenuTriggerFor]="alMenu"
                icon="calendar_view_day">
            </sx-format-control>
            <mat-menu #alMenu="matMenu">
                <button *ngIf="canEdit" mat-menu-item class="link" (click)="ediAirline()">
                    <mat-icon>edit</mat-icon> 
                    <span>Edit Airline</span>
                </button>
                <button mat-menu-item class="link" (click)="refreshAirline()">
                  <mat-icon>refresh</mat-icon> 
                  <span>Refresh Airline</span>
              </button>
              <div *ngIf="hqAirport" class="dropdown-divider"></div>
              <button mat-menu-item  class="link" (click)="spmAirportOpen(hqAirport)">
                  <mat-icon>info</mat-icon> 
                  <span>HQ Airport {{hqAirport.apName}}</span>
              </button>
              <button mat-menu-item  class="link" (click)="solrAirport()">
                <mat-icon>bug_report</mat-icon> 
                <span>Solr Airport {{hqAirport.apName}}</span>
            </button>
            </mat-menu>
            
        </div>
          <sx-button-round 
              message="Show Airine Details" tooltipPlacement="bottom"
               color="light"
              (click)="spmAirlineOpen(airline)" 
              icon="info"> 
          </sx-button-round>
        </div>
        
      </div>

    </div>

    <!-- Scroll Container -->
    <div class="scroll-container bg-white p-0">
     
      <mat-nav-list class="pt-0">
        <!--
        <mat-list-item  [routerLink]="[routs.info, routs.dashboard]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <div class="flex-align-items">
            <div class="flex-start">
              <button mat-icon-button (click)="spmAirlineOpen(airline) ">
                <mat-icon>info</mat-icon>
              </button>
            </div>
            <div class="flex-end w-100 flex-align-items flex-space-between">
              <a matLine href="...">Airline</a>
            </div>
          </div>
        </mat-list-item>
      -->
        <mat-list-item class="border-b1"
          [routerLink]="[routs.info]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <img matListItemAvatar [src]="bankImg" [alt]="airline.iata">
          <div matListItemTitle>BANK ACCOUNT №{{airline.bankId | number:'3.0'}}</div>
          <div matListItemLine>
             {{airline.amount | currency:'EUR'}}
          </div>
        </mat-list-item>
      </mat-nav-list>
      <div class="block w-100 p-2" *ngIf="showMac">
        <ams-card-mac-info *ngIf="acmmac" [mac]="acmmac"></ams-card-mac-info>
        <div *ngIf="acmmac && acmmac.imgAirUrl"  class="side-panel-sec text-center" >
          <img src="{{acmmac.imgAirUrl}}" alt="{{acmmac.model}}" style="max-width: 330px;max-height: 200px;">
      </div>
      </div>
      
      
    </div>
