
    <div class="flex-row flex-wrap" *ngIf="regions">
        <!-- -regions col-lg-6 col-md-12 col-sm-12 flex-align-items p-0-->
        <div class="col-lg-4 col-md-6 col-sm-12 tile tile-wad" >
            <mat-card appearance="outlined">
                <!--
            <mat-card-subtitle>United Nations Geoscheme
                <span *ngIf="regions">({{regions.length | number:'1.0-0'}})</span>
            </mat-card-subtitle>
        -->
            <mat-card-content class="overlay-brown">
                <div class="file-graphic">
                    <div class="width-100 white thin size-20 p-4" style="line-height: 1.8;">The 
                        <a href="https://en.wikipedia.org/wiki/United_Nations_geoscheme"
                            class="dark-link" target="_blank">
                        United Nations geoscheme</a> is a system which divides the countries 
                        of the world into regional and subregional groups.
                        It was devised by the United Nations Statistics Division (UNSD) based 
                        on the M49 coding classification.
                    </div>
                </div>
            </mat-card-content>
            </mat-card>
        </div>
        <!-- -regions -->
        <div class="col-lg-4 col-md-6 col-sm-12 tile tile-wad" *ngFor="let region of regions" >
            <mat-card appearance="outlined" (click)="gotoRegion(region)">
            <mat-card-subtitle>{{region.rName}}
                <span *ngIf="region && region.subregions">({{region.subregions | number:'1.0-0'}})</span>
            </mat-card-subtitle>
            <mat-card-content class="overlay-blue">
                <div *ngIf="chartDataUserList" class="ile-graphic">

                </div>
                <img *ngIf="!chartDataUserList && region" class="tile-graphic" src="{{amsImgUrl}}country/region_{{region.rCode}}.png"
                alt="{{region.rCode}}">
            </mat-card-content>
            </mat-card>
        </div>
        
    </div>

