<div class="main-container-child" >
    
        <div class="d-block w-100" >
            <!--
            <ams-chart-line 
                [environment]="env"
                [chartData]="chartDataUserHistory"
                title="Profit last 7 days"
                [chartLabels]="chartLabelsUserHistory"
                (chartClick)="onChartClick($event)">
            </ams-chart-line>
            -->
        </div>
        <div class="d-flex flex-row highlighted m-3">

            <div class="card-avatar" >
                <div class="card-header">Avatar</div>
                <div class="card-body">
                    <img *ngIf="avatarUrl;else noImageAvailable" [src]="avatarUrl" [ngClass]="imageClass" (load)="onImageLoad()" >
                    <ng-template #noImageAvailable >
                        <img [src]="noImageUrl" [ngClass]="imageClass" (load)="onImageLoad()" >
                    </ng-template>
                 </div>
            </div>

            <div class="card ml-3 flex-fill p-2" >
                <div class="card-header">User Profile</div>
                <div class="card-body d-flex align-content-start flex-wrap">
                    <div class="d-block col-sm-12 col-md-6">
                        <div class="side-panel-sec" *ngIf="user">
                            <div class="side-panel-sec-title">Contact</div>
                            <div class="side-panel-sec-rows">
                                <sx-side-panel-row-value label="ID: " [value]="user.userId | number:'1.0-0'"></sx-side-panel-row-value>
                                <sx-side-panel-row-value label="Name: " [value]="user.userName"></sx-side-panel-row-value>
                                <sx-side-panel-row-value label="Email: " [value]="user.userEmail"></sx-side-panel-row-value>
                                <div class="sp-row">
                                    <div class="sp-label" matTooltip="Created On">Created On</div>
                                    <div class="sp-value">
                                        <div class="flex-align-items">
                                            <i class="material-icons size-16 mr-1">event_note</i>
                                            <span>{{user.adate | date:'MMM d, y'}}</span>
                                        </div>
                                    </div>
                                </div>
                                <sx-side-panel-row-value label="Role: " [value]="user.userRole | userrole"></sx-side-panel-row-value>
                            </div>
                        </div>
                    </div>
                    <div class="d-block col-sm-12 col-md-6">
                        <div class="side-panel-sec" *ngIf="user">
                            <div class="side-panel-sec-title">Contacts</div>
                            <div class="side-panel-sec-rows">
                                <sx-side-panel-row-value label="Name" [value]="user?.userName"></sx-side-panel-row-value>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>

        </div><!-- flex-row end -->
    
   
</div><!-- login-page-container -->