    <mat-tab-group #tabGrp class="ams-content-bory-tabs" mat-stretch-tabs #branchTabs class="p-0" 
        [preserveContent]="true"
        [selectedIndex]="selTabIdx"
        (selectedIndexChange)="selectedTabChanged($event)">

        <!-- -TAB 0 dashboard -->
        <mat-tab label="Dashboard" >
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">dashboard</mat-icon>
                Dashboard
            </ng-template>
            <div class="m-0 tab-blue text-center">
                <ams-map-liflet-shedule-group #grpMapTab></ams-map-liflet-shedule-group>
            </div>
        </mat-tab>
        <mat-tab label="Schedules Chart">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">calendar_month</mat-icon>
                Schedules Calendar
            </ng-template>
               <ams-flpn-schedule-chart [tabindex]="1"></ams-flpn-schedule-chart>
        </mat-tab>
        <mat-tab label="Schedules">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">schedule</mat-icon>
                Schedules
            </ng-template>
                <ams-al-flpn-schedule-table [tabindex]="2"></ams-al-flpn-schedule-table>
        </mat-tab>
        <mat-tab label="Flight Number">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">flight</mat-icon>
                Flight Numbers
            </ng-template>
                <ams-al-flp-number-table [tabindex]="3"></ams-al-flp-number-table>
        </mat-tab>
        <mat-tab label="Groups">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">group_work</mat-icon>
                Groups
            </ng-template>
                <ams-flp-shedule-group-table [tabindex]="4"></ams-flp-shedule-group-table>
        </mat-tab>
        <mat-tab label="Routes">
            <ng-template mat-tab-label>
                <mat-icon class="mr-2 blue">route</mat-icon>
                Routes
            </ng-template>
            <ams-flp-shedule-route-table class="sxtable-container-tab" [tabindex]="5"></ams-flp-shedule-route-table>
        </mat-tab>
        


    </mat-tab-group>
