<div class="title-container">
    <div class="modal-title">CHARTER ESTIMATE</div>
</div>
<hr class="mb-0">
<div *ngIf="!flight">No Data</div>
<div  *ngIf="flight" class="col-12 m-0 p-0">
    <div class="side-panel-sec-rows">

        <div class="sp-row mt-2">
            <div class="flex-start flex-align-items"
                matTooltip="Charter Flight: {{flight.flName}} ({{flight.flNum}})"
                matTooltipPosition="above">
                <ams-icon-flight-type class="blue" [flType]="flight.flTypeId"></ams-icon-flight-type>
                <div class="flex">{{flight.flName}}</div>
            </div>
            <div class="flex-end">
                <div class="flex-align-items">
                    <ams-icon-payload-type 
                        class="mr-1"
                        *ngFor="let pl of flight.payloads"
                        [payloadType]="pl.payloadType"
                        [pax]="pl.pax"
                        [cargoKg]="pl.cargoKg">
                    </ams-icon-payload-type>
                </div>
            </div>
        </div>
        <div class="col-12 p-0 mt-2 text-center">
            <div class="flex-align-items flex-center text-center thin">
                <div class="flex-align-items pe-1" *ngIf="flight.chCompletedPct">
                    <div class="flex pe-1">Compleated:</div>
                    <div class="flex" >{{flight.chCompletedPct/100 | percent:'1.0-2'}}</div>
                </div>
                <div class="flex-align-items pe-1" *ngIf="flight.chPaxLeft">
                    <div class="flex pe-1">pax:</div>
                    <div class="flex" >{{flight.chPaxLeft | number:'1.0-2'}}</div>
                </div>
                <div class="flex-align-items pe-1" *ngIf="flight.chCargoLeft">
                    <div class="flex pe-1">cargo </div>
                    <div class="flex" >{{flight.chCargoLeft | number:'1.0-2'}}</div>
                </div>
            </div>
        </div>

        <div class="col-12 p-0 border-bottom text-center mt-2 mb-2 thin">
            {{flight.flDescription}}
        </div>

        <div class="sp-row border-bottom border-tertiary">
            <div class="col-4 p-0 flex-start">
                <ams-icon-ap-code [apId]="flight.depApId" [showName]="true" class="flex"></ams-icon-ap-code>
            </div>
            <div class="col-4 p-0 text-center">to</div>
            <div class="col-4 p-0 flex-end">
                <ams-icon-ap-code [apId]="flight.arrApId" [showName]="true" class="flex"></ams-icon-ap-code>
            </div>
        </div>

        <div class="sp-row border-bottom border-tertiary mt-2">
            <div class="col-4 p-0 flex-start">
                <ams-icon-value *ngIf="flight.dtime" class="blue"
                    pipe="datetime" icon="flight_takeoff"
                    [value]="flight.dtime" label="Departure at">
                </ams-icon-value>
            </div>
            <div class="col-4 p-0 text-center">
                <ams-icon-value *ngIf="flight.distanceKm" 
                    pipe="lenkm" icon="travel_explore"
                    [value]="flight.distanceKm" label="Distance">
                </ams-icon-value>
            </div>
            <div class="col-4 p-0 flex-end">
                <ams-icon-value *ngIf="flight.atime" class="blue"
                    pipe="datetimer" icon="flight_land"
                    [value]="flight.atime" label="Arrival at">
                </ams-icon-value>
            </div>
        </div>

        <div class="sp-row border-bottom border-tertiary">
            <div class="col-4 p-0 flex-start">
                <ams-icon-value *ngIf="flight.durationMin" 
                    pipe="periodmin" icon="timelapse"
                    [value]="flight.durationMin" label="Flight Duration">
                </ams-icon-value>
            </div>
            <div class="col-4 p-0 text-center">
                <ams-icon-value *ngIf="flight.oilL" 
                    pipe="liters" icon="local_gas_station"
                    [value]="flight.oilL" label="Fuel L">
                </ams-icon-value>
            </div>
            <div class="col-4 p-0 flex-end">
                <ams-icon-value *ngIf="flight.oilPrice" 
                    pipe="currencyr" icon="local_gas_station" class="orange"
                    [value]="flight.oilPrice" label="Fuel Price">
                </ams-icon-value>
            </div>
        </div>
        <div class="sp-row border-bottom border-tertiary">
            <div class="col-4 p-0 flex-start">
                <ams-icon-value *ngIf="flight.groundCrewFee" 
                    pipe="currency" icon="luggage" class="orange"
                    [value]="flight.groundCrewFee" label="Ground and Crew Fee">
                </ams-icon-value>
            </div>
            <div class="col-4 p-0 text-center">
                <ams-icon-value *ngIf="flight.boardingFee" class="orange"
                    pipe="currency" icon="follow_the_signs"
                    [value]="flight.boardingFee" label="Boarding Fee">
                </ams-icon-value>
            </div>
            <div class="col-4 p-0 flex-end">
                <ams-icon-value *ngIf="flight.flPrice" 
                    pipe="currencyr" icon="airplane_ticket" class="orange"
                    [value]="flight.flPrice" label="Flight Exences">
                </ams-icon-value>
            </div>
        </div>
        <div class="sp-row border-bottom border-tertiary mt-3">
            <div class="col-4 p-0 flex-start">
                <ams-icon-value *ngIf="flight.income" 
                    pipe="currency" icon="monetization_on" class="green"
                    [value]="flight.income" label="Flight Income">
                </ams-icon-value>
            </div>
            <div class="col-4 p-0 text-center">
                <ams-icon-value *ngIf="flight.expences" 
                    pipe="currency" icon="shopping_cart_checkout" class="orange"
                    [value]="flight.expences" label="Expences Total">
                </ams-icon-value>
            </div>
            <div class="col-4 p-0 flex-end">
                <ams-icon-value *ngIf="flight.revenue" 
                    pipe="currencyr" icon="price_check" class="red"
                    [value]="flight.revenue" label="Profit">
                </ams-icon-value>
            </div>
        </div>
        
    </div>
</div>

<div class="mt-2">
    
</div> 
