@use '@angular/material' as mat;

@include mat.core();

//$my-primary: mat.define-palette(mat.$indigo-palette, 500);
//$my-accent: mat.define-palette(mat.$yellow-palette, A400, A100, A700);
//These four hues represent, in order: "default", "lighter" hue, a "darker" hue, and a "text"
$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$amber-palette,  400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
 typography: mat.define-typography-config(),
 density: -1,
 /*densities:-2,*/
));

@include mat.all-component-themes($my-theme);

.dense-2 {
  @include mat.all-component-densities(-2);
}


.mat-datepicker-content-container,
.mat-calendar {
    background-color: white;
  }

  .mat-datepicker-content {
    box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
    background-color: #fff;
    color: #000000de
  }
  
  .mat-calendar-body-selected {
    background-color: #007f51;
    color: #fff;
  }
  
  .mat-calendar-body-cell-content {
    border: none !important;
  }
/*
.active,
.selected {
    /*border-color: transparent !important;
    background-color: ui-color('accent') !important;
    color: ui-color('main-background') !important;*******
    .mat-icon, .material-icons {
        /*"default", "lighter", "darker", and "text"*
        /*background-color: mat.get-color-from-palette($my-primary, 'default');*
        color: mat.get-color-from-palette($my-accent, 'darker');
        &:hover{
            color: mat.get-color-from-palette($my-accent, 'lighter')!important;
        }
    }
}

.mat-mdc-button-base{
    @extend .mat-mdc-button-base;
    &:hover{
        color: mat.get-color-from-palette($my-accent, 'text')!important;
    }
}*/
/*
.mat-datepicker-toggle .mat-icon-button {
    background-color: blue;
    color:white;
  }
  
  .mat-calendar, .mat-datepicker-content-container {
    background-color: white;
  }

*/
