 <!-- Title -->
 <div *ngIf="!hideBtns && aircraft" class="sp-row border-bottom border-tertiary" style="background-color: #f0f8ff;">
    <div class="col-6 flex-start flex-align-items px-1">
        <button mat-icon-button color="primary"
            matTooltip="Go to aircraft detail" 
            matTooltipPosition="above"  (click)="gotoAircraft()">
            <mat-icon>open_in_new</mat-icon>
        </button>
        <button mat-icon-button *ngIf="aircraft.homeApId"
            [disabled]="!canTransfer" color="primary" class="ms-1"
            matTooltip="Estimate transfer flight to {{aircraft.homeAp}} " 
            matTooltipPosition="above"  (click)="transferEstimat()">
            <mat-icon>move_down</mat-icon>
        </button>
        <button mat-icon-button *ngIf="aircraft.homeApId"
            [color]="(aircraft?.pendingMnt) ? 'warn' : 'secondary'"
            [disabled]="!aircraft?.canAssignMaintenance" class="ms-1"
            matTooltip="Aircraft maintenance approaching. It is imperative to perform the necessary maintenance actions in order to keep an aircraft airworthy and ensure safe operations." 
            matTooltipPosition="above"  (click)="setMnt()">
            <mat-icon>handyman</mat-icon>
        </button>
        <button mat-icon-button *ngIf="aircraft"
            color="primary"
            [disabled]="!canEdit" class="ms-1"
            matTooltip="Change Home Airport." 
            matTooltipPosition="above"  (click)="homeApEditClick()">
            <mat-icon>house</mat-icon>
        </button>
    </div>
    <div class="col-6 flex p-0 flex-end">
       
            
    </div>
</div>
 <mat-tab-group mat-stretch-tabs #flInfoTabs class="mat-card col-12 px-0 flight-info" 
    style="min-height:310px;height: 315px;">
    <!-- -TAB 0 --> 
    <mat-tab label="Info">
        <ng-template mat-tab-label>
            <mat-icon class="me-1 blue">info</mat-icon>
        </ng-template>
        <div *ngIf="aircraft" class="flex-align-items w-100">
            <div class="side-panel-sec-rows">
                <div class="sp-row flex-align-items " >
                    <div class="flex-start icon-value-large" 
                        matTooltip="See Aircraft Info: {{aircraft.registration}}" (click)="gotoAircraft()">
                        <img *ngIf="aircraft.imgTableUrl;else noAcImg" src="{{aircraft.imgTableUrl}}" alt="{{aircraft.acId}}"/>
                        <ng-template #noAcImg >
                            <img [src]="acImgUrl" alt="{{aircraft.acId}}">
                        </ng-template>
                    </div>
                    <div class="flex-end ps-2 w-100">
                        <div class="side-panel-sec">
                            <div class="side-panel-sec-rows">

                                <div class="sp-row border-bottom border-tertiary">
                                    <div class="flex-start blue link" 
                                    matTooltip="Go to aircraft: {{aircraft.registration}} ({{aircraft.acId}})" 
                                    matTooltipPosition="above" (click)="gotoAircraft()">
                                        {{aircraft.registration}}
                                    </div>
                                    <div class="flex-end">
                                        <ams-icon-ac-for-shedule 
                                            [isforschedule]="aircraft.forSheduleFlights"  
                                            [grpId]="aircraft.grpId"
                                            [grpName]="aircraft.grpName"    >
                                        </ams-icon-ac-for-shedule>
                                        <!--    
                                        <ams-icon-ap-active [value]="aircraft.acStatusId === acActive"></ams-icon-ap-active>
                                        -->    
                                    </div>
                                </div>
                                <div class="sp-row border-bottom border-tertiary">
                                    <div class="flex-start w-100 flex-align-items" >
                                        <mat-icon class="me-1 flex-start gray"  matTooltip="Home Airport: {{aircraft.homeAp}} " >house</mat-icon>
                                        <ams-icon-ap-code *ngIf="aircraft.homeApId" [apId]="aircraft.homeApId" [showName]="true" [showNSvg]="false" label="Home Airport" class="flex-start"></ams-icon-ap-code>
                                        <!--
                                        <ams-icon-ac-status class="flex pe-1" [acStatusId]="aircraft.acStatusId"></ams-icon-ac-status>
                                        <div *ngIf="aircraft?.acActionTypeId" class="flex ps-1 text-ellipsis" matTooltip="Status: {{aircraft.acStatusId | acstatus}}, AC Action: {{aircraft.acActionTypeId | acat}}">{{aircraft.acActionTypeId | acat}}</div>
                                    -->
                                    </div>
                                </div>
                                <!-- Last Row with action Buttons -->
                                <div class="sp-row border-bottom border-tertiary">
                                    <ams-al-livery *ngIf="aircraft.ownerAlId" [alId]="aircraft.ownerAlId" tooltip="Aircraft Owner"></ams-al-livery>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- buttons --
                <div *ngIf="!hideBtns" class="sp-row border-bottom border-tertiary" >
                    <div class="col-6 flex-start flex-align-items px-1">
                        <button mat-icon-button color="primary"
                            matTooltip="Go to aircraft detail" 
                            matTooltipPosition="above"  (click)="gotoAircraft()">
                            <mat-icon>open_in_new</mat-icon>
                        </button>
                        <button mat-icon-button *ngIf="aircraft.homeApId"
                            [disabled]="!canTransfer" color="primary" class="ms-1"
                            matTooltip="Estimate transfer flight to {{aircraft.homeAp}} " 
                            matTooltipPosition="above"  (click)="transferEstimat()">
                            <mat-icon>move_down</mat-icon>
                        </button>
                        <button mat-icon-button *ngIf="aircraft.homeApId"
                            [color]="(aircraft?.pendingMnt) ? 'warn' : 'secondary'"
                            [disabled]="!aircraft?.canAssignMaintenance" class="ms-1"
                            matTooltip="Aircraft maintenance approaching. It is imperative to perform the necessary maintenance actions in order to keep an aircraft airworthy and ensure safe operations." 
                            matTooltipPosition="above"  (click)="setMnt()">
                            <mat-icon>handyman</mat-icon>
                        </button>
                        <button mat-icon-button *ngIf="aircraft"
                            color="primary"
                            [disabled]="!canEdit" class="ms-1"
                            matTooltip="Change Home Airport." 
                            matTooltipPosition="above"  (click)="homeApEditClick()">
                            <mat-icon>house</mat-icon>
                        </button>
                    </div>
                    <div class="col-6 flex p-0 flex-end">
                       
                            
                    </div>
                </div>
                -->
                <div class="sp-row flex-align-items border-bottom border-tertiary mt-1">
                    <div class="col-5 flex-start flex-align-items" >
                        <ams-icon-ac-status class="flex pe-1 gray" [acStatusId]="aircraft.acStatusId"></ams-icon-ac-status>
                        <div *ngIf="aircraft?.acActionTypeId" class="flex ps-1 text-ellipsis" matTooltip="Status: {{aircraft.acStatusId | acstatus}}, AC Action: {{aircraft.acActionTypeId | acat}}">{{aircraft.acActionTypeId | acat}}</div>
                    </div>
                    <div class="col-3 flex-start ps-2" >
                        <ams-icon-value *ngIf="aircraft.logDistanceKm" 
                            pipe="lenkm" icon="architecture"
                            [value]="aircraft.logDistanceKm" label="{{aircraft.acActionTypeId | acat}} Distance Km">
                        </ams-icon-value>
                    </div>
                    <div class="col-4 flex-end" >
                        <ams-icon-value *ngIf="minFromlogAdate" class="w-100"
                            pipe="periodminr" icon="timelapse"
                            [value]="minFromlogAdate" label="Time in {{aircraft.acActionTypeId | acat}}">
                        </ams-icon-value>
                    </div>
                </div>
                <!-- 
                <div class="sp-row border-bottom border-tertiary mt-1" >
                    <div class="flex-start w-100 flwx-align-items" *ngIf="!mntOpt">
                        <div *ngIf="nextMntOpt && nextMntTimeMin" class="flex-align-items  w-100" 
                            [ngClass]="{'red':nextMntTimeMin<1,'orange':nextMntTimeMin<10, 'green-dark':nextMntTimeMin>10}"
                            matTooltip="Flight Hours to {{nextMntOpt.name}}: {{(nextMntTimeMin*60) | periodmin}}" 
                            matTooltipPosition="above" >
                            <div class="text-ellipsis">{{(nextMntTimeMin*60) | periodmin}} h to</div>
                            <div class="text-ellipsis ps-1">{{nextMntOpt.id | mnttype}}</div>
                        </div>
                    </div>
                    <div class="flex-start w-100 flwx-align-items" *ngIf="mntOpt">
                        <div class="flex-align-items w-100" 
                            [ngClass]="{'red':(mntTimeLeftMin > 90),'orange':((30 < mntTimeLeftMin) && (mntTimeLeftMin < 90)), 'green-dark':(mntTimeLeftMin<30)}"
                            matTooltip="{{nextMntOpt.name}}: {{mntTimeLeftMin | periodmin}}" 
                            matTooltipPosition="above" >
                            <div class="text-ellipsis">{{ mntTimeLeftMin | periodmin}} h left in</div>
                            <div class="text-ellipsis ps-1">{{nextMntOpt.id | mnttype}}</div>
                        </div>
                    </div>
                </div>
                -->
                <div *ngIf="(aircraft?.acActionTypeId !== mntCheck)" 
                    class="sp-row border-bottom border-tertiary p-2 mt-0" 
                    [ngClass]="{'bg-red':nextMntTimeMin<5,'bg-orange':nextMntTimeMin<10, 'bg-teal':nextMntTimeMin>10}">
                    <div class="flex-start flex-align-items p-0 w-100">
                        <div class="white pe-1 text-ellipsis">Next mantenance:</div>
                        <div *ngIf="nextMntOpt" class="white pe-1 text-nowrap" matTooltip="Next mantenance:{{nextMntOpt?.name}} duration: {{nextMntOpt.timeMin | periodmin}} h" >{{nextMntOpt?.name}}</div>
                        <div class="white text-nowrap">in {{(nextMntTimeMin*60) | periodmin}} flight hours.</div>
                    </div>
                    <!--
                    <div class="flex-end flex-align-items p-0">
                        <ams-icon-value
                            pipe="periodminr" icon="construction" class="white"
                            [value]="nextMntOpt.timeMin" label="Mantenance {{nextMntOpt.name}} duration">
                        </ams-icon-value>
                    </div>
                    -->
                </div>
                <div *ngIf="mntRequired && (aircraft?.acActionTypeId !== mntCheck)" 
                    class="sp-row border-bottom border-tertiary p-2 mt-0 bg-red" >
                    <div class="flex-start flex-align-items p-0 w-100">
                        <div class="white pe-2">Require</div>
                        <div class="white pe-2">{{nextMntOpt?.name}}</div>
                        <div class="white text-ellipsis">maintenance</div>
                    </div>
                    <div class="flex-end flex-align-items p-0">
                        <ams-icon-value
                            pipe="periodminr" icon="construction" class="white"
                            [value]="nextMntOpt.timeMin" label="Mantenance {{nextMntOpt?.name}} duration">
                        </ams-icon-value>
                    </div>
                    
                </div>
            
                <div *ngIf="aircraft?.acActionTypeId === mntCheck" class="sp-row border-bottom border-tertiary bg-blue white p-2 mt-0" >
                    <div class="col-4 flex">
                        <div  class="flex-align-items w-100 text-left" 
                            matTooltip="{{aircraft.acActionTypeId | acat}} " 
                            matTooltipPosition="above" >
                            <ams-icon-value  pipe="datetime" icon="handyman" class="white"
                                [value]="aircraft.logAdate" label="Maintenance Start">
                            </ams-icon-value>
                        </div>
                    </div>
                    <div class="col-4 flex p-0">
                        <div *ngIf="pendingMntOpt" class="block white w-100 text-center" 
                            matTooltip="{{pendingMntOpt?.name}} " 
                            matTooltipPosition="above" >
                            <div class="text-center text-ellipsis">{{pendingMntOpt?.amtId | mnttype}}</div>
                        </div>
                    </div>
                    <div class="col-4 flex p-0 flex-end">
                        <ams-icon-value *ngIf="aircraft.logDurationMin" class="white"
                            pipe="periodminr" icon="schedule_send"
                            [value]="aircraft.logDurationMin" label="Meintenance Time">
                        </ams-icon-value>
                    </div>
                </div>

            </div>
        </div>
    </mat-tab>
    <!-- -TAB 1 --> 
    <mat-tab label="Settings">
        <ng-template mat-tab-label>
            <mat-icon class="me-1 blue">settings</mat-icon>
        </ng-template>
        <div *ngIf="aircraft" class="flex-align-items w-100">
            <div class="side-panel-sec">
                <div class="side-panel-sec-rows">
                    <div class="sp-row border-bottom border-tertiary mt-2" >
                        <div class="col-5">
                            <ams-icon-value  *ngIf="aircraft.fuelConsumptionLp100km"
                            pipe="lpkm" icon="local_gas_station"
                            [value]="aircraft.fuelConsumptionLp100km" label="Fuel Consumption">
                        </ams-icon-value>
                        </div>
                        <div class="col-2">
                           
                        </div>
                        
                        <div class="col-5 flex-end">
                            <ams-icon-value *ngIf="aircraft.costPerFh" 
                                pipe="currencyr" icon="payments"
                                [value]="aircraft.costPerFh" label="Cost per Flight Hour">
                            </ams-icon-value>
                        </div>
                    </div>
                    <div class="sp-row border-bottom border-tertiary mt-2" >
                        <div class="col-6 flex-align-items ">
                            <ams-icon-value *ngIf="aircraft.minRunwayM" 
                                pipe="len" icon="settings_ethernet"
                                [value]="aircraft.minRunwayM" label="Min Runway Lenght">
                            </ams-icon-value>
                        </div>
                        <div class="col-6 flex-end pe-1">
                            <ams-icon-value *ngIf="aircraft.cruiseSpeedKmph" 
                                pipe="speed" icon="speed"
                                [value]="aircraft.cruiseSpeedKmph" label="Cruise Speed">
                            </ams-icon-value>
                        </div>
                    </div>
                    <div class="sp-row border-bottom border-tertiary mt-2" >
                        <div class="flex-align-items w-100 pe-1">
                            <ams-icon-value *ngIf="aircraft?.maxRangeKm" 
                                pipe="nmi" icon="network_check" class="flex-start"
                                [value]="aircraft?.maxRangeKm" label="Range">
                            </ams-icon-value>
                            <div *ngIf="aircraft?.maxRangeKm" class="flex-end">{{aircraft?.maxRangeKm | lenkm}}</div>
                            
                        </div>
                    </div>
                    <div class="sp-row border-bottom border-tertiary mt-2" >
                        <div class="col-12 flex-end p-0" >
                            <!--
                             <ams-icon-value  *ngIf="aircraft.cargoKg" 
                                pipe="mtow" icon="local_shipping"
                                [value]="aircraft.cargoKg" label="Cargo Capacity">
                            </ams-icon-value>
                            -->
                            <ams-cabin-seat 
                                [paxF]="aircraft.paxF"
                                [paxB]="aircraft.paxB"
                                [paxE]="aircraft.paxE"
                                [crew]="aircraft.crew"
                                [pilots]="aircraft.pilots"
                                [cargoKg]="aircraft.cargoKg">
                            </ams-cabin-seat>
                        </div>
                    </div>

                    <div class="sp-row border-bottom border-tertiary mt-2" >
                        <div class="col-6 flex-start text-ellipsis">
                            <ams-icon-value *ngIf="aircraft.price" 
                                pipe="currency" icon="price_check"
                                [value]="aircraft.price" label="Price">
                            </ams-icon-value>
                        </div>
                        <div class="col-6 flex-end p-0 text-ellipsis">
                            <ams-icon-value *ngIf="nextProducedOn" 
                                pipe="datetimer" icon="plus_one"
                                [value]="nextProducedOn" label="Next production">
                            </ams-icon-value>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-tab>
    <!-- -TAB 2 --> 
    <mat-tab label="Status">
        <ng-template mat-tab-label>
            <mat-icon class="me-1 blue">satellite_alt</mat-icon>
        </ng-template>
        <div *ngIf="aircraft" class="flex-align-items w-100">
            <div class="side-panel-sec-rows">
                <div class="sp-row flex-align-items border-bottom border-tertiary" >
                    <div class="col-4 flex-start icon-value-large flex-column text-center">
                        <ams-icon-ac-type class="text-center" [acTypeId]="aircraft.acTypeId"></ams-icon-ac-type>
                        <div *ngIf="aircraft" class="px-1">{{aircraft.acTypeId | actype}}</div>
                    </div>
                    <div class="col-8 flex-end ps-1">
                        <div class="side-panel-sec">
                            <div class="side-panel-sec-rows">

                                <div class="sp-row border-bottom border-tertiary">
                                    <div class="flex-start w-100" >
                                        <ams-icon-ap-code *ngIf="aircraft.currApId" [apId]="aircraft.currApId" [showName]="true" [showNSvg]="true" label="Current Airport" class="flex-start text-ellipsis"></ams-icon-ap-code>
                                    </div>
                                </div>
                                <div class="sp-row">
                                    <div class="flex-start w-100 flex-align-items" >
                                        <ams-icon-value *ngIf="aircraft.flightHours"
                                            pipe="periodmin" icon="timelapse"
                                            [value]="aircraft.flightHours * 60" label="Total Flight Hours">
                                        </ams-icon-value>
                                    </div>
                                    <div class="flex-end" >
                                        <ams-icon-value *ngIf="aircraft.opTimeMin"
                                            pipe="periodminr" icon="hourglass_bottom"
                                            [value]="aircraft.opTimeMin" label="Operation Time">
                                        </ams-icon-value>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sp-row mt-2" >
                    <div class="flex-start">Flights In Queue:</div>
                </div>
                <div  class="sp-row border-bottom border-tertiary mt-2" >
                    <div class="col-6 flex-align-items text-left">
                        <ams-icon-value  
                            pipe="int" icon="flight_takeoff"
                            [value]="aircraft.flInQueue??0" label="Flights In Queue">
                        </ams-icon-value>
                    </div>
                    <div class="col-6 flex-align-items p-0 flex-end">
                        <ams-icon-value 
                            pipe="periodmin" icon="pending_actions"
                            [value]="((aircraft.flqSumFlightH??0)*60)" 
                            label="Summary of flight time for flights in queue">
                        </ams-icon-value>
                    </div>
                </div>
                <div class="sp-row border-bottom border-tertiary mt-2" *ngIf="aircraft.lastFlqArrApId">
                    <div class="col-6 flex-align-items text-left">
                        <ams-icon-ap-code *ngIf="aircraft.lastFlqArrApId" [apId]="aircraft.lastFlqArrApId" [showName]="false" label="Last Airport in Queue" class="flex-start"></ams-icon-ap-code>
                        
                    </div>
                    <div class="col-6 flex-align-items p-0 flex-end">
                        <ams-icon-value *ngIf="aircraft.lastFlqArrTime"
                            pipe="datetimer" 
                            [value]="aircraft.lastFlqArrTime" 
                            label="Last FLQ Arrival at">
                        </ams-icon-value>
                    </div>
                </div>
                <div *ngIf="mtn" class="sp-row mt-2" >
                    <div class="flex-start">Maintenance Plan:</div>
                    <div class="flex-end">
                        <button mat-icon-button
                            [color]="(canDelMtn) ? 'warn' : 'secondary'"
                            [disabled]="!canDelMtn" class="ms-1"
                            matTooltip="Delete maintenance plan. " 
                            matTooltipPosition="above"  (click)="deleteMtn()">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </div>
                </div>

                <div *ngIf="mtn" class="sp-row bg-blue white p-2 mt-0" >
                    <div class="col-6 flex-start">
                        <div class="flex-align-items w-100 text-left" >
                            <mat-icon class="white flex-start me-1"
                                matTooltip="{{mtn.description}} ({{mtn.acmpId}})" 
                                matTooltipPosition="above">
                                handyman
                            </mat-icon>
                            <div class="flex">{{mtn.amtName}}</div>
                        </div>
                    </div>
                    <div class="col-6 flex p-0 flex-end">
                        <ams-icon-value 
                            pipe="periodmin" icon="pending_actions"
                            [value]="((timeToMntH??0)*60)" 
                            label="Time to start.">
                        </ams-icon-value>
                    </div>
                </div>
                <div *ngIf="mtn" class="sp-row border-bottom border-tertiary bg-blue white p-2 mt-0" >
                    <div class="col-6 flex-start">
                        <ams-icon-value  pipe="datetime" icon="not_started" class="white"
                            [value]="mtn.startTime" label="Maintenance Start">
                        </ams-icon-value>
                    </div>
                    <div class="col-6 flex p-0 flex-end">
                        <ams-icon-value  pipe="datetimer" icon="check_circle" class="white"
                            [value]="mtn.endTime" label="Maintenance End">
                        </ams-icon-value>
                    </div>
                </div>
                
            </div>
        </div>
    </mat-tab>
 </mat-tab-group>

