
<div class="sxtable-toolbar">
    <mat-toolbar color="primary" class="pl-2 pe-2">
        <div class="flex-align-items flex-space-between w-100 white h64">
            <div class="flex-start flex-align-items-end h64">
                <span  class="px-2 semi-bold">{{dataCount | number:'1.0-0'}}</span>
                <span *ngIf="dataCount !== 1" class="pl-1">Transactions</span>
                <span *ngIf="dataCount == 1" class="pl-1">Transaction</span>
            </div>
            <div class="flex-end h64">
                
                
                <mat-form-field floatLabel="always" appearance="fill" class="white size-12">
                    <mat-label class="white"><mat-icon>filter_list_alt</mat-icon><i>filter</i></mat-label>
                    <input matInput (keyup)="applyFilter($event)" class="white" type="text" [(ngModel)]="filter">
                    @if (filter) {
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="clearFilter()">
                          <mat-icon class="white">close</mat-icon>
                        </button>
                      }
                </mat-form-field>

                <button mat-icon-button class="pr-1"
                    matTooltip="Reload Data"
                    matTooltipPosition="above" 
                    color="accent"
                    [disabled]="(tableds.loading$ | async)"
                    (click)="refreshClick()">
                    <mat-icon>refresh</mat-icon>
                </button>
                
            </div>
        </div>
    
    </mat-toolbar>
</div>
<div class="sxtable-body">
    <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
        <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
    </div>
    <table mat-table [dataSource]="tableds" class="sxtable table-hover"
        matSort matSortDisableClear
        [matSortActive]="sortActive"
        [matSortDirection]="sortDirection">

        <ng-container matColumnDef="trId">
            <th mat-header-cell *matHeaderCellDef class="txt-ell-60-sort text-right"> Nr</th>
            <td mat-cell *matCellDef="let row" class="txt-ell-60-sort text-right">
                <div class="flex-align-items w-100 flex-space-between">
                    <div class="flex-align-items flex-start">
                        <!--
                        <button mat-icon-button class="blue mr-2"
                            matTooltip="Delete Hub"
                            matTooltipPosition="above">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button *ngIf="row.hubTypeId !== base && !row.flightRoutesrCount"  mat-icon-button class="red mr-2"
                            matTooltip="Delete Hub"
                            matTooltipPosition="above" (click)="deleteHubClick(row)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    -->
                    </div>
                    <div class="flex-end"  matTooltip="Transaction ID: {{row.trId}}"
                        matTooltipPosition="above">{{row.trId}}
                    </div>
                </div>
            </td>
        </ng-container>
        
        <ng-container matColumnDef="paymentTime">
            <th mat-header-cell *matHeaderCellDef class="txt-ell-80-sort text-right">
                <div class="flex-align-items w-100 text-right" 
                    matTooltip="Established On" matTooltipPosition="above" >
                    <mat-icon class="white" >event</mat-icon>
                </div>
            </th>
            <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                <div class="flex-end w-100">
                    <ams-icon-value *ngIf="row.paymentTime" class="flex-end"
                        pipe="dater" 
                        [value]="row.paymentTime" label=" On">
                    </ams-icon-value>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="trTypeId">
            <th mat-header-cell *matHeaderCellDef class="txt-ell-60 text-left">Type</th>
            <td mat-cell *matCellDef="let row" class="txt-ell-60-soart text-left">
                <div class="flex-start w-100">
                        {{row.trTypeId | transactiontype}}
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef  class="txt-ell-80-sort text-right white">
                <div class="flex-end w-100" 
                    matTooltip="Price" matTooltipPosition="above" >
                    <mat-icon class="white" >payments</mat-icon>
                </div>
            </th>
            <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                <ams-icon-value *ngIf="row.amount" 
                    class="flex-end"
                    pipe="currencyr" 
                    [value]="(row.amount)" label="Weekly Price">
                </ams-icon-value>
            </td>
        </ng-container>
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef class="txt-ell-120-sort text-left">Description</th>
            <td mat-cell *matCellDef="let row" class="txt-ell-120-sort text-left">
                <div class="flex-start w-100 text-wrap">
                        {{row.description}}
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="apId">
            <th mat-header-cell *matHeaderCellDef class="txt-ell-80-sort text-left">
                <div class="flex-start w-100" 
                    matTooltip="Airport" matTooltipPosition="above" >
                    <mat-icon class="white" >local_airport</mat-icon>
                </div>
            </th>
            <td mat-cell *matCellDef="let row" class="txt-ell-80-sort  text-left">
                <ams-icon-ap-code [apId]="row.apId" [showName]="true" class="flex-start"></ams-icon-ap-code>
            </td>
        </ng-container>
        <ng-container matColumnDef="alId" >
            <th mat-header-cell *matHeaderCellDef class="txt-ell-120 text-center">Airline</th>
            <td mat-cell *matCellDef="let row" class="txt-ell-120-sort text-center">
                <ams-al-livery [alId]="row.alId" tooltip="Airline"></ams-al-livery>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="rowClicked(row)" 
        [class.row-selected]="selected && selected.trId === row.trId"
        [class.row-active]="row.trTypeId == maintenance"></tr>
    </table>
</div>

<mat-paginator [length]="dataCount" 
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOpt" 
    hidePageSize="false" 
    [showFirstLastButtons]="true" >
</mat-paginator>
