
<div class="ams-content-blue" >
    <!-- -Arrival, Departure Chart -->
    <div class="flex-wrap w-100">
        <div class="col-lg-6 col-12 tile tile-wad" >
            <ams-grid-al-flights-queue (spmAircraftOpen)="spmAircraftOpen($event)" (spmFlqOpen)="spmFlqOpenClick($event)"></ams-grid-al-flights-queue>
         </div>
        <div class="col-lg-6 col-12 tile tile-wad" >
           <ams-grid-al-flights-table (spmAircraftOpen)="spmAircraftOpen($event)"></ams-grid-al-flights-table>
        </div>
    </div>
    <!-- -MINI CHARDS -->
    <div class="flex-wrap w-100">

        <div class="col-lg-6 col-md-12 col-sm-12 flex-align-items-top flex-wrap p-0 " >

            <div class="col-lg-6 col-md-6 col-12 px-2" >
                <div *ngIf="airline"  class="mini-charts-item overlay-blue-light" 
                    [routerLink]="[roots.Root, roots.airline, roots.info]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" 
                    matTooltip="Go to airline info" 
                    matTooltipPosition="above">
                    <div class="clearfix">
                        <div class="chart stats-bar">
                    
                            <img [src]="logoUrl" alt="Airline"/>
                            <!--
                            <canvas baseChart 
                                    [data]="state.pieChart.data"
                                    [labels]="state.pieChart.labels"
                                    [options]="state.pieChart.options"
                                    
                                    [type]="'pie'"
                                    [legend]="false"
                                    style="display: block;height: 55px;width: 95px;"
                                ></canvas>
                            -->
                        </div>
                        
                        <div class="count" >
                            <small>AIRLINE </small>
                            <h2>{{airline.alName}} ({{airline.iata}})</h2>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 px-2" 
                [routerLink]="[ roots.Root, roots.airline, roots.info, roots.bank]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <div class="mini-charts-item overlay-cyan"  
                    matTooltip="Airline Bank Account Balance" 
                    matTooltipPosition="above">
                    <div class="clearfix">
                        <div class="chart pt-2">
                            <img [src]="bankImg" alt="{{airline.bankId}}"/>
                        </div>
                        
                        <div class="count" >
                            <small>BANK ACCOUNT</small>
                            <h2 *ngIf="airline && airline.amount">{{airline.amount | currency:'EUR'}}</h2>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div *ngIf="user" class="col-lg-6 col-md-6 col-12 px-2" 
                [routerLink]="[ roots.Root, roots.airline, roots.profile]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <div class="mini-charts-item overlay-teal"  
                    matTooltip="Manage Aircraft Types" 
                    matTooltipPosition="above">
                    <div class="clearfix">
                        <div class="chart-avatar">
                            <img [src]="avatarUrl" alt="{{user.userEmail}}"/>
                        </div>
                        
                        <div class="count" >
                            <small>MANAGER</small>
                            <h2 *ngIf="user.userName">{{user.userName}}</h2>
                            <h2 *ngIf="!user.userName">{{user.userEmail}}</h2>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 px-2" 
                [routerLink]="[roots.Root, roots.airline, roots.info, roots.aircafts]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <div class="mini-charts-item overlay-yellow"  
                    matTooltip="Manage Aircrafts" 
                    matTooltipPosition="above">
                    <div class="clearfix">
                        <div class="chart stats-bar">
                            <img [src]="acTypeImg" alt="Aircrafts"
                                style="display: inline-block;width: 68px;vertical-align: top;"/>
                        </div>
                        
                        <div class="count" >
                            <small>MANAGE</small>
                            <h2>Aircrafts<span *ngIf="airline && airline.aircraftCount" class="ps-2">({{airline.aircraftCount | number:'1.0-0'}})</span> </h2>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12 px-2" 
                [routerLink]="[ roots.Root, roots.airline, roots.info, roots.hubs]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <div class="mini-charts-item overlay-cyan"  
                    matTooltip="Airline Hubs and Base" 
                    matTooltipPosition="above">
                    <div class="clearfix">
                        <div class="chart pt-2">
                            <img [src]="airportImg" alt="{{airline.hubsCount}}"/>
                        </div>
                        
                        <div class="count" >
                            <small>AIRLINE HUBS</small>
                            <h2 *ngIf="airline && airline.hubsCount">{{airline.hubsCount | number:'1.0-0'}}</h2>
                        </div>
                        
                    </div>
                </div>
            </div>
            <ams-mini-chart-al-compleated-flights [airline]="airline" class="col-lg-6 col-md-6 col-12 px-2"></ams-mini-chart-al-compleated-flights>
        </div>
        <!--
        <ams-tile-al-compleated-flights-chart [airline]="airline" class="col-lg-4 col-md-12 col-12 px-2"></ams-tile-al-compleated-flights-chart>
        -->
        <ams-tile-tr-sum-last-week class="col-lg-6 col-md-12 col-12 px-2"
            [trSumLastWeek]="trSumLastWeek"
            [loading$]="loadingTrSumLastWeek$"
            tileImgUrl="{{tileImgUrl}}/barcode-white.png">
        </ams-tile-tr-sum-last-week>
        
    </div>
</div>
