<div class="modal-content">

    <div mat-dialog-title class="modal-header">
        <span mat-dialog-close class="close">×</span>
        <div class="modal-title flex-align-items">
            <span class="card-subtitle-1 ps-1" >Flight Schedule </span>
            <div class="flex-align-items" *ngIf="flnschedule && flnschedule.flpnId" >
                <span *ngIf="flnschedule.flpnsId" class="card-subtitle-1 ps-1" >№ {{flnschedule.flpnsId}}</span>
                
                <ams-icon-ap-code *ngIf="flnschedule.depApId" 
                    [apId]="flnschedule.depApId" [showName]="false" class="flex ps-1" >
                </ams-icon-ap-code>
                <span class="ps-1">-></span>
                <ams-icon-ap-code *ngIf="flnschedule.arrApId" 
                    [apId]="flnschedule.arrApId" [showName]="false" class="flex ps-1" >
                </ams-icon-ap-code>
            </div>
            <span *ngIf="!flnschedule || !flnschedule.flpnId" class="card-subtitle-1 ps-1" >Create</span>
        </div>
    </div>

    <mat-dialog-content class="modal-body">
        <form class="col-12 flex-column" [formGroup]="formGrp">

           

            <div class="col-12 flex-align-items-top pb-2">
                <div class="col-8 flex-column pe-2" style="min-height: 200px;">
                    <input type="hidden" [formControl]="flpnsIdFc" >
                    <input type="hidden" [formControl]="grpIdFc" >
                    <input type="hidden" [formControl]="alIdFc" >
                    <!--
                    <div class="col-12 flex-align-items pb-1">
                        <mat-icon  class="text-grey-500 flex-start me-2" 
                            matTooltip="Schedule Group" 
                            matTooltipPosition="above">group_work</mat-icon> 
                        <div class="title" *ngIf="group">{{group.grpName}}</div>
                        <div class="title" *ngIf="!group">No Schedule Group</div>
                    </div>
                    -->
                    <div class="col-12 flex-align-items">
                        <div class="col-6 pe-2">
                            <mat-form-field class="w-100">
                                <mat-label>Group</mat-label>
                                <input matInput [matAutocomplete]="groupAuto" [formControl]="groupFc">
                                <mat-icon matPrefix class="text-grey-500">group_work</mat-icon>
                                <mat-icon matSuffix class="text-grey-500" (click)="resetGroup()">expand_more</mat-icon>
                                <mat-autocomplete #groupAuto="matAutocomplete" [displayWith]="displayGroup"
                                  (optionSelected)="valueChangeGroup($event)">
                                  <mat-option *ngFor="let option of groupsOpt | async" [value]="option">
                                    <div class="flex-align-items header">
                                      <div class="title pe-2">{{option.grpName}}</div>
                                    </div>
                                  </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="w-100">
                                <mat-label>Flight Number</mat-label>
                                <input matInput [matAutocomplete]="flpnAuto" [formControl]="flpnFc">
                                <mat-icon matPrefix  class="text-grey-500">flight_takeoff</mat-icon>   
                                <mat-icon matSuffix  class="text-grey-500" (click)="flpnReset()">expand_more</mat-icon>     
                                <mat-autocomplete #flpnAuto="matAutocomplete" 
                                    [displayWith]="displayFlpn" 
                                    (optionSelected)="flpnValueChange($event)">
                                <mat-option *ngFor="let option of flpnsOpt | async"  [value]="option">
                                    <div class="flex-column header">
                                        <div *ngIf="option.flpnName" class="title">{{option.flpnName}}</div>
                                    </div>
                                </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>
                    

                    
                    <div class="col-12 flex-align-items bg-blue-map mb-1">
                        <mat-icon matPrefix  class="text-grey-500 flex-start me-2">flight_takeoff</mat-icon>  
                        <div class="subtitle">Departure:</div>
                    </div>
                    <div class="col-12 flex-align-items pb-1">
                        <ams-icon-ap-code *ngIf="flnschedule.depApId" 
                            [apId]="flnschedule.depApId" [showName]="true" class="flex ps-1" >
                        </ams-icon-ap-code>
                        <div *ngIf="!flnschedule.depApId" class="title">&nbsp;</div>
                    </div>
                    <div class="col-12 flex-align-items">
                        <div class="col-6 pe-2">
                            <mat-form-field class="w-100">
                                <mat-label for="flpnNumber">Weekday</mat-label>
                                <mat-select  [formControl]="wdIdFc" aria-label="Number">
                                    <mat-option *ngFor="let nr of weekdayOpt" [value]="nr.id">
                                        {{nr.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-3 pe-2">
                            <mat-form-field class="w-100">
                                <mat-label>Hour</mat-label>
                                <input matInput type="number" step="1" max="23" min="0"  
                                [formControl]="dtimeHFc" required (change)="callculateValues()">
                                <mat-error *ngIf="dtimeHFc.invalid">{{fError('dtimeHFc')}}</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field floatLabel="always" class="w-100">
                                <mat-label>Min</mat-label>
                                <input matInput type="number" step="1"  max="59" min="0"  
                                [formControl]="dtimeMinFc" required (change)="callculateValues()">
                                <mat-error *ngIf="dtimeMinFc.invalid">{{fError('dtimeMinFc')}}</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <!---->
                    <div class="col-12 flex-align-items pb-1">
                        
                    </div>
                </div>
                <div class="col-4 text-center" *ngIf="staticMapUrl">
                    <img src="{{staticMapUrl}}" alt="map" class="w-100">
                </div>
            </div>
            <div class="col-12 flex-align-items-top p-0 bg-yellow mb-1">
                <div class="flex-start flex-align-items">
                    <mat-icon matPrefix  class="text-grey-500 flex-start me-2">flight_land</mat-icon>  
                    <div class="subtitle">Arrival:</div>
                </div>
            </div>
            <div class="col-12 flex-align-items-top p-0">
                <div class="col-6 flex-columns pe-2">
                    
                    <div class="col-12 flex-align-items pb-0">
                        <div class="col-6 flex-align-items ">
                            <ams-icon-ap-code *ngIf="flnschedule.arrApId" 
                            [apId]="flnschedule.arrApId" [showName]="true" class="flex ps-1" >
                            </ams-icon-ap-code>
                            <div *ngIf="!flnschedule.arrApId" class="title">&nbsp;</div>
                        </div>
                        <div class="col-6 flex-align-items flex-end">
                            <ams-card-aircraft-row [aircraft]="aircraft" [showFh]="false"></ams-card-aircraft-row>
                        </div>
                    </div>
                    <div class="col-12 flex-align-items pb-2">
                        <div class="col-7 flex-align-items">
                            <div class="flex-start pe-1 ">Distance:</div>
                            <div class="flex-align-items text-left">
                                <div class="flex-start pe-1 "  *ngIf="flnschedule.distanceKm" >({{flnschedule.distanceKm | lenkm}})</div>
                                <!-- icon="travel_explore" -->
                                <ams-icon-value *ngIf="flnschedule.distanceKm" 
                                    pipe="nmir" 
                                    [value]="flnschedule.distanceKm" label="Distance">
                                </ams-icon-value>
                            </div>
                           
                           
                        </div>
                        <div class="col-5 flex-align-items ps-1">
                            <div class="flex-start pe-1">Flight Time:</div>
                            <ams-icon-value *ngIf="aircraft" pipe="min" class=""
                                [value]="(flnschedule.distanceKm/aircraft.cruiseSpeedKmph)*60" 
                                label="Time to reserve for flight duration when building flight shedule (HH:mm)">
                            </ams-icon-value>
                        </div>
                    </div>
                    <div class="col-12 flex-align-items pb-1">
                        <div class="flex-start pe-1">Flight Duration:</div>
                        <ams-icon-value *ngIf="flightHFc.value" pipe="min" class=""
                            [value]="flightHFc.value*60" 
                            label="Time to reserve for flight duration when building flight shedule (HH:mm)">
                        </ams-icon-value>
                    </div>
                    
                </div>
                <div class="col-6 flex-align-items-top">
                    <div class="col-6 pe-2">
                        <mat-form-field floatLabel="always" class="w-100">
                            <mat-label>Flight Duration (in hours)</mat-label>
                            <input matInput type="number" step="0.01"  placeholder="Flight Duration"  
                            [formControl]="flightHFc" (change)="callculateValues()">
                            <mat-icon matSuffix class="text-grey-500">timelapse</mat-icon>
                            
                            <mat-error *ngIf="flightHFc.invalid">{{fError('flightH')}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-3 pe-2">
                        <mat-form-field class="w-100">
                            <mat-label>Hour</mat-label>
                            <input matInput type="number" step="1" max="23" min="0"  [formControl]="atimeHFc" required>
                            <mat-error *ngIf="atimeHFc.invalid">{{fError('atimeHFc')}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field floatLabel="always" class="w-100">
                            <mat-label>Min</mat-label>
                            <input matInput type="number" step="1"  max="59" min="0"  [formControl]="atimeMinFc">
                            <mat-error *ngIf="atimeMinFc.invalid">{{fError('atimeMinFc')}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
          
            <div class="col-12 flex-align-items-top">
                <div class="col-3 pe-2" >
                    <mat-form-field floatLabel="always" class="col-12">
                        <mat-label>First</mat-label>
                        <input matInput type="number" step="0.50" placeholder="Ticket Price First Class"  [formControl]="priceFFc">
                        <ams-icon-paylod matSuffix [type]="ptf" class="large mt-2"></ams-icon-paylod>
                        <mat-error *ngIf="priceFFc.invalid">{{fError('priceF')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-3 pe-2" >
                    <mat-form-field floatLabel="always" class="col-12 pe-2">
                        <mat-label>Business</mat-label>
                        <input matInput type="number" step="0.50" placeholder="Ticket Price First Class"  [formControl]="priceBFc">
                        <ams-icon-paylod matSuffix [type]="ptb" class="large mt-1"></ams-icon-paylod>
                        <mat-error *ngIf="priceBFc.invalid">{{fError('priceB')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-3 pe-2" >
                    <mat-form-field floatLabel="always" class="col-12">
                        <mat-label>Economy</mat-label>
                        <input matInput type="number" step="0.50" placeholder="Ticket Price Economy Class"  [formControl]="priceEFc">
                        <ams-icon-paylod matSuffix [type]="pte" class="large mt-2"></ams-icon-paylod>
                        <mat-error *ngIf="priceEFc.invalid">{{fError('priceE')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-3" >
                    <mat-form-field floatLabel="always" class="col-12">
                        <mat-label>Cargo per {{1 | mtow}}</mat-label>
                        <input matInput type="number" step="0.0005" placeholder="Cargo Price per {{1 | mtow}}"  [formControl]="priceCpKgFc">
                        <ams-icon-paylod matSuffix [type]="cpt" class="large mt-2"></ams-icon-paylod>
                        <mat-error *ngIf="priceCpKgFc.invalid">{{fError('priceCPerKg')}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </mat-dialog-content>

    <mat-dialog-actions class="modal-footer d-flex justify-content-between">
        <div class="flex-align-items flex-space-between w-100">
            <div class="flex-start">
                <mat-error *ngIf="errorMessage" class="margin-right-10">  {{errorMessage}} </mat-error>
                <mat-progress-spinner *ngIf="hasSpinner" diameter="24"
                    class="dialog-spinner" color="primary"  mode="indeterminate">
                </mat-progress-spinner>
            </div>
            <div class="flex-end mr-2">
                <button mat-button color="secondary" mat-dialog-close class="f-w-300">Close</button>
                <button   *ngIf="!hasSpinner" mat-raised-button color="primary" aria-label="Submit"
                        class="f-w-300"
                        [disabled]="formGrp.invalid" (click)="onSubmit()">
                    SUBMIT
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</div>
