<div class="chart-container" #parent>
    
    <canvas baseChart #canvasXl
        [style]="styleSize"
        [type]="'line'"
        [datasets]="chartData"
        [labels]="chartLabels"
        [legend]="legend"
        [options]="chartOptions"
        (chartClick)="onChartClick($event)">
    </canvas>
    <!-- [colors]="lineChartColors" -->
  </div>