 <!-- Title -->

<div class="col-12 m-0 p-0">
    <div class="side-panel-sec bg-blue p-1 text-center" *ngIf="mfr" >
        <img src="{{mfr.logoUrl}}" alt="{{mfr.iata}}" style="max-width: 274px;max-height: 150px;">
    </div>
    <div class="side-panel-sec" *ngIf="mfr">
        <div class="side-panel-sec-rows">

            <div class="sp-row border-bottom border-tertiary mt-2">
                <div class="flex-start flex-align-items" 
                    matTooltip="Manufacturer: {{mfr.mfrName}} ({{mfr.mfrId}})" 
                    matTooltipPosition="above" >
                    <!--
                    <div *ngIf="mfr.logoUrl" class="icon-value mr-1" matTooltip="{{mfr.iata}}">
                        <img src="{{mfr.logoUrl}}" alt="{{mfr.iata}}"/>
                    </div>
                    -->
                    <div class="flex ml-1">{{mfr.mfrName}}</div>
                </div>
                <div class="flex-end">
                    <ams-icon-value *ngIf="mfr.iata"
                        pipe="iata"
                        [value]="mfr.iata" label="IATA">
                    </ams-icon-value>
                    <ams-img-link *ngIf="mfr.homeUrl" 
                        type="home" [url]="mfr.homeUrl" class="ml-2">
                    </ams-img-link>
                    <ams-img-link *ngIf="mfr.wikiUrl" 
                        type="wiki" [url]="mfr.wikiUrl" class="ml-2">
                    </ams-img-link>
                </div>
            </div>

            <div *ngIf="mfr" class="sp-row border-bottom border-tertiary mt-2" >
                <div class="flex-start flex-align-items">
                   
                    <div *ngIf="mfr.headquartier" class="icon-value mr-0">
                        <i class="material-icons" 
                            matTooltipPosition="above"
                            matTooltip="HQ: {{mfr.headquartier}}" >location_city</i>
                        {{mfr.headquartier}}
                    </div>
                    
                </div>
                <div class="flex-end">
                    <!--
                    <ams-icon-value pipe="utc" [value]="airport.utc" label="UTC"></ams-icon-value>
                    -->
                </div>
            </div>

            <div *ngIf="airport" class="sp-row border-bottom border-tertiary mt-2" >
                <div class="flex-start flex-align-items">
                    <ams-icon-value 
                        pipe="latlon" icon="assignment_return"
                        [value]="airport.lat" label="Latitude">
                    </ams-icon-value>
                    <ams-icon-value 
                        pipe="latlon" icon="assignment_returned"
                        [value]="airport.lon" label="Longitude">
                    </ams-icon-value>
                    
                </div>
                <div class="flex-end">
                    <ams-icon-value 
                        pipe="lenV" icon="vertical_align_top"
                        [value]="airport.elevation" label="Elevation">
                    </ams-icon-value>
                </div>
            </div>

        </div>
        <h4 *ngIf="airport" class="mb-0 pt-1 blue">
            <i class="material-icons blue size-20 mr-1">factory</i>
            Service Center</h4>
        <div *ngIf="airport" class="side-panel-sec-rows">
            <div class="sp-row border-bottom border-tertiary">
                <div class="flex-align-items w-100 p-0" 
                    matTooltip="Airport: {{airport.apName}} ({{airport.apId}})" 
                    matTooltipPosition="above" >
                    <ams-icon-ap-active [value]="airport.active"></ams-icon-ap-active>
                    <div class="flex ml-1 ellipsis">{{airport.apName}}</div>
                </div>
            </div>
            <div class="sp-row border-bottom border-tertiary" >
                <div class="flex-align-items w-100 p-0">
                    <div *ngIf="airport.countryId" class="icon-value mr-1" matTooltip="{{airport?.cName}}">
                        <img src="{{airport.flagUrl}}" alt="{{airport.iso2}}"/>
                    </div>
                    <div *ngIf="airport.cityId" class="icon-value mr-0 text-overflow"
                        matTooltip="City:{{airport.ctName}}"
                        matTooltipPosition="above">
                        {{airport.ctName}}
                    </div>
                    <div *ngIf="airport.stateId" class="icon-value mr-1 ellipsis" 
                        matTooltip="State:{{airport.stName}}"
                        matTooltipPosition="above">
                        , {{airport.stName}}
                    </div>
                    <div *ngIf="airport.iso2" class="icon-value ellipsis">
                        ({{airport.iso2}})
                    </div>
                </div>
            </div>
        </div>
    </div><!-- sec end -->
    
    <div *ngIf="airport" class="side-panel-sec text-center" >
        <img src="{{airport.staticmapUrl}}" alt="{{airport.icao}}">
        
    </div> <!-- sec end-->
</div>
