<div class="sxtable-container-tab">
    <div class="sxtable-toolbar">
        <mat-toolbar color="primary">
            <div class="flex-align-items flex-space-between w-100 white">
                <div class="flex-start flex-align-items">
                    <span>{{dataCount | number:'1.0-0'}}</span>
                    <span class="pl-1 f-w-300">Aircrafts</span>
                </div>
                <div class="flex-end m-r-8 f-s-14">
                    <!--
                    <sx-button-round 
                        (click)="addCabin()"
                        [disabled]="!canEdit"
                        message="Add Cabin Configuration"
                        icon="add"
                        class="mr-3"
                       > 
                    </sx-button-round>
                    -->
                    <mat-form-field class="f-w-300">
                        <mat-label>Filter</mat-label>
                        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
                    </mat-form-field>
    
                    <sx-button-flat 
                        (click)="refreshClick()" 
                        position="left" 
                        message="Reload Data"
                        icon="refresh" 
                        color="dark"
                        class="mr-2 ml-3">
                    </sx-button-flat>
                </div>
            </div>
        
        </mat-toolbar>
    </div>
    <div class="sxtable-body-toolbar">
        <div class="sxtable-loading" *ngIf="tableds.loading$ | async">
            <mat-spinner diameter="48" *ngIf="tableds.loading$ | async"></mat-spinner>
        </div>
        <table mat-table [dataSource]="tableds" class="sxtable table-hover"
            matSort matSortDisableClear
            [matSortActive]="sortActive"
            [matSortDirection]="sortDirection">
    
            <ng-container matColumnDef="action" sticky>
                <th mat-header-cell *matHeaderCellDef class="txt-ell-80"></th>
                <td mat-cell *matCellDef="let aicraft" class="txt-ell-80">
                    <div class="flex-align-items w-full">
                        <!--
                        <sx-button-round 
                            (click)="gotoMac(aicraft)"
                            [disabled]="!canEdit"
                            position="left" 
                            icon="open_in_new"
                            message="View Aircraft"> 
                        </sx-button-round>
                        <mat-icon class="link m-t-4 m-l-4 m-r-8 f-s-20"  
                            (click)="ediMacCabin(aicraft)"
                            matTooltip="Edit Aircraft {{aicraft.acId}}">
                            edit
                        </mat-icon>
                        -->
                        <sx-button-round 
                            message="Show Airport Details" tooltipPlacement="bottom"
                            color="light"
                            (click)="spmAircraftOpen(aicraft)" 
                            icon="info"> 
                        </sx-button-round>
                        
                    </div>
                
                </td>
            </ng-container>
            <ng-container matColumnDef="image" >
                <th mat-header-cell *matHeaderCellDef class="txt-ell-130 text-center">Owner</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-130 text-center">
                    <ams-al-livery [alId]="row.ownerAlId" tooltip="Aircraft Owner"></ams-al-livery>
                </td>
            </ng-container>
            <ng-container matColumnDef="acId"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 text-right">№</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="flex-align-items">
                        <div>{{row.acId}}</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="registration" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 ps-2">Registration</th>
                <td mat-cell *matCellDef="let row" class="pl-2">
                    <div class="flex-align-items">
                        <div>{{row.registration}}</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="currApId" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80">Airport</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort  pe-3">
                    <div *ngIf="row.currApId"  class="flex-align-items w-100"
                        matTooltip="Current Airport: {{row.currAp}}" 
                        matTooltipPosition="above">
                        <div>{{row.currApCode}}</div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="flightHours" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 ps-4 text-right">
                    <div class="flex-align-items image-16 w-100 text-right" 
                        matTooltip="Total Flight Hours"
                        matTooltipPosition="above" >
                        <mat-icon class="white m-t-8 m-r-4 f-s-16" >timelapse</mat-icon>
                    </div>
                    
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="flex-align-items w-100 pe-3">
                        <div class="w-100">{{row.flightHours | number:'1.0-0'}}</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="distanceKm" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 ps-4 text-right">
                    <div class="flex-align-items image-16 w-100 text-right" 
                        matTooltip="Total Distance"
                        matTooltipPosition="above" >
                        <mat-icon class="white m-t-8 m-r-4 f-s-16" >travel_explore</mat-icon>
                    </div>
                    
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="flex-align-items w-100 pe-3">
                        <div class="w-100">{{row.distanceKm | nmi}}</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="acStatusId"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 ps-2">State</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80 ps-2">
                    <div class="flex-align-items w-100">
                        {{row.acStatusId | acstatus}}
                    </div>
                    
                </td>
            </ng-container>

            <ng-container matColumnDef="state"  >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 ps-2">Condition</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80 ps-2">
                    <div class="flex-align-items w-100">
                        {{(row.state/100)| percent:'1.0-0'}}
                    </div>
                    
                </td>
            </ng-container>
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 ps-4 text-right">Price</th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="flex-align-items w-100" >
                        <div class="mr-2">{{row.price| currency:'EUR' }}</div>
                    </div>
                </td>
            </ng-container>
            
            <ng-container matColumnDef="cabinId" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 ps-4 text-right">
                    <div class="flex-align-items image-16 w-100 text-right" 
                        matTooltip="Cabin configuration name and confort rate"
                        matTooltipPosition="above" >
                        <mat-icon class="white m-t-8 m-r-4 f-s-16" >flight_class</mat-icon>
                        <!--
                        <img src="{{seatsEImgUrl}}" alt="Cargo" class="mr-2"/>
                        -->
                    </div>
                    
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="flex-align-items w-100 pe-3">
                        <div class="mr-1">{{row.cabinName}}</div>
                        <div *ngIf="row.confort">({{row.confort | number:'1.0-2'}})</div>
                    </div>
                </td>
            </ng-container>

            <ng-container matColumnDef="acActionTypeId" >
                <th mat-header-cell *matHeaderCellDef  mat-sort-header class="txt-ell-80 ps-4 text-right">
                    <div class="flex-align-items image-16 w-100 text-right" 
                        matTooltip="Last Action"
                        matTooltipPosition="above" >
                        <mat-icon class="white m-t-8 m-r-4 f-s-16" >pending_actions</mat-icon>
                        <!--
                        <img src="{{seatsEImgUrl}}" alt="Cargo" class="mr-2"/>
                        -->
                    </div>
                    
                </th>
                <td mat-cell *matCellDef="let row" class="txt-ell-80-sort text-right">
                    <div class="flex-align-items w-100 pe-3">
                        <div class="mr-1 ellipsis">{{row.acActionTypeId | acat}}</div>
                        <div *ngIf="row.acActionTypeId">({{row.acActionTypeId | number:'1.0-2'}})</div>
                    </div>
                </td>
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    
    <mat-paginator [length]="dataCount" 
        [pageIndex]="pageIndex"
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOpt" 
        [showFirstLastButtons]="true" >
    </mat-paginator>
</div>