<div class="chart-container" >
    <canvas baseChart id="lineChart"
        [type]="'line'"
        [title]="title"
        [labels]="chartLabels"
        [datasets]="chartData"
        [options]="chartOptions"
        [legend]="legend"
        (chartClick)="onChartClick($event)">
    </canvas>
    <!-- [datasets]="chartData" -->
    <!-- [colors]="lineChartColors"  [options]="chartOptions" -->
  </div>