 <!-- Title -->
 <div class="title-container">
    <div class="modal-title">AIRCRAFT DETAIL</div>
</div>
<!-- hr class="mb-0"-->
<div *ngIf="!acmmac">No Data</div>

<div class="col-12 p-2">
    <ams-card-mac-info [mac]="acmmac"></ams-card-mac-info>
    <div *ngIf="acmmac" class="col-12 m-0 p-0">
        <div class="side-panel-sec" *ngIf="acmmac">
            <div class="side-panel-sec-rows">
    
        </div><!-- sec end -->
        <div *ngIf="acmmac.imgAirUrl"  class="side-panel-sec text-center" >
            <img src="{{acmmac.imgAirUrl}}" alt="{{acmmac.model}}" style="max-width: 330px;max-height: 200px;">
        </div>
    </div>
    
   
</div>

