
<mat-nav-list class="p-0">
    <a *ngIf="isAuthenticated" class="nav-link" 
        [routerLink]="[roots.Root, roots.dashboard]" routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: false}">
        <span class="nav-icon">
            <i class="material-icons">home</i>
        </span>
        <span class="nav-text" [@showlinksTrigger]='showText'>Home</span>
    </a>
    <a *ngIf="isAuthenticated" class="nav-link" [routerLink]="[roots.Root, roots.airline]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <span class="nav-icon">
            <i class="material-icons">domain</i>
        </span>
        <span class="nav-text" [@showlinksTrigger]='showText'>Airline</span>
    </a>
    <a *ngIf="isAuthenticated" class="nav-link" [routerLink]="[roots.Root, roots.fleet]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <span class="nav-icon">
            <i class="material-icons">local_airport</i>
        </span>
        <span class="nav-text" [@showlinksTrigger]='showText'>Airline</span>
    </a>
    <a *ngIf="isAuthenticated"  class="nav-link" [routerLink]="[roots.Root, roots.flightPlan]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <span class="nav-icon">
            <i class="material-icons">airline_stops</i>
        </span>
        <span class="nav-text" [@showlinksTrigger]='showText'>Flight Plans</span>
    </a>
    <a *ngIf="isAuthenticated" class="nav-link" [routerLink]="[roots.Root, roots.acMarket]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <span class="nav-icon">
            <i class="material-icons">add_shopping_cart</i>
        </span>
        <span class="nav-text" [@showlinksTrigger]='showText'>Aircraft Market</span>
    </a>
    <a *ngIf="isAdmin" class="nav-link" [routerLink]="[roots.Root, roots.admin]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <span class="nav-icon green">
            <i class="material-icons">admin_panel_settings</i>
        </span>
        <span class="nav-text" [@showlinksTrigger]='showText'>Admin Panel</span>
    </a>
    <a *ngIf="isAuthenticated"  class="nav-link" [routerLink]="[roots.Root, roots.wad]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <span class="nav-icon">
            <i class="material-icons">public</i>
        </span>
        <span class="nav-text" [@showlinksTrigger]='showText'>World Airports</span>
    </a>
    <a *ngIf="isAuthenticated" class="nav-link" (click)="logout()" >
        <span class="nav-icon yellow">
            <i class="material-icons">exit_to_app</i>
        </span>
        <span class="nav-text" [@showlinksTrigger]='showText'>Logout</span>
    </a>
    <a *ngIf="!isAuthenticated" class="nav-link" routerLink="/public/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="nav-icon">
            <i class="material-icons">dashboard</i>
        </span>
        <span class="nav-text" [@showlinksTrigger]='showText'>Dashboard</span>
    </a>
    <a *ngIf="!isAuthenticated" class="nav-link" routerLink="/public/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <span class="nav-icon green">
            <i class="material-icons">perm_identity</i>
        </span>
        <span class="nav-text" [@showlinksTrigger]='showText'>Login</span>
    </a>
</mat-nav-list>
<!--
<ul>

    <li *ngIf="isAuthenticated">
        <a class="nav-link" [routerLink]="[roots.Root, roots.dashboard]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
            <span class="left-nav-icon">
                <i class="material-icons">home</i>
            </span>
            <span class="left-nav-text" [@showlinksTrigger]='showText'>Home</span>
        </a>
    </li>
    <li *ngIf="isAuthenticated">
        <a class="nav-link" [routerLink]="[roots.Root, roots.airline]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
            <span class="left-nav-icon">
                <i class="material-icons">domain</i>
            </span>
            Airline
        </a>
    </li>
    <li *ngIf="isAuthenticated">
        <a class="nav-link" [routerLink]="[roots.Root, roots.flightPlan]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
            <span class="left-nav-icon">
                <i class="material-icons">airline_stops</i>
            </span>
            Flight Plans
        </a>
    </li>
    <li *ngIf="isAuthenticated">
        <a class="nav-link" [routerLink]="[roots.Root, roots.acMarket]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
            <span class="left-nav-icon">
                <i class="material-icons">add_shopping_cart</i>
            </span>
            Aircraft Market
        </a>
    </li>
    <li *ngIf="isAdmin">
        <a class="nav-link" [routerLink]="[roots.Root, roots.admin]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
            <span class="left-nav-icon green">
                <i class="material-icons">admin_panel_settings</i>
            </span>
            Admin Panel
        </a>
    </li>
    <li *ngIf="isAuthenticated">
        <a class="nav-link" [routerLink]="[roots.Root, roots.wad]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
            <span class="left-nav-icon">
                <i class="material-icons">public</i>
            </span>
            World Airports
        </a>
    </li>
    <li *ngIf="isAuthenticated">
        <a class="nav-link" (click)="logout()" >
            <span class="left-nav-icon yellow">
                <i class="material-icons">exit_to_app</i>
            </span>
            Logout
        </a>
    </li>
    <li *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="/public/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <span class="left-nav-icon">
                <i class="material-icons">dashboard</i>
            </span>
            Dashboard
        </a>
    </li>
    <li *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="/public/login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <span class="left-nav-icon green">
                <i class="material-icons">perm_identity</i>
            </span>
            Login
        </a>
    </li>
   
</ul>
-->