<div class="format-control" 
    matTooltip="{{tooltip}}"
    [matTooltipPosition]="tooltipPlacement"
     [ngClass]="{ 
     'format-control-no-label' : !labeled, 
     'format-control-large' : large, 
     'format-control-light' : color === 'light', 
     'format-control-dark' : color === 'dark',
     'format-control-blue' : color === 'blue',
     'format-control-white' : color === 'white',
     'format-control-disabled' : disabled }" >
  <span *ngIf="labeled" class="padding-top-5 size-14 margin-right-5">{{label}}</span>
  <i class="material-icons">{{icon}}</i> 
</div>

 