<div *ngIf="paxE || paxB || paxF || crew || cargoKg || pilots" class="flex-align-items">
    <div *ngIf="pilots" class="icon-value me-1"
        matTooltip="Pilots {{pilots | number:'1.0-0'}}" 
        matTooltipPosition="above" >
        <img src="{{seatsGImgUrl}}" alt="Pilots" class="me-1" />
        {{pilots | number:'1.0-0'}}
    </div>
    <div *ngIf="crew >-1 " class="icon-value me-3"
        matTooltip="Crue {{crew | number:'1.0-0'}}" 
        matTooltipPosition="above" >
        <img src="{{seatsCrewImgUrl}}" alt="Crue" class="me-1" />
        {{crew | number:'1.0-0'}}
    </div>
    <div *ngIf="paxF" class="icon-value me-1"
        matTooltip="First Class {{paxF | number:'1.0-0'}}" 
        matTooltipPosition="above" >
        <img src="{{seatsFImgUrl}}" alt="First" class="me-1" />
        {{paxF | number:'1.0-0'}}
    </div>
    <div *ngIf="paxB" class="icon-value me-1"
        matTooltip="Business {{paxB | number:'1.0-0'}}" 
        matTooltipPosition="above" >
        <img src="{{seatsBImgUrl}}" alt="Business" class="me-1" />
        {{paxB | number:'1.0-0'}}
    </div>
    <div *ngIf="paxE" class="icon-value"
        matTooltip="Economy {{paxE | number:'1.0-0'}}" 
        matTooltipPosition="above" >
        <img src="{{seatsEImgUrl}}" alt="Economy" class="me-1" />
        {{paxE | number:'1.0-0'}}
    </div>
    <div *ngIf="cargoKg" class="icon-value ms-3"
        matTooltip="Cargo {{cargoKg | mtow}}" 
        matTooltipPosition="above" >
        <img src="{{seatsCImgUrl}}" alt="Cargo" class="me-1" />
        {{cargoKg | mtow}}
</div>
</div> 

