<div class="spm-header">
    <div class="title">FLIGHT PLAN:
        <span *ngIf="flp" class="subtitle">{{flp.flName}}</span>
    </div>
</div>
<hr class="m-0">
<div class="spm-body">
    <div *ngIf="!flp">No Data</div>
    <div *ngIf="flp" class="scroll-container-white-300 w-100 px-2">
        <ams-card-flight-plan-info [flight]="flp" [payloads]="payloads"></ams-card-flight-plan-info>
    </div>
    <div class="side-panel-sec px-2" *ngIf="flp">
        <div class="side-panel-sec-rows">
            <div class="sp-row p-0 mt-2">
                <ams-card-aircraft-id-row  class="w-100" [acId]="flp.acId"></ams-card-aircraft-id-row>
            </div>
        </div>
    </div>
    
</div>




